Repository wpilibsuite/allwpilib, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue, @SamCarlberg, @zhiquanyeo, @jpokornyiii, @Starlight220, @sciencewhiz, @jasondaming

made Mechanism an interface
  commandsv3/src/main/java/org/wpilib/commands3/Mechanism.java
  commandsv3/src/test/java/org/wpilib/commands3/ConflictDetectorTest.java
  commandsv3/src/test/java/org/wpilib/commands3/ParallelGroupTest.java
  commandsv3/src/test/java/org/wpilib/commands3/SchedulerCancellationTests.java
  commandsv3/src/test/java/org/wpilib/commands3/SchedulerConflictTests.java
  commandsv3/src/test/java/org/wpilib/commands3/SchedulerErrorHandlingTests.java
  commandsv3/src/test/java/org/wpilib/commands3/SchedulerPriorityLevelTests.java
  commandsv3/src/test/java/org/wpilib/commands3/SchedulerTelemetryTests.java
  commandsv3/src/test/java/org/wpilib/commands3/SchedulerTest.java
  commandsv3/src/test/java/org/wpilib/commands3/SequentialGroupTest.java
  commandsv3/src/test/java/org/wpilib/commands3/StagedCommandBuilderTest.java
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

Add gamepad class
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/button/CommandGamepad.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/button/CommandGamepad.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/button/CommandGamepad.h
  wpilibc/src/main/native/cpp/Gamepad.cpp
  wpilibc/src/main/native/cpp/simulation/GamepadSim.cpp
  wpilibc/src/main/native/include/frc/Gamepad.h
  wpilibc/src/main/native/include/frc/simulation/GamepadSim.h
  wpilibcExamples/src/test/cpp/examples/PotentiometerPID/cpp/PotentiometerPIDTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Gamepad.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/GamepadSim.java
Owners: @Starlight220, @PeterJohnson, @ThadHouse, @calcmogul, @rzblue, @sciencewhiz, @jasondaming

Change Mechanism.createDummy() to DummyMechanism
  commandsv3/src/main/java/org/wpilib/commands3/DummyMechanism.java
  commandsv3/src/main/java/org/wpilib/commands3/Mechanism.java
  commandsv3/src/test/java/org/wpilib/commands3/ConflictDetectorTest.java
  commandsv3/src/test/java/org/wpilib/commands3/ParallelGroupTest.java
  commandsv3/src/test/java/org/wpilib/commands3/SchedulerCancellationTests.java
  commandsv3/src/test/java/org/wpilib/commands3/SchedulerConflictTests.java
  commandsv3/src/test/java/org/wpilib/commands3/SchedulerErrorHandlingTests.java
  commandsv3/src/test/java/org/wpilib/commands3/SchedulerPriorityLevelTests.java
  commandsv3/src/test/java/org/wpilib/commands3/SchedulerTelemetryTests.java
  commandsv3/src/test/java/org/wpilib/commands3/SchedulerTest.java
  commandsv3/src/test/java/org/wpilib/commands3/SequentialGroupTest.java
  commandsv3/src/test/java/org/wpilib/commands3/StagedCommandBuilderTest.java
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

Add Commands v3-compatible SysIdRoutine
  commandsv3/src/main/java/org/wpilib/commands3/sysid/SysIdRoutine.java
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

Fixup gamepad classes
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/button/CommandGamepad.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/button/CommandGamepad.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/button/CommandGamepad.h
  wpilibc/src/main/native/cpp/DriverStation.cpp
  wpilibc/src/main/native/cpp/Gamepad.cpp
  wpilibc/src/main/native/cpp/simulation/GamepadSim.cpp
  wpilibc/src/main/native/include/frc/DriverStation.h
  wpilibc/src/main/native/include/frc/Gamepad.h
  wpilibc/src/main/native/include/frc/GenericHID.h
  wpilibc/src/main/native/include/frc/simulation/GamepadSim.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DriverStation.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Gamepad.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/GenericHID.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/GamepadSim.java
Owners: @Starlight220, @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

More formatting
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/button/CommandGamepad.java
  wpilibc/src/main/native/include/frc/simulation/DriverStationSim.h
Owners: @Starlight220, @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

More formatting
  wpilibNewCommands/src/main/native/cpp/frc2/command/button/CommandGamepad.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/button/CommandGamepad.h
  wpilibc/src/main/native/cpp/Gamepad.cpp
  wpilibc/src/main/native/cpp/simulation/GamepadSim.cpp
  wpilibc/src/main/native/include/frc/DriverStation.h
  wpilibc/src/main/native/include/frc/Gamepad.h
  wpilibc/src/main/native/include/frc/simulation/GamepadSim.h
Owners: @Starlight220, @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

run formatters
  commandsv3/src/main/java/org/wpilib/commands3/sysid/SysIdRoutine.java
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

Use optional
  wpilibc/src/main/native/cpp/DriverStation.cpp
  wpilibc/src/main/native/cpp/Gamepad.cpp
  wpilibc/src/main/native/include/frc/DriverStation.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DriverStation.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Gamepad.java
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

Formats
  wpilibc/src/main/native/cpp/DriverStation.cpp
  wpilibc/src/main/native/cpp/Gamepad.cpp
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

Fix packet test
  simulation/halsim_ds_socket/src/test/native/cpp/DSCommPacketTest.cpp
Owners: @zhiquanyeo, @jpokornyiii, @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

Fix deperecated gradle warning in catch2 publish.gradle
  thirdparty/catch2/publish.gradle
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

Fix comparison
  hal/src/test/native/cpp/mockdata/DriverStationDataTest.cpp
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

more comparisons
  hal/src/test/native/cpp/mockdata/DriverStationDataTest.cpp
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

Fixed tests and moved DummyMechanism to test folder
  commandsv3/src/test/java/org/wpilib/commands3/DummyMechanism.java
  commandsv3/src/test/java/org/wpilib/commands3/SchedulerCancellationTests.java
  commandsv3/src/test/java/org/wpilib/commands3/SchedulerTest.java
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

More formatting
  simulation/halsim_ws_core/src/main/native/cpp/WSProvider_Joystick.cpp
Owners: @zhiquanyeo, @jpokornyiii, @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

Format and comments
  simulation/halsim_ws_core/src/main/native/cpp/WSProvider_Joystick.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/GenericHID.java
Owners: @zhiquanyeo, @jpokornyiii, @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

More docs
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/GenericHIDSim.java
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

More format
  hal/src/main/native/include/hal/simulation/SimCallbackRegistry.h
  hal/src/main/native/include/hal/simulation/SimDataValue.h
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

Last error
  simulation/halsim_ds_socket/src/test/native/cpp/DSCommPacketTest.cpp
Owners: @zhiquanyeo, @jpokornyiii, @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

[bazel] Package headers in ntcoreffi correctly (#8170)
  ntcore/BUILD.bazel
  ntcoreffi/BUILD.bazel
  shared/bazel/rules/cc_rules.bzl
  wpiutil/BUILD.bazel
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

Merge DSControlWord into HAL ControlWord
  hal/src/main/java/edu/wpi/first/hal/ControlWord.java
  hal/src/main/native/include/hal/DriverStation.h
  hal/src/main/native/include/hal/DriverStationTypes.h
  wpilibc/src/main/native/cpp/DSControlWord.cpp
  wpilibc/src/main/native/cpp/DriverStation.cpp
  wpilibc/src/main/native/cpp/IterativeRobotBase.cpp
  wpilibc/src/main/native/cpp/RobotState.cpp
  wpilibc/src/main/native/include/frc/DSControlWord.h
  wpilibc/src/main/native/include/frc/DriverStation.h
  wpilibc/src/main/native/include/frc/IterativeRobotBase.h
  wpilibc/src/main/native/include/frc/OpModeRobot.h
  wpilibc/src/main/native/include/frc/RobotState.h
  wpilibc/src/test/native/cpp/simulation/DriverStationSimTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DSControlWord.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/OpModeRobot.java
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

Remove RobotState
  wpilibc/src/main/native/cpp/RobotState.cpp
  wpilibc/src/main/native/include/frc/RobotState.h
  wpilibc/src/test/native/cpp/simulation/DriverStationSimTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/MotorSafety.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/RobotState.java
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

[build] Fix deprecated gradle warning in catch2 publish.gradle (#8305)
  thirdparty/catch2/publish.gradle
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

trim opmode name for blank check in C++
  wpilibc/src/main/native/cpp/DriverStation.cpp
  wpilibc/src/main/native/include/frc/DriverStation.h
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

Simplify code a bit
  wpilibc/src/main/native/cpp/DriverStation.cpp
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

Correct the groupId for commands v3 in the JSON
  commandsv3/CommandsV3.json
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

[cmd3] Correct the groupId for commands v3 in the JSON (#8306)
  commandsv3/CommandsV3.json
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

Fix wrong method name in javadocs
  commandsv3/src/main/java/org/wpilib/commands3/StateMachine.java
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

Docs improvements
  commandsv3/src/main/java/org/wpilib/commands3/Mechanism.java
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

Refactor commands to eliminate unncessary children
  commandsv3/src/main/java/org/wpilib/commands3/sysid/SysIdRoutine.java
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

eliminate constructor nulls
  commandsv3/src/main/java/org/wpilib/commands3/sysid/SysIdRoutine.java
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

use static factories
  commandsv3/src/main/java/org/wpilib/commands3/sysid/SysIdRoutine.java
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

run spotless
  commandsv3/src/main/java/org/wpilib/commands3/sysid/SysIdRoutine.java
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

add factory return javadocs
  commandsv3/src/main/java/org/wpilib/commands3/sysid/SysIdRoutine.java
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

Formatting
  wpilibj/src/main/java/edu/wpi/first/wpilibj/RobotBase.java
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

create tap counting filter
  wpimath/src/main/java/edu/wpi/first/math/filter/TapCountFilter.java
  wpimath/src/main/native/cpp/filter/TapCountingFilter.cpp
  wpimath/src/main/native/include/frc/filter/TapCountingFilter.h
  wpimath/src/test/java/edu/wpi/first/math/filter/TapCountFilterTest.java
  wpimath/src/test/native/cpp/filter/TapCountingFilterTest.cpp
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

Rename TapCountFilter to MultiTapFilter
  wpimath/src/main/java/edu/wpi/first/math/filter/MultiTapFilter.java
  wpimath/src/main/native/cpp/filter/TapCountingFilter.cpp
  wpimath/src/main/native/include/frc/filter/TapCountingFilter.h
  wpimath/src/test/java/edu/wpi/first/math/filter/TapCountFilterTest.java
  wpimath/src/test/native/cpp/filter/TapCountingFilterTest.cpp
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

rename files for MultiTap name
  wpimath/src/main/native/cpp/filter/MultiTapFilter.cpp
  wpimath/src/main/native/include/frc/filter/MultiTapFilter.h
  wpimath/src/test/java/edu/wpi/first/math/filter/MultiTapFilterTest.java
  wpimath/src/test/native/cpp/filter/MultiTapFilterTest.cpp
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

Add multi-tap functionality to Trigger class
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/button/Trigger.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/button/Trigger.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/button/Trigger.h
Owners: @Starlight220, @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.

# The folders are ordered as a tree: by depth then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
*  @PeterJohnson @ThadHouse @calcmogul @rzblue

/epilogue-*/ @SamCarlberg @PeterJohnson @ThadHouse @calcmogul @rzblue

/romiVendordep/ @zhiquanyeo @jpokornyiii @PeterJohnson @ThadHouse @calcmogul @rzblue

/simulation/  @zhiquanyeo @jpokornyiii @PeterJohnson @ThadHouse @calcmogul @rzblue

/wpilibNewCommands/ @Starlight220 @PeterJohnson @ThadHouse @calcmogul @rzblue

/wpilib?Examples/ @sciencewhiz @jasondaming @Starlight220 @PeterJohnson @ThadHouse @calcmogul @rzblue

/wpiunits/ @SamCarlberg @PeterJohnson @ThadHouse @calcmogul @rzblue

/xrpVendordep/ @zhiquanyeo @jpokornyiii @PeterJohnson @ThadHouse @calcmogul @rzblue
