Repository wpilibsuite/allwpilib, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wpilibsuite/wpilib, @wpilibsuite/camera-server, @wpilibsuite/hardware, @wpilibsuite/simulation, @wpilibsuite/network-tables, @wpilibsuite/commandbased, @wpilibsuite/documentation, @PeterJohnson

[build] Fix bazel examples lists after merge
  wpilibcExamples/example_projects.bzl
  wpilibjExamples/example_projects.bzl
Owners: @wpilibsuite/wpilib, @wpilibsuite/documentation

Python
  wpilibc/src/main/python/pyproject.toml
  wpilibc/src/main/python/semiwrap/DMC60.yml
  wpilibc/src/main/python/semiwrap/Jaguar.yml
  wpilibc/src/main/python/semiwrap/SD540.yml
  wpilibc/src/main/python/semiwrap/Victor.yml
  wpilibc/src/main/python/wpilib/__init__.py
Owners: @wpilibsuite/wpilib

[build] Fix bazel examples lists after merge (#8326)
  wpilibcExamples/example_projects.bzl
  wpilibjExamples/example_projects.bzl
Owners: @wpilibsuite/wpilib, @wpilibsuite/documentation

[upstream_utils] Upgrade to fmt 12.1.0
  upstream_utils/fmt.py
  upstream_utils/fmt_patches/0001-Suppress-nodiscard.patch
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/base.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/chrono.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/color.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/compile.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/format-inl.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/format.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/os.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/ranges.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/std.h
  wpiutil/src/main/native/thirdparty/fmtlib/src/format.cpp
Owners: @wpilibsuite/wpilib, @PeterJohnson

[build] Document how to mirror new Doxygen versions
  docs/build.gradle
Owners: @wpilibsuite/wpilib

[wpilib] Remove Jaguar (and other) motor controllers (#8299)
  hal/src/main/native/sim/DigitalInternal.h
  wpilibc/src/main/native/include/frc/WPIErrors.mac
  wpilibc/src/main/python/pyproject.toml
  wpilibc/src/main/python/semiwrap/DMC60.yml
  wpilibc/src/main/python/semiwrap/Jaguar.yml
  wpilibc/src/main/python/semiwrap/SD540.yml
  wpilibc/src/main/python/semiwrap/Victor.yml
  wpilibc/src/main/python/wpilib/__init__.py
Owners: @wpilibsuite/simulation, @wpilibsuite/wpilib

[build] Document how to mirror new Doxygen versions (#8327)
  docs/build.gradle
Owners: @wpilibsuite/wpilib

[upstream_utils] Upgrade to fmt 12.1.0 (#8312)
  upstream_utils/fmt.py
  upstream_utils/fmt_patches/0001-Suppress-nodiscard.patch
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/base.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/chrono.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/color.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/compile.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/format-inl.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/format.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/os.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/ranges.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/std.h
  wpiutil/src/main/native/thirdparty/fmtlib/src/format.cpp
Owners: @wpilibsuite/wpilib, @PeterJohnson

[javac plugin] Add compile-time checks for unsafe or incorrect coroutine usage (#8289)
  commandsv3/src/test/java/org/wpilib/commands3/CoroutineTest.java
  javacPlugin/src/main/java/org/wpilib/javacplugin/CodeAfterCoroutineParkDetector.java
  javacPlugin/src/main/java/org/wpilib/javacplugin/CoroutineBasedDetector.java
  javacPlugin/src/main/java/org/wpilib/javacplugin/CoroutineYieldInLoopDetector.java
  javacPlugin/src/main/java/org/wpilib/javacplugin/IncorrectCoroutineUseDetector.java
  javacPlugin/src/main/java/org/wpilib/javacplugin/Suppressions.java
  javacPlugin/src/main/java/org/wpilib/javacplugin/WPILibJavacPlugin.java
  javacPlugin/src/test/java/org/wpilib/javacplugin/CodeAfterCoroutineParkDetectorTest.java
  javacPlugin/src/test/java/org/wpilib/javacplugin/CompileTestOptions.java
  javacPlugin/src/test/java/org/wpilib/javacplugin/CompileTestUtils.java
  javacPlugin/src/test/java/org/wpilib/javacplugin/CoroutineInLoopListenerTest.java
  javacPlugin/src/test/java/org/wpilib/javacplugin/IncorrectCoroutineUseDetectorTest.java
  javacPlugin/src/test/java/org/wpilib/javacplugin/ReturnValueUsedListenerTest.java
Owners: @wpilibsuite/wpilib

[build] Upgrade to Doxygen 1.15.0
  docs/build.gradle
  upstream_utils/json_patches/0005-Fix-Doxygen-warnings.patch
  wpilibc/src/main/native/include/frc/smartdashboard/SendableChooser.h
  wpiutil/src/main/native/include/wpi/protobuf/Protobuf.h
  wpiutil/src/main/native/thirdparty/json/include/wpi/json.h
Owners: @wpilibsuite/wpilib, @PeterJohnson

[wpinet] Remove old resources
  wpinet/BUILD.bazel
  wpinet/CMakeLists.txt
  wpinet/build.gradle
  wpinet/src/main/native/resources/bootstrap-4.1.min.js.gz
  wpinet/src/main/native/resources/coreui-2.1.min.css.gz
  wpinet/src/main/native/resources/coreui-2.1.min.js.gz
  wpinet/src/main/native/resources/feather-4.8.min.js.gz
  wpinet/src/main/native/resources/jquery-3.3.slim.min.js.gz
  wpinet/src/main/native/resources/popper-1.14.min.js.gz
Owners: @wpilibsuite/wpilib

[ci] Use slim runners for lightweight tasks
  .github/workflows/command-robotpy-pr.yml
  .github/workflows/labeler.yml
  .github/workflows/lint-format.yml
  .github/workflows/pregenerate.yml
  .github/workflows/sentinel-build.yml
  .github/workflows/upstream-utils.yml
Owners: @wpilibsuite/wpilib

Use for bazel buildifier
  .github/workflows/bazel.yml
Owners: @wpilibsuite/wpilib

Upgrade Doxygen in Bazel workspace
  WORKSPACE
Owners: @wpilibsuite/wpilib

[wpiutil] Use C++23 stacktrace library on Windows
  apriltag/CMakeLists.txt
  fieldImages/CMakeLists.txt
  ntcore/CMakeLists.txt
  ntcore/src/dev/native/cpp/main.cpp
  romiVendordep/CMakeLists.txt
  shared/config.gradle
  wpilibNewCommands/CMakeLists.txt
  wpimath/CMakeLists.txt
  wpinet/CMakeLists.txt
  wpiutil/CMakeLists.txt
  wpiutil/build.gradle
  wpiutil/src/main/native/cpp/StackTrace.cpp
  wpiutil/src/main/native/windows/StackTrace.cpp
  xrpVendordep/CMakeLists.txt
Owners: @wpilibsuite/wpilib, @wpilibsuite/network-tables, @PeterJohnson

Revert lint format and upstream utils
  .github/workflows/lint-format.yml
  .github/workflows/upstream-utils.yml
Owners: @wpilibsuite/wpilib

[wpinet] Remove old resources (#8329)
  wpinet/BUILD.bazel
  wpinet/CMakeLists.txt
  wpinet/build.gradle
  wpinet/src/main/native/resources/bootstrap-4.1.min.js.gz
  wpinet/src/main/native/resources/coreui-2.1.min.css.gz
  wpinet/src/main/native/resources/coreui-2.1.min.js.gz
  wpinet/src/main/native/resources/feather-4.8.min.js.gz
  wpinet/src/main/native/resources/jquery-3.3.slim.min.js.gz
  wpinet/src/main/native/resources/popper-1.14.min.js.gz
Owners: @wpilibsuite/wpilib

[build] Upgrade to Doxygen 1.15.0 (#8328)
  WORKSPACE
  docs/build.gradle
  upstream_utils/json_patches/0005-Fix-Doxygen-warnings.patch
  wpilibc/src/main/native/include/frc/smartdashboard/SendableChooser.h
  wpiutil/src/main/native/include/wpi/protobuf/Protobuf.h
  wpiutil/src/main/native/thirdparty/json/include/wpi/json.h
Owners: @wpilibsuite/wpilib, @PeterJohnson

Update comment on m_visionUpdates
  wpimath/src/main/java/edu/wpi/first/math/estimator/PoseEstimator.java
  wpimath/src/main/java/edu/wpi/first/math/estimator/PoseEstimator3d.java
  wpimath/src/main/native/include/frc/estimator/PoseEstimator.h
  wpimath/src/main/native/include/frc/estimator/PoseEstimator3d.h
Owners: @wpilibsuite/wpilib

Fix usage of const to be on the left
  wpimath/src/main/native/include/frc/estimator/PoseEstimator.h
  wpimath/src/main/native/include/frc/estimator/PoseEstimator3d.h
Owners: @wpilibsuite/wpilib

Fixup commands name, rebase
  refactor_layout.py
  with_hpp/0008-HAND-FIX-Fixup-bazel-files.patch
  with_hpp/0009-HAND-FIX-Fixup-pregen-files.patch
  with_hpp/0011-HAND-FIXES-Fixup-java-and-python-compilation.patch
  with_hpp/0012-HAND-FIXES-Fixup-gradle-cmake-styleguide.patch
  with_hpp/0015-HAND-FIXES-Fix-upstream-util-scripts.patch
  with_hpp/0017-HAND-FIXES-Fixup-remaining-rename-issues.patch
  with_hpp/0018-HAND-FIX-Fix-robotpy-yaml-files.patch
  with_hpp/0021-HAND-FIXES-Update-upstream-for-namespace-changes.patch
  with_hpp/0024-HAND-FIXES-Update-build-scripts-for-namespaces.patch
  with_hpp/0025-HAND-FIXES-Manual-cleanup-of-namespaces.patch
  with_hpp/0026-HAND-FIXES-Update-maven-info.patch
  with_hpp/0029-HAND-FIX-final-frc-replacements.patch
  with_hpp/0030-HAND-FIX-final-java-package-changes.patch
  with_hpp/0031-HAND-FIXES-Fix-ntcoreffi.patch
  with_hpp/0032-HAND-FIX-Fixup-robotpy-yaml-files.patch
  with_hpp/refactor_layout_pp.json
Owners: @wpilibsuite/wpilib

Update patches
  with_hpp/0008-HAND-FIX-Fixup-bazel-files.patch
  with_hpp/0009-HAND-FIX-Fixup-pregen-files.patch
  with_hpp/0011-HAND-FIXES-Fixup-java-and-python-compilation.patch
  with_hpp/0012-HAND-FIXES-Fixup-gradle-cmake-styleguide.patch
  with_hpp/0015-HAND-FIXES-Fix-upstream-util-scripts.patch
  with_hpp/0017-HAND-FIXES-Fixup-remaining-rename-issues.patch
  with_hpp/0018-HAND-FIX-Fix-robotpy-yaml-files.patch
  with_hpp/0021-HAND-FIXES-Update-upstream-for-namespace-changes.patch
  with_hpp/0024-HAND-FIXES-Update-build-scripts-for-namespaces.patch
  with_hpp/0025-HAND-FIXES-Manual-cleanup-of-namespaces.patch
  with_hpp/0026-HAND-FIXES-Update-maven-info.patch
  with_hpp/0029-HAND-FIX-final-frc-replacements.patch
  with_hpp/0030-HAND-FIX-final-java-package-changes.patch
  with_hpp/0031-HAND-FIXES-Fix-ntcoreffi.patch
  with_hpp/0032-HAND-FIX-Fixup-robotpy-yaml-files.patch
Owners: @wpilibsuite/wpilib

Clean up spotbugs excludes
  styleguide/spotbugs-exclude.xml
Owners: @wpilibsuite/wpilib

Scale transforms instead of twists in PoseEstimator
  wpimath/src/main/java/edu/wpi/first/math/estimator/PoseEstimator.java
  wpimath/src/main/java/edu/wpi/first/math/estimator/PoseEstimator3d.java
  wpimath/src/main/native/include/frc/estimator/PoseEstimator.h
  wpimath/src/main/native/include/frc/estimator/PoseEstimator3d.h
Owners: @wpilibsuite/wpilib

Delete wpilibj/src/main/java/edu/wpi/first/wpilibj/motorcontrol/MotorControllerGroup.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/motorcontrol/MotorControllerGroup.java
Owners: @wpilibsuite/wpilib

Delete wpilibj/src/test/java/edu/wpi/first/wpilibj/motorcontrol/MotorControllerGroupTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/motorcontrol/MotorControllerGroupTest.java
Owners: @wpilibsuite/wpilib

Delete wpilibc/src/main/native/cpp/motorcontrol/MotorControllerGroup.cpp
  wpilibc/src/main/native/cpp/motorcontrol/MotorControllerGroup.cpp
Owners: @wpilibsuite/wpilib

Delete wpilibc/src/test/native/cpp/motorcontrol/MotorControllerGroupTest.cpp
  wpilibc/src/test/native/cpp/motorcontrol/MotorControllerGroupTest.cpp
Owners: @wpilibsuite/wpilib

Delete wpilibc/src/main/native/include/frc/motorcontrol/MotorControllerGroup.h
  wpilibc/src/main/native/include/frc/motorcontrol/MotorControllerGroup.h
Owners: @wpilibsuite/wpilib

Fixup removed function that was left in header file
  wpilibc/src/main/native/include/frc/simulation/GenericHIDSim.h
Owners: @wpilibsuite/wpilib

Update to 2026 Beta 1
  shared/config.gradle
Owners: @wpilibsuite/wpilib

file removals
  wpilibc/src/main/native/cpp/motorcontrol/MotorControllerGroup.cpp
  wpilibc/src/main/native/include/frc/motorcontrol/MotorControllerGroup.h
  wpilibc/src/test/native/cpp/motorcontrol/MotorControllerGroupTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/motorcontrol/MotorControllerGroup.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/motorcontrol/MotorControllerGroupTest.java
Owners: @wpilibsuite/wpilib

[build] Clean up spotbugs excludes (#8332)
  styleguide/spotbugs-exclude.xml
Owners: @wpilibsuite/wpilib

[wpilibc] Remove declaration of removed function (#8336)
  wpilibc/src/main/native/include/frc/simulation/GenericHIDSim.h
Owners: @wpilibsuite/wpilib

[cscore] Add braces to match styleguide (NFC)
  cscore/src/main/native/windows/UsbCameraImpl.cpp
Owners: @wpilibsuite/camera-server

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.

# The folders are ordered as a tree: by depth then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
*  @wpilibsuite/wpilib

/cameraserver/  @wpilibsuite/camera-server

/cscore/  @wpilibsuite/camera-server

/hal/  @wpilibsuite/hardware
/hal/src/main/java/**/sim/  @wpilibsuite/simulation
/hal/src/main/native/include/mockdata/  @wpilibsuite/simulation
/hal/src/main/native/include/simulation/  @wpilibsuite/simulation
/hal/src/main/native/sim/  @wpilibsuite/simulation

/ntcore/  @wpilibsuite/network-tables

/simulation/  @wpilibsuite/simulation

/commandsv2/  @wpilibsuite/commandbased

/wpilibcExamples/  @wpilibsuite/wpilib @wpilibsuite/documentation

/wpilibjExamples/  @wpilibsuite/wpilib @wpilibsuite/documentation

/wpiutil/  @PeterJohnson
