Repository wpilibsuite/allwpilib, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wpilibsuite/wpilib, @wpilibsuite/camera-server, @wpilibsuite/hardware, @wpilibsuite/simulation, @wpilibsuite/network-tables, @wpilibsuite/commandbased, @wpilibsuite/documentation, @PeterJohnson

Do simple robotpy fixups
  refactor_layout.py
  with_hpp/0008-HAND-FIX-Fixup-bazel-files.patch
  with_hpp/0009-HAND-FIX-Fixup-pregen-files.patch
  with_hpp/0011-HAND-FIXES-Fixup-java-and-python-compilation.patch
  with_hpp/0012-HAND-FIXES-Fixup-gradle-cmake-styleguide.patch
  with_hpp/0015-HAND-FIXES-Fix-upstream-util-scripts.patch
  with_hpp/0017-HAND-FIXES-Fixup-remaining-rename-issues.patch
  with_hpp/0018-HAND-FIXES-Update-upstream-for-namespace-changes.patch
  with_hpp/0021-HAND-FIXES-Update-build-scripts-for-namespaces.patch
  with_hpp/0022-HAND-FIXES-Manual-cleanup-of-namespaces.patch
  with_hpp/0023-HAND-FIXES-Update-maven-info.patch
  with_hpp/0026-HAND-FIX-final-frc-replacements.patch
  with_hpp/0027-HAND-FIX-final-java-package-changes.patch
  with_hpp/0028-HAND-FIXES-Fix-ntcoreffi.patch
  with_hpp/refactor_layout_pp.json
Owners: @wpilibsuite/wpilib

[snippets] Add ProfiledPIDController with feedforward snippets (#8280)
  wpilibcExamples/src/main/cpp/snippets/ProfiledPIDFeedforward/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/snippets/snippets.json
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/profiledpidfeedforward/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/profiledpidfeedforward/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/snippets.json
Owners: @wpilibsuite/wpilib, @wpilibsuite/documentation

Add suppressions for coroutine error checks
  commandsv3/src/test/java/org/wpilib/commands3/CoroutineTest.java
  javacPlugin/src/main/java/org/wpilib/javacplugin/CodeAfterCoroutineParkDetector.java
  javacPlugin/src/main/java/org/wpilib/javacplugin/CoroutineYieldInLoopDetector.java
  javacPlugin/src/main/java/org/wpilib/javacplugin/IncorrectCoroutineUseDetector.java
  javacPlugin/src/main/java/org/wpilib/javacplugin/Suppressions.java
Owners: @wpilibsuite/wpilib

Public pid constants
  wpilibj/src/main/java/edu/wpi/first/wpilibj/ExpansionHubPidConstants.java
Owners: @wpilibsuite/wpilib

Add CommandGamepad for V3 commands
  commandsv3/src/main/java/org/wpilib/commands3/button/CommandGamepad.java
Owners: @wpilibsuite/wpilib

[ci] Upgrade to wpiformat 2025.36 (#8308)
  .github/workflows/lint-format.yml
  simulation/halsim_ds_socket/src/main/native/cpp/main.cpp
  simulation/halsim_gui/src/main/native/cpp/main.cpp
  simulation/halsim_gui/src/main/native/include/HALDataSource.h
  simulation/halsim_ws_client/src/main/native/cpp/main.cpp
  simulation/halsim_ws_server/src/main/native/cpp/main.cpp
  simulation/halsim_xrp/src/main/native/cpp/main.cpp
  sysid/src/main/native/cpp/analysis/FeedforwardAnalysis.cpp
  upstream_utils/sleipnir.py
  wpilibNewCommands/src/main/native/include/frc2/command/CommandPtr.h
  wpimath/.styleguide
  wpimath/src/main/native/include/frc/StateSpaceUtil.h
  wpimath/src/main/native/include/frc/geometry/Ellipse2d.h
  wpimath/src/main/native/include/frc/geometry/Pose3d.h
  wpimath/src/main/native/include/frc/geometry/Quaternion.h
  wpimath/src/main/native/thirdparty/sleipnir/.clang-format
  wpimath/src/main/native/thirdparty/sleipnir/.clang-tidy
  wpimath/src/main/native/thirdparty/sleipnir/.styleguide
  wpimath/src/main/native/thirdparty/sleipnir/.styleguide-license
  wpimath/src/main/native/thirdparty/sleipnir/include/.styleguide
  wpimath/src/main/native/thirdparty/sleipnir/src/.styleguide
  wpimath/src/test/native/cpp/filter/LinearFilterOutputTest.cpp
  wpiutil/src/main/native/include/wpi/sendable/SendableHelper.h
Owners: @wpilibsuite/wpilib, @wpilibsuite/simulation, @PeterJohnson

[wpilib] Remove Jaguar (and other) motor controllers (#8298)
  styleguide/spotbugs-exclude.xml
  wpilibc/src/generated/main/native/cpp/motorcontrol/DMC60.cpp
  wpilibc/src/generated/main/native/cpp/motorcontrol/Jaguar.cpp
  wpilibc/src/generated/main/native/cpp/motorcontrol/SD540.cpp
  wpilibc/src/generated/main/native/cpp/motorcontrol/Victor.cpp
  wpilibc/src/generated/main/native/include/frc/motorcontrol/DMC60.h
  wpilibc/src/generated/main/native/include/frc/motorcontrol/Jaguar.h
  wpilibc/src/generated/main/native/include/frc/motorcontrol/SD540.h
  wpilibc/src/generated/main/native/include/frc/motorcontrol/Victor.h
  wpilibc/src/main/native/cpp/motorcontrol/NidecBrushless.cpp
  wpilibc/src/main/native/include/frc/motorcontrol/NidecBrushless.h
  wpilibc/src/main/native/include/frc/shuffleboard/BuiltInWidgets.h
  wpilibcIntegrationTests/src/main/native/cpp/CounterTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/DMATest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/MotorEncoderTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/MotorInvertingTest.cpp
  wpilibj/src/generate/pwm_motor_controllers.json
  wpilibj/src/generated/main/java/edu/wpi/first/wpilibj/motorcontrol/DMC60.java
  wpilibj/src/generated/main/java/edu/wpi/first/wpilibj/motorcontrol/Jaguar.java
  wpilibj/src/generated/main/java/edu/wpi/first/wpilibj/motorcontrol/SD540.java
  wpilibj/src/generated/main/java/edu/wpi/first/wpilibj/motorcontrol/Victor.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/motorcontrol/NidecBrushless.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/shuffleboard/BuiltInWidgets.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/DMATest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/test/TestBench.java
Owners: @wpilibsuite/wpilib

[wpilib] Add a few unit overloads (#8231)
  wpilibc/src/main/native/cpp/Notifier.cpp
  wpilibc/src/main/native/cpp/TimedRobot.cpp
  wpilibc/src/main/native/include/frc/Notifier.h
  wpilibc/src/main/native/include/frc/TimedRobot.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Notifier.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/TimedRobot.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Timer.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Watchdog.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/event/BooleanEvent.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/smartdashboard/Field2d.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/smartdashboard/FieldObject2d.java
Owners: @wpilibsuite/wpilib

Add follower mode
  wpilibc/src/main/native/cpp/ExpansionHubMotor.cpp
  wpilibc/src/main/native/include/frc/ExpansionHub.h
  wpilibc/src/main/native/include/frc/ExpansionHubMotor.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/ExpansionHub.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/ExpansionHubMotor.java
Owners: @wpilibsuite/wpilib

New constructor
  commandsv3/src/main/java/org/wpilib/commands3/button/CommandGamepad.java
Owners: @wpilibsuite/wpilib

Unused import
  commandsv3/src/main/java/org/wpilib/commands3/button/CommandGamepad.java
Owners: @wpilibsuite/wpilib

Format
  wpilibj/src/main/java/edu/wpi/first/wpilibj/ExpansionHubMotor.java
Owners: @wpilibsuite/wpilib

Update commandsv3/src/main/java/org/wpilib/commands3/button/CommandGamepad.java
  commandsv3/src/main/java/org/wpilib/commands3/button/CommandGamepad.java
Owners: @wpilibsuite/wpilib

Add support for passing an extra address to NT when using team
  ntcore/src/generate/main/java/NetworkTableInstance.java.jinja
  ntcore/src/generate/main/java/NetworkTablesJNI.java.jinja
  ntcore/src/generated/main/java/edu/wpi/first/networktables/NetworkTablesJNI.java
  ntcore/src/main/native/cpp/jni/NetworkTablesJNI.cpp
  ntcore/src/main/native/cpp/ntcore_c.cpp
  ntcore/src/main/native/cpp/ntcore_cpp.cpp
  ntcore/src/main/native/include/networktables/NetworkTableInstance.h
  ntcore/src/main/native/include/ntcore_c.h
  ntcore/src/main/native/include/ntcore_cpp.h
  ntcoreffi/src/main/native/symbols.txt
Owners: @wpilibsuite/network-tables, @wpilibsuite/wpilib

Replace hostname with Systemcore hostname
  datalogtool/src/main/native/cpp/Downloader.cpp
  ntcore/src/main/native/cpp/ntcore_cpp.cpp
  wpinet/examples/parallelconnect/parallelconnect.cpp
Owners: @wpilibsuite/wpilib, @wpilibsuite/network-tables

extra thing
  ntcore/src/main/native/cpp/ntcore_cpp.cpp
  ntcore/src/main/native/include/networktables/NetworkTableInstance.h
  ntcore/src/main/native/include/ntcore_cpp.h
Owners: @wpilibsuite/network-tables

Format
  datalogtool/src/main/native/cpp/Downloader.cpp
  wpinet/examples/parallelconnect/parallelconnect.cpp
Owners: @wpilibsuite/wpilib

fix: update trajectory sample retrieval method in setTrajectory
  wpilibj/src/main/java/edu/wpi/first/wpilibj/smartdashboard/FieldObject2d.java
Owners: @wpilibsuite/wpilib

refactor: rename parameters in MecanumSample, SplineSample, and TrajectorySample
  wpimath/src/main/java/edu/wpi/first/math/trajectory/MecanumSample.java
  wpimath/src/main/java/edu/wpi/first/math/trajectory/SplineSample.java
  wpimath/src/main/java/edu/wpi/first/math/trajectory/TrajectorySample.java
Owners: @wpilibsuite/wpilib

test: update comparison assertion in SwerveModuleAccelerationsTest for accuracy
  wpimath/src/test/java/edu/wpi/first/math/kinematics/SwerveModuleAccelerationsTest.java
Owners: @wpilibsuite/wpilib

style: improve code formatting in SwerveDriveKinematics and SwerveDriveKinematicsTest
  wpimath/src/main/native/include/frc/kinematics/SwerveDriveKinematics.h
  wpimath/src/test/native/cpp/kinematics/SwerveDriveKinematicsTest.cpp
Owners: @wpilibsuite/wpilib

test: improve readability of assertions in SwerveDriveKinematicsTest
  wpimath/src/test/java/edu/wpi/first/math/kinematics/SwerveDriveKinematicsTest.java
Owners: @wpilibsuite/wpilib

Facen
  commandsv3/src/main/java/org/wpilib/commands3/button/CommandGamepad.java
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/button/CommandGamepad.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/button/CommandGamepad.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/button/CommandGamepad.h
  wpilibc/src/main/native/cpp/Gamepad.cpp
  wpilibc/src/main/native/cpp/simulation/GamepadSim.cpp
  wpilibc/src/main/native/include/frc/Gamepad.h
  wpilibc/src/main/native/include/frc/simulation/GamepadSim.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Gamepad.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/GamepadSim.java
Owners: @wpilibsuite/wpilib

Format
  wpilibNewCommands/src/main/native/include/frc2/command/button/CommandGamepad.h
  wpilibc/src/main/native/cpp/Gamepad.cpp
Owners: @wpilibsuite/wpilib

[sysid] Remove Phoenix5 CANcoder preset
  sysid/src/main/native/include/sysid/view/Analyzer.h
Owners: @wpilibsuite/wpilib

refactor: rename parameters for clarity in Base constructor
  wpimath/src/main/java/edu/wpi/first/math/trajectory/TrajectorySample.java
Owners: @wpilibsuite/wpilib

[build] Fix up grammar in docs/build.gradle
  docs/build.gradle
Owners: @wpilibsuite/wpilib

Fix java linter
  hal/src/main/python/README.md
  ntcore/src/main/python/README.md
  wpilibc/src/main/python/README.md
Owners: @wpilibsuite/hardware, @wpilibsuite/network-tables, @wpilibsuite/wpilib

Add X44 and Minion to DCMotor
  wpimath/src/main/java/edu/wpi/first/math/system/plant/DCMotor.java
  wpimath/src/main/native/include/frc/system/plant/DCMotor.h
Owners: @wpilibsuite/wpilib

[ci] Bump macOS deployment target to 14
  .github/workflows/gradle.yml
  .github/workflows/sentinel-build.yml
Owners: @wpilibsuite/wpilib

[ci] Upgrade to macOS 15 runner image
  .github/workflows/bazel.yml
  .github/workflows/cmake.yml
  .github/workflows/gradle.yml
  .github/workflows/sentinel-build.yml
Owners: @wpilibsuite/wpilib

[ci] Upgrade to macOS 15 runner image (#8321)
  .github/workflows/bazel.yml
  .github/workflows/cmake.yml
  .github/workflows/gradle.yml
  .github/workflows/sentinel-build.yml
Owners: @wpilibsuite/wpilib

[build] Fix up grammar in docs/build.gradle (#8317)
  docs/build.gradle
Owners: @wpilibsuite/wpilib

[wpimath] DCMotor: Add X44 and Minion (#8319)
  wpimath/src/main/java/edu/wpi/first/math/system/plant/DCMotor.java
  wpimath/src/main/native/include/frc/system/plant/DCMotor.h
Owners: @wpilibsuite/wpilib

[sysid] Remove Phoenix5 CANcoder preset (#8316)
  sysid/src/main/native/include/sysid/view/Analyzer.h
Owners: @wpilibsuite/wpilib

[cmd3,wpilib] Add CommandGamepad for V3 commands (#8311)
  commandsv3/src/main/java/org/wpilib/commands3/button/CommandGamepad.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/button/CommandGamepad.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/button/CommandGamepad.h
  wpilibc/src/main/native/cpp/Gamepad.cpp
  wpilibc/src/main/native/cpp/simulation/GamepadSim.cpp
  wpilibc/src/main/native/include/frc/Gamepad.h
  wpilibc/src/main/native/include/frc/simulation/GamepadSim.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Gamepad.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/GamepadSim.java
Owners: @wpilibsuite/wpilib

[wpilib] Integrate support for ExpansionHub over USB (#8292)
  wpilibc/src/main/native/cpp/ExpansionHub.cpp
  wpilibc/src/main/native/cpp/ExpansionHubMotor.cpp
  wpilibc/src/main/native/cpp/ExpansionHubPidConstants.cpp
  wpilibc/src/main/native/cpp/ExpansionHubServo.cpp
  wpilibc/src/main/native/include/frc/ExpansionHub.h
  wpilibc/src/main/native/include/frc/ExpansionHubMotor.h
  wpilibc/src/main/native/include/frc/ExpansionHubPidConstants.h
  wpilibc/src/main/native/include/frc/ExpansionHubServo.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/ExpansionHub.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/ExpansionHubMotor.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/ExpansionHubPidConstants.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/ExpansionHubServo.java
Owners: @wpilibsuite/wpilib

[examples] Fix ProfiledPIDFeedForward after merge
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/profiledpidfeedforward/Robot.java
Owners: @wpilibsuite/wpilib, @wpilibsuite/documentation

[examples] Fix snippet compiler error caused by bad merge from main
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/profiledpidfeedforward/Robot.java
Owners: @wpilibsuite/wpilib, @wpilibsuite/documentation

[wpilib] Finish removal of Jaguar and other motor controllers
  hal/src/main/native/sim/DigitalInternal.h
  wpilibc/src/main/native/include/frc/WPIErrors.mac
  wpilibc/src/main/python/pyproject.toml
  wpilibc/src/main/python/semiwrap/DMC60.yml
  wpilibc/src/main/python/semiwrap/Jaguar.yml
  wpilibc/src/main/python/semiwrap/SD540.yml
  wpilibc/src/main/python/semiwrap/Victor.yml
  wpilibc/src/main/python/wpilib/__init__.py
Owners: @wpilibsuite/simulation, @wpilibsuite/wpilib

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.

# The folders are ordered as a tree: by depth then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
*  @wpilibsuite/wpilib

/cameraserver/  @wpilibsuite/camera-server

/cscore/  @wpilibsuite/camera-server

/hal/  @wpilibsuite/hardware
/hal/src/main/java/**/sim/  @wpilibsuite/simulation
/hal/src/main/native/include/mockdata/  @wpilibsuite/simulation
/hal/src/main/native/include/simulation/  @wpilibsuite/simulation
/hal/src/main/native/sim/  @wpilibsuite/simulation

/ntcore/  @wpilibsuite/network-tables

/simulation/  @wpilibsuite/simulation

/commandsv2/  @wpilibsuite/commandbased

/wpilibcExamples/  @wpilibsuite/wpilib @wpilibsuite/documentation

/wpilibjExamples/  @wpilibsuite/wpilib @wpilibsuite/documentation

/wpiutil/  @PeterJohnson
