Repository wpilibsuite/allwpilib, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue, @SamCarlberg, @zhiquanyeo, @jpokornyiii, @Starlight220, @sciencewhiz, @jasondaming

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.

# The folders are ordered as a tree: by depth then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
*  @PeterJohnson @ThadHouse @calcmogul @rzblue

/epilogue-*/ @SamCarlberg @PeterJohnson @ThadHouse @calcmogul @rzblue

/romiVendordep/ @zhiquanyeo @jpokornyiii @PeterJohnson @ThadHouse @calcmogul @rzblue

/simulation/  @zhiquanyeo @jpokornyiii @PeterJohnson @ThadHouse @calcmogul @rzblue

/wpilibNewCommands/ @Starlight220 @PeterJohnson @ThadHouse @calcmogul @rzblue

/wpilib?Examples/ @sciencewhiz @jasondaming @Starlight220 @PeterJohnson @ThadHouse @calcmogul @rzblue

/wpiunits/ @SamCarlberg @PeterJohnson @ThadHouse @calcmogul @rzblue

/xrpVendordep/ @zhiquanyeo @jpokornyiii @PeterJohnson @ThadHouse @calcmogul @rzblue

remove <p> tags from C++ docstring
  wpimath/src/main/native/include/frc/filter/MultiTapFilter.h
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

fixes after gradlew check
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/button/Trigger.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/button/Trigger.cpp
Owners: @Starlight220, @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

update logic
  wpimath/src/main/java/edu/wpi/first/math/filter/MultiTapFilter.java
  wpimath/src/main/native/cpp/filter/MultiTapFilter.cpp
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

add to documentation for multi-tap trigger functionality
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/button/Trigger.java
  wpilibNewCommands/src/main/native/include/frc2/command/button/Trigger.h
Owners: @Starlight220, @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

reset now in C++ test
  wpimath/src/test/native/cpp/filter/MultiTapFilterTest.cpp
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

wpiformat and documentation fix
  wpilibNewCommands/src/main/native/include/frc2/command/button/Trigger.h
  wpimath/src/main/java/edu/wpi/first/math/filter/MultiTapFilter.java
Owners: @Starlight220, @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

rename MultiTapFilter to EdgeCounterFilter
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/button/Trigger.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/button/Trigger.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/button/Trigger.h
  wpimath/src/main/java/edu/wpi/first/math/filter/EdgeCounterFilter.java
  wpimath/src/main/java/edu/wpi/first/math/filter/MultiTapFilter.java
  wpimath/src/main/native/cpp/filter/EdgeCountFilter.cpp
  wpimath/src/main/native/cpp/filter/MultiTapFilter.cpp
  wpimath/src/main/native/include/frc/filter/EdgeCountFilter.h
  wpimath/src/main/native/include/frc/filter/MultiTapFilter.h
  wpimath/src/test/java/edu/wpi/first/math/filter/EdgeCounterFilterTest.java
  wpimath/src/test/native/cpp/filter/EdgeCountFilterTest.cpp
  wpimath/src/test/native/cpp/filter/MultiTapFilterTest.cpp
Owners: @Starlight220, @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

fix param names
  wpimath/src/main/java/edu/wpi/first/math/filter/EdgeCounterFilter.java
  wpimath/src/main/native/include/frc/filter/EdgeCountFilter.h
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

wpiformat
  wpimath/src/main/native/include/frc/filter/EdgeCountFilter.h
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

gradlew spotlessApply
  wpimath/src/main/java/edu/wpi/first/math/filter/EdgeCounterFilter.java
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

Last build failure
  wpilibcIntegrationTests/src/main/native/cpp/DMATest.cpp
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue

[ci] Upgrade to wpiformat 2025.36
  .github/workflows/lint-format.yml
  simulation/halsim_ds_socket/src/main/native/cpp/main.cpp
  simulation/halsim_gui/src/main/native/cpp/main.cpp
  simulation/halsim_gui/src/main/native/include/HALDataSource.h
  simulation/halsim_ws_client/src/main/native/cpp/main.cpp
  simulation/halsim_ws_server/src/main/native/cpp/main.cpp
  simulation/halsim_xrp/src/main/native/cpp/main.cpp
  sysid/src/main/native/cpp/analysis/FeedforwardAnalysis.cpp
  upstream_utils/sleipnir.py
  wpilibNewCommands/src/main/native/include/frc2/command/CommandPtr.h
  wpimath/.styleguide
  wpimath/src/main/native/include/frc/StateSpaceUtil.h
  wpimath/src/main/native/include/frc/geometry/Ellipse2d.h
  wpimath/src/main/native/include/frc/geometry/Pose3d.h
  wpimath/src/main/native/include/frc/geometry/Quaternion.h
  wpimath/src/main/native/thirdparty/sleipnir/.clang-format
  wpimath/src/main/native/thirdparty/sleipnir/.clang-tidy
  wpimath/src/main/native/thirdparty/sleipnir/.styleguide
  wpimath/src/main/native/thirdparty/sleipnir/.styleguide-license
  wpimath/src/main/native/thirdparty/sleipnir/include/.styleguide
  wpimath/src/main/native/thirdparty/sleipnir/src/.styleguide
  wpimath/src/test/native/cpp/filter/LinearFilterOutputTest.cpp
  wpiutil/src/main/native/include/wpi/sendable/SendableHelper.h
Owners: @PeterJohnson, @ThadHouse, @calcmogul, @rzblue, @zhiquanyeo, @jpokornyiii, @Starlight220
