Repository wpilibsuite/allwpilib, changes with the labels that .github/labeler.yml gives for each.
All labels: component: apriltag, component: command-based, component: cscore, component: datalogtool, component: epilogue, component: examples, component: glass, component: hal, component: ntcore, component: outlineviewer, component: sysid, component: teamnumbersetter, component: wpilibc, component: wpilibj, component: wpimath, component: wpinet, component: wpiunits, component: wpiutil, component: wpical, component: usage reporting, attn: NI

Fix up camera model loading
  wpical/src/main/native/cpp/cameracalibration.cpp
Labels: component: wpical

Add additional third party notices
  wpical/WPICalThirdPartyNotices.txt
  wpical/publish.gradle
Labels: component: wpical

Catch OpenCV exceptions
  wpical/src/main/native/cpp/fieldcalibration.cpp
Labels: component: wpical

Fill combined field layout with tags from the ideal layout and add note about ideal layout being used
  wpical/src/main/native/cpp/WPIcal.cpp
Labels: component: wpical

Fix compilation with Clang 15
  wpical/src/main/native/cpp/WPIcal.cpp
  wpical/src/main/native/cpp/fieldcalibration.cpp
  wpical/src/main/native/cpp/fmap.cpp
Labels: component: wpical

Add multithreaded video processor
  wpical/src/main/native/cpp/VideoProcessor.cpp
  wpical/src/main/native/cpp/WPIcal.cpp
  wpical/src/main/native/cpp/cameracalibration.cpp
  wpical/src/main/native/include/cameracalibration.h
Labels: component: wpical

Use radio buttons for selecting mrcal/OpenCV
  wpical/src/main/native/cpp/WPIcal.cpp
Labels: component: wpical

Fix JSON warnings
  upstream_utils/json_patches/0001-Remove-version-from-namespace.patch
  upstream_utils/json_patches/0002-Make-serializer-public.patch
  upstream_utils/json_patches/0003-Make-dump_escaped-take-std-string_view.patch
  upstream_utils/json_patches/0004-Add-llvm-stream-support.patch
  upstream_utils/json_patches/0005-Fix-Doxygen-warnings.patch
  wpiutil/src/main/native/thirdparty/json/include/wpi/json.h
Labels: component: wpiutil

Remove several docs excludes
  docs/build.gradle
Labels: none

Work around gcc 12 overlap memory region warning (#8058)
  wpilibcExamples/src/main/cpp/examples/I2CCommunication/cpp/Robot.cpp
Labels: component: examples

[wpiutil] Use steady_clock directly on SystemCore (#8053)
  wpiutil/src/main/native/cpp/timestamp.cpp
Labels: component: wpiutil

[hal] Update analog scaling for updated image (#8052)
  hal/src/main/native/systemcore/AnalogInput.cpp
Labels: component: hal

Upgrade and reorganize dependencies
  WORKSPACE
Labels: none

Use WPI Artifactory instance for bazel cache
  .bazelrc
  .github/actions/setup-artifactory-bazel/action.yml
  .github/workflows/bazel.yml
Labels: none

bazel: Set remote cache header to prevent redirects
  .bazelrc
  .github/actions/setup-artifactory-bazel/action.yml
Labels: none

add explanatory comment
  .bazelrc
  .github/actions/setup-artifactory-bazel/action.yml
Labels: none

Clean-up and simplify CODEOWNERS
  .github/CODEOWNERS
Labels: none

Switch build tag filters from no-roborio to target_compatible_with
  datalogtool/BUILD.bazel
  shared/bazel/compiler_flags/roborio_flags.rc
Labels: component: datalogtool

Make processstarter handle Elastic and AdvantageScope
  processstarter/src/main/native/windows/main.cpp
  processstarter/src/main/native/windows/main.h
Labels: none

[bazel] Upgrade and reorganize dependencies (#8063)
  WORKSPACE
Labels: none

Fix the toolchain instead for windows for _WIN32_WINNT
  BUILD.bazel
  bzlmodrio.patch
  hal/src/main/native/sim/HAL.cpp
  rules_cc_windows.patch
  shared/bazel/compiler_flags/windows_flags.rc
  shared/bazel/rules/BUILD.bazel
  shared/bazel/rules/cc_rules.bzl
  shared/bazel/rules/publishing.bzl
  systemcore_jdk.patch
  wpinet/BUILD.bazel
  wpiutil/src/main/native/cpp/timestamp.cpp
Labels: component: hal, component: wpinet, component: wpiutil

Remove committed patches
  WORKSPACE
  bzlmodrio.patch
Labels: none

Use platforms in @rules_bzlmodrio_toolchains
  shared/bazel/rules/BUILD.bazel
  shared/bazel/rules/publishing.bzl
Labels: none

Buildifier
  BUILD.bazel
  shared/bazel/rules/publishing.bzl
Labels: none

Fix platform definition
  shared/bazel/compiler_flags/windows_flags.rc
Labels: none

Check results of subprocess.run in wpimath/generate_quickbuf.py
  wpimath/generate_nanopb.py
  wpimath/generate_quickbuf.py
Labels: component: wpimath

Remove things in other reviews
  datalogtool/BUILD.bazel
  shared/bazel/compiler_flags/osx_flags.rc
  shared/bazel/compiler_flags/roborio_flags.rc
  wpimath/generate_quickbuf.py
Labels: component: datalogtool, component: wpimath

Check results of subprocess.run in wpimath/generate_quickbuf.py
  wpimath/generate_nanopb.py
  wpimath/generate_quickbuf.py
Labels: component: wpimath

[build] Check results of subprocess.run in wpimath/generate_quickbuf.py (#8069)
  wpimath/generate_nanopb.py
  wpimath/generate_quickbuf.py
Labels: component: wpimath

[bazel] Set remote cache header to prevent redirects (#8065)
  .bazelrc
  .github/actions/setup-artifactory-bazel/action.yml
Labels: none

Update DCMotorSim.java (#1)
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/DCMotorSim.java
Labels: component: wpilibj

Update DCMotorSim.java to radians
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/DCMotorSim.java
Labels: component: wpilibj

update rt-mutex for systemcore
  wpiutil/src/main/native/include/wpi/priority_mutex.h
Labels: component: wpiutil

[wpilib] Add unit docs for return type of DCMotorSim getters (#8070)
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/DCMotorSim.java
Labels: component: wpilibj

fixes
  wpimath/src/test/java/edu/wpi/first/math/MathUtilTest.java
  wpimath/src/test/native/cpp/MathUtilTest.cpp
Labels: component: wpimath

add checks to prevent rotation2d from warning of zero x and y components
  wpimath/src/main/java/edu/wpi/first/math/MathUtil.java
  wpimath/src/main/native/include/frc/MathUtil.h
Labels: component: wpimath

wpiformat
  wpimath/src/main/native/include/frc/MathUtil.h
Labels: component: wpimath

Move all http_archives to the top to be in line with main update
  WORKSPACE
Labels: none

Make the generated pybind helpers linguist-generated
  .gitattributes
Labels: none

Lint
  .gitattributes
  shared/bazel/rules/robotpy/generate_pybind_build_file.py
  shared/bazel/rules/robotpy/pybind_build_file_template.jinja2
Labels: none

.github/labeler.yml:

'2027':
- base-branch: '2027'
'component: apriltag':
- changed-files:
  - any-glob-to-any-file: apriltag/**
'component: command-based':
- changed-files:
  - any-glob-to-any-file: wpilibNewCommands/**
'component: cscore':
- changed-files:
  - any-glob-to-any-file: cscore/**
'component: datalogtool':
- changed-files:
  - any-glob-to-any-file: datalogtool/**
'component: epilogue':
- changed-files:
  - any-glob-to-any-file: epilogue-*/**
'component: examples':
- changed-files:
  - any-glob-to-any-file: wpilib*Examples/**
'component: glass':
- changed-files:
  - any-glob-to-any-file: glass/**
'component: hal':
- changed-files:
  - any-glob-to-any-file: hal/**
'component: ntcore':
- changed-files:
  - any-glob-to-any-file: ntcore/**
'component: outlineviewer':
- changed-files:
  - any-glob-to-any-file: outlineviewer/**
'component: sysid':
- changed-files:
  - any-glob-to-any-file: sysid/**
'component: teamnumbersetter':
- changed-files:
  - any-glob-to-any-file: roborioteamnumbersetter/**
'component: wpilibc':
- changed-files:
  - any-glob-to-any-file: wpilibc/**
'component: wpilibj':
- changed-files:
  - any-glob-to-any-file: wpilibj/**
'component: wpimath':
- changed-files:
  - any-glob-to-any-file: wpimath/**
'component: wpinet':
- changed-files:
  - any-glob-to-any-file: wpinet/**
'component: wpiunits':
- changed-files:
  - any-glob-to-any-file: wpiunits/**
'component: wpiutil':
- changed-files:
  - any-glob-to-any-file: wpiutil/**
'component: wpical':
- changed-files:
  - any-glob-to-any-file: wpical/**
'component: usage reporting':
- changed-files:
  - any-glob-to-any-file: hal/src/generate/**
'attn: NI':
- changed-files:
  - any-glob-to-any-file: hal/src/generate/**
