Repository wpilibsuite/allwpilib, changes with the labels that .github/labeler.yml gives for each.
All labels: component: apriltag, component: command-based, component: cscore, component: datalogtool, component: epilogue, component: examples, component: glass, component: hal, component: ntcore, component: outlineviewer, component: sysid, component: teamnumbersetter, component: wpilibc, component: wpilibj, component: wpimath, component: wpinet, component: wpiunits, component: wpiutil, component: wpical, component: usage reporting, attn: NI

.github/labeler.yml:

'2027':
- base-branch: '2027'
'component: apriltag':
- changed-files:
  - any-glob-to-any-file: apriltag/**
'component: command-based':
- changed-files:
  - any-glob-to-any-file: wpilibNewCommands/**
'component: cscore':
- changed-files:
  - any-glob-to-any-file: cscore/**
'component: datalogtool':
- changed-files:
  - any-glob-to-any-file: datalogtool/**
'component: epilogue':
- changed-files:
  - any-glob-to-any-file: epilogue-*/**
'component: examples':
- changed-files:
  - any-glob-to-any-file: wpilib*Examples/**
'component: glass':
- changed-files:
  - any-glob-to-any-file: glass/**
'component: hal':
- changed-files:
  - any-glob-to-any-file: hal/**
'component: ntcore':
- changed-files:
  - any-glob-to-any-file: ntcore/**
'component: outlineviewer':
- changed-files:
  - any-glob-to-any-file: outlineviewer/**
'component: sysid':
- changed-files:
  - any-glob-to-any-file: sysid/**
'component: teamnumbersetter':
- changed-files:
  - any-glob-to-any-file: roborioteamnumbersetter/**
'component: wpilibc':
- changed-files:
  - any-glob-to-any-file: wpilibc/**
'component: wpilibj':
- changed-files:
  - any-glob-to-any-file: wpilibj/**
'component: wpimath':
- changed-files:
  - any-glob-to-any-file: wpimath/**
'component: wpinet':
- changed-files:
  - any-glob-to-any-file: wpinet/**
'component: wpiunits':
- changed-files:
  - any-glob-to-any-file: wpiunits/**
'component: wpiutil':
- changed-files:
  - any-glob-to-any-file: wpiutil/**
'component: wpical':
- changed-files:
  - any-glob-to-any-file: wpical/**
'component: usage reporting':
- changed-files:
  - any-glob-to-any-file: hal/src/generate/**
'attn: NI':
- changed-files:
  - any-glob-to-any-file: hal/src/generate/**

Add Gyro to OnboardIMU Snippet
  wpilibcExamples/src/main/cpp/snippets/OnboardIMU/cpp/Robot.cpp
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/onboardimu/Robot.java
Labels: component: examples

Use output providers a lot better to reduce selects.
  shared/bazel/rules/cc_rules.bzl
Labels: none

Fix naming of ADXL accelerometer
  wpilibcExamples/src/main/cpp/snippets/ADXLAccelerometers/cpp/Robot.cpp
Labels: component: examples

[doc] Clarify mount orientation for SystemCore IMU (NFC)
  wpilibc/src/main/native/include/frc/OnboardIMU.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/OnboardIMU.java
Labels: component: wpilibc, component: wpilibj

Split debug symbols only on Linux. Use the builtin providers better to remove selects.
  shared/bazel/rules/cc_rules.bzl
Labels: none

Universal for OSX
  shared/bazel/rules/cc_rules.bzl
Labels: none

Buildify
  cscore/BUILD.bazel
  shared/bazel/rules/cc_rules.bzl
Labels: component: cscore

Move patch file to separate folder
  WORKSPACE
  shared/bazel/patches/rules_cc_windows.patch
Labels: none

Remove version
  cameraserver/BUILD.bazel
  cscore/BUILD.bazel
  epilogue-processor/BUILD.bazel
  epilogue-runtime/BUILD.bazel
  fieldImages/BUILD.bazel
  shared/bazel/rules/BUILD.bazel
  shared/bazel/rules/cc_rules.bzl
  shared/bazel/rules/gen/gen-version-file.bzl
  version.bzl
  wpilibj/BUILD.bazel
  wpiunits/BUILD.bazel
Labels: component: cscore, component: epilogue, component: wpilibj, component: wpiunits

Delete the hard shared libraries.
  cameraserver/BUILD.bazel
  cscore/BUILD.bazel
Labels: component: cscore

Revert "Delete the hard shared libraries."
  cameraserver/BUILD.bazel
  cscore/BUILD.bazel
Labels: component: cscore

[ci] Revert Bazel artifactory caching (#8080)
  .bazelrc
  .github/actions/setup-artifactory-bazel/action.yml
  .github/actions/setup-build-buddy/action.yml
  .github/workflows/aql/wpilib-generic-gradle-cache_unused.aql
  .github/workflows/bazel.yml
Labels: none

fix typo
  wpilibc/src/main/native/include/frc/OnboardIMU.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/OnboardIMU.java
Labels: component: wpilibc, component: wpilibj

[ci] Install bazel on docker image builds (#8079)
  .github/workflows/bazel.yml
Labels: none

Fix select
  shared/bazel/rules/cc_rules.bzl
Labels: none

Revert "Delete the hard shared libraries."
  cameraserver/BUILD.bazel
  cscore/BUILD.bazel
Labels: component: cscore

Make windows work further
  shared/bazel/rules/BUILD.bazel
  shared/bazel/rules/cc_rules.bzl
Labels: none

Update templates to cancel the auto command in AutononmousExit
  wpilibcExamples/src/main/cpp/templates/commandbased/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/templates/commandbased/include/Robot.h
  wpilibcExamples/src/main/cpp/templates/commandbasedskeleton/cpp/Robot.cpp
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/commandbased/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/commandbasedskeleton/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/romicommandbased/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/xrpcommandbased/Robot.java
Labels: component: examples

Add small norm tests
  wpimath/src/test/java/edu/wpi/first/math/MathUtilTest.java
  wpimath/src/test/native/cpp/MathUtilTest.cpp
Labels: component: wpimath

Implement S3F
  wpimath/src/main/java/edu/wpi/first/math/estimator/MerweUKF.java
  wpimath/src/main/java/edu/wpi/first/math/estimator/S3SigmaPoints.java
  wpimath/src/main/java/edu/wpi/first/math/estimator/S3UKF.java
  wpimath/src/main/java/edu/wpi/first/math/estimator/SigmaPoints.java
  wpimath/src/main/java/edu/wpi/first/math/estimator/UnscentedKalmanFilter.java
  wpimath/src/main/native/cpp/estimator/MerweUKF.cpp
  wpimath/src/main/native/cpp/estimator/S3UKF.cpp
  wpimath/src/main/native/include/frc/estimator/MerweScaledSigmaPoints.h
  wpimath/src/main/native/include/frc/estimator/MerweUKF.h
  wpimath/src/main/native/include/frc/estimator/S3SigmaPoints.h
  wpimath/src/main/native/include/frc/estimator/S3UKF.h
  wpimath/src/main/native/include/frc/estimator/SigmaPoints.h
  wpimath/src/main/native/include/frc/estimator/UnscentedKalmanFilter.h
  wpimath/src/main/native/include/frc/estimator/UnscentedTransform.h
  wpimath/src/test/java/edu/wpi/first/math/estimator/MerweUKFTest.java
  wpimath/src/test/java/edu/wpi/first/math/estimator/S3SigmaPointsTest.java
  wpimath/src/test/java/edu/wpi/first/math/estimator/S3UKFTest.java
  wpimath/src/test/native/cpp/estimator/MerweUKFTest.cpp
  wpimath/src/test/native/cpp/estimator/S3SigmaPointsTest.cpp
  wpimath/src/test/native/cpp/estimator/S3UKFTest.cpp
Labels: component: wpimath

Fix typos
  wpimath/src/main/java/edu/wpi/first/math/estimator/S3UKF.java
Labels: component: wpimath

Add periods to comments
  wpimath/src/main/java/edu/wpi/first/math/estimator/UnscentedKalmanFilter.java
  wpimath/src/main/native/include/frc/estimator/UnscentedTransform.h
Labels: component: wpimath

Consistently use radians in convergence tests
  wpimath/src/test/java/edu/wpi/first/math/estimator/ExtendedKalmanFilterTest.java
  wpimath/src/test/java/edu/wpi/first/math/estimator/MerweUKFTest.java
  wpimath/src/test/java/edu/wpi/first/math/estimator/S3UKFTest.java
Labels: component: wpimath

Format
  wpimath/src/main/native/include/frc/estimator/UnscentedTransform.h
Labels: component: wpimath

Recommend S3F over Merwe UKF
  wpimath/src/main/java/edu/wpi/first/math/estimator/MerweScaledSigmaPoints.java
  wpimath/src/main/java/edu/wpi/first/math/estimator/MerweUKF.java
  wpimath/src/main/java/edu/wpi/first/math/estimator/S3SigmaPoints.java
  wpimath/src/main/java/edu/wpi/first/math/estimator/S3UKF.java
  wpimath/src/main/java/edu/wpi/first/math/estimator/UnscentedKalmanFilter.java
  wpimath/src/main/native/include/frc/estimator/MerweScaledSigmaPoints.h
  wpimath/src/main/native/include/frc/estimator/S3SigmaPoints.h
  wpimath/src/main/native/include/frc/estimator/UnscentedKalmanFilter.h
Labels: component: wpimath

[hal] Implement HAL_GetSystemTimeValid on SystemCore (#8051)
  hal/src/main/native/systemcore/FRCDriverStation.cpp
  hal/src/main/native/systemcore/HAL.cpp
  hal/src/mrc/include/mrc/NtNetComm.h
Labels: component: hal

[hal] Add frequency support to DutyCycle (#8076)
  hal/src/main/java/edu/wpi/first/hal/DutyCycleJNI.java
  hal/src/main/java/edu/wpi/first/hal/simulation/DutyCycleDataJNI.java
  hal/src/main/native/cpp/jni/DutyCycleJNI.cpp
  hal/src/main/native/cpp/jni/simulation/DutyCycleDataJNI.cpp
  hal/src/main/native/include/hal/DutyCycle.h
  hal/src/main/native/include/hal/simulation/DutyCycleData.h
  hal/src/main/native/sim/DutyCycle.cpp
  hal/src/main/native/sim/PortsInternal.h
  hal/src/main/native/sim/mockdata/DutyCycleData.cpp
  hal/src/main/native/sim/mockdata/DutyCycleDataInternal.h
  hal/src/main/native/systemcore/DutyCycle.cpp
  hal/src/main/native/systemcore/SmartIo.cpp
  hal/src/main/native/systemcore/SmartIo.h
  hal/src/main/native/systemcore/mockdata/DutyCycleData.cpp
  simulation/halsim_gui/src/main/native/cpp/DIOSimGui.cpp
  wpilibc/src/main/native/cpp/DutyCycle.cpp
  wpilibc/src/main/native/cpp/DutyCycleEncoder.cpp
  wpilibc/src/main/native/cpp/simulation/DutyCycleSim.cpp
  wpilibc/src/main/native/include/frc/DutyCycle.h
  wpilibc/src/main/native/include/frc/DutyCycleEncoder.h
  wpilibc/src/main/native/include/frc/simulation/DutyCycleSim.h
  wpilibc/src/test/native/cpp/simulation/DutyCycleSimTest.cpp
  wpilibc/src/test/native/cpp/simulation/SimInitializationTest.cpp
  wpilibcExamples/src/main/cpp/examples/DutyCycleEncoder/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/DutyCycleInput/cpp/Robot.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DutyCycle.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DutyCycleEncoder.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/DutyCycleSim.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/DutyCycleSimTest.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/dutycycleencoder/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/dutycycleinput/Robot.java
Labels: component: examples, component: hal, component: wpilibc, component: wpilibj

[hal] Various CAN fixes (#8043)
  hal/src/main/java/edu/wpi/first/hal/can/CANStreamMessage.java
  hal/src/main/native/cpp/jni/CANJNI.cpp
  hal/src/main/native/cpp/jni/HALUtil.cpp
  hal/src/main/native/cpp/jni/HALUtil.h
  hal/src/main/native/include/hal/CAN.h
  hal/src/main/native/include/hal/Errors.h
  hal/src/main/native/include/hal/handles/HandlesInternal.h
  hal/src/main/native/systemcore/CAN.cpp
  hal/src/main/native/systemcore/HAL.cpp
Labels: component: hal

[doc] Update Analog Input voltage to 3.3v (NFC) (#8085)
  hal/src/main/java/edu/wpi/first/hal/AnalogJNI.java
  hal/src/main/native/include/hal/AnalogInput.h
  wpilibc/src/main/native/include/frc/AnalogInput.h
  wpilibc/src/main/native/include/frc/AnalogPotentiometer.h
  wpilibcExamples/src/test/cpp/examples/PotentiometerPID/cpp/PotentiometerPIDTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/AnalogInput.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/AnalogPotentiometer.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/AnalogPotentiometerTest.java
  wpilibjExamples/src/test/java/edu/wpi/first/wpilibj/examples/potentiometerpid/PotentiometerPIDTest.java
Labels: component: examples, component: hal, component: wpilibc, component: wpilibj

[doc] Clarify mount orientation for SystemCore IMU (NFC) (#8088)
  wpilibc/src/main/native/include/frc/OnboardIMU.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/OnboardIMU.java
Labels: component: wpilibc, component: wpilibj

Remove several docs excludes
  docs/build.gradle
Labels: none

Fix JSON warnings
  upstream_utils/json_patches/0001-Remove-version-from-namespace.patch
  upstream_utils/json_patches/0002-Make-serializer-public.patch
  upstream_utils/json_patches/0003-Make-dump_escaped-take-std-string_view.patch
  upstream_utils/json_patches/0004-Add-llvm-stream-support.patch
  upstream_utils/json_patches/0005-Fix-Doxygen-warnings.patch
  wpiutil/src/main/native/thirdparty/json/include/wpi/json.h
Labels: component: wpiutil

Fix Doxygen warnings
  wpinet/src/main/native/include/wpinet/uv/FsEvent.h
  wpinet/src/main/native/include/wpinet/uv/GetNameInfo.h
  wpinet/src/main/native/include/wpinet/uv/Stream.h
  wpinet/src/main/native/include/wpinet/uv/Udp.h
Labels: component: wpinet

Remove cxx11 namespace
  processstarter/src/main/native/linux/main.cpp
  processstarter/src/main/native/linux/main.h
Labels: none

[wpimath] Implement Scaled Spherical Simplex Filter (S3F) (#8091)
  wpimath/src/main/java/edu/wpi/first/math/estimator/MerweUKF.java
  wpimath/src/main/java/edu/wpi/first/math/estimator/S3SigmaPoints.java
  wpimath/src/main/java/edu/wpi/first/math/estimator/S3UKF.java
  wpimath/src/main/java/edu/wpi/first/math/estimator/SigmaPoints.java
  wpimath/src/main/java/edu/wpi/first/math/estimator/UnscentedKalmanFilter.java
  wpimath/src/main/native/cpp/estimator/MerweUKF.cpp
  wpimath/src/main/native/cpp/estimator/S3UKF.cpp
  wpimath/src/main/native/include/frc/estimator/MerweScaledSigmaPoints.h
  wpimath/src/main/native/include/frc/estimator/MerweUKF.h
  wpimath/src/main/native/include/frc/estimator/S3SigmaPoints.h
  wpimath/src/main/native/include/frc/estimator/S3UKF.h
  wpimath/src/main/native/include/frc/estimator/SigmaPoints.h
  wpimath/src/main/native/include/frc/estimator/UnscentedKalmanFilter.h
  wpimath/src/main/native/include/frc/estimator/UnscentedTransform.h
  wpimath/src/test/java/edu/wpi/first/math/estimator/ExtendedKalmanFilterTest.java
  wpimath/src/test/java/edu/wpi/first/math/estimator/MerweUKFTest.java
  wpimath/src/test/java/edu/wpi/first/math/estimator/S3SigmaPointsTest.java
  wpimath/src/test/java/edu/wpi/first/math/estimator/S3UKFTest.java
  wpimath/src/test/native/cpp/estimator/MerweUKFTest.cpp
  wpimath/src/test/native/cpp/estimator/S3SigmaPointsTest.cpp
  wpimath/src/test/native/cpp/estimator/S3UKFTest.cpp
Labels: component: wpimath

[hal] Remove DS Data timeout (#8083)
  hal/src/main/native/systemcore/FRCDriverStation.cpp
Labels: component: hal

[wpilib] Disambiguate HID Sendable names (#8081)
  wpilibc/src/generate/main/native/cpp/hid.cpp.jinja
  wpilibc/src/generated/main/native/cpp/PS4Controller.cpp
  wpilibc/src/generated/main/native/cpp/PS5Controller.cpp
  wpilibc/src/generated/main/native/cpp/XboxController.cpp
  wpilibj/src/generate/main/java/hid.java.jinja
  wpilibj/src/generated/main/java/edu/wpi/first/wpilibj/PS4Controller.java
  wpilibj/src/generated/main/java/edu/wpi/first/wpilibj/PS5Controller.java
  wpilibj/src/generated/main/java/edu/wpi/first/wpilibj/XboxController.java
Labels: component: wpilibc, component: wpilibj

[build] Add missing sources to published zip files (#8055)
  hal/build.gradle
  ntcore/build.gradle
  shared/javacpp/publish.gradle
  wpilibc/publish.gradle
  wpimath/build.gradle
  wpinet/build.gradle
  wpiutil/build.gradle
Labels: component: hal, component: ntcore, component: wpilibc, component: wpimath, component: wpinet, component: wpiutil

Fix OnboardIMU functions
  wpilibc/src/main/native/cpp/OnboardIMU.cpp
Labels: component: wpilibc

namespace Java Fields and remove default field
  fieldImages/src/main/java/edu/wpi/first/fields/FieldConfig.java
  fieldImages/src/main/java/edu/wpi/first/fields/Fields.java
  fieldImages/src/main/java/edu/wpi/first/fields/IField.java
  fieldImages/src/main/native/cpp/fields.cpp
  fieldImages/src/test/java/edu/wpi/first/fields/LoadConfigTest.java
  shared/bazel/rules/gen/gen_resources.py
  shared/resources.gradle
Labels: none
