Repository wpilibsuite/allwpilib, changes with the labels that .github/labeler.yml gives for each.
All labels: component: apriltag, component: command-based, component: cscore, component: datalogtool, component: epilogue, component: examples, component: glass, component: hal, component: ntcore, component: outlineviewer, component: sysid, component: teamnumbersetter, component: wpilibc, component: wpilibj, component: wpimath, component: wpinet, component: wpiunits, component: wpiutil, component: wpical, component: usage reporting, attn: NI

.github/labeler.yml:

'2027':
- base-branch: '2027'
'component: apriltag':
- changed-files:
  - any-glob-to-any-file: apriltag/**
'component: command-based':
- changed-files:
  - any-glob-to-any-file: wpilibNewCommands/**
'component: cscore':
- changed-files:
  - any-glob-to-any-file: cscore/**
'component: datalogtool':
- changed-files:
  - any-glob-to-any-file: datalogtool/**
'component: epilogue':
- changed-files:
  - any-glob-to-any-file: epilogue-*/**
'component: examples':
- changed-files:
  - any-glob-to-any-file: wpilib*Examples/**
'component: glass':
- changed-files:
  - any-glob-to-any-file: glass/**
'component: hal':
- changed-files:
  - any-glob-to-any-file: hal/**
'component: ntcore':
- changed-files:
  - any-glob-to-any-file: ntcore/**
'component: outlineviewer':
- changed-files:
  - any-glob-to-any-file: outlineviewer/**
'component: sysid':
- changed-files:
  - any-glob-to-any-file: sysid/**
'component: teamnumbersetter':
- changed-files:
  - any-glob-to-any-file: roborioteamnumbersetter/**
'component: wpilibc':
- changed-files:
  - any-glob-to-any-file: wpilibc/**
'component: wpilibj':
- changed-files:
  - any-glob-to-any-file: wpilibj/**
'component: wpimath':
- changed-files:
  - any-glob-to-any-file: wpimath/**
'component: wpinet':
- changed-files:
  - any-glob-to-any-file: wpinet/**
'component: wpiunits':
- changed-files:
  - any-glob-to-any-file: wpiunits/**
'component: wpiutil':
- changed-files:
  - any-glob-to-any-file: wpiutil/**
'component: wpical':
- changed-files:
  - any-glob-to-any-file: wpical/**
'component: usage reporting':
- changed-files:
  - any-glob-to-any-file: hal/src/generate/**
'attn: NI':
- changed-files:
  - any-glob-to-any-file: hal/src/generate/**

Fixed mutex locking
  wpilibc/src/main/native/include/frc/smartdashboard/SendableChooser.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/smartdashboard/SendableChooser.java
Labels: component: wpilibc, component: wpilibj

Added back 1 arg change listener tests
  wpilibc/src/test/native/cpp/smartdashboard/SendableChooserTest.cpp
  wpilibj/src/test/java/edu/wpi/first/wpilibj/smartdashboard/SendableChooserTest.java
Labels: component: wpilibc, component: wpilibj

[bazel] Create better static libraries and add basic publishing (#8029)
  .bazelrc
  BUILD.bazel
  apriltag/BUILD.bazel
  cameraserver/BUILD.bazel
  cameraserver/multiCameraServer/BUILD.bazel
  cscore/BUILD.bazel
  datalog/BUILD.bazel
  datalogtool/BUILD.bazel
  epilogue-processor/BUILD.bazel
  epilogue-runtime/BUILD.bazel
  fieldImages/BUILD.bazel
  glass/BUILD.bazel
  hal/BUILD.bazel
  ntcore/BUILD.bazel
  romiVendordep/BUILD.bazel
  shared/bazel/rules/BUILD.bazel
  shared/bazel/rules/cc_rules.bzl
  shared/bazel/rules/jni_rules.bzl
  shared/bazel/rules/packaging.bzl
  simulation/halsim_ds_socket/BUILD.bazel
  simulation/halsim_gui/BUILD.bazel
  simulation/halsim_ws_core/BUILD.bazel
  simulation/halsim_ws_server/BUILD.bazel
  simulation/halsim_xrp/BUILD.bazel
  sysid/BUILD.bazel
  thirdparty/googletest/BUILD.bazel
  thirdparty/imgui_suite/BUILD.bazel
  wpigui/BUILD.bazel
  wpilibNewCommands/BUILD.bazel
  wpilibc/BUILD.bazel
  wpilibcExamples/build_cpp_examples.bzl
  wpilibj/BUILD.bazel
  wpilibjExamples/build_java_examples.bzl
  wpimath/BUILD.bazel
  wpinet/BUILD.bazel
  wpiunits/BUILD.bazel
  wpiutil/BUILD.bazel
  xrpVendordep/BUILD.bazel
Labels: component: apriltag, component: command-based, component: cscore, component: datalogtool, component: epilogue, component: examples, component: glass, component: hal, component: ntcore, component: sysid, component: wpilibc, component: wpilibj, component: wpimath, component: wpinet, component: wpiunits, component: wpiutil

Various CAN fixes
  hal/src/main/java/edu/wpi/first/hal/can/CANStreamMessage.java
  hal/src/main/native/cpp/jni/CANJNI.cpp
  hal/src/main/native/cpp/jni/HALUtil.cpp
  hal/src/main/native/cpp/jni/HALUtil.h
  hal/src/main/native/include/hal/CAN.h
  hal/src/main/native/include/hal/Errors.h
  hal/src/main/native/include/hal/handles/HandlesInternal.h
  hal/src/main/native/systemcore/CAN.cpp
  hal/src/main/native/systemcore/HAL.cpp
Labels: component: hal

formatter
  hal/src/main/native/cpp/jni/HALUtil.cpp
  hal/src/main/native/systemcore/CAN.cpp
Labels: component: hal

1 more format
  hal/src/main/native/systemcore/CAN.cpp
Labels: component: hal

[bazel] Simple shared library implementation
  apriltag/BUILD.bazel
  datalog/BUILD.bazel
  hal/BUILD.bazel
  ntcore/BUILD.bazel
  romiVendordep/BUILD.bazel
  shared/bazel/rules/cc_rules.bzl
  simulation/halsim_ds_socket/BUILD.bazel
  simulation/halsim_ws_core/BUILD.bazel
  simulation/halsim_ws_server/BUILD.bazel
  simulation/halsim_xrp/BUILD.bazel
  wpilibNewCommands/BUILD.bazel
  wpilibc/BUILD.bazel
  wpimath/BUILD.bazel
  wpinet/BUILD.bazel
  wpiutil/BUILD.bazel
  xrpVendordep/BUILD.bazel
Labels: component: apriltag, component: command-based, component: hal, component: ntcore, component: wpilibc, component: wpimath, component: wpinet, component: wpiutil

Make windows work a lot better
  .bazelrc
  apriltag/BUILD.bazel
  cameraserver/BUILD.bazel
  cscore/BUILD.bazel
  datalog/BUILD.bazel
  hal/BUILD.bazel
  ntcore/BUILD.bazel
  romiVendordep/BUILD.bazel
  shared/bazel/rules/cc_rules.bzl
  simulation/halsim_ds_socket/BUILD.bazel
  wpilibNewCommands/BUILD.bazel
  wpimath/BUILD.bazel
  wpinet/BUILD.bazel
  wpiutil/BUILD.bazel
  xrpVendordep/BUILD.bazel
Labels: component: apriltag, component: command-based, component: cscore, component: hal, component: ntcore, component: wpimath, component: wpinet, component: wpiutil

buildify
  shared/bazel/rules/cc_rules.bzl
  wpiutil/BUILD.bazel
Labels: component: wpiutil

Fewer warnings on Windows
  shared/bazel/rules/cc_rules.bzl
Labels: none

buildify again
  shared/bazel/rules/cc_rules.bzl
Labels: none

[ci] Update Homebrew protobuf version for CMake protobuf@3 will be deactivated July 1st, so it's been replaced with protobuf@29.
  .github/workflows/cmake.yml
Labels: none

fix typos for notifier comments
  wpilibc/src/main/native/include/frc/Notifier.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Notifier.java
Labels: component: wpilibc, component: wpilibj

Publish wpiutil with rules_jvm_external
  WORKSPACE
  shared/bazel/rules/BUILD.bazel
  shared/bazel/rules/cc_rules.bzl
  shared/bazel/rules/publishing.bzl
  shared/bazel/rules/transitions.bzl
  version.bzl
  wpiutil/BUILD.bazel
Labels: component: wpiutil

Fix Clang 20 warnings
  cmake/modules/CompileWarnings.cmake
  sysid/src/main/native/include/sysid/view/Analyzer.h
  thirdparty/imgui_suite/CMakeLists.txt
Labels: component: sysid

Buildify
  shared/bazel/rules/BUILD.bazel
  shared/bazel/rules/cc_rules.bzl
  shared/bazel/rules/jni_rules.bzl
  shared/bazel/rules/publishing.bzl
  shared/bazel/rules/transitions.bzl
  version.bzl
  wpiutil/BUILD.bazel
Labels: component: wpiutil

Move a lot more configuration into the toolchain
  .bazelrc
  WORKSPACE
  bzlmodrio.patch
  datalogtool/BUILD.bazel
  shared/bazel/compiler_flags/base_linux_flags.rc
  shared/bazel/compiler_flags/linux_flags.rc
  shared/bazel/compiler_flags/osx_flags.rc
  shared/bazel/compiler_flags/roborio_flags.rc
  shared/bazel/compiler_flags/systemcore_flags.rc
  wpilibcExamples/src/main/cpp/examples/I2CCommunication/cpp/Robot.cpp
Labels: component: datalogtool, component: examples

Update POVs to use enums
  hal/src/main/java/edu/wpi/first/hal/simulation/DriverStationDataJNI.java
  hal/src/main/native/cpp/jni/simulation/DriverStationDataJNI.cpp
  hal/src/main/native/include/hal/DriverStationTypes.h
  hal/src/main/native/include/hal/Types.h
  hal/src/main/native/include/hal/simulation/DriverStationData.h
  hal/src/main/native/sim/mockdata/DriverStationData.cpp
  hal/src/main/native/sim/mockdata/DriverStationDataInternal.h
  hal/src/main/native/systemcore/FRCDriverStation.cpp
  hal/src/main/native/systemcore/mockdata/DriverStationData.cpp
  hal/src/test/native/cpp/mockdata/DriverStationDataTest.cpp
  simulation/halsim_ds_socket/src/main/native/cpp/DSCommPacket.cpp
  simulation/halsim_gui/src/main/native/cpp/DriverStationGui.cpp
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/button/CommandGenericHID.java
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/button/POVButton.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/button/CommandGenericHID.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/button/CommandGenericHID.h
  wpilibNewCommands/src/main/native/include/frc2/command/button/POVButton.h
  wpilibNewCommands/src/test/native/cpp/frc2/command/POVButtonTest.cpp
  wpilibc/src/main/native/cpp/DriverStation.cpp
  wpilibc/src/main/native/cpp/GenericHID.cpp
  wpilibc/src/main/native/cpp/simulation/DriverStationSim.cpp
  wpilibc/src/main/native/cpp/simulation/GenericHIDSim.cpp
  wpilibc/src/main/native/include/frc/DriverStation.h
  wpilibc/src/main/native/include/frc/GenericHID.h
  wpilibc/src/main/native/include/frc/simulation/DriverStationSim.h
  wpilibc/src/main/native/include/frc/simulation/GenericHIDSim.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DriverStation.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/GenericHID.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/DriverStationSim.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/GenericHIDSim.java
Labels: component: command-based, component: hal, component: wpilibc, component: wpilibj

Maybe other OSes too?
  WORKSPACE
  rules_jvm_external.patch
  shared/bazel/rules/BUILD.bazel
  shared/bazel/rules/publishing.bzl
  wpiutil/BUILD.bazel
Labels: component: wpiutil

[hal,wpilib,cmd] Update POVs to use enums (#7978)
  hal/src/main/java/edu/wpi/first/hal/simulation/DriverStationDataJNI.java
  hal/src/main/native/cpp/jni/simulation/DriverStationDataJNI.cpp
  hal/src/main/native/include/hal/DriverStationTypes.h
  hal/src/main/native/include/hal/Types.h
  hal/src/main/native/include/hal/simulation/DriverStationData.h
  hal/src/main/native/sim/mockdata/DriverStationData.cpp
  hal/src/main/native/sim/mockdata/DriverStationDataInternal.h
  hal/src/main/native/systemcore/FRCDriverStation.cpp
  hal/src/main/native/systemcore/mockdata/DriverStationData.cpp
  hal/src/test/native/cpp/mockdata/DriverStationDataTest.cpp
  simulation/halsim_ds_socket/src/main/native/cpp/DSCommPacket.cpp
  simulation/halsim_gui/src/main/native/cpp/DriverStationGui.cpp
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/button/CommandGenericHID.java
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/button/POVButton.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/button/CommandGenericHID.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/button/CommandGenericHID.h
  wpilibNewCommands/src/main/native/include/frc2/command/button/POVButton.h
  wpilibNewCommands/src/test/native/cpp/frc2/command/POVButtonTest.cpp
  wpilibc/src/main/native/cpp/DriverStation.cpp
  wpilibc/src/main/native/cpp/GenericHID.cpp
  wpilibc/src/main/native/cpp/simulation/DriverStationSim.cpp
  wpilibc/src/main/native/cpp/simulation/GenericHIDSim.cpp
  wpilibc/src/main/native/include/frc/DriverStation.h
  wpilibc/src/main/native/include/frc/GenericHID.h
  wpilibc/src/main/native/include/frc/simulation/DriverStationSim.h
  wpilibc/src/main/native/include/frc/simulation/GenericHIDSim.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DriverStation.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/GenericHID.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/DriverStationSim.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/GenericHIDSim.java
Labels: component: command-based, component: hal, component: wpilibc, component: wpilibj

Move apple support up in the list
  WORKSPACE
Labels: none

Debug for systemcore
  shared/bazel/compiler_flags/systemcore_flags.rc
Labels: none

Fix systemcore platform
  WORKSPACE
  systemcore_jdk.patch
Labels: none

[build] Add checkstyle check for deprecation (#7738)
  styleguide/checkstyle.xml
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/MecanumControllerCommand.java
  wpimath/src/main/java/edu/wpi/first/math/controller/ArmFeedforward.java
  wpimath/src/main/java/edu/wpi/first/math/controller/ElevatorFeedforward.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/MecanumDriveMotorVoltages.java
Labels: component: command-based, component: wpimath

[build] Fix Clang 20 warnings (#8048)
  cmake/modules/CompileWarnings.cmake
  sysid/src/main/native/include/sysid/view/Analyzer.h
  thirdparty/imgui_suite/CMakeLists.txt
Labels: component: sysid

[wpilib] Fix typos in notifier comments (NFC) (#8047)
  wpilibc/src/main/native/include/frc/Notifier.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Notifier.java
Labels: component: wpilibc, component: wpilibj

[ci] Update Homebrew protobuf version for CMake (#8045)
  .github/workflows/cmake.yml
Labels: none

Do better on a mac
  shared/bazel/rules/BUILD.bazel
  shared/bazel/rules/publishing.bzl
  systemcore_jdk.patch
  wpiutil/BUILD.bazel
Labels: component: wpiutil

[javadoc] remove unnecessary deprecation in wpimath::ArmFeedForward
  wpimath/src/main/java/edu/wpi/first/math/controller/ArmFeedforward.java
Labels: component: wpimath

[wpimath] Remove unnecessary deprecation in ArmFeedForward (#8050)
  wpimath/src/main/java/edu/wpi/first/math/controller/ArmFeedforward.java
Labels: component: wpimath

Do a lot better on a mac
  WORKSPACE
  apple_support.patch
  shared/bazel/rules/BUILD.bazel
Labels: none

More
  apple_support.patch
Labels: none

More
  apple_support.patch
Labels: none

Buildifier
  WORKSPACE
Labels: none

c_opts?
  apple_support.patch
  shared/bazel/compiler_flags/osx_flags.rc
Labels: none

Further
  apple_support.patch
  shared/bazel/rules/publishing.bzl
  wpiutil/BUILD.bazel
Labels: component: wpiutil

Maybe the right osx compiler?
  bzlmodrio.patch
  shared/bazel/compiler_flags/osx_flags.rc
Labels: none

Buildify
  shared/bazel/rules/publishing.bzl
Labels: none

Fix osx build
  wpiutil/BUILD.bazel
Labels: component: wpiutil

Flags should match now
  apple_support.patch
Labels: none
