Repository wpilibsuite/allwpilib, changes with the labels that .github/labeler.yml gives for each.
All labels: component: apriltag, component: command-based, component: cscore, component: datalogtool, component: epilogue, component: examples, component: glass, component: hal, component: ntcore, component: outlineviewer, component: sysid, component: teamnumbersetter, component: wpilibc, component: wpilibj, component: wpimath, component: wpinet, component: wpiunits, component: wpiutil, component: wpical, component: usage reporting, attn: NI

.github/labeler.yml:

'2027':
- base-branch: '2027'
'component: apriltag':
- changed-files:
  - any-glob-to-any-file: apriltag/**
'component: command-based':
- changed-files:
  - any-glob-to-any-file: wpilibNewCommands/**
'component: cscore':
- changed-files:
  - any-glob-to-any-file: cscore/**
'component: datalogtool':
- changed-files:
  - any-glob-to-any-file: datalogtool/**
'component: epilogue':
- changed-files:
  - any-glob-to-any-file: epilogue-*/**
'component: examples':
- changed-files:
  - any-glob-to-any-file: wpilib*Examples/**
'component: glass':
- changed-files:
  - any-glob-to-any-file: glass/**
'component: hal':
- changed-files:
  - any-glob-to-any-file: hal/**
'component: ntcore':
- changed-files:
  - any-glob-to-any-file: ntcore/**
'component: outlineviewer':
- changed-files:
  - any-glob-to-any-file: outlineviewer/**
'component: sysid':
- changed-files:
  - any-glob-to-any-file: sysid/**
'component: teamnumbersetter':
- changed-files:
  - any-glob-to-any-file: roborioteamnumbersetter/**
'component: wpilibc':
- changed-files:
  - any-glob-to-any-file: wpilibc/**
'component: wpilibj':
- changed-files:
  - any-glob-to-any-file: wpilibj/**
'component: wpimath':
- changed-files:
  - any-glob-to-any-file: wpimath/**
'component: wpinet':
- changed-files:
  - any-glob-to-any-file: wpinet/**
'component: wpiunits':
- changed-files:
  - any-glob-to-any-file: wpiunits/**
'component: wpiutil':
- changed-files:
  - any-glob-to-any-file: wpiutil/**
'component: wpical':
- changed-files:
  - any-glob-to-any-file: wpical/**
'component: usage reporting':
- changed-files:
  - any-glob-to-any-file: hal/src/generate/**
'attn: NI':
- changed-files:
  - any-glob-to-any-file: hal/src/generate/**

Clean some things up
  BUILD.bazel
  cameraserver/BUILD.bazel
  cscore/BUILD.bazel
  datalog/BUILD.bazel
  epilogue-runtime/BUILD.bazel
  fieldImages/BUILD.bazel
  glass/BUILD.bazel
  hal/BUILD.bazel
  romiVendordep/BUILD.bazel
  shared/bazel/rules/cc_rules.bzl
  shared/bazel/rules/halsim_library.bzl
  shared/bazel/rules/jni_rules.bzl
  shared/bazel/rules/packaging.bzl
  simulation/halsim_gui/BUILD.bazel
  simulation/halsim_ws_core/BUILD.bazel
  thirdparty/googletest/BUILD.bazel
  thirdparty/imgui_suite/BUILD.bazel
  wpigui/BUILD.bazel
  wpigui/shared_library_util.bzl
  wpilibc/BUILD.bazel
  wpilibcExamples/build_cpp_examples.bzl
  wpilibjExamples/build_java_examples.bzl
  wpimath/BUILD.bazel
  wpinet/BUILD.bazel
  xrpVendordep/BUILD.bazel
Labels: component: cscore, component: epilogue, component: examples, component: glass, component: hal, component: wpilibc, component: wpimath, component: wpinet

Add missing sources to published zip files
  hal/build.gradle
  ntcore/build.gradle
  shared/javacpp/publish.gradle
  wpilibc/publish.gradle
  wpimath/build.gradle
  wpinet/build.gradle
  wpiutil/build.gradle
Labels: component: hal, component: ntcore, component: wpilibc, component: wpimath, component: wpinet, component: wpiutil

create java tests
  wpimath/src/test/java/edu/wpi/first/math/MathUtilTest.java
Labels: component: wpimath

java spotless
  wpimath/src/test/java/edu/wpi/first/math/MathUtilTest.java
Labels: component: wpimath

Multiplatform windows?
  rules_cc_windows.patch
  shared/bazel/compiler_flags/systemcore_flags.rc
  shared/bazel/compiler_flags/windows_flags.rc
  shared/bazel/rules/publishing.bzl
  wpiutil/BUILD.bazel
Labels: component: wpiutil

Format
  shared/bazel/rules/publishing.bzl
Labels: none

Spelting
  shared/bazel/compiler_flags/windows_flags.rc
Labels: none

create C++ math util test
  wpimath/src/test/native/cpp/MathUtilTest.cpp
Labels: component: wpimath

fix default values
  wpimath/src/main/native/include/frc/MathUtil.h
Labels: component: wpimath

fix typo
  wpimath/src/test/java/edu/wpi/first/math/MathUtilTest.java
Labels: component: wpimath

Work with windows toolchains better
  bzlmodrio.patch
Labels: none

fix Translation2d creation (add units)
  wpimath/src/test/native/cpp/MathUtilTest.cpp
Labels: component: wpimath

Fix mixup between windows and windows x86_64
  WORKSPACE
  bzlmodrio.patch
  libssh.patch
  opencv.patch
Labels: none

use units for test
  wpimath/src/test/native/cpp/MathUtilTest.cpp
Labels: component: wpimath

Buildifier
  WORKSPACE
Labels: none

Work around gcc 12 overlap memory region warning
  wpilibcExamples/src/main/cpp/examples/I2CCommunication/cpp/Robot.cpp
Labels: component: examples

Remove deprecated setup-bazelisk action
  .github/workflows/bazel.yml
Labels: none

Switch Bazel to use Artifactory for caching
  .bazelrc
  .github/actions/setup-artifactory-bazel/action.yml
  .github/actions/setup-build-buddy/action.yml
  .github/workflows/aql/wpilib-generic-gradle-cache_unused.aql
  .github/workflows/bazel.yml
Labels: none

make m_resourceFile private
  fieldImages/src/main/java/edu/wpi/first/fields/Fields.java
Labels: none

[bazel][robotpy] Add mirror for robotpy's wpiuil and wpinet libraries
  .bazelrc
  BUILD.bazel
  README-RobotPy.md
  WORKSPACE
  requirements.txt
  requirements_windows_lock.txt
  shared/bazel/compiler_flags/base_linux_flags.rc
  shared/bazel/rules/robotpy/BUILD.bazel
  shared/bazel/rules/robotpy/build_info_gen.bzl
  shared/bazel/rules/robotpy/compatibility_select.bzl
  shared/bazel/rules/robotpy/generate_native_build_file.py
  shared/bazel/rules/robotpy/generate_pybind_build_file.py
  shared/bazel/rules/robotpy/generation_utils.py
  shared/bazel/rules/robotpy/hatchlib_native_port/BUILD.bazel
  shared/bazel/rules/robotpy/hatchlib_native_port/README.md
  shared/bazel/rules/robotpy/hatchlib_native_port/config.py
  shared/bazel/rules/robotpy/hatchlib_native_port/generate_native_lib_files.py
  shared/bazel/rules/robotpy/hatchlib_native_port/validate.py
  shared/bazel/rules/robotpy/pybind_build_file_template.jinja2
  shared/bazel/rules/robotpy/pybind_rules.bzl
  shared/bazel/rules/robotpy/pytest_util.bzl
  shared/bazel/rules/robotpy/semiwrap_helpers.bzl
  shared/bazel/rules/robotpy/wrapper.py
  wpinet/.styleguide
  wpinet/BUILD.bazel
  wpinet/robotpy_native_build_info.bzl
  wpinet/robotpy_pybind_build_info.bzl
  wpinet/src/main/python/pyproject.toml
  wpinet/src/test/python/conftest.py
  wpiutil/.styleguide
  wpiutil/BUILD.bazel
  wpiutil/robotpy_native_build_info.bzl
  wpiutil/robotpy_pybind_build_info.bzl
  wpiutil/src/main/python/pyproject.toml
Labels: component: wpinet, component: wpiutil

lint
  BUILD.bazel
  WORKSPACE
  shared/bazel/rules/cc_rules.bzl
  shared/bazel/rules/jni_rules.bzl
  wpiutil/BUILD.bazel
Labels: component: wpiutil

[lint] Update buildifier
  .github/workflows/bazel.yml
Labels: none

Add support for onboard IMU mount orientations with Euler angles
  hal/src/main/java/edu/wpi/first/hal/IMUJNI.java
  hal/src/main/native/cpp/jni/IMUJNI.cpp
  hal/src/main/native/include/hal/IMU.h
  hal/src/main/native/sim/IMU.cpp
  hal/src/main/native/systemcore/IMU.cpp
  wpilibc/src/main/native/cpp/OnboardIMU.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/OnboardIMU.java
Labels: component: hal, component: wpilibc, component: wpilibj

Add default switch case
  wpilibj/src/main/java/edu/wpi/first/wpilibj/OnboardIMU.java
Labels: component: wpilibj

[ci] Add Bazel caching (#8006)
  .bazelrc
  .github/actions/setup-artifactory-bazel/action.yml
  .github/actions/setup-build-buddy/action.yml
  .github/workflows/aql/wpilib-generic-gradle-cache_unused.aql
  .github/workflows/bazel.yml
Labels: none

Update README-RobotPy.md
  README-RobotPy.md
Labels: none

[ci] Add clang-cl workflow and fix clang-cl compilation
  .github/workflows/cmake.yml
  CMakeLists.txt
  cmake/modules/CompileWarnings.cmake
  cscore/src/main/native/windows/UsbCameraImpl.h
  cscore/src/main/native/windows/WindowsMessagePump.cpp
  datalogtool/CMakeLists.txt
  roborioteamnumbersetter/CMakeLists.txt
  wpinet/CMakeLists.txt
  wpiutil/CMakeLists.txt
Labels: component: cscore, component: datalogtool, component: teamnumbersetter, component: wpinet, component: wpiutil

Remove RTNS modifications
  roborioteamnumbersetter/CMakeLists.txt
Labels: component: teamnumbersetter

Use GPL-less Ceres and SuiteSparse
  README.md
  shared/ceres.gradle
  upstream_utils/eigen.py
  upstream_utils/mrcal_java.py
  wpical/build.gradle
  wpical/src/main/native/thirdparty/mrcal_java/include/mrcal_wrapper.h
  wpimath/src/main/native/thirdparty/eigen/include/Eigen/Dense
  wpimath/src/main/native/thirdparty/eigen/include/Eigen/StdVector
  wpimath/src/main/native/thirdparty/eigen/include/Eigen/src/StlSupport/StdVector.h
Labels: component: wpimath, component: wpical

Move files used at runtime to assets folder This means Gradle won't have to generate source files containing the data for these files. Those files were never used at compile time.
  wpical/build.gradle
  wpical/src/main/native/assets/2024-crescendo.json
  wpical/src/main/native/assets/altfieldvideo/short.avi
  wpical/src/main/native/assets/fieldvideo/long.mp4
  wpical/src/main/native/assets/fieldvideo/short.mp4
  wpical/src/main/native/assets/lifecam_1280p_10x10.vnl
  wpical/src/main/native/assets/testcalibration.mp4
  wpical/src/test/native/cpp/test_calibrate.cpp
Labels: component: wpical

Add docs for some functions
  wpical/src/main/native/cpp/WPIcal.cpp
Labels: component: wpical

Remove unused isCalibrating variable
  wpical/src/main/native/cpp/WPIcal.cpp
Labels: component: wpical

Move calibration combination to a separate function, and inline EmitEntryTarget
  wpical/src/main/native/cpp/WPIcal.cpp
Labels: component: wpical

Simplify calibration saving Fixes a bug where trying to cancelling directory selection when combining calibrated field maps would spam open the directory selector
  wpical/src/main/native/cpp/WPIcal.cpp
Labels: component: wpical

Use camel case, combine file opening and processing functions, and make variable names clearer
  wpical/src/main/native/cpp/WPIcal.cpp
  wpical/src/main/native/cpp/cameracalibration.cpp
  wpical/src/main/native/cpp/fieldcalibration.cpp
  wpical/src/main/native/include/cameracalibration.h
  wpical/src/main/native/include/fieldcalibration.h
  wpical/src/test/native/cpp/test_calibrate.cpp
Labels: component: wpical

Deduplicate mrcal_result handling
  wpical/src/main/native/cpp/cameracalibration.cpp
Labels: component: wpical

Move calibration visualization to a separate function
  wpical/src/main/native/cpp/WPIcal.cpp
Labels: component: wpical

Clean up camera model handling and dedupe calibration UI logic
  wpical/src/main/native/cpp/WPIcal.cpp
  wpical/src/main/native/cpp/cameracalibration.cpp
  wpical/src/main/native/cpp/fieldcalibration.cpp
  wpical/src/main/native/include/cameracalibration.h
  wpical/src/main/native/include/fieldcalibration.h
Labels: component: wpical

Fix field saving and fix tags being silently dropped when combining fields
  wpical/src/main/native/cpp/WPIcal.cpp
Labels: component: wpical

Use AprilTagFieldLayout and wpimath and make massive refactors
  wpical/.styleguide
  wpical/CMakeLists.txt
  wpical/src/main/native/cpp/WPIcal.cpp
  wpical/src/main/native/cpp/cameracalibration.cpp
  wpical/src/main/native/cpp/fieldcalibration.cpp
  wpical/src/main/native/cpp/fmap.cpp
  wpical/src/main/native/cpp/tagpose.cpp
  wpical/src/main/native/include/cameracalibration.h
  wpical/src/main/native/include/fieldcalibration.h
  wpical/src/main/native/include/fieldmap.h
  wpical/src/main/native/include/fmap.h
  wpical/src/main/native/include/tagpose.h
  wpical/src/test/native/cpp/test_calibrate.cpp
Labels: component: wpical
