Repository wpilibsuite/allwpilib, changes with the labels that .github/labeler.yml gives for each.
All labels: component: apriltag, component: command-based, component: cscore, component: datalogtool, component: epilogue, component: examples, component: glass, component: hal, component: ntcore, component: outlineviewer, component: sysid, component: teamnumbersetter, component: wpilibc, component: wpilibj, component: wpimath, component: wpinet, component: wpiunits, component: wpiutil, component: wpical, component: usage reporting, attn: NI

.github/labeler.yml:

'2027':
- base-branch: '2027'
'component: apriltag':
- changed-files:
  - any-glob-to-any-file: apriltag/**
'component: command-based':
- changed-files:
  - any-glob-to-any-file: wpilibNewCommands/**
'component: cscore':
- changed-files:
  - any-glob-to-any-file: cscore/**
'component: datalogtool':
- changed-files:
  - any-glob-to-any-file: datalogtool/**
'component: epilogue':
- changed-files:
  - any-glob-to-any-file: epilogue-*/**
'component: examples':
- changed-files:
  - any-glob-to-any-file: wpilib*Examples/**
'component: glass':
- changed-files:
  - any-glob-to-any-file: glass/**
'component: hal':
- changed-files:
  - any-glob-to-any-file: hal/**
'component: ntcore':
- changed-files:
  - any-glob-to-any-file: ntcore/**
'component: outlineviewer':
- changed-files:
  - any-glob-to-any-file: outlineviewer/**
'component: sysid':
- changed-files:
  - any-glob-to-any-file: sysid/**
'component: teamnumbersetter':
- changed-files:
  - any-glob-to-any-file: roborioteamnumbersetter/**
'component: wpilibc':
- changed-files:
  - any-glob-to-any-file: wpilibc/**
'component: wpilibj':
- changed-files:
  - any-glob-to-any-file: wpilibj/**
'component: wpimath':
- changed-files:
  - any-glob-to-any-file: wpimath/**
'component: wpinet':
- changed-files:
  - any-glob-to-any-file: wpinet/**
'component: wpiunits':
- changed-files:
  - any-glob-to-any-file: wpiunits/**
'component: wpiutil':
- changed-files:
  - any-glob-to-any-file: wpiutil/**
'component: wpical':
- changed-files:
  - any-glob-to-any-file: wpical/**
'component: usage reporting':
- changed-files:
  - any-glob-to-any-file: hal/src/generate/**
'attn: NI':
- changed-files:
  - any-glob-to-any-file: hal/src/generate/**

Suppress final osx warnings
  shared/bazel/compiler_flags/osx_flags.rc
Labels: none

berkeley software distribution
  fieldImages/src/main/java/edu/wpi/first/fields/IField.java
Labels: none

namespace Java Fields and remove default field
  fieldImages/src/main/java/edu/wpi/first/fields/FieldConfig.java
  fieldImages/src/main/java/edu/wpi/first/fields/Fields.java
  fieldImages/src/main/java/edu/wpi/first/fields/IField.java
  fieldImages/src/main/native/cpp/fields.cpp
  fieldImages/src/test/java/edu/wpi/first/fields/LoadConfigTest.java
  shared/bazel/rules/gen/gen_resources.py
  shared/resources.gradle
Labels: none

IField -> Field
  fieldImages/src/main/java/edu/wpi/first/fields/Field.java
  fieldImages/src/main/java/edu/wpi/first/fields/FieldConfig.java
  fieldImages/src/main/java/edu/wpi/first/fields/Fields.java
  fieldImages/src/test/java/edu/wpi/first/fields/LoadConfigTest.java
Labels: none

update glass default field to custom
  glass/src/lib/native/cpp/other/Field2D.cpp
Labels: component: glass

fix game names
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2018-powerup.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2019-deepspace.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2020-infiniterecharge.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2021-barrelracingpath.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2021-bouncepath.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2021-galacticsearcha.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2021-galacticsearchb.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2021-infiniterecharge.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2021-slalompath.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2022-rapidreact.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2023-chargedup.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2024-crescendo.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2025-reefscape.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/ftc/2024-2025-intothedeep.json
Labels: none

separate java resources and fix doc
  fieldImages/CMakeLists.txt
  fieldImages/src/main/java/edu/wpi/first/fields/Field.java
Labels: none

[wpilib] Add class to calculate robot resistance
  wpilibc/src/main/native/cpp/PowerDistribution.cpp
  wpilibc/src/main/native/cpp/ResistanceCalculator.cpp
  wpilibc/src/main/native/include/frc/PowerDistribution.h
  wpilibc/src/main/native/include/frc/ResistanceCalculator.h
  wpilibc/src/test/native/cpp/ResistanceCalculatorTest.cpp
  wpilibcExamples/src/main/cpp/examples/Resistance/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/examples.json
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PowerDistribution.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/ResistanceCalculator.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/ResistanceCalculatorTest.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/examples.json
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/resistance/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/resistance/Robot.java
Labels: component: examples, component: wpilibc, component: wpilibj

[cmd] Decrease default step voltage in SysIdRoutine command
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/sysid/SysIdRoutine.java
  wpilibNewCommands/src/main/native/include/frc2/command/sysid/SysIdRoutine.h
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/sysid/SysIdRoutineTest.java
  wpilibNewCommands/src/test/native/cpp/frc2/command/sysid/SysIdRoutineTest.cpp
Labels: component: command-based

[wpiutil] Use C++23 stacktrace library on Windows
  apriltag/CMakeLists.txt
  fieldImages/CMakeLists.txt
  ntcore/CMakeLists.txt
  ntcore/src/dev/native/cpp/main.cpp
  romiVendordep/CMakeLists.txt
  shared/config.gradle
  wpilibNewCommands/CMakeLists.txt
  wpimath/CMakeLists.txt
  wpinet/CMakeLists.txt
  wpiutil/CMakeLists.txt
  wpiutil/build.gradle
  wpiutil/src/main/native/cpp/StackTrace.cpp
  wpiutil/src/main/native/windows/StackTrace.cpp
  xrpVendordep/CMakeLists.txt
Labels: component: apriltag, component: command-based, component: ntcore, component: wpimath, component: wpinet, component: wpiutil

Update wpilibNewCommands/src/test/native/cpp/frc2/command/CommandSendableButtonTest.cpp
  wpilibNewCommands/src/test/native/cpp/frc2/command/CommandSendableButtonTest.cpp
Labels: component: command-based

More fixes
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/Command.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/button/Trigger.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/CommandPtr.h
  wpilibNewCommands/src/test/native/cpp/frc2/command/CommandSendableButtonTest.cpp
  wpilibcExamples/src/main/cpp/examples/DriveDistanceOffboard/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/HatchbotTraditional/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/MecanumControllerCommand/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/RapidReactCommandBot/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/SwerveControllerCommand/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/SysIdRoutine/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/templates/commandbased/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/templates/commandbasedskeleton/cpp/Robot.cpp
Labels: component: command-based, component: examples

[cmd] Deprecate Command.schedule() It's a footgun and syntactic sugar over the CommandScheduler's schedule method. We don't need syntactic sugar for a footgun.
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/Command.java
  wpilibNewCommands/src/main/native/include/frc2/command/Command.h
Labels: component: command-based

Replace most usages of schedule()
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/ProxyCommand.java
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/ScheduleCommand.java
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/button/Trigger.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/Command.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/ProxyCommand.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/ScheduleCommand.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/button/Trigger.cpp
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/CommandSendableButtonTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/ProxyCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/ScheduleCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/button/NetworkButtonTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/button/TriggerTest.java
  wpilibNewCommands/src/test/native/cpp/frc2/command/CommandSendableButtonTest.cpp
  wpilibcExamples/src/main/cpp/examples/DriveDistanceOffboard/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/HatchbotInlined/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/MecanumControllerCommand/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/RapidReactCommandBot/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/RomiReference/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/SelectCommand/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/SwerveControllerCommand/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/SysIdRoutine/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/XRPReference/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/templates/commandbased/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/templates/commandbasedskeleton/cpp/Robot.cpp
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/drivedistanceoffboard/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/hatchbotinlined/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/hatchbottraditional/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/mecanumcontrollercommand/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/rapidreactcommandbot/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/romireference/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/selectcommand/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervecontrollercommand/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/sysidroutine/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/xrpreference/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/commandbased/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/commandbasedskeleton/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/romicommandbased/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/xrpcommandbased/Robot.java
Labels: component: command-based, component: examples

Fix quickbuf on osx aarch64
  BUILD.bazel
  WORKSPACE
  shared/bazel/rules/BUILD.bazel
  wpimath/generate_quickbuf.py
Labels: component: wpimath

Universal binary maybe?
  shared/bazel/rules/cc_rules.bzl
Labels: none

Windows config
  WORKSPACE
  rules_cc_windows.patch
  shared/bazel/compiler_flags/linux_flags.rc
  shared/bazel/compiler_flags/windows_flags.rc
Labels: none

Windows should load now
  rules_cc_windows.patch
  shared/bazel/compiler_flags/windows_flags.rc
Labels: none

Get flags right for Windows
  rules_cc_windows.patch
  shared/bazel/compiler_flags/windows_flags.rc
Labels: none

Buildify again
  BUILD.bazel
Labels: none

Lint
  wpimath/generate_quickbuf.py
Labels: component: wpimath

Implement HAL_GetSystemTimeValid on SystemCore
  hal/src/main/native/systemcore/FRCDriverStation.cpp
  hal/src/main/native/systemcore/HAL.cpp
  hal/src/mrc/include/mrc/NtNetComm.h
Labels: component: hal

Format
  hal/src/main/native/systemcore/FRCDriverStation.cpp
Labels: component: hal

[bazel] Simple shared library implementation (#8044)
  apriltag/BUILD.bazel
  datalog/BUILD.bazel
  hal/BUILD.bazel
  ntcore/BUILD.bazel
  romiVendordep/BUILD.bazel
  shared/bazel/rules/cc_rules.bzl
  simulation/halsim_ds_socket/BUILD.bazel
  simulation/halsim_ws_core/BUILD.bazel
  simulation/halsim_ws_server/BUILD.bazel
  simulation/halsim_xrp/BUILD.bazel
  wpilibNewCommands/BUILD.bazel
  wpilibc/BUILD.bazel
  wpimath/BUILD.bazel
  wpinet/BUILD.bazel
  wpiutil/BUILD.bazel
  xrpVendordep/BUILD.bazel
Labels: component: apriltag, component: command-based, component: hal, component: ntcore, component: wpilibc, component: wpimath, component: wpinet, component: wpiutil

Do all the windows toolchains...
  rules_cc_windows.patch
Labels: none

Fix build error on Windows
  wpiutil/src/main/native/cpp/timestamp.cpp
Labels: component: wpiutil

Fix second file
  hal/src/main/native/sim/HAL.cpp
Labels: component: hal

Fix libuv
  wpinet/BUILD.bazel
Labels: component: wpinet

Compiles now
  wpinet/BUILD.bazel
Labels: component: wpinet

Fix analog scaling for updated image
  hal/src/main/native/systemcore/AnalogInput.cpp
Labels: component: hal

Fix warnings in windows tools
  shared/bazel/compiler_flags/windows_flags.rc
Labels: none

Do the 2 windows configuration transitions
  shared/bazel/rules/BUILD.bazel
  shared/bazel/rules/publishing.bzl
  wpiutil/BUILD.bazel
Labels: component: wpiutil

Build only for current windows architecture
  shared/bazel/rules/publishing.bzl
  wpiutil/BUILD.bazel
Labels: component: wpiutil

Make jni macro
  apriltag/BUILD.bazel
  datalog/BUILD.bazel
  hal/BUILD.bazel
  ntcore/BUILD.bazel
  shared/bazel/rules/jni_rules.bzl
  wpimath/BUILD.bazel
  wpinet/BUILD.bazel
  wpiutil/BUILD.bazel
Labels: component: apriltag, component: hal, component: ntcore, component: wpimath, component: wpinet, component: wpiutil

Make shared+static macro
  apriltag/BUILD.bazel
  datalog/BUILD.bazel
  hal/BUILD.bazel
  ntcore/BUILD.bazel
  romiVendordep/BUILD.bazel
  shared/bazel/rules/cc_rules.bzl
  wpilibNewCommands/BUILD.bazel
  wpilibc/BUILD.bazel
  wpinet/BUILD.bazel
  wpiutil/BUILD.bazel
  xrpVendordep/BUILD.bazel
Labels: component: apriltag, component: command-based, component: hal, component: ntcore, component: wpilibc, component: wpinet, component: wpiutil

Upgrade halextension macro
  shared/bazel/rules/cc_rules.bzl
  shared/bazel/rules/halsim_library.bzl
  simulation/halsim_ds_socket/BUILD.bazel
  simulation/halsim_ws_client/BUILD.bazel
  simulation/halsim_ws_core/BUILD.bazel
  simulation/halsim_ws_server/BUILD.bazel
  simulation/halsim_xrp/BUILD.bazel
Labels: none

Forgot wpimath
  wpimath/BUILD.bazel
Labels: component: wpimath

Simplify java source
  apriltag/BUILD.bazel
  epilogue-processor/BUILD.bazel
  fieldImages/BUILD.bazel
  ntcore/BUILD.bazel
  shared/bazel/rules/packaging.bzl
  wpilibNewCommands/BUILD.bazel
  wpilibj/BUILD.bazel
  wpimath/BUILD.bazel
  wpiunits/BUILD.bazel
  wpiutil/BUILD.bazel
Labels: component: apriltag, component: command-based, component: epilogue, component: ntcore, component: wpilibj, component: wpimath, component: wpiunits, component: wpiutil

lint
  apriltag/BUILD.bazel
  epilogue-processor/BUILD.bazel
  fieldImages/BUILD.bazel
  ntcore/BUILD.bazel
  shared/bazel/rules/packaging.bzl
  wpilibNewCommands/BUILD.bazel
  wpilibj/BUILD.bazel
  wpimath/BUILD.bazel
  wpiunits/BUILD.bazel
  wpiutil/BUILD.bazel
Labels: component: apriltag, component: command-based, component: epilogue, component: ntcore, component: wpilibj, component: wpimath, component: wpiunits, component: wpiutil

Use steady_clock directly instead of scaling it to start at system_clock
  wpiutil/src/main/native/cpp/timestamp.cpp
Labels: component: wpiutil
