Repository wpilibsuite/allwpilib, changes with the labels that .github/labeler.yml gives for each.
All labels: component: apriltag, component: command-based, component: cscore, component: datalogtool, component: epilogue, component: examples, component: glass, component: hal, component: ntcore, component: outlineviewer, component: sysid, component: teamnumbersetter, component: wpilibc, component: wpilibj, component: wpimath, component: wpinet, component: wpiunits, component: wpiutil, component: wpical, component: usage reporting, attn: NI

.github/labeler.yml:

'2027':
- base-branch: '2027'
'component: apriltag':
- changed-files:
  - any-glob-to-any-file: apriltag/**
'component: command-based':
- changed-files:
  - any-glob-to-any-file: wpilibNewCommands/**
'component: cscore':
- changed-files:
  - any-glob-to-any-file: cscore/**
'component: datalogtool':
- changed-files:
  - any-glob-to-any-file: datalogtool/**
'component: epilogue':
- changed-files:
  - any-glob-to-any-file: epilogue-*/**
'component: examples':
- changed-files:
  - any-glob-to-any-file: wpilib*Examples/**
'component: glass':
- changed-files:
  - any-glob-to-any-file: glass/**
'component: hal':
- changed-files:
  - any-glob-to-any-file: hal/**
'component: ntcore':
- changed-files:
  - any-glob-to-any-file: ntcore/**
'component: outlineviewer':
- changed-files:
  - any-glob-to-any-file: outlineviewer/**
'component: sysid':
- changed-files:
  - any-glob-to-any-file: sysid/**
'component: teamnumbersetter':
- changed-files:
  - any-glob-to-any-file: roborioteamnumbersetter/**
'component: wpilibc':
- changed-files:
  - any-glob-to-any-file: wpilibc/**
'component: wpilibj':
- changed-files:
  - any-glob-to-any-file: wpilibj/**
'component: wpimath':
- changed-files:
  - any-glob-to-any-file: wpimath/**
'component: wpinet':
- changed-files:
  - any-glob-to-any-file: wpinet/**
'component: wpiunits':
- changed-files:
  - any-glob-to-any-file: wpiunits/**
'component: wpiutil':
- changed-files:
  - any-glob-to-any-file: wpiutil/**
'component: wpical':
- changed-files:
  - any-glob-to-any-file: wpical/**
'component: usage reporting':
- changed-files:
  - any-glob-to-any-file: hal/src/generate/**
'attn: NI':
- changed-files:
  - any-glob-to-any-file: hal/src/generate/**

[bazel] Switch build tag filters from no-roborio to target_compatible_with (#8067)
  datalogtool/BUILD.bazel
  shared/bazel/compiler_flags/roborio_flags.rc
Labels: component: datalogtool

[bazel] Update bazel toolchain, libssh, opencv
  BUILD.bazel
  WORKSPACE
Labels: none

[docs] Add information about the development process (NFC) (#8012)
  CONTRIBUTING.md
Labels: none

fixed warning suppression
  wpilibj/src/main/java/edu/wpi/first/wpilibj/AddressableLEDBuffer.java
Labels: component: wpilibj

[bazel] Update bazel toolchain, libssh, opencv (#8075)
  BUILD.bazel
  WORKSPACE
Labels: none

Add frequency support to DutyCycle
  hal/src/main/java/edu/wpi/first/hal/DutyCycleJNI.java
  hal/src/main/java/edu/wpi/first/hal/simulation/DutyCycleDataJNI.java
  hal/src/main/native/cpp/jni/DutyCycleJNI.cpp
  hal/src/main/native/cpp/jni/simulation/DutyCycleDataJNI.cpp
  hal/src/main/native/include/hal/DutyCycle.h
  hal/src/main/native/include/hal/simulation/DutyCycleData.h
  hal/src/main/native/sim/DutyCycle.cpp
  hal/src/main/native/sim/PortsInternal.h
  hal/src/main/native/sim/mockdata/DutyCycleData.cpp
  hal/src/main/native/sim/mockdata/DutyCycleDataInternal.h
  hal/src/main/native/systemcore/DutyCycle.cpp
  hal/src/main/native/systemcore/SmartIo.cpp
  hal/src/main/native/systemcore/SmartIo.h
  hal/src/main/native/systemcore/mockdata/DutyCycleData.cpp
  wpilibc/src/main/native/cpp/DutyCycle.cpp
  wpilibc/src/main/native/cpp/DutyCycleEncoder.cpp
  wpilibc/src/main/native/cpp/simulation/DutyCycleSim.cpp
  wpilibc/src/main/native/include/frc/DutyCycle.h
  wpilibc/src/main/native/include/frc/DutyCycleEncoder.h
  wpilibc/src/main/native/include/frc/simulation/DutyCycleSim.h
  wpilibc/src/test/native/cpp/simulation/DutyCycleSimTest.cpp
  wpilibc/src/test/native/cpp/simulation/SimInitializationTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DutyCycle.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DutyCycleEncoder.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/DutyCycleSim.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/DutyCycleSimTest.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/dutycycleencoder/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/dutycycleinput/Robot.java
Labels: component: examples, component: hal, component: wpilibc, component: wpilibj

Build fix
  wpilibcExamples/src/main/cpp/examples/DutyCycleEncoder/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/DutyCycleInput/cpp/Robot.cpp
Labels: component: examples

Another fix
  simulation/halsim_gui/src/main/native/cpp/DIOSimGui.cpp
Labels: none

Some formatting
  hal/src/main/native/sim/DutyCycle.cpp
  wpilibc/src/main/native/include/frc/DutyCycleEncoder.h
Labels: component: hal, component: wpilibc

Another fix
  hal/src/main/native/sim/DutyCycle.cpp
Labels: component: hal

Update fmt lib to recent commit
  upstream_utils/fmt.py
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/args.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/base.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/chrono.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/color.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/compile.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/format-inl.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/format.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/ostream.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/ranges.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/std.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/xchar.h
  wpiutil/src/main/native/thirdparty/fmtlib/src/os.cpp
Labels: component: wpiutil

Add comment for commit hash
  upstream_utils/fmt.py
Labels: none

[upstream_utils] Add timestamps to commit hashes
  upstream_utils/apriltag.py
  upstream_utils/gl3w.py
  upstream_utils/glfw.py
  upstream_utils/imgui.py
  upstream_utils/implot.py
  upstream_utils/libdogleg.py
  upstream_utils/mrcal.py
  upstream_utils/mrcal_java.py
  upstream_utils/stb.py
Labels: none

[upstream_utils] Update fmt to recent commit (#8077)
  upstream_utils/fmt.py
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/args.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/base.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/chrono.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/color.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/compile.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/format-inl.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/format.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/ostream.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/ranges.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/std.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/xchar.h
  wpiutil/src/main/native/thirdparty/fmtlib/src/os.cpp
Labels: component: wpiutil

[upstream_utils] Add timestamps to commit hashes (#8078)
  upstream_utils/apriltag.py
  upstream_utils/gl3w.py
  upstream_utils/glfw.py
  upstream_utils/imgui.py
  upstream_utils/implot.py
  upstream_utils/libdogleg.py
  upstream_utils/mrcal.py
  upstream_utils/mrcal_java.py
  upstream_utils/stb.py
Labels: none

Make processstarter handle Elastic and AdvantageScope
  processstarter/src/main/native/linux/main.cpp
  processstarter/src/main/native/linux/main.h
  processstarter/src/main/native/osx/main.h
  processstarter/src/main/native/osx/main.mm
  processstarter/src/main/native/windows/main.cpp
  processstarter/src/main/native/windows/main.h
Labels: none

[bazel] Fix docker builds
  .github/workflows/bazel.yml
Labels: none

Try again
  .github/workflows/bazel.yml
Labels: none

Try again
  .github/workflows/bazel.yml
Labels: none

Remove unused files
  libssh.patch
  opencv.patch
Labels: none

One less patch
  WORKSPACE
  apple_support.patch
Labels: none

Update .github/workflows/bazel.yml
  .github/workflows/bazel.yml
Labels: none

[wpiutil] Enable priority_mutex for systemcore (#8071)
  wpiutil/src/main/native/include/wpi/priority_mutex.h
Labels: component: wpiutil

Fix
  .github/workflows/bazel.yml
Labels: none

Revert "[bazel] Set remote cache header to prevent redirects (#8065)"
  .bazelrc
  .github/actions/setup-artifactory-bazel/action.yml
Labels: none

Revert "[ci] Add Bazel caching (#8006)"
  .bazelrc
  .github/actions/setup-artifactory-bazel/action.yml
  .github/actions/setup-build-buddy/action.yml
  .github/workflows/aql/wpilib-generic-gradle-cache_unused.aql
  .github/workflows/bazel.yml
Labels: none

Disambiguate HID Sendable names
  wpilibc/src/generate/main/native/cpp/hid.cpp.jinja
  wpilibc/src/generated/main/native/cpp/PS4Controller.cpp
  wpilibc/src/generated/main/native/cpp/PS5Controller.cpp
  wpilibc/src/generated/main/native/cpp/XboxController.cpp
  wpilibj/src/generate/main/java/hid.java.jinja
  wpilibj/src/generated/main/java/edu/wpi/first/wpilibj/PS4Controller.java
  wpilibj/src/generated/main/java/edu/wpi/first/wpilibj/PS5Controller.java
  wpilibj/src/generated/main/java/edu/wpi/first/wpilibj/XboxController.java
Labels: component: wpilibc, component: wpilibj

fix indentation
  wpilibc/src/main/native/include/frc/simulation/SingleJointedArmSim.h
Labels: component: wpilibc

Remove DS Data timeout
  hal/src/main/native/systemcore/FRCDriverStation.cpp
Labels: component: hal

Revert "[bazel] Set remote cache header to prevent redirects (#8065)"
  .bazelrc
  .github/actions/setup-artifactory-bazel/action.yml
Labels: none

Revert "[ci] Add Bazel caching (#8006)"
  .bazelrc
  .github/actions/setup-artifactory-bazel/action.yml
  .github/actions/setup-build-buddy/action.yml
  .github/workflows/aql/wpilib-generic-gradle-cache_unused.aql
  .github/workflows/bazel.yml
Labels: none

Fix apple_support
  WORKSPACE
Labels: none

[doc] Update Analog Input voltage to 3.3v (NFC)
  hal/src/main/java/edu/wpi/first/hal/AnalogJNI.java
  hal/src/main/native/include/hal/AnalogInput.h
  wpilibc/src/main/native/include/frc/AnalogInput.h
  wpilibc/src/main/native/include/frc/AnalogPotentiometer.h
  wpilibcExamples/src/test/cpp/examples/PotentiometerPID/cpp/PotentiometerPIDTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/AnalogInput.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/AnalogPotentiometer.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/AnalogPotentiometerTest.java
  wpilibjExamples/src/test/java/edu/wpi/first/wpilibj/examples/potentiometerpid/PotentiometerPIDTest.java
Labels: component: examples, component: hal, component: wpilibc, component: wpilibj

consistent formula
  wpimath/src/main/java/edu/wpi/first/math/util/Units.java
Labels: component: wpimath

Filter works
  .bazelrc
  WORKSPACE
  rules_jvm_external.patch
  shared/bazel/rules/publishing.bzl
  wpiutil/BUILD.bazel
Labels: component: wpiutil

Add missing file
  shared/bazel/rules/publishing_rule.bzl
Labels: none

Remove unused version file
  version.bzl
Labels: none

Use more generic version
  .bazelrc
Labels: none

Java implementation
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/button/TriggerGroup.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/button/TriggerGroupTest.java
Labels: component: command-based

Add Snippets for Accelerometers using OnboardIMU
  shared/examplecheck.gradle
  wpilibcExamples/src/main/cpp/snippets/ADXLAccelerometers/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/snippets/AccelerometerCollision/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/snippets/AccelerometerFilter/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/snippets/OnboardIMU/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/snippets/snippets.json
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/accelerometercollision/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/accelerometercollision/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/accelerometerfilter/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/accelerometerfilter/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/adxlaccelerometers/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/adxlaccelerometers/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/onboardimu/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/onboardimu/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/snippets.json
Labels: component: examples
