Repository wpilibsuite/allwpilib, changes with the labels that .github/labeler.yml gives for each.
All labels: component: apriltag, component: command-based, component: cscore, component: datalogtool, component: epilogue, component: examples, component: glass, component: hal, component: ntcore, component: outlineviewer, component: sysid, component: teamnumbersetter, component: wpilibc, component: wpilibj, component: wpimath, component: wpinet, component: wpiunits, component: wpiutil, component: wpical, component: usage reporting, attn: NI

.github/labeler.yml:

'2027':
- base-branch: '2027'
'component: apriltag':
- changed-files:
  - any-glob-to-any-file: apriltag/**
'component: command-based':
- changed-files:
  - any-glob-to-any-file: wpilibNewCommands/**
'component: cscore':
- changed-files:
  - any-glob-to-any-file: cscore/**
'component: datalogtool':
- changed-files:
  - any-glob-to-any-file: datalogtool/**
'component: epilogue':
- changed-files:
  - any-glob-to-any-file: epilogue-*/**
'component: examples':
- changed-files:
  - any-glob-to-any-file: wpilib*Examples/**
'component: glass':
- changed-files:
  - any-glob-to-any-file: glass/**
'component: hal':
- changed-files:
  - any-glob-to-any-file: hal/**
'component: ntcore':
- changed-files:
  - any-glob-to-any-file: ntcore/**
'component: outlineviewer':
- changed-files:
  - any-glob-to-any-file: outlineviewer/**
'component: sysid':
- changed-files:
  - any-glob-to-any-file: sysid/**
'component: teamnumbersetter':
- changed-files:
  - any-glob-to-any-file: roborioteamnumbersetter/**
'component: wpilibc':
- changed-files:
  - any-glob-to-any-file: wpilibc/**
'component: wpilibj':
- changed-files:
  - any-glob-to-any-file: wpilibj/**
'component: wpimath':
- changed-files:
  - any-glob-to-any-file: wpimath/**
'component: wpinet':
- changed-files:
  - any-glob-to-any-file: wpinet/**
'component: wpiunits':
- changed-files:
  - any-glob-to-any-file: wpiunits/**
'component: wpiutil':
- changed-files:
  - any-glob-to-any-file: wpiutil/**
'component: wpical':
- changed-files:
  - any-glob-to-any-file: wpical/**
'component: usage reporting':
- changed-files:
  - any-glob-to-any-file: hal/src/generate/**
'attn: NI':
- changed-files:
  - any-glob-to-any-file: hal/src/generate/**

update glass default field to custom
  glass/src/lib/native/cpp/other/Field2D.cpp
Labels: component: glass

IField -> Field
  fieldImages/src/main/java/edu/wpi/first/fields/Field.java
  fieldImages/src/main/java/edu/wpi/first/fields/FieldConfig.java
  fieldImages/src/main/java/edu/wpi/first/fields/Fields.java
  fieldImages/src/test/java/edu/wpi/first/fields/LoadConfigTest.java
Labels: none

make m_resourceFile private
  fieldImages/src/main/java/edu/wpi/first/fields/Fields.java
Labels: none

fix game names
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2018-powerup.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2019-deepspace.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2020-infiniterecharge.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2021-barrelracingpath.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2021-bouncepath.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2021-galacticsearcha.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2021-galacticsearchb.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2021-infiniterecharge.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2021-slalompath.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2022-rapidreact.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2023-chargedup.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2024-crescendo.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/frc/2025-reefscape.json
  fieldImages/src/main/native/resources/edu/wpi/first/fields/ftc/2024-2025-intothedeep.json
Labels: none

separate java resources and fix doc
  fieldImages/CMakeLists.txt
  fieldImages/src/main/java/edu/wpi/first/fields/Field.java
Labels: none

Update .bazelrc
  .bazelrc
Labels: none

Update README per PJ, and remove the redundant build.
  .github/workflows/bazel.yml
  README-Bazel.md
Labels: none

Remove duplicate --config=linux and --config=osx
  .github/workflows/bazel.yml
Labels: none

Comments from PJ
  WORKSPACE
  shared/bazel/compiler_flags/base_linux_flags.rc
Labels: none

cpp implementation, bug fixes
  wpilibNewCommands/src/main/native/cpp/frc2/command/button/TriggerGroup.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/button/TriggerGroup.h
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/button/TriggerGroupTest.java
  wpilibNewCommands/src/test/native/cpp/frc2/command/button/TriggerGroupTest.cpp
Labels: component: command-based

Removed comment
  wpilibNewCommands/src/main/native/cpp/frc2/command/button/TriggerGroup.cpp
Labels: component: command-based

Formatted
  wpilibNewCommands/src/main/native/cpp/frc2/command/button/TriggerGroup.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/button/TriggerGroup.h
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/button/TriggerGroupTest.java
  wpilibNewCommands/src/test/native/cpp/frc2/command/button/TriggerGroupTest.cpp
Labels: component: command-based

[bazel] Set readonly api when building pull requests
  .github/actions/setup-build-buddy/action.yml
  README-Bazel.md
Labels: none

lint
  .github/actions/setup-build-buddy/action.yml
  README-Bazel.md
Labels: none

Update all workflows to use JDK 21 and temurin
  .github/workflows/bazel.yml
  .github/workflows/cmake-android.yml
  .github/workflows/sentinel-build.yml
Labels: none

[bazel] Set readonly api when building pull requests (#8094)
  .github/actions/setup-build-buddy/action.yml
  README-Bazel.md
Labels: none

Add reset() method to Debouncer, java only.
  wpimath/src/main/java/edu/wpi/first/math/filter/Debouncer.java
Labels: component: wpimath

Add reset test to DebouncerTest.java
  wpimath/src/test/java/edu/wpi/first/math/filter/DebouncerTest.java
Labels: component: wpimath

Remove trailing spaces on newline
  wpimath/src/test/java/edu/wpi/first/math/filter/DebouncerTest.java
Labels: component: wpimath
