Repository wpilibsuite/allwpilib, pull requests merged in 2018-06, with the labels that each got.

#1126 ntcore: Fix C API polling array returns.
  ntcore/src/main/native/cpp/ntcore_c.cpp
Labels: component: ntcore

#1128 Import MapVector from LLVM.
  wpiutil/.styleguide
  wpiutil/src/main/native/include/wpi/MapVector.h
Labels: component: wpiutil

#1127 Solves some safety issues with RPCs
  ntcore/src/main/java/edu/wpi/first/networktables/NetworkTableInstance.java
  ntcore/src/main/java/edu/wpi/first/networktables/NetworkTablesJNI.java
  ntcore/src/main/java/edu/wpi/first/networktables/RpcAnswer.java
  ntcore/src/main/native/cpp/RpcServer.cpp
  ntcore/src/main/native/cpp/RpcServer.h
  ntcore/src/main/native/cpp/jni/NetworkTablesJNI.cpp
  ntcore/src/main/native/cpp/ntcore_c.cpp
  ntcore/src/main/native/cpp/ntcore_cpp.cpp
  ntcore/src/main/native/include/ntcore_c.h
  ntcore/src/main/native/include/ntcore_cpp.h
Labels: component: ntcore

#1081 Uses new CAN API for PDP
  hal/src/main/java/edu/wpi/first/wpilibj/hal/PDPJNI.java
  hal/src/main/native/athena/PDP.cpp
  hal/src/main/native/athena/ctre/PDP.cpp
  hal/src/main/native/athena/ctre/PDP.h
  hal/src/main/native/cpp/jni/PDPJNI.cpp
  hal/src/main/native/include/HAL/PDP.h
  hal/src/main/native/include/HAL/Types.h
  hal/src/main/native/sim/CANAPI.cpp
  hal/src/main/native/sim/CANAPIInternal.h
  hal/src/main/native/sim/PDP.cpp
  wpilibc/src/main/native/cpp/PowerDistributionPanel.cpp
  wpilibc/src/main/native/include/PowerDistributionPanel.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PowerDistributionPanel.java
Labels: component: hal

#1120 JUnit 5 Tests
  cscore/src/test/java/edu/wpi/cscore/JNITest.java
  hal/src/test/java/edu/wpi/first/hal/sim/AccelerometerSimTest.java
  ntcore/src/test/java/edu/wpi/first/networktables/ConnectionListenerTest.java
  ntcore/src/test/java/edu/wpi/first/networktables/EntryListenerTest.java
  ntcore/src/test/java/edu/wpi/first/networktables/JNITest.java
  ntcore/src/test/java/edu/wpi/first/networktables/LoggerTest.java
  ntcore/src/test/java/edu/wpi/first/networktables/NetworkTableTest.java
  shared/java/javacommon.gradle
  styleguide/pmd-ruleset.xml
  wpilibj/build.gradle
  wpilibj/src/test/java/edu/wpi/first/wpilibj/CircularBufferTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/PIDToleranceTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/RobotControllerTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/SpeedControllerGroupTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/UnitTestUtility.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/UtilityClassTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/can/CANStatusTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/command/AbstractCommandTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/command/ButtonTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/command/CommandParallelGroupTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/command/CommandScheduleTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/command/CommandSequentialGroupTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/command/CommandSupersedeTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/command/CommandTimeoutTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/command/ConditionalCommandTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/command/DefaultCommandTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/command/MockCommand.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/hal/JNITest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/hal/MatchInfoDataTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/livewindow/LiveWindowTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/sim/AnalogInputSimTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/sim/AnalogOutputSimTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/smartdashboard/SmartDashboardTest.java
  wpilibjIntegrationTests/build.gradle
Labels: component: cscore, component: ntcore, component: wpilibj

#1113 Fixes projects having different version numbers
  build.gradle
  ni-libraries/publish.gradle
  shared/java/javacommon.gradle
  shared/javacpp/publish.gradle
  shared/jni/publish.gradle
  shared/plugins/publish.gradle
  wpilibc/publish.gradle
  wpilibcExamples/publish.gradle
  wpilibjExamples/publish.gradle
Labels: Ready For Review

#615 Replaced globalError in ErrorBase with a global set of all errors
  wpilibc/src/main/native/cpp/Error.cpp
  wpilibc/src/main/native/cpp/ErrorBase.cpp
  wpilibc/src/main/native/include/Error.h
  wpilibc/src/main/native/include/ErrorBase.h
Labels: component: wpilibc

#1162 Twine: Make isNull() public.
  wpiutil/src/main/native/include/wpi/Twine.h
Labels: component: wpiutil

#73 Cleaned up Command container iteration code
  wpilibc/src/main/native/cpp/Commands/Command.cpp
  wpilibc/src/main/native/cpp/Commands/CommandGroup.cpp
  wpilibc/src/main/native/cpp/Commands/Scheduler.cpp
  wpilibc/src/main/native/cpp/Commands/Subsystem.cpp
  wpilibc/src/main/native/include/Commands/Command.h
  wpilibc/src/main/native/include/Commands/CommandGroup.h
  wpilibc/src/main/native/include/Commands/Scheduler.h
  wpilibcIntegrationTests/src/main/native/cpp/command/CommandTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/command/Subsystem.java
Labels: component: wpilibc, component: wpilibj

#781 Added loop timing to IterativeRobot and TimedRobot
  wpilibc/src/main/native/cpp/IterativeRobot.cpp
  wpilibc/src/main/native/cpp/IterativeRobotBase.cpp
  wpilibc/src/main/native/cpp/TimedRobot.cpp
  wpilibc/src/main/native/cpp/Watchdog.cpp
  wpilibc/src/main/native/include/IterativeRobotBase.h
  wpilibc/src/main/native/include/TimedRobot.h
  wpilibc/src/main/native/include/Watchdog.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/IterativeRobot.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/IterativeRobotBase.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/TimedRobot.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Watchdog.java
Labels: component: wpilibc, component: wpilibj

#1163 wpiutil: Add a signal-slot implementation.
  wpiutil/.styleguide
  wpiutil/src/main/native/include/wpi/Signal.h
  wpiutil/src/test/native/cpp/sigslot/function-traits.cpp
  wpiutil/src/test/native/cpp/sigslot/recursive.cpp
  wpiutil/src/test/native/cpp/sigslot/signal-extended.cpp
  wpiutil/src/test/native/cpp/sigslot/signal-threaded.cpp
  wpiutil/src/test/native/cpp/sigslot/signal-tracking.cpp
  wpiutil/src/test/native/cpp/sigslot/signal.cpp
Labels: Ready For Review, component: wpiutil

#1169 libuv: Silence cast-function-type warning on GCC 8.
  wpiutil/src/main/native/libuv/unix/thread.cpp
Labels: component: wpiutil

#1063 Large pull request to bring back the gazebo plugins
  .gitignore
  .styleguide
  hal/src/main/native/include/MockData/EncoderData.h
  hal/src/main/native/sim/Encoder.cpp
  hal/src/main/native/sim/MockData/EncoderData.cpp
  hal/src/main/native/sim/MockData/EncoderDataInternal.h
  settings.gradle
  simulation/frc_gazebo_plugins/README.md
  simulation/frc_gazebo_plugins/build.gradle
  simulation/frc_gazebo_plugins/frc_gazebo_plugins.doxy
  simulation/frc_gazebo_plugins/scripts/frcgazebo
  simulation/frc_gazebo_plugins/src/clock/cpp/clock.cpp
  simulation/frc_gazebo_plugins/src/clock/headers/clock.h
  simulation/frc_gazebo_plugins/src/clockTest/cpp/clockTest.cpp
  simulation/frc_gazebo_plugins/src/clockTest/world/clockTest.world
  simulation/frc_gazebo_plugins/src/dc_motor/cpp/dc_motor.cpp
  simulation/frc_gazebo_plugins/src/dc_motor/headers/dc_motor.h
  simulation/frc_gazebo_plugins/src/drive_motor/cpp/drive_motor.cpp
  simulation/frc_gazebo_plugins/src/drive_motor/headers/drive_motor.h
  simulation/frc_gazebo_plugins/src/encoder/cpp/encoder.cpp
  simulation/frc_gazebo_plugins/src/encoder/headers/encoder.h
  simulation/frc_gazebo_plugins/src/gyro/cpp/gyro.cpp
  simulation/frc_gazebo_plugins/src/gyro/headers/gyro.h
  simulation/frc_gazebo_plugins/src/limit_switch/cpp/external_limit_switch.cpp
  simulation/frc_gazebo_plugins/src/limit_switch/cpp/internal_limit_switch.cpp
  simulation/frc_gazebo_plugins/src/limit_switch/cpp/limit_switch.cpp
  simulation/frc_gazebo_plugins/src/limit_switch/headers/external_limit_switch.h
  simulation/frc_gazebo_plugins/src/limit_switch/headers/internal_limit_switch.h
  simulation/frc_gazebo_plugins/src/limit_switch/headers/limit_switch.h
  simulation/frc_gazebo_plugins/src/limit_switch/headers/switch.h
  simulation/frc_gazebo_plugins/src/pneumatic_piston/cpp/pneumatic_piston.cpp
  simulation/frc_gazebo_plugins/src/pneumatic_piston/headers/pneumatic_piston.h
  simulation/frc_gazebo_plugins/src/potentiometer/cpp/potentiometer.cpp
  simulation/frc_gazebo_plugins/src/potentiometer/headers/potentiometer.h
  simulation/frc_gazebo_plugins/src/rangefinder/cpp/rangefinder.cpp
  simulation/frc_gazebo_plugins/src/rangefinder/headers/rangefinder.h
  simulation/frc_gazebo_plugins/src/servo/cpp/servo.cpp
  simulation/frc_gazebo_plugins/src/servo/headers/servo.h
  simulation/gz_msgs/README.md
  simulation/gz_msgs/build.gradle
  simulation/gz_msgs/src/include/simulation/gz_msgs/msgs.h
  simulation/gz_msgs/src/main/proto/bool.proto
  simulation/gz_msgs/src/main/proto/driver-station.proto
  simulation/gz_msgs/src/main/proto/float64.proto
  simulation/gz_msgs/src/main/proto/frc_joystick.proto
  simulation/halsim_gazebo/build.gradle
  simulation/halsim_gazebo/src/halsim_gazebo/cpp/GazeboAnalogIn.cpp
  simulation/halsim_gazebo/src/halsim_gazebo/cpp/GazeboDIO.cpp
  simulation/halsim_gazebo/src/halsim_gazebo/cpp/GazeboEncoder.cpp
  simulation/halsim_gazebo/src/halsim_gazebo/cpp/GazeboNode.cpp
  simulation/halsim_gazebo/src/halsim_gazebo/cpp/GazeboPCM.cpp
  simulation/halsim_gazebo/src/halsim_gazebo/cpp/GazeboPWM.cpp
  simulation/halsim_gazebo/src/halsim_gazebo/cpp/main.cpp
  simulation/halsim_gazebo/src/halsim_gazebo/headers/GazeboAnalogIn.h
  simulation/halsim_gazebo/src/halsim_gazebo/headers/GazeboDIO.h
  simulation/halsim_gazebo/src/halsim_gazebo/headers/GazeboEncoder.h
  simulation/halsim_gazebo/src/halsim_gazebo/headers/GazeboNode.h
  simulation/halsim_gazebo/src/halsim_gazebo/headers/GazeboPCM.h
  simulation/halsim_gazebo/src/halsim_gazebo/headers/GazeboPWM.h
  simulation/halsim_gazebo/src/halsim_gazebo/headers/HALSimGazebo.h
Labels: os: simulation
