Repository wpilibsuite/allwpilib, pull requests merged in 2018-11, with the labels that each got.

#1401 Don't use static for raw_ostream outs/errs
  wpiutil/src/main/native/cpp/llvm/raw_ostream.cpp
Labels: component: wpiutil

#1405 NetworkListener: use Pimpl idiom
  cscore/src/main/native/cpp/NetworkListener.h
  cscore/src/main/native/linux/NetworkListener.cpp
  cscore/src/main/native/osx/NetworkListener.cpp
  cscore/src/main/native/windows/NetworkListener.cpp
Labels: component: cscore

#1409 libuv: Use WPI (FPGA) clock on roboRio
  wpiutil/src/main/native/libuv/unix/linux-core.cpp
Labels: component: wpiutil

#1412 CameraServer: Change opencv sources to publish "cv:" type
  cameraserver/src/main/java/edu/wpi/first/cameraserver/CameraServer.java
  cameraserver/src/main/native/cpp/cameraserver/CameraServer.cpp
Labels: component: cscore

#1421 cscore: Build examples on Windows
  cscore/build.gradle
Labels: component: cscore

#1423 cscore: Add JSON for source settings
  cscore/src/main/java/edu/wpi/cscore/CameraServerJNI.java
  cscore/src/main/java/edu/wpi/cscore/VideoSource.java
  cscore/src/main/native/cpp/MjpegServerImpl.cpp
  cscore/src/main/native/cpp/SourceImpl.cpp
  cscore/src/main/native/cpp/SourceImpl.h
  cscore/src/main/native/cpp/cscore_c.cpp
  cscore/src/main/native/cpp/cscore_cpp.cpp
  cscore/src/main/native/cpp/cscore_oo.cpp
  cscore/src/main/native/cpp/jni/CameraServerJNI.cpp
  cscore/src/main/native/include/cscore_c.h
  cscore/src/main/native/include/cscore_cpp.h
  cscore/src/main/native/include/cscore_oo.h
  cscore/src/main/native/include/cscore_oo.inl
  wpiutil/src/main/native/include/wpi/Logger.h
Labels: component: cscore

#1390 Add support for USB Webcams on Windows
  build.gradle
  cscore/build.gradle
  cscore/src/main/native/include/cscore_c.h
  cscore/src/main/native/include/cscore_cpp.h
  cscore/src/main/native/windows/COMCreators.cpp
  cscore/src/main/native/windows/COMCreators.h
  cscore/src/main/native/windows/ComPtr.h
  cscore/src/main/native/windows/NetworkListener.cpp
  cscore/src/main/native/windows/NetworkUtil.cpp
  cscore/src/main/native/windows/UsbCameraImpl.cpp
  cscore/src/main/native/windows/UsbCameraImpl.h
  cscore/src/main/native/windows/UsbCameraProperty.cpp
  cscore/src/main/native/windows/UsbCameraProperty.h
  cscore/src/main/native/windows/WindowsMessagePump.cpp
  cscore/src/main/native/windows/WindowsMessagePump.h
  shared/jni/setupBuild.gradle
Labels: component: cscore

#1414 Add mechanism to control Shuffleboard recordings and add event markers
  wpilibc/src/main/native/cpp/shuffleboard/RecordingController.cpp
  wpilibc/src/main/native/cpp/shuffleboard/Shuffleboard.cpp
  wpilibc/src/main/native/include/frc/shuffleboard/RecordingController.h
  wpilibc/src/main/native/include/frc/shuffleboard/Shuffleboard.h
  wpilibc/src/main/native/include/frc/shuffleboard/ShuffleboardEventImportance.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/shuffleboard/EventImportance.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/shuffleboard/RecordingController.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/shuffleboard/Shuffleboard.java
Labels: component: wpilibc, component: wpilibj, needs review

#1434 wpiutil: uv::Process: Revamp args/options approach
  wpiutil/src/main/native/cpp/uv/Process.cpp
  wpiutil/src/main/native/include/wpi/uv/Process.h
Labels: component: wpiutil

#562 Moved most of MotorSafety implementation into MotorSafety base class and removed MotorSafetyHelper class
  wpilibc/src/main/native/cpp/DriverStation.cpp
  wpilibc/src/main/native/cpp/MotorSafety.cpp
  wpilibc/src/main/native/cpp/NidecBrushless.cpp
  wpilibc/src/main/native/cpp/PWM.cpp
  wpilibc/src/main/native/cpp/PWMSpeedController.cpp
  wpilibc/src/main/native/cpp/Relay.cpp
  wpilibc/src/main/native/cpp/RobotDrive.cpp
  wpilibc/src/main/native/cpp/SafePWM.cpp
  wpilibc/src/main/native/cpp/Servo.cpp
  wpilibc/src/main/native/cpp/drive/DifferentialDrive.cpp
  wpilibc/src/main/native/cpp/drive/KilloughDrive.cpp
  wpilibc/src/main/native/cpp/drive/MecanumDrive.cpp
  wpilibc/src/main/native/cpp/drive/RobotDriveBase.cpp
  wpilibc/src/main/native/include/MotorSafetyHelper.h
  wpilibc/src/main/native/include/SafePWM.h
  wpilibc/src/main/native/include/frc/MotorSafety.h
  wpilibc/src/main/native/include/frc/MotorSafetyHelper.h
  wpilibc/src/main/native/include/frc/NidecBrushless.h
  wpilibc/src/main/native/include/frc/PWM.h
  wpilibc/src/main/native/include/frc/PWMSpeedController.h
  wpilibc/src/main/native/include/frc/Relay.h
  wpilibc/src/main/native/include/frc/RobotDrive.h
  wpilibc/src/main/native/include/frc/SafePWM.h
  wpilibc/src/main/native/include/frc/Servo.h
  wpilibc/src/main/native/include/frc/drive/RobotDriveBase.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DriverStation.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/MotorSafety.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/MotorSafetyHelper.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/NidecBrushless.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PWM.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PWMSpeedController.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Relay.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/RobotDrive.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/SafePWM.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/SendableImpl.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/drive/DifferentialDrive.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/drive/KilloughDrive.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/drive/MecanumDrive.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/drive/RobotDriveBase.java
Labels: component: wpilibc, component: wpilibj

#1447 Add eager null checks in drive base classes
  wpilibj/src/main/java/edu/wpi/first/wpilibj/drive/DifferentialDrive.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/drive/KilloughDrive.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/drive/MecanumDrive.java
Labels: component: wpilibj

#1448 Add methods to change the selected tab in the Shuffleboard app
  wpilibc/src/main/native/cpp/shuffleboard/Shuffleboard.cpp
  wpilibc/src/main/native/cpp/shuffleboard/ShuffleboardInstance.cpp
  wpilibc/src/main/native/include/frc/shuffleboard/Shuffleboard.h
  wpilibc/src/main/native/include/frc/shuffleboard/ShuffleboardInstance.h
  wpilibc/src/main/native/include/frc/shuffleboard/ShuffleboardRoot.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/shuffleboard/Shuffleboard.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/shuffleboard/ShuffleboardInstance.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/shuffleboard/ShuffleboardRoot.java
Labels: component: wpilibc, component: wpilibj, type: enhancement
