Repository wpilibsuite/allwpilib, pull requests merged in 2018-10, with the labels that each got.

#1341 Deprecate IterativeRobot in favor of TimedRobot
  wpilibc/src/main/native/include/frc/IterativeRobot.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/IterativeRobot.java
Labels: component: wpilibc, component: wpilibj

#1355 SafeThread: Avoid use-after-free risk in thread shutdown
  cscore/src/main/native/cpp/MjpegServerImpl.cpp
  cscore/src/main/native/cpp/Notifier.cpp
  cscore/src/main/native/cpp/Telemetry.cpp
  ntcore/src/main/native/cpp/CallbackManager.h
  ntcore/src/main/native/cpp/DsClient.cpp
  wpiutil/src/main/native/cpp/EventLoopRunner.cpp
  wpiutil/src/main/native/cpp/SafeThread.cpp
  wpiutil/src/main/native/include/wpi/SafeThread.h
Labels: component: wpiutil

#1357 wpiutil: SafeThread: join on thread exit
  wpiutil/src/main/native/cpp/SafeThread.cpp
  wpiutil/src/main/native/include/wpi/SafeThread.h
  wpiutil/src/main/native/include/wpi/jni_util.h
Labels: component: wpiutil

#1358 wpiutil: SafeThread: Ensure thread is released in destructor
  wpiutil/src/main/native/cpp/SafeThread.cpp
Labels: component: wpiutil

#1372 wpiutil: uv: Don't close uninitialized handles
  wpiutil/src/main/native/cpp/uv/Handle.cpp
Labels: component: wpiutil

#1371 wpiutil: Signal: Don't use std::forward when calling
  wpiutil/src/main/native/include/wpi/Signal.h
Labels: component: wpiutil

#1387 cscore: Separate platform-specific sources
  cscore/.styleguide
  cscore/CMakeLists.txt
  cscore/build.gradle
  cscore/src/main/native/cpp/HttpCameraImpl.cpp
  cscore/src/main/native/cpp/UsbCameraImplCommon.cpp
  cscore/src/main/native/cpp/cscore_cpp.cpp
  cscore/src/main/native/cpp/jni/CameraServerJNI.cpp
  cscore/src/main/native/linux/NetworkListener.cpp
  cscore/src/main/native/linux/NetworkUtil.cpp
  cscore/src/main/native/linux/UsbCameraBuffer.h
  cscore/src/main/native/linux/UsbCameraImpl.cpp
  cscore/src/main/native/linux/UsbCameraImpl.h
  cscore/src/main/native/linux/UsbCameraProperty.cpp
  cscore/src/main/native/linux/UsbCameraProperty.h
  cscore/src/main/native/linux/UsbUtil.cpp
  cscore/src/main/native/linux/UsbUtil.h
  cscore/src/main/native/osx/NetworkListener.cpp
  cscore/src/main/native/osx/NetworkUtil.cpp
  cscore/src/main/native/osx/UsbCameraImpl.cpp
  cscore/src/main/native/windows/NetworkListener.cpp
  cscore/src/main/native/windows/NetworkUtil.cpp
  cscore/src/main/native/windows/UsbCameraImpl.cpp
Labels: component: cscore

#1391 Unify GetHostname() and use libuv implementation
  cscore/src/main/native/cpp/cscore_cpp.cpp
  cscore/src/main/native/linux/NetworkUtil.cpp
  cscore/src/main/native/osx/NetworkUtil.cpp
  cscore/src/main/native/windows/NetworkUtil.cpp
  wpiutil/src/main/native/cpp/hostname.cpp
  wpiutil/src/test/native/cpp/hostname.cpp
Labels: component: cscore, component: wpiutil

#1267 Enable HTML5 javadocs
  docs/build.gradle
Labels: type: documentation

#1394 Add an example showing how to use a hid rumbler
  wpilibcExamples/src/main/cpp/examples/HidRumble/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/examples.json
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/examples.json
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/hidrumble/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/hidrumble/Robot.java
Labels: component: wpilibc, component: wpilibj, type: documentation

#1395 Remove unused import from rumble example
  wpilibcExamples/src/main/cpp/examples/HidRumble/cpp/Robot.cpp
Labels: type: documentation

#1302 wpiutil: Add WorkerThread
  wpiutil/src/main/native/include/wpi/WorkerThread.h
  wpiutil/src/test/native/cpp/WorkerThreadTest.cpp
Labels: component: wpiutil
