Repository wpilibsuite/allwpilib, pull requests merged in 2018-07, with the labels that each got.

#1172 Only use priority_mutex on RoboRIO by default.
  wpiutil/src/main/native/include/wpi/priority_mutex.h
Labels: component: wpiutil

#1132 Adds HAL Documentation
  hal/src/main/native/athena/FRCDriverStation.cpp
  hal/src/main/native/include/HAL/Accelerometer.h
  hal/src/main/native/include/HAL/AnalogGyro.h
  hal/src/main/native/include/HAL/AnalogInput.h
  hal/src/main/native/include/HAL/AnalogOutput.h
  hal/src/main/native/include/HAL/AnalogTrigger.h
  hal/src/main/native/include/HAL/CAN.h
  hal/src/main/native/include/HAL/CANAPI.h
  hal/src/main/native/include/HAL/Compressor.h
  hal/src/main/native/include/HAL/Constants.h
  hal/src/main/native/include/HAL/Counter.h
  hal/src/main/native/include/HAL/DIO.h
  hal/src/main/native/include/HAL/DriverStation.h
  hal/src/main/native/include/HAL/Encoder.h
  hal/src/main/native/include/HAL/Extensions.h
  hal/src/main/native/include/HAL/HAL.h
  hal/src/main/native/include/HAL/I2C.h
  hal/src/main/native/include/HAL/Interrupts.h
  hal/src/main/native/include/HAL/Notifier.h
  hal/src/main/native/include/HAL/PDP.h
  hal/src/main/native/include/HAL/PWM.h
  hal/src/main/native/include/HAL/Ports.h
  hal/src/main/native/include/HAL/Power.h
  hal/src/main/native/include/HAL/Relay.h
  hal/src/main/native/include/HAL/SPI.h
  hal/src/main/native/include/HAL/SerialPort.h
  hal/src/main/native/include/HAL/Solenoid.h
  hal/src/main/native/include/HAL/Threads.h
  hal/src/main/native/include/HAL/UsageReporting.h
  hal/src/main/native/include/HAL/cpp/SerialHelper.h
  hal/src/main/native/include/HAL/cpp/UnsafeDIO.h
  hal/src/main/native/include/HAL/cpp/fpga_clock.h
  hal/src/main/native/include/HAL/handles/HandlesInternal.h
  hal/src/main/native/sim/DriverStation.cpp
Labels: component: hal, type: documentation, wip

#1178 Fix race conditions in command tests by increasing the delay time
  wpilibj/src/test/java/edu/wpi/first/wpilibj/command/CommandSequentialGroupTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/command/CommandTimeoutTest.java
Labels: component: wpilibj

#1117 Adding simple motor simulation classes
  hal/src/main/native/include/MockData/EncoderData.h
  hal/src/main/native/include/Simulation/EncoderSim.h
  hal/src/main/native/sim/MockData/EncoderData.cpp
  hal/src/main/native/sim/MockData/EncoderDataInternal.h
  settings.gradle
  simulation/lowfi_simulation/build.gradle
  simulation/lowfi_simulation/publish.gradle
  simulation/lowfi_simulation/src/dev/native/cpp/main.cpp
  simulation/lowfi_simulation/src/main/native/cpp/LowFiSim/MotorEncoderConnector.cpp
  simulation/lowfi_simulation/src/main/native/cpp/LowFiSim/MotorModel/SimpleMotorModel.cpp
  simulation/lowfi_simulation/src/main/native/cpp/LowFiSim/WpiSimulators/WpiEncoderSim.cpp
  simulation/lowfi_simulation/src/main/native/cpp/LowFiSim/WpiSimulators/WpiMotorSim.cpp
  simulation/lowfi_simulation/src/main/native/include/LowFiSim/EncoderSim.h
  simulation/lowfi_simulation/src/main/native/include/LowFiSim/MotorEncoderConnector.h
  simulation/lowfi_simulation/src/main/native/include/LowFiSim/MotorModel/MotorModel.h
  simulation/lowfi_simulation/src/main/native/include/LowFiSim/MotorModel/SimpleMotorModel.h
  simulation/lowfi_simulation/src/main/native/include/LowFiSim/MotorSim.h
  simulation/lowfi_simulation/src/main/native/include/LowFiSim/WpiSimulators/WpiEncoderSim.h
  simulation/lowfi_simulation/src/main/native/include/LowFiSim/WpiSimulators/WpiMotorSim.h
  simulation/lowfi_simulation/src/test/native/cpp/LowFiSim/MotorEncoderSimulatorTest.cpp
  simulation/lowfi_simulation/src/test/native/cpp/LowFiSim/MotorModel/SimpleMotorModelSimulationTest.cpp
  simulation/lowfi_simulation/src/test/native/cpp/main.cpp
Labels: os: simulation

#1166 wpiutil: Add C++ libuv wrappers.
  wpiutil/src/main/native/cpp/EventLoopRunner.cpp
  wpiutil/src/main/native/cpp/raw_uv_ostream.cpp
  wpiutil/src/main/native/cpp/uv/Async.cpp
  wpiutil/src/main/native/cpp/uv/Check.cpp
  wpiutil/src/main/native/cpp/uv/FsEvent.cpp
  wpiutil/src/main/native/cpp/uv/GetAddrInfo.cpp
  wpiutil/src/main/native/cpp/uv/GetNameInfo.cpp
  wpiutil/src/main/native/cpp/uv/Handle.cpp
  wpiutil/src/main/native/cpp/uv/Idle.cpp
  wpiutil/src/main/native/cpp/uv/Loop.cpp
  wpiutil/src/main/native/cpp/uv/NameToAddr.cpp
  wpiutil/src/main/native/cpp/uv/NetworkStream.cpp
  wpiutil/src/main/native/cpp/uv/Pipe.cpp
  wpiutil/src/main/native/cpp/uv/Poll.cpp
  wpiutil/src/main/native/cpp/uv/Prepare.cpp
  wpiutil/src/main/native/cpp/uv/Process.cpp
  wpiutil/src/main/native/cpp/uv/Signal.cpp
  wpiutil/src/main/native/cpp/uv/Stream.cpp
  wpiutil/src/main/native/cpp/uv/Tcp.cpp
  wpiutil/src/main/native/cpp/uv/Timer.cpp
  wpiutil/src/main/native/cpp/uv/Tty.cpp
  wpiutil/src/main/native/cpp/uv/Udp.cpp
  wpiutil/src/main/native/cpp/uv/Work.cpp
  wpiutil/src/main/native/include/wpi/EventLoopRunner.h
  wpiutil/src/main/native/include/wpi/raw_uv_ostream.h
  wpiutil/src/main/native/include/wpi/uv/Async.h
  wpiutil/src/main/native/include/wpi/uv/Buffer.h
  wpiutil/src/main/native/include/wpi/uv/Check.h
  wpiutil/src/main/native/include/wpi/uv/Error.h
  wpiutil/src/main/native/include/wpi/uv/FsEvent.h
  wpiutil/src/main/native/include/wpi/uv/GetAddrInfo.h
  wpiutil/src/main/native/include/wpi/uv/GetNameInfo.h
  wpiutil/src/main/native/include/wpi/uv/Handle.h
  wpiutil/src/main/native/include/wpi/uv/Idle.h
  wpiutil/src/main/native/include/wpi/uv/Loop.h
  wpiutil/src/main/native/include/wpi/uv/NetworkStream.h
  wpiutil/src/main/native/include/wpi/uv/Pipe.h
  wpiutil/src/main/native/include/wpi/uv/Poll.h
  wpiutil/src/main/native/include/wpi/uv/Prepare.h
  wpiutil/src/main/native/include/wpi/uv/Process.h
  wpiutil/src/main/native/include/wpi/uv/Request.h
  wpiutil/src/main/native/include/wpi/uv/Signal.h
  wpiutil/src/main/native/include/wpi/uv/Stream.h
  wpiutil/src/main/native/include/wpi/uv/Tcp.h
  wpiutil/src/main/native/include/wpi/uv/Timer.h
  wpiutil/src/main/native/include/wpi/uv/Tty.h
  wpiutil/src/main/native/include/wpi/uv/Udp.h
  wpiutil/src/main/native/include/wpi/uv/Work.h
  wpiutil/src/main/native/include/wpi/uv/util.h
  wpiutil/src/test/native/cpp/raw_uv_stream_test.cpp
  wpiutil/src/test/native/cpp/uv/UvAsyncTest.cpp
  wpiutil/src/test/native/cpp/uv/UvGetAddrInfoTest.cpp
  wpiutil/src/test/native/cpp/uv/UvGetNameInfoTest.cpp
  wpiutil/src/test/native/cpp/uv/UvLoopWalkTest.cpp
  wpiutil/src/test/native/cpp/uv/UvTimerTest.cpp
Labels: component: wpiutil

#1190 Make JxArrayRef less error-prone for jxArray
  wpiutil/src/main/native/include/wpi/jni_util.h
Labels: component: wpiutil

#1189 Update gazebo plugins to Gazebo 9.
  simulation/frc_gazebo_plugins/src/clock/cpp/clock.cpp
  simulation/frc_gazebo_plugins/src/dc_motor/cpp/dc_motor.cpp
  simulation/frc_gazebo_plugins/src/drive_motor/cpp/drive_motor.cpp
  simulation/frc_gazebo_plugins/src/encoder/cpp/encoder.cpp
  simulation/frc_gazebo_plugins/src/gyro/cpp/gyro.cpp
  simulation/frc_gazebo_plugins/src/limit_switch/cpp/internal_limit_switch.cpp
  simulation/frc_gazebo_plugins/src/limit_switch/cpp/limit_switch.cpp
  simulation/frc_gazebo_plugins/src/pneumatic_piston/cpp/pneumatic_piston.cpp
  simulation/frc_gazebo_plugins/src/potentiometer/cpp/potentiometer.cpp
  simulation/frc_gazebo_plugins/src/rangefinder/cpp/rangefinder.cpp
  simulation/frc_gazebo_plugins/src/servo/cpp/servo.cpp
Labels: os: simulation

#1148 Moves Java main function from library to user code
  myRobot/build.gradle
  myRobot/src/main/java/Main.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/RobotBase.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/axiscamera/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/examples.json
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/gearsbot/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/gettingstarted/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/gyro/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/gyromecanum/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/intermediatevision/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/mecanumdrive/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/motorcontrol/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/motorcontrolencoder/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/pacgoat/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/potentiometerpid/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/quickvision/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/quickvision/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/tankdrive/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/ultrasonic/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/ultrasonicpid/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/commandbased/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/iterative/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/sample/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/templates.json
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/timed/Main.java
Labels: Ready For Review, component: wpilibj

#1204 UDPClient: Add receive functionality.
  wpiutil/src/main/native/cpp/UDPClient.cpp
  wpiutil/src/main/native/include/wpi/UDPClient.h
Labels: component: wpiutil

#1181 Minor fixes required to enable the simulated robots to run
  wpilibc/src/main/native/cpp/SmartDashboard/SendableChooserBase.cpp
  wpilibc/src/main/native/include/SmartDashboard/SendableChooserBase.h
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/pacgoat/subsystems/DriveTrain.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/pacgoat/subsystems/Shooter.java
Labels: os: simulation

#1208 Add Reuse function to uv::Tcp
  wpiutil/src/main/native/cpp/uv/Tcp.cpp
  wpiutil/src/main/native/include/wpi/uv/Tcp.h
Labels: component: wpiutil

#1205 uv::Loop: Add user-defined data
  wpiutil/src/main/native/include/wpi/uv/Loop.h
Labels: component: wpiutil

#1206 Add sockaddr_in overloads for uv::Tcp and uv::Udp
  wpiutil/src/main/native/include/wpi/uv/Tcp.h
  wpiutil/src/main/native/include/wpi/uv/Udp.h
Labels: component: wpiutil

#1207 Cleanup docs in uv::Stream and uv::Tcp
  wpiutil/src/main/native/include/wpi/uv/Stream.h
  wpiutil/src/main/native/include/wpi/uv/Tcp.h
Labels: component: wpiutil

#1180 Implement halsim_ds_socket to allow a simulation robot to talk to the real DS
  settings.gradle
  simulation/halsim_ds_socket/build.gradle
  simulation/halsim_ds_socket/src/main/native/cpp/DSCommPacket.cpp
  simulation/halsim_ds_socket/src/main/native/cpp/main.cpp
  simulation/halsim_ds_socket/src/main/native/include/DSCommJoystickPacket.h
  simulation/halsim_ds_socket/src/main/native/include/DSCommPacket.h
  simulation/halsim_ds_socket/src/main/native/include/FRCComm.h
Labels: os: simulation

#1209 HttpParser: Change Execute() to return StringRef
  wpiutil/src/main/native/include/wpi/HttpParser.h
Labels: component: wpiutil

#1210 HttpParser: Add Reset() function
  wpiutil/src/main/native/cpp/HttpParser.cpp
  wpiutil/src/main/native/include/wpi/HttpParser.h
  wpiutil/src/test/native/cpp/HttpParserTest.cpp
Labels: component: wpiutil

#1191 Adding hooks to set match data
  hal/src/main/java/edu/wpi/first/hal/sim/mockdata/DriverStationDataJNI.java
  hal/src/main/native/sim/jni/DriverStationDataJNI.cpp
  wpilibj/src/test/java/edu/wpi/first/wpilibj/hal/MatchInfoDataTest.java
Labels: os: simulation

#1215 Add a SimpleBufferPool for uv::Buffer
  wpiutil/src/main/native/include/wpi/uv/Buffer.h
  wpiutil/src/test/native/cpp/uv/UvBufferTest.cpp
Labels: component: wpiutil

#1227 Disable UvGetAddrInfo Concurrent test on Windows
  wpiutil/src/test/native/cpp/uv/UvGetAddrInfoTest.cpp
Labels: component: wpiutil

#1222 UsbCamera: In JPEG mode, get size from image instead of mode.
  cscore/src/main/native/cpp/UsbCameraImpl.cpp
Labels: component: cscore

#1223 cscore: Support multiple levels of JPEG compression
  cscore/src/main/native/cpp/Frame.cpp
  cscore/src/main/native/cpp/Frame.h
  cscore/src/main/native/cpp/Image.h
  cscore/src/main/native/cpp/MjpegServerImpl.cpp
Labels: component: cscore

#1228 cscore: Add properties support to VideoSink
  cscore/src/main/java/edu/wpi/cscore/CameraServerJNI.java
  cscore/src/main/java/edu/wpi/cscore/VideoEvent.java
  cscore/src/main/java/edu/wpi/cscore/VideoSink.java
  cscore/src/main/native/cpp/CvSourceImpl.cpp
  cscore/src/main/native/cpp/CvSourceImpl.h
  cscore/src/main/native/cpp/Handle.h
  cscore/src/main/native/cpp/Notifier.cpp
  cscore/src/main/native/cpp/Notifier.h
  cscore/src/main/native/cpp/PropertyContainer.cpp
  cscore/src/main/native/cpp/PropertyContainer.h
  cscore/src/main/native/cpp/PropertyImpl.cpp
  cscore/src/main/native/cpp/PropertyImpl.h
  cscore/src/main/native/cpp/SinkImpl.cpp
  cscore/src/main/native/cpp/SinkImpl.h
  cscore/src/main/native/cpp/SourceImpl.cpp
  cscore/src/main/native/cpp/SourceImpl.h
  cscore/src/main/native/cpp/cscore_c.cpp
  cscore/src/main/native/cpp/cscore_cpp.cpp
  cscore/src/main/native/cpp/cscore_oo.cpp
  cscore/src/main/native/cpp/jni/CameraServerJNI.cpp
  cscore/src/main/native/include/cscore_c.h
  cscore/src/main/native/include/cscore_cpp.h
  cscore/src/main/native/include/cscore_oo.h
  cscore/src/main/native/include/cscore_oo.inl
Labels: component: cscore

#1229 MjpegServer: Add ability to set compression, etc in code
  cscore/src/main/java/edu/wpi/cscore/MjpegServer.java
  cscore/src/main/native/cpp/MjpegServerImpl.cpp
  cscore/src/main/native/cpp/MjpegServerImpl.h
  cscore/src/main/native/cpp/PropertyContainer.h
  cscore/src/main/native/include/cscore_oo.h
  cscore/src/main/native/include/cscore_oo.inl
Labels: component: cscore

#1230 cscore: Move CvSourceImpl placeholders into SourceImpl
  cscore/src/main/native/cpp/CvSourceImpl.cpp
  cscore/src/main/native/cpp/CvSourceImpl.h
  cscore/src/main/native/cpp/SourceImpl.cpp
  cscore/src/main/native/cpp/SourceImpl.h
Labels: component: cscore

#1225 Add a .controllable key as a standard part of Sendable
  wpilibc/src/main/native/cpp/smartdashboard/SendableBuilderImpl.cpp
  wpilibc/src/main/native/include/frc/smartdashboard/SendableBuilderImpl.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/smartdashboard/SendableBuilderImpl.java
Labels: component: wpilibc, component: wpilibj

#1217 Add confirmation to SendableChooser
  wpilibc/src/main/native/cpp/smartdashboard/SendableChooserBase.cpp
  wpilibc/src/main/native/include/frc/smartdashboard/SendableChooser.inc
  wpilibc/src/main/native/include/frc/smartdashboard/SendableChooserBase.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/smartdashboard/SendableChooser.java
Labels: component: wpilibc, component: wpilibj

#1226 Add a way to indicate a Sendable is an actuator
  wpilibc/src/main/native/cpp/DoubleSolenoid.cpp
  wpilibc/src/main/native/cpp/NidecBrushless.cpp
  wpilibc/src/main/native/cpp/PWM.cpp
  wpilibc/src/main/native/cpp/PWMSpeedController.cpp
  wpilibc/src/main/native/cpp/Relay.cpp
  wpilibc/src/main/native/cpp/Solenoid.cpp
  wpilibc/src/main/native/cpp/SpeedControllerGroup.cpp
  wpilibc/src/main/native/cpp/drive/DifferentialDrive.cpp
  wpilibc/src/main/native/cpp/drive/KilloughDrive.cpp
  wpilibc/src/main/native/cpp/drive/MecanumDrive.cpp
  wpilibc/src/main/native/cpp/smartdashboard/SendableBuilderImpl.cpp
  wpilibc/src/main/native/include/frc/smartdashboard/SendableBuilder.h
  wpilibc/src/main/native/include/frc/smartdashboard/SendableBuilderImpl.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DoubleSolenoid.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/NidecBrushless.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PWM.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PWMSpeedController.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Relay.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Solenoid.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/SpeedControllerGroup.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/drive/DifferentialDrive.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/drive/KilloughDrive.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/drive/MecanumDrive.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/smartdashboard/SendableBuilder.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/smartdashboard/SendableBuilderImpl.java
Labels: component: wpilibc, component: wpilibj

#1231 UsbCamera: Allow silencing of Connecting message
  cscore/src/main/java/edu/wpi/cscore/UsbCamera.java
  cscore/src/main/native/cpp/UsbCameraImpl.cpp
  cscore/src/main/native/cpp/UsbCameraImpl.h
  cscore/src/main/native/cpp/UsbCameraProperty.cpp
  cscore/src/main/native/cpp/UsbCameraProperty.h
  cscore/src/main/native/include/cscore_oo.h
  cscore/src/main/native/include/cscore_oo.inl
Labels: component: cscore

#1236 cscore: Documentation cleanups
  cscore/src/main/java/edu/wpi/cscore/AxisCamera.java
  cscore/src/main/java/edu/wpi/cscore/CvSink.java
  cscore/src/main/java/edu/wpi/cscore/CvSource.java
  cscore/src/main/java/edu/wpi/cscore/HttpCamera.java
  cscore/src/main/java/edu/wpi/cscore/MjpegServer.java
  cscore/src/main/java/edu/wpi/cscore/UsbCamera.java
  cscore/src/main/java/edu/wpi/cscore/UsbCameraInfo.java
  cscore/src/main/java/edu/wpi/cscore/VideoListener.java
  cscore/src/main/java/edu/wpi/cscore/VideoProperty.java
  cscore/src/main/java/edu/wpi/cscore/VideoSink.java
  cscore/src/main/java/edu/wpi/cscore/VideoSource.java
  cscore/src/main/native/include/cscore_c.h
  cscore/src/main/native/include/cscore_cpp.h
  cscore/src/main/native/include/cscore_oo.h
Labels: component: cscore

#1237 ntcore: Documentation cleanups
  ntcore/src/main/java/edu/wpi/first/networktables/ConnectionInfo.java
  ntcore/src/main/java/edu/wpi/first/networktables/ConnectionNotification.java
  ntcore/src/main/java/edu/wpi/first/networktables/EntryInfo.java
  ntcore/src/main/java/edu/wpi/first/networktables/EntryNotification.java
  ntcore/src/main/java/edu/wpi/first/networktables/LogMessage.java
  ntcore/src/main/java/edu/wpi/first/networktables/NetworkTable.java
  ntcore/src/main/java/edu/wpi/first/networktables/NetworkTableEntry.java
  ntcore/src/main/java/edu/wpi/first/networktables/NetworkTableInstance.java
  ntcore/src/main/java/edu/wpi/first/networktables/NetworkTableValue.java
  ntcore/src/main/java/edu/wpi/first/networktables/RpcAnswer.java
  ntcore/src/main/java/edu/wpi/first/networktables/RpcCall.java
  ntcore/src/main/native/include/networktables/EntryListenerFlags.h
  ntcore/src/main/native/include/networktables/NetworkTable.h
  ntcore/src/main/native/include/networktables/NetworkTableEntry.h
  ntcore/src/main/native/include/networktables/NetworkTableInstance.h
  ntcore/src/main/native/include/networktables/NetworkTableType.h
  ntcore/src/main/native/include/networktables/NetworkTableValue.h
  ntcore/src/main/native/include/networktables/RpcCall.h
  ntcore/src/main/native/include/networktables/TableEntryListener.h
  ntcore/src/main/native/include/networktables/TableListener.h
  ntcore/src/main/native/include/ntcore_c.h
  ntcore/src/main/native/include/ntcore_cpp.h
Labels: component: ntcore

#1224 Add hash files for JNI jars
  cscore/src/main/java/edu/wpi/cscore/CameraServerJNI.java
  hal/src/main/java/edu/wpi/first/wpilibj/hal/JNIWrapper.java
  ntcore/src/main/java/edu/wpi/first/networktables/NetworkTablesJNI.java
  shared/config.gradle
  shared/jni/publish.gradle
  wpiutil/src/main/java/edu/wpi/first/wpiutil/RuntimeDetector.java
  wpiutil/src/main/java/edu/wpi/first/wpiutil/RuntimeLoader.java
Labels: component: cscore, component: hal, component: ntcore, component: wpiutil

#1245 Add Doxygen comments for namespaces
  cscore/src/main/native/include/cscore_cpp.h
  hal/src/main/native/include/hal/cpp/fpga_clock.h
  ntcore/src/main/native/include/ntcore_cpp.h
  wpilibc/src/main/native/include/frc/Base.h
  wpiutil/src/main/native/include/wpi/jni_util.h
  wpiutil/src/main/native/include/wpi/json.h
Labels: type: documentation

#1246 HAL: Add Doxygen module documentation
  hal/src/main/native/include/hal/Accelerometer.h
  hal/src/main/native/include/hal/AnalogAccumulator.h
  hal/src/main/native/include/hal/AnalogGyro.h
  hal/src/main/native/include/hal/AnalogInput.h
  hal/src/main/native/include/hal/AnalogOutput.h
  hal/src/main/native/include/hal/AnalogTrigger.h
  hal/src/main/native/include/hal/CAN.h
  hal/src/main/native/include/hal/CANAPI.h
  hal/src/main/native/include/hal/Compressor.h
  hal/src/main/native/include/hal/Constants.h
  hal/src/main/native/include/hal/Counter.h
  hal/src/main/native/include/hal/DIO.h
  hal/src/main/native/include/hal/DriverStation.h
  hal/src/main/native/include/hal/Encoder.h
  hal/src/main/native/include/hal/Errors.h
  hal/src/main/native/include/hal/Extensions.h
  hal/src/main/native/include/hal/HAL.h
  hal/src/main/native/include/hal/I2C.h
  hal/src/main/native/include/hal/Interrupts.h
  hal/src/main/native/include/hal/Notifier.h
  hal/src/main/native/include/hal/PDP.h
  hal/src/main/native/include/hal/PWM.h
  hal/src/main/native/include/hal/Ports.h
  hal/src/main/native/include/hal/Power.h
  hal/src/main/native/include/hal/Relay.h
  hal/src/main/native/include/hal/SPI.h
  hal/src/main/native/include/hal/SerialPort.h
  hal/src/main/native/include/hal/Solenoid.h
  hal/src/main/native/include/hal/Threads.h
  hal/src/main/native/include/hal/Types.h
Labels: component: hal, type: documentation

#1244 cscore: Use Twine instead of StringRef in API
  cameraserver/src/main/native/cpp/cameraserver/CameraServer.cpp
  cameraserver/src/main/native/cpp/cameraserver/CameraServerShared.cpp
  cameraserver/src/main/native/include/cameraserver/CameraServer.h
  cameraserver/src/main/native/include/cameraserver/CameraServer.inc
  cameraserver/src/main/native/include/cameraserver/CameraServerShared.h
  cscore/src/main/native/cpp/CvSinkImpl.cpp
  cscore/src/main/native/cpp/CvSinkImpl.h
  cscore/src/main/native/cpp/CvSourceImpl.cpp
  cscore/src/main/native/cpp/CvSourceImpl.h
  cscore/src/main/native/cpp/Frame.cpp
  cscore/src/main/native/cpp/Frame.h
  cscore/src/main/native/cpp/HttpCameraImpl.cpp
  cscore/src/main/native/cpp/HttpCameraImpl.h
  cscore/src/main/native/cpp/MjpegServerImpl.cpp
  cscore/src/main/native/cpp/MjpegServerImpl.h
  cscore/src/main/native/cpp/Notifier.cpp
  cscore/src/main/native/cpp/Notifier.h
  cscore/src/main/native/cpp/PropertyContainer.cpp
  cscore/src/main/native/cpp/PropertyContainer.h
  cscore/src/main/native/cpp/PropertyImpl.cpp
  cscore/src/main/native/cpp/PropertyImpl.h
  cscore/src/main/native/cpp/SinkImpl.cpp
  cscore/src/main/native/cpp/SinkImpl.h
  cscore/src/main/native/cpp/SourceImpl.cpp
  cscore/src/main/native/cpp/SourceImpl.h
  cscore/src/main/native/cpp/UsbCameraImpl.cpp
  cscore/src/main/native/cpp/UsbCameraImpl.h
  cscore/src/main/native/cpp/UsbCameraProperty.cpp
  cscore/src/main/native/cpp/UsbCameraProperty.h
  cscore/src/main/native/cpp/cscore_cpp.cpp
  cscore/src/main/native/cpp/jni/CameraServerJNI.cpp
  cscore/src/main/native/include/cscore_cpp.h
  cscore/src/main/native/include/cscore_oo.h
  cscore/src/main/native/include/cscore_oo.inl
  wpilibc/src/main/native/cpp/RobotBase.cpp
Labels: component: cscore

#1251 docs: Set use_mathjax to true
  docs/build.gradle
Labels: type: documentation

#1252 cscore: Add connection strategy to sources
  cscore/src/main/java/edu/wpi/cscore/CameraServerJNI.java
  cscore/src/main/java/edu/wpi/cscore/VideoSource.java
  cscore/src/main/native/cpp/HttpCameraImpl.cpp
  cscore/src/main/native/cpp/SourceImpl.h
  cscore/src/main/native/cpp/UsbCameraImpl.cpp
  cscore/src/main/native/cpp/cscore_c.cpp
  cscore/src/main/native/cpp/cscore_cpp.cpp
  cscore/src/main/native/cpp/jni/CameraServerJNI.cpp
  cscore/src/main/native/include/cscore_c.h
  cscore/src/main/native/include/cscore_cpp.h
  cscore/src/main/native/include/cscore_oo.h
  cscore/src/main/native/include/cscore_oo.inl
Labels: component: cscore
