Repository wpilibsuite/allwpilib, pull requests merged in 2018-12, with the labels that each got.

#1458 AxisCamera constructor: add StringRef overload
  cscore/src/main/native/include/cscore_oo.h
  cscore/src/main/native/include/cscore_oo.inl
Labels: component: cscore

#1347 Make Watchdog use single thread dispatch
  wpilibc/src/main/native/cpp/IterativeRobotBase.cpp
  wpilibc/src/main/native/cpp/Watchdog.cpp
  wpilibc/src/main/native/include/frc/Watchdog.h
  wpilibc/src/test/native/cpp/WatchdogTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Watchdog.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/WatchdogTest.java
  wpiutil/src/main/native/include/wpi/PriorityQueue.h
Labels: component: wpilibc, component: wpilibj

#965 HAL: Add additional error messages to HAL_GetErrorMessage
  hal/src/main/native/athena/HAL.cpp
  hal/src/main/native/include/hal/Errors.h
Labels: Ready For Review, bug in dependency, component: hal

#1463 Fix LiveWindow attempting to start listeners on uninitialized sendables
  wpilibc/src/main/native/cpp/livewindow/LiveWindow.cpp
  wpilibc/src/main/native/cpp/smartdashboard/SendableBuilderImpl.cpp
  wpilibc/src/main/native/include/frc/livewindow/LiveWindow.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/livewindow/LiveWindow.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/smartdashboard/SendableBuilderImpl.java
Labels: component: wpilibc, component: wpilibj, type: bug

#1422 Add multiCameraServer executable
  cameraserver/multiCameraServer/build.gradle
  cameraserver/multiCameraServer/src/main/java/Main.java
  cameraserver/multiCameraServer/src/main/native/cpp/main.cpp
  settings.gradle
Labels: component: cscore

#1474 wpiutil: Use scoped connections to ensure cleanup
  wpiutil/src/main/native/cpp/HttpServerConnection.cpp
  wpiutil/src/main/native/cpp/WebSocketServer.cpp
  wpiutil/src/main/native/include/wpi/HttpServerConnection.h
  wpiutil/src/main/native/include/wpi/WebSocketServer.h
Labels: component: wpiutil

#1475 Add missing param javadoc comment and fix argument order inconsistency
  wpilibj/src/main/java/edu/wpi/first/wpilibj/command/PIDSubsystem.java
Labels: component: wpilibj

#1477 Add multiCameraServer to cmake build
  cameraserver/CMakeLists.txt
Labels: component: cscore

#1476 wpiutil: Fix resources build
  wpiutil/build.gradle
Labels: component: wpiutil

#1485 Move instances to a non deleting singleton
  ntcore/src/main/native/cpp/InstanceImpl.cpp
  ntcore/src/main/native/cpp/InstanceImpl.h
Labels: component: ntcore

#1488 Fix periodic can packets not being received properly
  hal/src/main/native/athena/CANAPI.cpp
  hal/src/main/native/sim/CANAPI.cpp
Labels: component: hal

#1453 Allow video sources to be added to Shuffleboard
  wpilibc/src/main/native/cpp/shuffleboard/SendableCameraWrapper.cpp
  wpilibc/src/main/native/cpp/shuffleboard/ShuffleboardContainer.cpp
  wpilibc/src/main/native/include/frc/shuffleboard/SendableCameraWrapper.h
  wpilibc/src/main/native/include/frc/shuffleboard/ShuffleboardContainer.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/shuffleboard/SendableCameraWrapper.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/shuffleboard/ShuffleboardContainer.java
Labels: component: wpilibc, component: wpilibj

#1519 Provide alternate device paths info for USB cameras
  cscore/examples/enum_usb/enum_usb.cpp
  cscore/src/main/java/edu/wpi/cscore/CameraServerJNI.java
  cscore/src/main/java/edu/wpi/cscore/UsbCamera.java
  cscore/src/main/java/edu/wpi/cscore/UsbCameraInfo.java
  cscore/src/main/native/cpp/MjpegServerImpl.cpp
  cscore/src/main/native/cpp/UsbCameraImplCommon.cpp
  cscore/src/main/native/cpp/jni/CameraServerJNI.cpp
  cscore/src/main/native/include/cscore_c.h
  cscore/src/main/native/include/cscore_cpp.h
  cscore/src/main/native/include/cscore_oo.h
  cscore/src/main/native/include/cscore_oo.inl
  cscore/src/main/native/linux/UsbCameraImpl.cpp
  cscore/src/main/native/osx/UsbCameraImpl.cpp
  cscore/src/main/native/windows/UsbCameraImpl.cpp
Labels: component: cscore

#1520 cscore: set charset of displayed pages
  cscore/src/main/native/cpp/MjpegServerImpl.cpp
Labels: component: cscore
