Repository wpilibsuite/allwpilib, pull requests merged in 2018-05, with the labels that each got.

#1011 Waits for no objects to hold a handle before freeing when a race can occur
  hal/src/main/native/athena/DIO.cpp
  hal/src/main/native/athena/PWM.cpp
Labels: component: hal

#1007 ntcore: Make header actually a C header
  ntcore/src/main/native/include/ntcore_c.h
Labels: component: ntcore

#1016 Update cscore examples for llvm to wpi rename.
  cscore/examples/enum_usb/enum_usb.cpp
  cscore/examples/settings/settings.cpp
  cscore/examples/usbstream/usbstream.cpp
Labels: component: cscore

#1018 ntcore: Remove MSVC 2013 shim.
  ntcore/src/main/native/include/networktables/NetworkTableInstance.h
  ntcore/src/main/native/include/networktables/NetworkTableInstance.inl
Labels: component: ntcore

#1020 Remove atomic static shim.
  wpiutil/src/main/native/include/wpi/atomic_static.h
  wpiutil/src/main/native/include/wpi/jni_util.h
Labels: component: wpiutil

#1027 Adds cscore examples to builds
  cscore/build.gradle
Labels: component: cscore

#1030 Actually has the cscore examples build, and makes them build only on linux
  cscore/build.gradle
Labels: component: cscore

#1023 Check for nullptr return from malloc, calloc, and realloc.
  cscore/src/main/native/cpp/HttpCameraImpl.cpp
  cscore/src/main/native/cpp/UsbCameraImpl.cpp
  cscore/src/main/native/cpp/c_util.h
  cscore/src/main/native/cpp/cscore_c.cpp
  ntcore/src/main/native/cpp/Value.cpp
  ntcore/src/main/native/cpp/WireDecoder.cpp
  ntcore/src/main/native/cpp/ntcore_c.cpp
  ntcore/src/main/native/cpp/ntcore_test.cpp
  wpiutil/src/main/native/include/wpi/memory.h
Labels: component: cscore, component: ntcore, component: wpiutil

#946 Notifier: reset updatedAlarm before waiting
  hal/src/main/native/sim/Notifier.cpp
Labels: component: hal, os: simulation

#1012 Make the HAL self initialize when ever any initialization function is called
  hal/src/main/native/athena/Accelerometer.cpp
  hal/src/main/native/athena/AnalogGyro.cpp
  hal/src/main/native/athena/AnalogInput.cpp
  hal/src/main/native/athena/AnalogInternal.cpp
  hal/src/main/native/athena/AnalogOutput.cpp
  hal/src/main/native/athena/AnalogTrigger.cpp
  hal/src/main/native/athena/Compressor.cpp
  hal/src/main/native/athena/Counter.cpp
  hal/src/main/native/athena/DIO.cpp
  hal/src/main/native/athena/DigitalInternal.cpp
  hal/src/main/native/athena/Encoder.cpp
  hal/src/main/native/athena/FPGAEncoder.cpp
  hal/src/main/native/athena/FRCDriverStation.cpp
  hal/src/main/native/athena/HAL.cpp
  hal/src/main/native/athena/HALInitializer.cpp
  hal/src/main/native/athena/HALInitializer.h
  hal/src/main/native/athena/I2C.cpp
  hal/src/main/native/athena/Interrupts.cpp
  hal/src/main/native/athena/Notifier.cpp
  hal/src/main/native/athena/OSSerialPort.cpp
  hal/src/main/native/athena/PCMInternal.cpp
  hal/src/main/native/athena/PDP.cpp
  hal/src/main/native/athena/PWM.cpp
  hal/src/main/native/athena/Power.cpp
  hal/src/main/native/athena/Relay.cpp
  hal/src/main/native/athena/SPI.cpp
  hal/src/main/native/athena/SerialPort.cpp
  hal/src/main/native/athena/Solenoid.cpp
  hal/src/main/native/sim/AnalogGyro.cpp
  hal/src/main/native/sim/AnalogInput.cpp
  hal/src/main/native/sim/AnalogOutput.cpp
  hal/src/main/native/sim/AnalogTrigger.cpp
  hal/src/main/native/sim/Compressor.cpp
  hal/src/main/native/sim/Counter.cpp
  hal/src/main/native/sim/DIO.cpp
  hal/src/main/native/sim/DriverStation.cpp
  hal/src/main/native/sim/Encoder.cpp
  hal/src/main/native/sim/HAL.cpp
  hal/src/main/native/sim/HALInitializer.cpp
  hal/src/main/native/sim/HALInitializer.h
  hal/src/main/native/sim/I2C.cpp
  hal/src/main/native/sim/Interrupts.cpp
  hal/src/main/native/sim/Notifier.cpp
  hal/src/main/native/sim/OSSerialPort.cpp
  hal/src/main/native/sim/PDP.cpp
  hal/src/main/native/sim/PWM.cpp
  hal/src/main/native/sim/Relay.cpp
  hal/src/main/native/sim/SPI.cpp
  hal/src/main/native/sim/SerialPort.cpp
  hal/src/main/native/sim/Solenoid.cpp
Labels: component: hal

#1004 Switches NotifyListenerVector to SmallVector
  hal/src/main/native/include/MockData/NotifyListenerVector.h
Labels: component: hal

#935 Removed extra newlines after open curly braces
  cameraserver/src/main/java/edu/wpi/first/wpilibj/vision/VisionPipeline.java
  cameraserver/src/main/java/edu/wpi/first/wpilibj/vision/VisionRunner.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/CounterBase.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/NamedSendable.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PIDInterface.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PIDOutput.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/RobotDrive.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/buttons/Trigger.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/command/CommandGroup.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/command/Scheduler.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/util/SortedVector.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/UnitTestUtility.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/commandbased/Robot.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/MockDS.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/PDPTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/fixtures/ITestFixture.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/mockhardware/FakeEncoderSource.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/test/QuickTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/test/TestBench.java
Labels: component: wpilibj

#876 Fixed naming convention of static variable in TimedRobot.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/TimedRobot.java
Labels: component: wpilibj

#878 Replaces Timer in PIDController.java with Notifier
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PIDController.java
Labels: component: wpilibj

#808 Refactored DriverStation.java unplugged message handling to match C++
  wpilibc/src/main/native/cpp/DriverStation.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DriverStation.java
Labels: component: wpilibc, component: wpilibj

#987 Add removeAll to preferences
  wpilibc/src/main/native/cpp/Preferences.cpp
  wpilibc/src/main/native/include/Preferences.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Preferences.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/PreferencesTest.java
Labels: component: wpilibc, component: wpilibj

#993 Implemented synchronous PID controller
  wpilibc/src/main/native/cpp/PIDBase.cpp
  wpilibc/src/main/native/cpp/PIDController.cpp
  wpilibc/src/main/native/cpp/SynchronousPID.cpp
  wpilibc/src/main/native/include/PIDBase.h
  wpilibc/src/main/native/include/PIDController.h
  wpilibc/src/main/native/include/PIDInterface.h
  wpilibc/src/main/native/include/SynchronousPID.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PIDBase.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PIDController.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PIDInterface.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/SynchronousPID.java
Labels: component: wpilibc, component: wpilibj

#904 Rename Joystick default channel constants
  shared/config.gradle
  wpilibc/src/main/native/cpp/Joystick.cpp
  wpilibc/src/main/native/include/Joystick.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Joystick.java
Labels: component: wpilibc, component: wpilibj

#976 PIDController now supports composition
  wpilibc/src/main/native/cpp/PIDBase.cpp
  wpilibc/src/main/native/include/PIDBase.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PIDBase.java
Labels: component: wpilibc, component: wpilibj

#972 Default to requiring frc namespace for wpilibc.
  wpilibc/src/main/native/include/Base.h
  wpilibcExamples/src/main/cpp/examples/AxisCameraSample/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/Encoder/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/GearsBot/include/Subsystems/Wrist.h
  wpilibcExamples/src/main/cpp/examples/IntermediateVision/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/PacGoat/cpp/Subsystems/DriveTrain.cpp
  wpilibcExamples/src/main/cpp/examples/PacGoat/include/Robot.h
  wpilibcExamples/src/main/cpp/examples/PacGoat/include/Subsystems/DriveTrain.h
  wpilibcExamples/src/main/cpp/examples/QuickVision/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/Relay/cpp/Robot.cpp
Labels: component: wpilibc

#1088 Fixes interrupts not getting closed properly.
  hal/src/main/native/athena/Interrupts.cpp
  hal/src/main/native/cpp/jni/InterruptJNI.cpp
  hal/src/main/native/include/HAL/Interrupts.h
  hal/src/main/native/sim/Interrupts.cpp
Labels: component: hal, component: wpilibj

#1084 Makes CAN API initializer setup HAL
  hal/src/main/native/athena/CANAPI.cpp
  hal/src/main/native/sim/CANAPI.cpp
Labels: component: hal
