Repository wpilibsuite/allwpilib, pull requests merged in 2018-08, with the labels that each got.

#1183 Adding gyro and accelerometer simulator wrappers
  simulation/halsim_adx_gyro_accelerometer/build.gradle
  simulation/halsim_adx_gyro_accelerometer/publish.gradle
  simulation/halsim_adx_gyro_accelerometer/src/test/native/cpp/ADXL345_I2CAccelerometerTest.cpp
  simulation/halsim_adx_gyro_accelerometer/src/test/native/cpp/ADXL345_SpiAccelerometerTest.cpp
  simulation/halsim_adx_gyro_accelerometer/src/test/native/cpp/ADXL362_SpiAccelerometerTest.cpp
  simulation/halsim_adx_gyro_accelerometer/src/test/native/cpp/ADXRS450_SpiGyroWrapperTest.cpp
  simulation/lowfi_simulation/build.gradle
  simulation/lowfi_simulation/src/main/native/cpp/lowfisim/wpisimulators/ADXLThreeAxisAccelerometerSim.cpp
  simulation/lowfi_simulation/src/main/native/cpp/lowfisim/wpisimulators/ADXRS450_SpiGyroSim.cpp
  simulation/lowfi_simulation/src/main/native/cpp/lowfisim/wpisimulators/WpiAnalogGyroSim.cpp
  simulation/lowfi_simulation/src/main/native/include/lowfisim/AccelerometerSim.h
  simulation/lowfi_simulation/src/main/native/include/lowfisim/GyroSim.h
  simulation/lowfi_simulation/src/main/native/include/lowfisim/SimpleAccelerometerSim.h
  simulation/lowfi_simulation/src/main/native/include/lowfisim/SimpleGyroSim.h
  simulation/lowfi_simulation/src/main/native/include/lowfisim/wpisimulators/ADXLThreeAxisAccelerometerSim.h
  simulation/lowfi_simulation/src/main/native/include/lowfisim/wpisimulators/ADXRS450_SpiGyroSim.h
  simulation/lowfi_simulation/src/main/native/include/lowfisim/wpisimulators/WpiAnalogGyroSim.h
  simulation/lowfi_simulation/src/test/native/cpp/lowfisim/AccelerometerSimulatorTest.cpp
  simulation/lowfi_simulation/src/test/native/cpp/lowfisim/GyroSimulatorTest.cpp
Labels: os: simulation

#1271 Twine: disable part of isValid() that causes spurious warnings.
  wpiutil/src/main/native/include/wpi/Twine.h
Labels: component: wpiutil

#1272 wpiutil: Add a mutex-compatible spinlock implementation.
  wpiutil/src/main/native/include/wpi/spinlock.h
  wpiutil/src/test/native/cpp/spinlock_bench.cpp
Labels: component: wpiutil

#1278 ntcore: Make protocol revision more visible in docs
  ntcore/doc/networktables2.adoc
  ntcore/doc/networktables3.adoc
Labels: component: ntcore, type: documentation

#1239 SendableChooser: Rename addDefault and addObject for clarity
  wpilibc/src/main/native/include/frc/smartdashboard/SendableChooser.h
  wpilibc/src/main/native/include/frc/smartdashboard/SendableChooser.inc
  wpilibcExamples/src/main/cpp/examples/PacGoat/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/templates/commandbased/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/templates/iterative/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/templates/sample/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/templates/timed/cpp/Robot.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/smartdashboard/SendableChooser.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/pacgoat/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/commandbased/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/iterative/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/sample/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/timed/Robot.java
Labels: component: wpilibc, component: wpilibj

#1283 UrlParser: fix Has() functions
  wpiutil/src/main/native/include/wpi/UrlParser.h
Labels: component: wpiutil

#1284 Add missing library dependencies in simulation dev executables
  simulation/halsim_adx_gyro_accelerometer/build.gradle
  simulation/lowfi_simulation/build.gradle
Labels: os: simulation

#1275 Add dependency injection of Subsystems to commands
  wpilibc/src/main/native/cpp/commands/Command.cpp
  wpilibc/src/main/native/cpp/commands/InstantCommand.cpp
  wpilibc/src/main/native/cpp/commands/PIDCommand.cpp
  wpilibc/src/main/native/cpp/commands/TimedCommand.cpp
  wpilibc/src/main/native/include/frc/commands/Command.h
  wpilibc/src/main/native/include/frc/commands/InstantCommand.h
  wpilibc/src/main/native/include/frc/commands/PIDCommand.h
  wpilibc/src/main/native/include/frc/commands/TimedCommand.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/command/Command.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/command/InstantCommand.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/command/PIDCommand.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/command/TimedCommand.java
Labels: component: wpilibc, component: wpilibj

#1279 ntcore: Describe RPC version 0 in spec
  ntcore/doc/networktables3.adoc
Labels: component: ntcore, type: documentation

#1280 ntcore: Change params in Java RpcAnswer from String to byte[]
  ntcore/src/main/java/edu/wpi/first/networktables/RpcAnswer.java
  ntcore/src/main/native/cpp/jni/NetworkTablesJNI.cpp
Labels: component: ntcore

#1281 Add wpi::HttpServerConnection and an example of its use
  wpiutil/build.gradle
  wpiutil/examples/webserver/webserver.cpp
  wpiutil/src/main/native/cpp/HttpServerConnection.cpp
  wpiutil/src/main/native/include/wpi/HttpServerConnection.h
Labels: component: wpiutil

#1197 Add HttpMultipartScanner.
  wpiutil/src/main/native/cpp/HttpUtil.cpp
  wpiutil/src/main/native/include/wpi/HttpUtil.h
  wpiutil/src/test/native/cpp/HttpUtilTest.cpp
Labels: component: wpiutil

#1292 wpiutil spinlock.h: Include STL mutex for convenience
  wpiutil/src/main/native/include/wpi/spinlock.h
Labels: component: wpiutil

#1186 Add WebSocket implementation
  wpiutil/src/main/native/cpp/WebSocket.cpp
  wpiutil/src/main/native/cpp/WebSocketServer.cpp
  wpiutil/src/main/native/include/wpi/WebSocket.h
  wpiutil/src/main/native/include/wpi/WebSocketServer.h
  wpiutil/src/test/native/cpp/WebSocketClientTest.cpp
  wpiutil/src/test/native/cpp/WebSocketIntegrationTest.cpp
  wpiutil/src/test/native/cpp/WebSocketServerTest.cpp
  wpiutil/src/test/native/cpp/WebSocketTest.cpp
  wpiutil/src/test/native/cpp/WebSocketTest.h
Labels: component: wpiutil
