Repository wpilibsuite/allwpilib, pull requests merged in 2019-09, with the labels that each got.

#1865 Change WaitCommand to use units
  wpilibc/src/main/native/cpp/frc2/command/Command.cpp
  wpilibc/src/main/native/cpp/frc2/command/WaitCommand.cpp
  wpilibc/src/main/native/include/frc2/command/Command.h
  wpilibc/src/main/native/include/frc2/command/WaitCommand.h
  wpilibc/src/test/native/cpp/frc2/command/CommandDecoratorTest.cpp
  wpilibc/src/test/native/cpp/frc2/command/WaitCommandTest.cpp
  wpilibcExamples/src/main/cpp/examples/Frisbeebot/include/Constants.h
  wpilibcExamples/src/main/cpp/examples/GearsBot/cpp/commands/OpenClaw.cpp
  wpilibcExamples/src/main/cpp/examples/GyroDriveCommands/include/RobotContainer.h
  wpilibcExamples/src/main/cpp/examples/SchedulerEventLogging/include/RobotContainer.h
Labels: component: wpilibc

#1866 Java cleanups for AutoClosable and other warnings
  wpilibj/src/test/java/edu/wpi/first/wpilibj/LinearFilterTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/RobotControllerTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/UtilityClassTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/WatchdogTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/command/CommandParallelGroupTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/command/CommandSequentialGroupTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/livewindow/LiveWindowTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/shuffleboard/ShuffleboardTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/sim/AnalogInputSimTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/sim/AnalogOutputSimTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/smartdashboard/SmartDashboardTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/util/ErrorMessagesTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj2/command/CommandDecoratorTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj2/command/CommandGroupErrorTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj2/command/CommandRequirementsTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj2/command/CommandScheduleTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj2/command/ConditionalCommandTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj2/command/DefaultCommandTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj2/command/FunctionalCommandTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj2/command/InstantCommandTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj2/command/NotifierCommandTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj2/command/ParallelCommandGroupTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj2/command/ParallelDeadlineGroupTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj2/command/ParallelRaceGroupTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj2/command/PerpetualCommandTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj2/command/PrintCommandTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj2/command/ProxyScheduleCommandTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj2/command/RobotDisabledCommandTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj2/command/RunCommandTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj2/command/ScheduleCommandTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj2/command/SchedulerTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj2/command/SelectCommandTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj2/command/SequentialCommandGroupTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj2/command/StartEndCommandTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj2/command/WaitCommandTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj2/command/WaitUntilCommandTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/AnalogCrossConnectTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/MotorEncoderTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/PDPTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/PIDTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/test/AbstractTestSuite.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/test/TestBench.java
Labels: component: wpilibj

#1869 Use units for new NotifierCommand
  wpilibc/src/main/native/cpp/frc2/command/NotifierCommand.cpp
  wpilibc/src/main/native/include/frc2/command/NotifierCommand.h
  wpilibc/src/test/native/cpp/frc2/command/NotifierCommandTest.cpp
Labels: component: wpilibc

#1843 Add trajectory generation using hermite splines
  ThirdPartyNotices.txt
  wpilibc/src/main/native/cpp/geometry/Pose2d.cpp
  wpilibc/src/main/native/cpp/geometry/Rotation2d.cpp
  wpilibc/src/main/native/cpp/spline/CubicHermiteSpline.cpp
  wpilibc/src/main/native/cpp/spline/QuinticHermiteSpline.cpp
  wpilibc/src/main/native/cpp/spline/SplineHelper.cpp
  wpilibc/src/main/native/cpp/spline/SplineParameterizer.cpp
  wpilibc/src/main/native/cpp/trajectory/Trajectory.cpp
  wpilibc/src/main/native/cpp/trajectory/TrajectoryGenerator.cpp
  wpilibc/src/main/native/cpp/trajectory/TrajectoryParameterizer.cpp
  wpilibc/src/main/native/cpp/trajectory/constraint/CentripetalAccelerationConstraint.cpp
  wpilibc/src/main/native/cpp/trajectory/constraint/DifferentialDriveKinematicsConstraint.cpp
  wpilibc/src/main/native/include/frc/geometry/Pose2d.h
  wpilibc/src/main/native/include/frc/geometry/Rotation2d.h
  wpilibc/src/main/native/include/frc/geometry/Transform2d.h
  wpilibc/src/main/native/include/frc/spline/CubicHermiteSpline.h
  wpilibc/src/main/native/include/frc/spline/QuinticHermiteSpline.h
  wpilibc/src/main/native/include/frc/spline/Spline.h
  wpilibc/src/main/native/include/frc/spline/SplineHelper.h
  wpilibc/src/main/native/include/frc/spline/SplineParameterizer.h
  wpilibc/src/main/native/include/frc/trajectory/Trajectory.h
  wpilibc/src/main/native/include/frc/trajectory/TrajectoryGenerator.h
  wpilibc/src/main/native/include/frc/trajectory/TrajectoryParameterizer.h
  wpilibc/src/main/native/include/frc/trajectory/constraint/CentripetalAccelerationConstraint.h
  wpilibc/src/main/native/include/frc/trajectory/constraint/DifferentialDriveKinematicsConstraint.h
  wpilibc/src/main/native/include/frc/trajectory/constraint/TrajectoryConstraint.h
  wpilibc/src/test/native/cpp/geometry/Pose2dTest.cpp
  wpilibc/src/test/native/cpp/geometry/Twist2dTest.cpp
  wpilibc/src/test/native/cpp/spline/CubicHermiteSplineTest.cpp
  wpilibc/src/test/native/cpp/spline/QuinticHermiteSplineTest.cpp
  wpilibc/src/test/native/cpp/trajectory/CentripetalAccelerationConstraintTest.cpp
  wpilibc/src/test/native/cpp/trajectory/DifferentialDriveKinematicsTest.cpp
  wpilibc/src/test/native/cpp/trajectory/TrajectoryGeneratorTest.cpp
  wpilibc/src/test/native/include/trajectory/TestTrajectory.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/geometry/Pose2d.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/geometry/Rotation2d.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/geometry/Transform2d.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/spline/CubicHermiteSpline.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/spline/PoseWithCurvature.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/spline/QuinticHermiteSpline.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/spline/Spline.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/spline/SplineHelper.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/spline/SplineParameterizer.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/trajectory/Trajectory.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/trajectory/TrajectoryGenerator.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/trajectory/TrajectoryParameterizer.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/trajectory/constraint/CentripetalAccelerationConstraint.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/trajectory/constraint/DifferentialDriveKinematicsConstraint.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/trajectory/constraint/TrajectoryConstraint.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/geometry/Pose2dTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/geometry/Twist2dTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/spline/CubicHermiteSplineTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/spline/QuinticHermiteSplineTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/trajectory/CentripetalAccelerationConstraintTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/trajectory/DifferentialDriveKinematicsConstraintTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/trajectory/TrajectoryGeneratorTest.java
Labels: component: wpilibc, component: wpilibj

#1895 Add ability to run robot main loop in a separate thread
  hal/CMakeLists.txt
  hal/src/main/java/edu/wpi/first/hal/HAL.java
  hal/src/main/native/athena/HAL.cpp
  hal/src/main/native/athena/HALInitializer.h
  hal/src/main/native/cpp/Main.cpp
  hal/src/main/native/cpp/jni/HAL.cpp
  hal/src/main/native/include/hal/HAL.h
  hal/src/main/native/include/hal/Main.h
  hal/src/main/native/sim/HAL.cpp
  hal/src/main/native/sim/HALInitializer.h
  wpilibc/src/main/native/include/frc/RobotBase.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/RobotBase.java
Labels: component: hal

#1790 Add Ramsete unicycle controller
  wpilibc/src/main/native/cpp/controller/RamseteController.cpp
  wpilibc/src/main/native/include/frc/controller/RamseteController.h
  wpilibc/src/test/native/cpp/controller/RamseteControllerTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/controller/RamseteController.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/controller/RamseteControllerTest.java
Labels: component: wpilibc, component: wpilibj
