Repository wpilibsuite/allwpilib, pull requests merged in 2019-07, with the labels that each got.

#1300 Add replacement PIDController class
  wpilibc/src/main/native/cpp/controller/PIDController.cpp
  wpilibc/src/main/native/cpp/controller/PIDControllerRunner.cpp
  wpilibc/src/main/native/include/frc/Controller.h
  wpilibc/src/main/native/include/frc/PIDController.h
  wpilibc/src/main/native/include/frc/controller/PIDController.h
  wpilibc/src/main/native/include/frc/controller/PIDControllerRunner.h
  wpilibc/src/test/native/cpp/PIDInputOutputTest.cpp
  wpilibc/src/test/native/cpp/PIDToleranceTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/MotorEncoderTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Controller.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PIDController.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PIDOutput.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PIDSource.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PIDSourceType.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/controller/PIDController.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/controller/PIDControllerRunner.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/PIDInputOutputTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/PIDToleranceTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/MotorEncoderTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/PIDTest.java
Labels: component: wpilibc, component: wpilibj

#1761 wpiutil: Add unique_function
  wpiutil/.styleguide
  wpiutil/src/main/native/include/wpi/Compiler.h
  wpiutil/src/main/native/include/wpi/FunctionExtras.h
  wpiutil/src/main/native/include/wpi/PointerIntPair.h
  wpiutil/src/main/native/include/wpi/PointerUnion.h
  wpiutil/src/test/native/cpp/llvm/FunctionExtrasTest.cpp
Labels: component: wpiutil

#1684 Notifier null check
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Notifier.java
Labels: component: wpilibj

#1688 Descriptive null checking
  wpilibj/src/main/java/edu/wpi/first/wpilibj/AnalogAccelerometer.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/AnalogGyro.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/AnalogTriggerOutput.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Counter.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Encoder.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/I2C.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PIDBase.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Preferences.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Relay.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/RobotDrive.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/shuffleboard/ShuffleboardComponent.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/shuffleboard/ShuffleboardInstance.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/shuffleboard/ShuffleboardLayout.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/smartdashboard/SendableChooser.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/util/ErrorMessages.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/util/ErrorMessagesTest.java
Labels: component: wpilibj

#1170 Move unit tests from integration test suite
  shared/java/javacommon.gradle
  wpilibj/src/test/java/edu/wpi/first/wpilibj/LinearFilterNoiseTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/LinearFilterOutputTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/LinearFilterTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/PreferencesTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/smartdashboard/SmartDashboardTest.java
  wpilibj/src/test/resources/edu/wpi/first/wpilibj/PreferencesTestDefault.ini
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/PreferencesTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/WpiLibJTestSuite.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/smartdashboard/SmartDashboardTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/smartdashboard/SmartDashboardTestSuite.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/test/TestSuite.java
Labels: wip

#1773 Add HALSIM_SetSendError implementation
  hal/src/main/native/sim/DriverStation.cpp
Labels: component: hal, os: simulation

#1778 wpiutil: Fix Process::Spawn()
  wpiutil/src/main/native/include/wpi/uv/Process.h
Labels: component: wpiutil
