Repository wpilibsuite/allwpilib, pull requests merged in 2019-11, with the labels that each got.

#2033 Fix duplicate encoders in examples
  wpilibcExamples/src/main/cpp/examples/DifferentialDriveBot/include/Drivetrain.h
  wpilibcExamples/src/main/cpp/examples/MecanumBot/include/Drivetrain.h
  wpilibcExamples/src/main/cpp/examples/SwerveBot/include/SwerveModule.h
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/differentialdrivebot/Drivetrain.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/mecanumbot/Drivetrain.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervebot/SwerveModule.java
Labels: component: wpilibc, component: wpilibj, type: bugfix

#2040 Add support for a high level DutyCycleEncoder class
  wpilibc/src/main/native/cpp/AnalogEncoder.cpp
  wpilibc/src/main/native/cpp/DutyCycle.cpp
  wpilibc/src/main/native/cpp/DutyCycleEncoder.cpp
  wpilibc/src/main/native/include/frc/AnalogEncoder.h
  wpilibc/src/main/native/include/frc/DutyCycle.h
  wpilibc/src/main/native/include/frc/DutyCycleEncoder.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/AnalogEncoder.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DutyCycle.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DutyCycleEncoder.java
Labels: Ready For Review

#2135 HSV Values & Rainbow example for LED Controller
  wpilibc/src/main/native/cpp/AddressableLED.cpp
  wpilibc/src/main/native/include/frc/AddressableLED.h
  wpilibcExamples/src/main/cpp/examples/AddressableLED/cpp/Robot.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/AddressableLEDBuffer.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/AddressableLEDBufferTest.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/addressableled/Robot.java
Labels: component: wpilibc, component: wpilibj
