Repository wpilibsuite/allwpilib, pull requests merged in 2019-08, with the labels that each got.

#1792 fix missing default name in java pidcontroller
  wpilibj/src/main/java/edu/wpi/first/wpilibj/controller/PIDController.java
Labels: component: wpilibj

#1769 Add EJML dependency to wpiutil
  docs/build.gradle
  wpilibj/CMakeLists.txt
  wpiutil/CMakeLists.txt
  wpiutil/build.gradle
Labels: component: wpiutil

#1799 Synchronous Sendable listeners
  wpilibc/src/main/native/cpp/smartdashboard/ListenerExecutor.cpp
  wpilibc/src/main/native/cpp/smartdashboard/SendableBuilderImpl.cpp
  wpilibc/src/main/native/cpp/smartdashboard/SmartDashboard.cpp
  wpilibc/src/main/native/include/frc/smartdashboard/ListenerExecutor.h
  wpilibc/src/main/native/include/frc/smartdashboard/SmartDashboard.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/smartdashboard/ListenerExecutor.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/smartdashboard/SendableBuilderImpl.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/smartdashboard/SmartDashboard.java
Labels: component: wpilibc, component: wpilibj

#1803 Fix cscore build with OpenCV 4
  cscore/src/main/native/cpp/CvSinkImpl.cpp
  cscore/src/main/native/cpp/CvSourceImpl.cpp
  cscore/src/main/native/cpp/Frame.cpp
  cscore/src/main/native/include/cscore_cv.h
Labels: component: cscore

#1795 Pidcontroller remove async
  wpilibc/src/main/native/cpp/controller/PIDController.cpp
  wpilibc/src/main/native/cpp/controller/PIDControllerRunner.cpp
  wpilibc/src/main/native/include/frc/controller/PIDController.h
  wpilibc/src/main/native/include/frc/controller/PIDControllerRunner.h
  wpilibc/src/test/native/cpp/PIDToleranceTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/MotorEncoderTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/controller/PIDController.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/controller/PIDControllerRunner.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/PIDToleranceTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/MotorEncoderTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/PIDTest.java
Labels: component: wpilibc, component: wpilibj

#1809 Update java examples to use new PIDController
  wpilibjExamples/build.gradle
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/gearsbot/commands/DriveStraight.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/gearsbot/commands/SetDistanceToBox.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/pacgoat/subsystems/DriveTrain.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/potentiometerpid/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/ultrasonicpid/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/iterative/Robot.java
Labels: component: wpilibj

#1813 Fix sim incorrectly setting dio port to initialized on cleanup
  hal/src/main/native/sim/DIO.cpp
Labels: component: hal, os: simulation

#1810 Add java arcade drive example
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/arcadedrive/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/arcadedrive/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/examples.json
Labels: component: wpilibj

#1789 Make LinearFilter copyable and moveable
  wpilibc/src/main/native/include/frc/LinearFilter.h
Labels: component: wpilibc

#1819 Move GetStackTrace and Demangle to wpiutil, add Windows support
  ThirdPartyNotices.txt
  wpilibc/src/main/native/cpp/Error.cpp
  wpilibc/src/main/native/cpp/Utility.cpp
  wpilibc/src/main/native/include/frc/Utility.h
  wpiutil/.styleguide
  wpiutil/CMakeLists.txt
  wpiutil/build.gradle
  wpiutil/src/main/native/include/wpi/Demangle.h
  wpiutil/src/main/native/include/wpi/StackTrace.h
  wpiutil/src/main/native/unix/Demangle.cpp
  wpiutil/src/main/native/unix/StackTrace.cpp
  wpiutil/src/main/native/windows/Demangle.cpp
  wpiutil/src/main/native/windows/StackTrace.cpp
  wpiutil/src/main/native/windows/StackWalker.cpp
  wpiutil/src/main/native/windows/StackWalker.h
Labels: component: wpiutil

#1815 Add overloads for units
  wpilibc/src/main/native/cpp/IterativeRobotBase.cpp
  wpilibc/src/main/native/cpp/LinearFilter.cpp
  wpilibc/src/main/native/cpp/Notifier.cpp
  wpilibc/src/main/native/cpp/TimedRobot.cpp
  wpilibc/src/main/native/cpp/Timer.cpp
  wpilibc/src/main/native/cpp/controller/PIDController.cpp
  wpilibc/src/main/native/include/frc/IterativeRobotBase.h
  wpilibc/src/main/native/include/frc/LinearFilter.h
  wpilibc/src/main/native/include/frc/Notifier.h
  wpilibc/src/main/native/include/frc/TimedRobot.h
  wpilibc/src/main/native/include/frc/Timer.h
  wpilibc/src/main/native/include/frc/controller/PIDController.h
  wpilibc/src/test/native/cpp/LinearFilterNoiseTest.cpp
  wpilibc/src/test/native/cpp/LinearFilterOutputTest.cpp
  wpilibc/src/test/native/cpp/PIDInputOutputTest.cpp
Labels: component: wpilibc

#1811 Add unit-safety to C++ geometry classes
  wpilibc/src/main/native/cpp/geometry/Pose2d.cpp
  wpilibc/src/main/native/cpp/geometry/Rotation2d.cpp
  wpilibc/src/main/native/cpp/geometry/Translation2d.cpp
  wpilibc/src/main/native/include/frc/geometry/Pose2d.h
  wpilibc/src/main/native/include/frc/geometry/Rotation2d.h
  wpilibc/src/main/native/include/frc/geometry/Translation2d.h
  wpilibc/src/main/native/include/frc/geometry/Twist2d.h
  wpilibc/src/test/native/cpp/geometry/Pose2dTest.cpp
  wpilibc/src/test/native/cpp/geometry/Rotation2dTest.cpp
  wpilibc/src/test/native/cpp/geometry/Translation2dTest.cpp
  wpilibc/src/test/native/cpp/geometry/Twist2dTest.cpp
  wpiutil/src/main/native/include/units/units.h
Labels: component: wpilibc

#1814 Add TrapezoidProfile example
  wpilibcExamples/src/main/cpp/examples/ElevatorTrapezoidProfile/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/examples.json
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/elevatortrapezoidprofile/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/elevatortrapezoidprofile/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/examples.json
Labels: component: wpilibc, component: wpilibj

#1823 expose xboxcontroller enum
  wpilibc/src/main/native/include/frc/XboxController.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/XboxController.java
Labels: component: wpilibc, component: wpilibj

#1804 Add compile-time EJML matrix wrapper to wpiutil
  wpiutil/CMakeLists.txt
  wpiutil/build.gradle
  wpiutil/generate_numbers.py
  wpiutil/src/generate/GenericNumber.java.in
  wpiutil/src/generate/Nat.java.in
  wpiutil/src/generate/NatGetter.java.in
  wpiutil/src/main/java/edu/wpi/first/wpiutil/math/MatBuilder.java
  wpiutil/src/main/java/edu/wpi/first/wpiutil/math/Matrix.java
  wpiutil/src/main/java/edu/wpi/first/wpiutil/math/MatrixUtils.java
  wpiutil/src/main/java/edu/wpi/first/wpiutil/math/Num.java
  wpiutil/src/main/java/edu/wpi/first/wpiutil/math/SimpleMatrixUtils.java
  wpiutil/src/main/java/edu/wpi/first/wpiutil/math/VecBuilder.java
  wpiutil/src/test/java/edu/wpi/first/wpiutil/math/MatrixTest.java
Labels: component: wpilibj

#1836 Move drive integration tests into wpilibj/src/test
  wpilibc/src/test/native/cpp/controller/PIDInputOutputTest.cpp
  wpilibc/src/test/native/cpp/controller/PIDToleranceTest.cpp
  wpilibc/src/test/native/cpp/drive/DriveTest.cpp
  wpilibj/src/test/java/edu/wpi/first/wpilibj/controller/PIDInputOutputTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/controller/PIDToleranceTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/drive/DriveTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/DriveTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/WpiLibJTestSuite.java
Labels: component: wpilibc, component: wpilibj

#1846 TimedRobot.cpp: Fix deprecation warning
  wpilibc/src/main/native/cpp/IterativeRobotBase.cpp
  wpilibc/src/main/native/cpp/TimedRobot.cpp
Labels: component: wpilibc

#1840 Move circular buffer class from wpilib to wpiutil
  wpilibc/src/main/native/include/frc/LinearFilter.h
  wpilibc/src/main/native/include/frc/filters/LinearDigitalFilter.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/LinearFilter.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/filters/LinearDigitalFilter.java
  wpiutil/src/main/java/edu/wpi/first/wpiutil/CircularBuffer.java
  wpiutil/src/main/native/include/wpi/circular_buffer.h
  wpiutil/src/main/native/include/wpi/circular_buffer.inc
  wpiutil/src/test/java/edu/wpi/first/wpiutil/CircularBufferTest.java
  wpiutil/src/test/native/cpp/CircularBufferTest.cpp
Labels: component: wpilibc, component: wpilibj, component: wpiutil

#1847 Delete RobotState constructor
  wpilibc/src/main/native/include/frc/RobotState.h
  wpilibc/src/main/native/include/frc/SensorUtil.h
Labels: component: wpilibc

#1845 Refactor HAL handle move construction/assignment
  hal/src/main/native/include/hal/I2CTypes.h
  hal/src/main/native/include/hal/SPITypes.h
  hal/src/main/native/include/hal/Types.h
  wpilibc/src/main/native/cpp/AnalogGyro.cpp
  wpilibc/src/main/native/cpp/AnalogInput.cpp
  wpilibc/src/main/native/cpp/AnalogOutput.cpp
  wpilibc/src/main/native/cpp/AnalogTrigger.cpp
  wpilibc/src/main/native/cpp/AnalogTriggerOutput.cpp
  wpilibc/src/main/native/cpp/CAN.cpp
  wpilibc/src/main/native/cpp/Counter.cpp
  wpilibc/src/main/native/cpp/DigitalInput.cpp
  wpilibc/src/main/native/cpp/DigitalOutput.cpp
  wpilibc/src/main/native/cpp/DoubleSolenoid.cpp
  wpilibc/src/main/native/cpp/Encoder.cpp
  wpilibc/src/main/native/cpp/I2C.cpp
  wpilibc/src/main/native/cpp/InterruptableSensorBase.cpp
  wpilibc/src/main/native/cpp/PWM.cpp
  wpilibc/src/main/native/cpp/Relay.cpp
  wpilibc/src/main/native/cpp/SPI.cpp
  wpilibc/src/main/native/cpp/Solenoid.cpp
  wpilibc/src/main/native/cpp/TimedRobot.cpp
  wpilibc/src/main/native/include/frc/AnalogGyro.h
  wpilibc/src/main/native/include/frc/AnalogInput.h
  wpilibc/src/main/native/include/frc/AnalogOutput.h
  wpilibc/src/main/native/include/frc/AnalogTrigger.h
  wpilibc/src/main/native/include/frc/AnalogTriggerOutput.h
  wpilibc/src/main/native/include/frc/CAN.h
  wpilibc/src/main/native/include/frc/Compressor.h
  wpilibc/src/main/native/include/frc/Counter.h
  wpilibc/src/main/native/include/frc/DigitalInput.h
  wpilibc/src/main/native/include/frc/DigitalOutput.h
  wpilibc/src/main/native/include/frc/DoubleSolenoid.h
  wpilibc/src/main/native/include/frc/Encoder.h
  wpilibc/src/main/native/include/frc/I2C.h
  wpilibc/src/main/native/include/frc/InterruptableSensorBase.h
  wpilibc/src/main/native/include/frc/PWM.h
  wpilibc/src/main/native/include/frc/PowerDistributionPanel.h
  wpilibc/src/main/native/include/frc/Relay.h
  wpilibc/src/main/native/include/frc/SPI.h
  wpilibc/src/main/native/include/frc/Solenoid.h
  wpilibc/src/main/native/include/frc/TimedRobot.h
Labels: component: hal, component: wpilibc

#1852 Correctly report -1 for POV on disconnected joystick
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DriverStation.java
Labels: component: wpilibj

#1862 Fix cmake Eigen include directory
  wpiutil/CMakeLists.txt
Labels: component: wpiutil
