Repository wpilibsuite/allwpilib, pull requests merged in 2019-02, with the labels that each got.

#1579 ntcore: Read ini escaped quotes correctly
  ntcore/src/main/native/cpp/Storage_load.cpp
  ntcore/src/test/native/cpp/StorageTest.cpp
Labels: component: ntcore

#1577 Add reuse to pipe
  wpiutil/src/main/native/cpp/uv/Pipe.cpp
  wpiutil/src/main/native/include/wpi/uv/Pipe.h
Labels: component: wpiutil

#1595 Fix C++ ShuffleboardComponent template type
  wpilibc/src/main/native/cpp/Watchdog.cpp
  wpilibc/src/main/native/cpp/shuffleboard/BuiltInLayouts.cpp
  wpilibc/src/main/native/cpp/shuffleboard/BuiltInWidgets.cpp
  wpilibc/src/main/native/cpp/shuffleboard/ShuffleboardContainer.cpp
  wpilibc/src/main/native/cpp/shuffleboard/ShuffleboardWidget.cpp
  wpilibc/src/main/native/include/frc/shuffleboard/BuiltInLayouts.h
  wpilibc/src/main/native/include/frc/shuffleboard/BuiltInWidgets.h
  wpilibc/src/main/native/include/frc/shuffleboard/LayoutType.h
  wpilibc/src/main/native/include/frc/shuffleboard/ShuffleboardContainer.h
  wpilibc/src/main/native/include/frc/shuffleboard/ShuffleboardWidget.h
  wpilibc/src/main/native/include/frc/shuffleboard/WidgetType.h
  wpilibc/src/test/native/cpp/shuffleboard/ShuffleboardWidgetTest.cpp
Labels: component: wpilibc, type: bugfix
