Repository wpilibsuite/allwpilib, pull requests merged in 2019-01, with the labels that each got.

#1526 Fix MotorSafety deadlock
  wpilibc/src/main/native/cpp/MotorSafety.cpp
Labels: component: wpilibc, type: bug

#1531 Java: Fix Timer.get() handling of accumulated time
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Timer.java
Labels: component: wpilibj

#1536 cscore: MjpegServer: Fix FPS limiting
  cscore/src/main/native/cpp/MjpegServerImpl.cpp
Labels: component: cscore

#1537 Add DriverStationSim.notifyNewData
  hal/src/main/java/edu/wpi/first/hal/sim/DriverStationSim.java
  hal/src/main/native/include/simulation/DriverStationSim.h
Labels: component: hal, os: simulation

#1544 CameraServer: Return MjpegServer from StartAutomaticCapture(VideoSource)
  cameraserver/src/main/java/edu/wpi/first/cameraserver/CameraServer.java
  cameraserver/src/main/native/cpp/cameraserver/CameraServer.cpp
  cameraserver/src/main/native/include/cameraserver/CameraServer.h
Labels: component: cscore

#1545 Make MjpegServer functions public
  cscore/src/main/java/edu/wpi/cscore/MjpegServer.java
Labels: component: cscore

#1543 cscore: Add config json to VideoSink
  cscore/src/main/java/edu/wpi/cscore/CameraServerJNI.java
  cscore/src/main/java/edu/wpi/cscore/VideoSink.java
  cscore/src/main/native/cpp/PropertyContainer.cpp
  cscore/src/main/native/cpp/PropertyContainer.h
  cscore/src/main/native/cpp/SinkImpl.cpp
  cscore/src/main/native/cpp/SinkImpl.h
  cscore/src/main/native/cpp/SourceImpl.cpp
  cscore/src/main/native/cpp/cscore_c.cpp
  cscore/src/main/native/cpp/cscore_cpp.cpp
  cscore/src/main/native/cpp/cscore_oo.cpp
  cscore/src/main/native/cpp/jni/CameraServerJNI.cpp
  cscore/src/main/native/include/cscore_c.h
  cscore/src/main/native/include/cscore_cpp.h
  cscore/src/main/native/include/cscore_oo.h
  cscore/src/main/native/include/cscore_oo.inl
Labels: component: cscore

#1561 cscore: Handle USB camera integer menus
  cscore/src/main/native/linux/UsbCameraProperty.cpp
  cscore/src/main/native/linux/UsbCameraProperty.h
Labels: component: cscore

#1576 Pass IPC value of listening pipe to accepted pipe
  wpiutil/src/main/native/cpp/uv/Pipe.cpp
Labels: component: wpiutil
