Repository wpilibsuite/allwpilib, pull requests merged in 2019-06, with the labels that each got.

#1059 Remove functions and classes deprecated for 2018 season
  wpilibc/src/main/native/cpp/ControllerPower.cpp
  wpilibc/src/main/native/cpp/DriverStation.cpp
  wpilibc/src/main/native/cpp/GamepadBase.cpp
  wpilibc/src/main/native/cpp/Joystick.cpp
  wpilibc/src/main/native/cpp/JoystickBase.cpp
  wpilibc/src/main/native/cpp/Timer.cpp
  wpilibc/src/main/native/cpp/Utility.cpp
  wpilibc/src/main/native/cpp/livewindow/LiveWindowSendable.cpp
  wpilibc/src/main/native/cpp/smartdashboard/NamedSendable.cpp
  wpilibc/src/main/native/include/ControllerPower.h
  wpilibc/src/main/native/include/GamepadBase.h
  wpilibc/src/main/native/include/JoystickBase.h
  wpilibc/src/main/native/include/LiveWindow/LiveWindowSendable.h
  wpilibc/src/main/native/include/SmartDashboard/NamedSendable.h
  wpilibc/src/main/native/include/frc/ControllerPower.h
  wpilibc/src/main/native/include/frc/DriverStation.h
  wpilibc/src/main/native/include/frc/GamepadBase.h
  wpilibc/src/main/native/include/frc/Joystick.h
  wpilibc/src/main/native/include/frc/JoystickBase.h
  wpilibc/src/main/native/include/frc/Timer.h
  wpilibc/src/main/native/include/frc/Utility.h
  wpilibc/src/main/native/include/frc/WPILib.h
  wpilibc/src/main/native/include/frc/livewindow/LiveWindowSendable.h
  wpilibc/src/main/native/include/frc/smartdashboard/NamedSendable.h
  wpilibc/src/test/native/cpp/DriveTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/ControllerPower.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DriverStation.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/GamepadBase.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Joystick.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/JoystickBase.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/NamedSendable.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Utility.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/livewindow/LiveWindow.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/livewindow/LiveWindowSendable.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/smartdashboard/SmartDashboard.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/AnalogPotentiometerTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/DriveTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/WpiLibJTestSuite.java
  wpiutil/src/main/native/include/wpi/jni_util.h
Labels: component: wpilibc, component: wpilibj

#1721 wpiutil: Signal: make operator() const
  wpiutil/src/main/native/include/wpi/Signal.h
  wpiutil/src/main/native/include/wpi/uv/Handle.h
Labels: component: wpiutil

#1722 wpiutil: SafeThread: Add thread id, support getting shared_ptr
  wpiutil/src/main/native/cpp/SafeThread.cpp
  wpiutil/src/main/native/include/wpi/SafeThread.h
Labels: component: wpiutil

#1728 HALSIM: support mocking of HAL_SendError()
  hal/src/main/native/include/mockdata/MockHooks.h
  hal/src/main/native/sim/DriverStation.cpp
Labels: component: hal, os: simulation

#1727 ErrorBase: Use magic static singleton for globals
  wpilibc/src/main/native/cpp/ErrorBase.cpp
  wpilibc/src/main/native/include/frc/ErrorBase.h
  wpilibc/src/main/native/include/frc/WPIErrors.h
Labels: component: wpilibc

#1732 Replace wpi::optional with C++17 std::optional
  ThirdPartyNotices.txt
  wpiutil/.styleguide
  wpiutil/src/main/native/cpp/llvm/NativeFormatting.cpp
  wpiutil/src/main/native/include/wpi/ArrayRef.h
  wpiutil/src/main/native/include/wpi/Format.h
  wpiutil/src/main/native/include/wpi/NativeFormatting.h
  wpiutil/src/main/native/include/wpi/STLExtras.h
  wpiutil/src/main/native/include/wpi/SmallSet.h
  wpiutil/src/main/native/include/wpi/VersionTuple.h
  wpiutil/src/main/native/include/wpi/optional.h
  wpiutil/src/test/native/cpp/test_optional.cpp
Labels: component: wpiutil

#1745 Remove wpi::ArrayRef std::initializer_list constructor
  ntcore/src/main/native/include/networktables/NetworkTableEntry.h
  ntcore/src/main/native/include/networktables/NetworkTableEntry.inl
  ntcore/src/main/native/include/networktables/NetworkTableValue.h
  wpilibc/src/main/native/cpp/LinearFilter.cpp
  wpilibc/src/main/native/cpp/filters/LinearDigitalFilter.cpp
  wpilibc/src/main/native/cpp/shuffleboard/RecordingController.cpp
  wpilibc/src/main/native/include/frc/LinearFilter.h
  wpilibc/src/main/native/include/frc/filters/LinearDigitalFilter.h
  wpiutil/src/main/native/cpp/WebSocket.cpp
  wpiutil/src/main/native/include/wpi/ArrayRef.h
  wpiutil/src/main/native/include/wpi/WebSocket.h
  wpiutil/src/main/native/include/wpi/WebSocketServer.h
  wpiutil/src/main/native/include/wpi/uv/Stream.h
  wpiutil/src/netconsoleServer/native/cpp/main.cpp
  wpiutil/src/netconsoleTee/native/cpp/main.cpp
  wpiutil/src/test/native/cpp/WebSocketClientTest.cpp
  wpiutil/src/test/native/cpp/WebSocketServerTest.cpp
Labels: component: wpiutil

#1730 Fix GCC 9 warnings
  wpiutil/src/main/native/cpp/json_binary_writer.cpp
  wpiutil/src/main/native/libuv/include/uv/unix.h
  wpiutil/src/main/native/libuv/src/unix/core.cpp
  wpiutil/src/main/native/libuv/src/unix/kqueue.cpp
  wpiutil/src/main/native/libuv/src/unix/linux-core.cpp
  wpiutil/src/main/native/libuv/src/unix/loop.cpp
Labels: component: wpilibc, component: wpiutil
