Repository wpilibsuite/allwpilib, pull requests merged in 2019-05, with the labels that each got.

#1647 Add LoopClosing status to Handle
  wpiutil/src/main/native/cpp/EventLoopRunner.cpp
  wpiutil/src/main/native/include/wpi/uv/Handle.h
Labels: component: wpiutil

#1685 Add usage reporting for the Shuffleboard API
  wpilibc/src/main/native/cpp/shuffleboard/ShuffleboardInstance.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/shuffleboard/Shuffleboard.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/shuffleboard/ShuffleboardInstance.java
Labels: component: shuffleboard

#1690 Allow widgets to be added by passing value suppliers
  wpilibc/src/main/native/cpp/shuffleboard/ShuffleboardContainer.cpp
  wpilibc/src/main/native/include/frc/shuffleboard/ShuffleboardContainer.h
  wpilibc/src/main/native/include/frc/shuffleboard/SuppliedValueWidget.h
  wpilibc/src/test/native/cpp/shuffleboard/SuppliedValueWidgetTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/shuffleboard/ContainerHelper.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/shuffleboard/ShuffleboardContainer.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/shuffleboard/ShuffleboardLayout.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/shuffleboard/ShuffleboardTab.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/shuffleboard/SuppliedValueWidget.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/shuffleboard/SuppliedValueWidgetTest.java
Labels: component: shuffleboard, type: enhancement, wip
