Repository wpilibsuite/allwpilib, pull requests merged in 2020-04, with the labels that each got.

#2336 [wpilibc] Add doxygen deprecated tag to deprecated methods
  wpilibc/src/main/native/include/frc/Controller.h
  wpilibc/src/main/native/include/frc/Encoder.h
  wpilibc/src/main/native/include/frc/GearTooth.h
  wpilibc/src/main/native/include/frc/IterativeRobot.h
  wpilibc/src/main/native/include/frc/IterativeRobotBase.h
  wpilibc/src/main/native/include/frc/Notifier.h
  wpilibc/src/main/native/include/frc/PIDBase.h
  wpilibc/src/main/native/include/frc/PIDController.h
  wpilibc/src/main/native/include/frc/PIDInterface.h
  wpilibc/src/main/native/include/frc/RobotDrive.h
  wpilibc/src/main/native/include/frc/SPI.h
  wpilibc/src/main/native/include/frc/TimedRobot.h
  wpilibc/src/main/native/include/frc/Watchdog.h
  wpilibc/src/main/native/include/frc/filters/Filter.h
  wpilibc/src/main/native/include/frc/filters/LinearDigitalFilter.h
  wpilibc/src/main/native/include/frc/smartdashboard/SendableBase.h
  wpilibc/src/main/native/include/frc/smartdashboard/SendableChooser.h
  wpilibc/src/main/native/include/frc/smartdashboard/SendableHelper.h
Labels: type: documentation

#2452 [wpilibj] Refactor Tracer functionality out of Watchdog class
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Tracer.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Watchdog.java
Labels: help: needs C++, type: enhancement

#2462 [ntcore] Always show StartLocal instances as connected
  ntcore/src/main/native/cpp/Dispatcher.cpp
Labels: component: ntcore

#2303 [wpilibc] Add real-time priority constructor to Notifier
  wpilibc/src/main/native/cpp/Notifier.cpp
  wpilibc/src/main/native/include/frc/Notifier.h
Labels: component: wpilibc
