Repository wpilibsuite/allwpilib, pull requests merged in 2020-07, with the labels that each got.

#2566 [sim] Add Java wrapper for getProgramStarted
  hal/src/main/java/edu/wpi/first/hal/simulation/SimulatorJNI.java
  hal/src/main/native/sim/jni/SimulatorJNI.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/SimHooks.java
Labels: component: hal, os: simulation

#2567 [sim] Remove index from RoboRIO simulation interface
  hal/src/main/java/edu/wpi/first/hal/simulation/RoboRioDataJNI.java
  hal/src/main/native/include/hal/simulation/RoboRioData.h
  hal/src/main/native/sim/Power.cpp
  hal/src/main/native/sim/jni/RoboRioDataJNI.cpp
  hal/src/main/native/sim/mockdata/RoboRioData.cpp
  simulation/halsim_gui/src/main/native/cpp/RoboRioGui.cpp
  wpilibc/src/main/native/include/frc/simulation/RoboRioSim.h
  wpilibc/src/test/native/cpp/simulation/SimInitializationTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/RoboRioSim.java
Labels: component: hal, os: simulation

#2568 [sim] Add support for disabling SimDevices
  hal/src/main/java/edu/wpi/first/hal/simulation/SimDeviceDataJNI.java
  hal/src/main/native/include/hal/simulation/SimDeviceData.h
  hal/src/main/native/sim/jni/SimDeviceDataJNI.cpp
  hal/src/main/native/sim/mockdata/SimDeviceData.cpp
  hal/src/main/native/sim/mockdata/SimDeviceDataInternal.h
  hal/src/test/native/cpp/mockdata/SimDeviceDataTests.cpp
Labels: component: hal, os: simulation

#2547 [cscore] Add support for changing the USB camera path
  cscore/src/main/java/edu/wpi/cscore/CameraServerJNI.java
  cscore/src/main/java/edu/wpi/cscore/UsbCamera.java
  cscore/src/main/native/cpp/UsbCameraImplCommon.cpp
  cscore/src/main/native/cpp/jni/CameraServerJNI.cpp
  cscore/src/main/native/include/cscore_c.h
  cscore/src/main/native/include/cscore_cpp.h
  cscore/src/main/native/include/cscore_oo.h
  cscore/src/main/native/include/cscore_oo.inl
  cscore/src/main/native/linux/UsbCameraImpl.cpp
  cscore/src/main/native/linux/UsbCameraImpl.h
  cscore/src/main/native/osx/UsbCameraImpl.cpp
  cscore/src/main/native/windows/UsbCameraImpl.cpp
  cscore/src/main/native/windows/UsbCameraImpl.h
Labels: component: cscore

#2571 [sim] Move HAL_LoadExtensions to end of HAL_Initialize
  hal/src/main/native/sim/HAL.cpp
Labels: component: hal, os: simulation

#2576 [wpiutil] HttpServerConnection: Make more functions virtual
  wpiutil/src/main/native/include/wpi/HttpServerConnection.h
Labels: component: wpiutil

#2585 [cscore] Provide USB Camera VID and PID in Windows
  cscore/src/main/native/windows/UsbCameraImpl.cpp
  cscore/src/main/native/windows/UsbCameraImpl.h
Labels: component: cscore

#2587 [hal] Merge WaitForCachedData into WaitForDSData
  hal/src/main/native/athena/FRCDriverStation.cpp
  hal/src/main/native/include/hal/DriverStation.h
  hal/src/main/native/sim/DriverStation.cpp
  wpilibc/src/main/native/cpp/DriverStation.cpp
  wpilibc/src/main/native/include/frc/DriverStation.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DriverStation.java
Labels: component: wpilibc, component: wpilibj

#2595 [sim] Add joystick simulation support
  hal/src/main/java/edu/wpi/first/hal/simulation/DriverStationDataJNI.java
  hal/src/main/native/athena/mockdata/DriverStationData.cpp
  hal/src/main/native/cpp/jni/simulation/DriverStationDataJNI.cpp
  hal/src/main/native/include/hal/simulation/DriverStationData.h
  hal/src/main/native/sim/mockdata/DriverStationData.cpp
  hal/src/main/native/sim/mockdata/DriverStationDataInternal.h
  wpilibc/src/main/native/include/frc/simulation/DriverStationSim.h
  wpilibc/src/main/native/include/frc/simulation/GenericHIDSim.h
  wpilibc/src/main/native/include/frc/simulation/JoystickSim.h
  wpilibc/src/main/native/include/frc/simulation/XboxControllerSim.h
  wpilibc/src/test/native/cpp/JoystickTest.cpp
  wpilibc/src/test/native/cpp/XboxControllerTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Joystick.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/DriverStationSim.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/GenericHIDSim.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/JoystickSim.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/XboxControllerSim.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/JoystickTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/XboxControllerTest.java
Labels: component: hal, component: wpilibc, component: wpilibj, os: simulation

#2598 [sim] Move WPILib C++ sim implementations out of line
  wpilibNewCommands/src/test/native/cpp/frc2/command/CommandTestBase.cpp
  wpilibNewCommands/src/test/native/cpp/frc2/command/CommandTestBase.h
  wpilibNewCommands/src/test/native/cpp/frc2/command/POVButtonTest.cpp
  wpilibc/src/main/native/cpp/simulation/AddressableLEDSim.cpp
  wpilibc/src/main/native/cpp/simulation/AnalogGyroSim.cpp
  wpilibc/src/main/native/cpp/simulation/AnalogInputSim.cpp
  wpilibc/src/main/native/cpp/simulation/AnalogOutputSim.cpp
  wpilibc/src/main/native/cpp/simulation/AnalogTriggerSim.cpp
  wpilibc/src/main/native/cpp/simulation/BuiltInAccelerometerSim.cpp
  wpilibc/src/main/native/cpp/simulation/CallbackStore.cpp
  wpilibc/src/main/native/cpp/simulation/DIOSim.cpp
  wpilibc/src/main/native/cpp/simulation/DigitalPWMSim.cpp
  wpilibc/src/main/native/cpp/simulation/DriverStationSim.cpp
  wpilibc/src/main/native/cpp/simulation/DutyCycleSim.cpp
  wpilibc/src/main/native/cpp/simulation/EncoderSim.cpp
  wpilibc/src/main/native/cpp/simulation/GenericHIDSim.cpp
  wpilibc/src/main/native/cpp/simulation/JoystickSim.cpp
  wpilibc/src/main/native/cpp/simulation/PCMSim.cpp
  wpilibc/src/main/native/cpp/simulation/PDPSim.cpp
  wpilibc/src/main/native/cpp/simulation/PWMSim.cpp
  wpilibc/src/main/native/cpp/simulation/RelaySim.cpp
  wpilibc/src/main/native/cpp/simulation/RoboRioSim.cpp
  wpilibc/src/main/native/cpp/simulation/SPIAccelerometerSim.cpp
  wpilibc/src/main/native/cpp/simulation/SimDeviceSim.cpp
  wpilibc/src/main/native/cpp/simulation/SimHooks.cpp
  wpilibc/src/main/native/cpp/simulation/XboxControllerSim.cpp
  wpilibc/src/main/native/include/frc/simulation/AddressableLEDSim.h
  wpilibc/src/main/native/include/frc/simulation/AnalogGyroSim.h
  wpilibc/src/main/native/include/frc/simulation/AnalogInputSim.h
  wpilibc/src/main/native/include/frc/simulation/AnalogOutputSim.h
  wpilibc/src/main/native/include/frc/simulation/AnalogTriggerSim.h
  wpilibc/src/main/native/include/frc/simulation/BuiltInAccelerometerSim.h
  wpilibc/src/main/native/include/frc/simulation/CallbackStore.h
  wpilibc/src/main/native/include/frc/simulation/DIOSim.h
  wpilibc/src/main/native/include/frc/simulation/DigitalPWMSim.h
  wpilibc/src/main/native/include/frc/simulation/DriverStationSim.h
  wpilibc/src/main/native/include/frc/simulation/DutyCycleSim.h
  wpilibc/src/main/native/include/frc/simulation/EncoderSim.h
  wpilibc/src/main/native/include/frc/simulation/GenericHIDSim.h
  wpilibc/src/main/native/include/frc/simulation/JoystickSim.h
  wpilibc/src/main/native/include/frc/simulation/PCMSim.h
  wpilibc/src/main/native/include/frc/simulation/PDPSim.h
  wpilibc/src/main/native/include/frc/simulation/PWMSim.h
  wpilibc/src/main/native/include/frc/simulation/RelaySim.h
  wpilibc/src/main/native/include/frc/simulation/RoboRioSim.h
  wpilibc/src/main/native/include/frc/simulation/SPIAccelerometerSim.h
  wpilibc/src/main/native/include/frc/simulation/SimDeviceSim.h
  wpilibc/src/main/native/include/frc/simulation/SimHooks.h
  wpilibc/src/main/native/include/frc/simulation/XboxControllerSim.h
Labels: component: wpilibc, os: simulation

#2599 [sim] Change stepTiming to take seconds
  wpilibc/src/main/native/cpp/simulation/SimHooks.cpp
  wpilibc/src/main/native/include/frc/simulation/SimHooks.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/SimHooks.java
Labels: component: wpilibc, component: wpilibj, os: simulation

#2606 [sim] Fix HAL notifier race condition
  hal/src/main/native/sim/Notifier.cpp
Labels: component: hal, os: simulation

#2602 [wpilib] Change Watchdog to use HAL notifier
  wpilibc/src/main/native/cpp/Watchdog.cpp
  wpilibc/src/main/native/include/frc/Watchdog.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Watchdog.java
Labels: component: wpilibc, component: wpilibj

#2612 [wpilibj] Use try with resources for Java tests
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/MockHardwareExtension.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/CommandDecoratorTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/CommandGroupErrorTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/CommandRequirementsTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/CommandScheduleTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/CommandTestBase.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/ConditionalCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/DefaultCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/FunctionalCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/InstantCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/NotifierCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/ParallelCommandGroupTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/ParallelDeadlineGroupTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/ParallelRaceGroupTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/PerpetualCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/PrintCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/ProxyScheduleCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/RobotDisabledCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/RunCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/ScheduleCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/SchedulerTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/SelectCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/SequentialCommandGroupTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/StartEndCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/WaitCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/WaitUntilCommandTest.java
  wpilibOldCommands/src/test/java/edu/wpi/first/wpilibj/command/CommandParallelGroupTest.java
  wpilibOldCommands/src/test/java/edu/wpi/first/wpilibj/command/CommandSequentialGroupTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/MockHardwareExtension.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/WatchdogTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/controller/PIDToleranceTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/AnalogInputSimTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/AnalogOutputSimTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/spline/CubicHermiteSplineTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/spline/QuinticHermiteSplineTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/trajectory/TrajectoryGeneratorTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/MotorEncoderTest.java
Labels: component: wpilibj
