Repository wpilibsuite/allwpilib, pull requests merged in 2020-12, with the labels that each got.

#2922 Fix FlywheelSim argument mixup in constructor
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/FlywheelSim.java
Labels: component: wpimath

#2964 [examples] Use ADXRS450_GyroSim class in simulation example
  wpilibcExamples/src/main/cpp/examples/StateSpaceDifferentialDriveSimulation/cpp/subsystems/DriveSubsystem.cpp
  wpilibcExamples/src/main/cpp/examples/StateSpaceDifferentialDriveSimulation/include/subsystems/DriveSubsystem.h
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/statespacedifferentialdrivesimulation/subsystems/DriveSubsystem.java
Labels: cleanup

#3001 [sim] Create Left/Right drivetrain current accessors
  wpilibc/src/main/native/cpp/simulation/DifferentialDrivetrainSim.cpp
  wpilibc/src/main/native/include/frc/simulation/DifferentialDrivetrainSim.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/DifferentialDrivetrainSim.java
Labels: component: wpilibc, component: wpilibj, enhancement

#2997 [glass] Add NetworkTables Log window
  glass/src/app/native/cpp/main.cpp
  glass/src/lib/native/cpp/other/Log.cpp
  glass/src/lib/native/include/glass/other/Log.h
Labels: component: glass, enhancement

#2979 [glass] Add context menus to remove and add networktables values
  glass/src/libnt/native/cpp/NetworkTables.cpp
  glass/src/libnt/native/include/glass/networktables/NetworkTables.h
Labels: component: glass, enhancement

#2967 Make LinearSystemLoop move-constructible and move-assignable
  wpimath/src/main/native/include/frc/system/LinearSystemLoop.h
Labels: component: wpimath

#3009 [glass] Use ImGui style for gyro widget colors
  glass/src/lib/native/cpp/hardware/Gyro.cpp
Labels: cleanup, component: glass

#2975 [glass] Add drive class widgets
  glass/src/lib/native/cpp/other/Drive.cpp
  glass/src/lib/native/include/glass/other/Drive.h
  glass/src/libnt/native/cpp/NTDifferentialDrive.cpp
  glass/src/libnt/native/cpp/NTMecanumDrive.cpp
  glass/src/libnt/native/cpp/StandardNetworkTables.cpp
  glass/src/libnt/native/include/glass/networktables/NTDifferentialDrive.h
  glass/src/libnt/native/include/glass/networktables/NTMecanumDrive.h
Labels: component: glass, enhancement

#3016 [wpilib] PWMSpeedController.get(): Apply Inversion
  wpilibc/src/main/native/cpp/PWMSpeedController.cpp
  wpilibc/src/main/native/include/frc/PWMSpeedController.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PWMSpeedController.java
Labels: breaking change
