Repository wpilibsuite/allwpilib, pull requests merged in 2020-06, with the labels that each got.

#2531 [sim] Make SimDeviceInfo/SimValueInfo data members public
  hal/src/main/java/edu/wpi/first/hal/sim/mockdata/SimDeviceDataJNI.java
Labels: component: hal, os: simulation

#2532 [cscore] EnumerateUsbCameras(): Only list capture devices
  cscore/src/main/native/linux/UsbCameraImpl.cpp
Labels: component: cscore

#2540 [sim] Wrap timing functions in C++ SimHooks
  hal/src/main/native/include/simulation/SimHooks.h
Labels: component: hal, os: simulation

#2543 [hal] Move JNI helpers and sim namespace to hal namespace
  hal/simjni.gradle
  hal/src/main/native/cpp/jni/AddressableLEDJNI.cpp
  hal/src/main/native/cpp/jni/AnalogGyroJNI.cpp
  hal/src/main/native/cpp/jni/AnalogJNI.cpp
  hal/src/main/native/cpp/jni/CANAPIJNI.cpp
  hal/src/main/native/cpp/jni/CANJNI.cpp
  hal/src/main/native/cpp/jni/CompressorJNI.cpp
  hal/src/main/native/cpp/jni/ConstantsJNI.cpp
  hal/src/main/native/cpp/jni/CounterJNI.cpp
  hal/src/main/native/cpp/jni/DIOJNI.cpp
  hal/src/main/native/cpp/jni/DigitalGlitchFilterJNI.cpp
  hal/src/main/native/cpp/jni/DutyCycleJNI.cpp
  hal/src/main/native/cpp/jni/EncoderJNI.cpp
  hal/src/main/native/cpp/jni/HAL.cpp
  hal/src/main/native/cpp/jni/HALUtil.cpp
  hal/src/main/native/cpp/jni/HALUtil.h
  hal/src/main/native/cpp/jni/I2CJNI.cpp
  hal/src/main/native/cpp/jni/InterruptJNI.cpp
  hal/src/main/native/cpp/jni/NotifierJNI.cpp
  hal/src/main/native/cpp/jni/PDPJNI.cpp
  hal/src/main/native/cpp/jni/PWMJNI.cpp
  hal/src/main/native/cpp/jni/PortsJNI.cpp
  hal/src/main/native/cpp/jni/PowerJNI.cpp
  hal/src/main/native/cpp/jni/RelayJNI.cpp
  hal/src/main/native/cpp/jni/SPIJNI.cpp
  hal/src/main/native/cpp/jni/SerialPortJNI.cpp
  hal/src/main/native/cpp/jni/SimDeviceJNI.cpp
  hal/src/main/native/cpp/jni/SolenoidJNI.cpp
  hal/src/main/native/cpp/jni/ThreadsJNI.cpp
  hal/src/main/native/sim/jni/AccelerometerDataJNI.cpp
  hal/src/main/native/sim/jni/AddressableLEDDataJNI.cpp
  hal/src/main/native/sim/jni/AnalogGyroDataJNI.cpp
  hal/src/main/native/sim/jni/AnalogInDataJNI.cpp
  hal/src/main/native/sim/jni/AnalogOutDataJNI.cpp
  hal/src/main/native/sim/jni/AnalogTriggerDataJNI.cpp
  hal/src/main/native/sim/jni/BufferCallbackStore.cpp
  hal/src/main/native/sim/jni/BufferCallbackStore.h
  hal/src/main/native/sim/jni/CallbackStore.cpp
  hal/src/main/native/sim/jni/CallbackStore.h
  hal/src/main/native/sim/jni/ConstBufferCallbackStore.cpp
  hal/src/main/native/sim/jni/ConstBufferCallbackStore.h
  hal/src/main/native/sim/jni/DIODataJNI.cpp
  hal/src/main/native/sim/jni/DigitalPWMDataJNI.cpp
  hal/src/main/native/sim/jni/DriverStationDataJNI.cpp
  hal/src/main/native/sim/jni/DutyCycleDataJNI.cpp
  hal/src/main/native/sim/jni/EncoderDataJNI.cpp
  hal/src/main/native/sim/jni/I2CDataJNI.cpp
  hal/src/main/native/sim/jni/PCMDataJNI.cpp
  hal/src/main/native/sim/jni/PDPDataJNI.cpp
  hal/src/main/native/sim/jni/PWMDataJNI.cpp
  hal/src/main/native/sim/jni/RelayDataJNI.cpp
  hal/src/main/native/sim/jni/RoboRioDataJNI.cpp
  hal/src/main/native/sim/jni/SPIAccelerometerDataJNI.cpp
  hal/src/main/native/sim/jni/SPIDataJNI.cpp
  hal/src/main/native/sim/jni/SimDeviceDataJNI.cpp
  hal/src/main/native/sim/jni/SimDeviceDataJNI.h
  hal/src/main/native/sim/jni/SimulatorJNI.cpp
  hal/src/main/native/sim/jni/SimulatorJNI.h
  hal/src/main/native/sim/jni/SpiReadAutoReceiveBufferCallbackStore.cpp
  hal/src/main/native/sim/jni/SpiReadAutoReceiveBufferCallbackStore.h
Labels: component: hal

#2545 [wpiutil] Add dual-IPv4/IPv6 uv::AddrToName()
  wpiutil/src/main/native/include/wpi/uv/util.h
Labels: component: wpiutil

#2548 [hal] Add GetIndex() to handles classes
  hal/src/main/native/include/hal/handles/DigitalHandleResource.h
  hal/src/main/native/include/hal/handles/IndexedClassedHandleResource.h
  hal/src/main/native/include/hal/handles/IndexedHandleResource.h
  hal/src/main/native/include/hal/handles/LimitedClassedHandleResource.h
  hal/src/main/native/include/hal/handles/LimitedHandleResource.h
  hal/src/main/native/include/hal/handles/UnlimitedHandleResource.h
Labels: component: hal

#2539 [sim] Provide method to set the runtime type
  hal/src/main/java/edu/wpi/first/hal/sim/SimHooks.java
  hal/src/main/java/edu/wpi/first/hal/sim/mockdata/SimulatorJNI.java
  hal/src/main/native/include/mockdata/MockHooks.h
  hal/src/main/native/include/simulation/SimHooks.h
  hal/src/main/native/sim/HAL.cpp
  hal/src/main/native/sim/jni/SimulatorJNI.cpp
Labels: component: hal, os: simulation

#2544 [wpiutil] Add HttpQueryMap and HttpPath/HttpPathRef
  wpiutil/src/main/native/cpp/HttpUtil.cpp
  wpiutil/src/main/native/include/wpi/HttpUtil.h
  wpiutil/src/main/native/include/wpi/HttpUtil.inl
Labels: component: wpiutil

#2556 [cscore] Fix USB camera test failure
  cscore/src/test/java/edu/wpi/cscore/UsbCameraTest.java
Labels: component: cscore

#2554 [wpiutil] Add new combined native class loader
  shared/jni/setupBuild.gradle
  wpiutil/build.gradle
  wpiutil/src/main/java/edu/wpi/first/wpiutil/CombinedRuntimeLoader.java
Labels: component: wpiutil

#2558 [sim] Support StepTiming() even when timing is not paused
  hal/src/main/native/sim/MockHooks.cpp
Labels: component: hal, os: simulation
