Repository wpilibsuite/allwpilib, pull requests merged in 2020-08, with the labels that each got.

#2607 [sim] Add Mechanism2D to Simulation GUI
  simulation/halsim_gui/src/main/native/cpp/Mechanism2D.cpp
  simulation/halsim_gui/src/main/native/cpp/Mechanism2D.h
  simulation/halsim_gui/src/main/native/cpp/main.cpp
  wpilibc/src/main/native/cpp/simulation/Mechanism2D.cpp
  wpilibc/src/main/native/include/frc/simulation/Mechanism2D.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/Mechanism2D.java
Labels: os: simulation

#2628 [sim] Add callbacks for joysticks and match info
  hal/src/main/native/include/hal/simulation/DriverStationData.h
  hal/src/main/native/sim/mockdata/DriverStationData.cpp
  hal/src/main/native/sim/mockdata/DriverStationDataInternal.h
Labels: component: hal, os: simulation

#2632 [wpiutil] Add JNI wrapper for wpi::Now()
  wpiutil/src/main/java/edu/wpi/first/wpiutil/WPIUtilJNI.java
  wpiutil/src/main/native/cpp/jni/WPIUtilJNI.cpp
Labels: component: wpiutil

#2631 [sim] Map wpi::Now() to simulated FPGA time
  hal/src/main/native/sim/MockHooks.cpp
  hal/src/main/native/sim/MockHooksInternal.h
Labels: component: hal, os: simulation

#2636 [sim] Add callback for NotifyNewData
  hal/src/main/native/athena/mockdata/DriverStationData.cpp
  hal/src/main/native/include/hal/simulation/DriverStationData.h
  hal/src/main/native/sim/DriverStation.cpp
  hal/src/main/native/sim/mockdata/DriverStationData.cpp
  hal/src/main/native/sim/mockdata/DriverStationDataInternal.h
Labels: component: hal

#2646 [sim] Properly initialize AnalogTrigger
  hal/src/main/native/sim/HAL.cpp
  hal/src/main/native/sim/HALInitializer.h
Labels: component: hal, os: simulation
