Repository wpilibsuite/allwpilib, pull requests merged in 2020-10, with the labels that each got.

#2762 [wpimath] Fix quintic spline generation from control vectors
  wpimath/src/main/java/edu/wpi/first/wpilibj/spline/SplineHelper.java
  wpimath/src/main/java/edu/wpi/first/wpilibj/trajectory/TrajectoryGenerator.java
  wpimath/src/main/native/cpp/spline/SplineHelper.cpp
  wpimath/src/main/native/cpp/trajectory/TrajectoryGenerator.cpp
  wpimath/src/main/native/include/frc/spline/SplineHelper.h
  wpimath/src/test/java/edu/wpi/first/wpilibj/spline/QuinticHermiteSplineTest.java
  wpimath/src/test/native/cpp/spline/QuinticHermiteSplineTest.cpp
Labels: component: wpimath

#2763 [wpilib] Clean up physics simulation class APIs
  wpilibc/src/main/native/cpp/simulation/ElevatorSim.cpp
  wpilibc/src/main/native/cpp/simulation/FlywheelSim.cpp
  wpilibc/src/main/native/cpp/simulation/SingleJointedArmSim.cpp
  wpilibc/src/main/native/include/frc/simulation/ElevatorSim.h
  wpilibc/src/main/native/include/frc/simulation/FlywheelSim.h
  wpilibc/src/main/native/include/frc/simulation/LinearSystemSim.h
  wpilibc/src/main/native/include/frc/simulation/SingleJointedArmSim.h
  wpilibc/src/test/native/cpp/simulation/ElevatorSimTest.cpp
  wpilibc/src/test/native/cpp/simulation/SingleJointedArmSimTest.cpp
  wpilibcExamples/src/main/cpp/examples/ArmSimulation/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/ElevatorSimulation/cpp/Robot.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/ElevatorSim.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/FlywheelSim.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/LinearSystemSim.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/SingleJointedArmSim.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/ElevatorSimTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/SingleJointedArmSimTest.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/armsimulation/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/elevatorsimulation/Robot.java
Labels: component: wpilibc, component: wpilibj

#2783 [wpimath] Fix m_nextR instantiation in LinearSystemLoop ctor
  wpimath/src/main/java/edu/wpi/first/wpilibj/system/LinearSystemLoop.java
Labels: component: wpimath

#2786 [sim] Fix Field2D GUI crash when collapsed
  simulation/halsim_gui/src/main/native/cpp/Field2D.cpp
Labels: os: simulation

#2791 [wpimath] Add distance/angle constructor to Translation2d
  wpimath/src/main/java/edu/wpi/first/wpilibj/geometry/Translation2d.java
  wpimath/src/main/native/cpp/geometry/Translation2d.cpp
  wpimath/src/main/native/include/frc/geometry/Translation2d.h
  wpimath/src/test/java/edu/wpi/first/wpilibj/geometry/Translation2dTest.java
  wpimath/src/test/native/cpp/geometry/Translation2dTest.cpp
Labels: component: wpimath, enhancement
