Repository wpilibsuite/allwpilib, pull requests merged in 2021-04, with the labels that each got.

#3277 [wpilib] Add setTrajectory() method to FieldObject2d
  wpilibc/src/main/native/cpp/smartdashboard/FieldObject2d.cpp
  wpilibc/src/main/native/include/frc/smartdashboard/FieldObject2d.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/smartdashboard/FieldObject2d.java
Labels: component: wpilibc, component: wpilibj, type: feature

#3273 Add AnalogEncoder(int) ctor
  wpilibc/src/main/native/cpp/AnalogEncoder.cpp
  wpilibc/src/main/native/include/frc/AnalogEncoder.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/AnalogEncoder.java
Labels: component: wpilibc, component: wpilibj, type: feature

#3274 Add "copy to clipboard" button in glass::LogView
  glass/src/lib/native/cpp/other/Log.cpp
  glass/src/lib/native/include/glass/other/Log.h
Labels: component: glass, type: feature

#3296 [wpilib] Revert move RomiGyro into main wpilibc/j
  wpilibc/src/main/native/include/frc/romi/RomiGyro.h
  wpilibcExamples/src/main/cpp/examples/RomiReference/cpp/sensors/RomiGyro.cpp
  wpilibcExamples/src/main/cpp/examples/RomiReference/include/sensors/RomiGyro.h
  wpilibcExamples/src/main/cpp/examples/RomiReference/include/subsystems/Drivetrain.h
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/romireference/sensors/RomiGyro.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/romireference/subsystems/Drivetrain.java
Labels: component: wpilibc, component: wpilibj

#3293 [wpilib] Remove GearTooth
  wpilibc/src/main/native/cpp/GearTooth.cpp
  wpilibc/src/main/native/include/frc/GearTooth.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/GearTooth.java
Labels: breaking, component: wpilibc, component: wpilibj

#3295 [wpilib] Remove RobotDrive
  wpilibc/src/main/native/cpp/RobotDrive.cpp
  wpilibc/src/main/native/include/frc/RobotDrive.h
  wpilibc/src/main/native/include/frc/drive/DifferentialDrive.h
  wpilibc/src/main/native/include/frc/drive/MecanumDrive.h
  wpilibc/src/test/native/cpp/drive/DriveTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/RobotDrive.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/drive/DifferentialDrive.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/drive/MecanumDrive.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/drive/DriveTest.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/examples.json
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/gyro/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/mecanumdrive/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/tankdrive/Robot.java
Labels: breaking, component: wpilibc, component: wpilibj

#3294 [cscore] Move java package to edu.wpi.first.cscore
  cameraserver/multiCameraServer/src/main/java/edu/wpi/Main.java
  cameraserver/src/main/java/edu/wpi/first/cameraserver/CameraServer.java
  cameraserver/src/main/java/edu/wpi/first/vision/VisionRunner.java
  cameraserver/src/main/java/edu/wpi/first/vision/VisionThread.java
  cameraserver/src/main/java/edu/wpi/first/vision/package-info.java
  cscore/src/dev/java/edu/wpi/first/cscore/DevMain.java
  cscore/src/main/java/edu/wpi/first/cscore/AxisCamera.java
  cscore/src/main/java/edu/wpi/first/cscore/CameraServerCvJNI.java
  cscore/src/main/java/edu/wpi/first/cscore/CameraServerJNI.java
  cscore/src/main/java/edu/wpi/first/cscore/CvSink.java
  cscore/src/main/java/edu/wpi/first/cscore/CvSource.java
  cscore/src/main/java/edu/wpi/first/cscore/HttpCamera.java
  cscore/src/main/java/edu/wpi/first/cscore/ImageSink.java
  cscore/src/main/java/edu/wpi/first/cscore/ImageSource.java
  cscore/src/main/java/edu/wpi/first/cscore/MjpegServer.java
  cscore/src/main/java/edu/wpi/first/cscore/UsbCamera.java
  cscore/src/main/java/edu/wpi/first/cscore/UsbCameraInfo.java
  cscore/src/main/java/edu/wpi/first/cscore/VideoCamera.java
  cscore/src/main/java/edu/wpi/first/cscore/VideoEvent.java
  cscore/src/main/java/edu/wpi/first/cscore/VideoException.java
  cscore/src/main/java/edu/wpi/first/cscore/VideoListener.java
  cscore/src/main/java/edu/wpi/first/cscore/VideoMode.java
  cscore/src/main/java/edu/wpi/first/cscore/VideoProperty.java
  cscore/src/main/java/edu/wpi/first/cscore/VideoSink.java
  cscore/src/main/java/edu/wpi/first/cscore/VideoSource.java
  cscore/src/main/java/edu/wpi/first/cscore/raw/RawFrame.java
  cscore/src/main/java/edu/wpi/first/cscore/raw/RawSink.java
  cscore/src/main/java/edu/wpi/first/cscore/raw/RawSource.java
  cscore/src/main/native/cpp/jni/CameraServerJNI.cpp
  cscore/src/test/java/edu/wpi/first/cscore/JNITest.java
  cscore/src/test/java/edu/wpi/first/cscore/UsbCameraTest.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/RobotBase.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/shuffleboard/BuiltInWidgets.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/shuffleboard/SendableCameraWrapper.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/shuffleboard/ShuffleboardContainer.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/vision/VisionRunner.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/vision/VisionThread.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/vision/package-info.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/axiscamera/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/intermediatevision/Robot.java
Labels: breaking, component: cscore

#3298 Fix flywhel -> flywheel typo in FlywheelSim
  wpilibc/src/main/native/include/frc/simulation/FlywheelSim.h
Labels: component: wpilibc, component: wpilibj, type: docs

#3299 [wpimath] Document conversion from filter cutoff frequency to time constant
  wpimath/src/main/java/edu/wpi/first/wpilibj/LinearFilter.java
  wpimath/src/main/native/include/frc/LinearFilter.h
Labels: component: wpimath, type: docs

#3305 [wpiutil] StackTrace: Include offset on Linux
  wpiutil/src/main/native/unix/StackTrace.cpp
Labels: component: wpiutil

#3290 [wpilib] Fix initial heading behavior in HolonomicDriveController
  wpilibc/src/main/native/cpp/controller/HolonomicDriveController.cpp
  wpilibc/src/main/native/include/frc/controller/HolonomicDriveController.h
  wpilibc/src/test/native/cpp/controller/HolonomicDriveControllerTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/controller/HolonomicDriveController.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/controller/HolonomicDriveControllerTest.java
Labels: component: wpilibc, component: wpilibj, type: fix

#3320 Add HAL_GetLastError to enable better error messages from HAL calls
  hal/src/main/native/athena/HAL.cpp
  hal/src/main/native/athena/HALInternal.h
  hal/src/main/native/cpp/ErrorHandling.cpp
  hal/src/main/native/cpp/jni/HALUtil.cpp
  hal/src/main/native/include/hal/Errors.h
  hal/src/main/native/include/hal/HALBase.h
  hal/src/main/native/sim/HAL.cpp
  wpilibc/src/main/native/cpp/Errors.cpp
  wpilibc/src/main/native/include/frc/Errors.h
  wpilibcExamples/src/main/cpp/examples/HAL/c/Robot.c
Labels: component: hal

#3319 Add DCMotor factory function for Romi motors
  wpimath/src/main/java/edu/wpi/first/wpilibj/system/plant/DCMotor.java
  wpimath/src/main/native/include/frc/system/plant/DCMotor.h
Labels: component: wpimath

#3281 Mechanism2.0d
  glass/src/lib/native/cpp/other/Mechanism2D.cpp
  glass/src/lib/native/include/glass/other/Mechanism2D.h
  glass/src/libnt/native/cpp/NTMechanism2D.cpp
  glass/src/libnt/native/cpp/StandardNetworkTables.cpp
  glass/src/libnt/native/include/glass/networktables/NTMechanism2D.h
  simulation/halsim_gui/src/main/native/cpp/Mechanism2D.cpp
  simulation/halsim_gui/src/main/native/cpp/Mechanism2D.h
  simulation/halsim_gui/src/main/native/cpp/main.cpp
  wpilibc/src/main/native/cpp/simulation/Mechanism2D.cpp
  wpilibc/src/main/native/cpp/smartdashboard/Mechanism2d.cpp
  wpilibc/src/main/native/cpp/smartdashboard/MechanismLigament2d.cpp
  wpilibc/src/main/native/cpp/smartdashboard/MechanismObject2d.cpp
  wpilibc/src/main/native/cpp/smartdashboard/MechanismRoot2d.cpp
  wpilibc/src/main/native/include/frc/simulation/Mechanism2D.h
  wpilibc/src/main/native/include/frc/smartdashboard/Mechanism2d.h
  wpilibc/src/main/native/include/frc/smartdashboard/MechanismLigament2d.h
  wpilibc/src/main/native/include/frc/smartdashboard/MechanismObject2d.h
  wpilibc/src/main/native/include/frc/smartdashboard/MechanismRoot2d.h
  wpilibcExamples/src/main/cpp/examples/Mechanism2d/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/examples.json
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/Mechanism2D.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/smartdashboard/Mechanism2d.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/smartdashboard/MechanismLigament2d.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/smartdashboard/MechanismObject2d.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/smartdashboard/MechanismRoot2d.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/examples.json
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/mechanism2d/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/mechanism2d/Robot.java
Labels: component: glass

#3266 [wpimath] Fix MecanumDriveKinematics
  wpimath/src/main/java/edu/wpi/first/wpilibj/kinematics/MecanumDriveKinematics.java
  wpimath/src/main/native/cpp/kinematics/MecanumDriveKinematics.cpp
  wpimath/src/test/java/edu/wpi/first/wpilibj/kinematics/MecanumDriveKinematicsTest.java
  wpimath/src/test/java/edu/wpi/first/wpilibj/kinematics/MecanumDriveOdometryTest.java
  wpimath/src/test/native/cpp/kinematics/MecanumDriveKinematicsTest.cpp
  wpimath/src/test/native/cpp/kinematics/MecanumDriveOdometryTest.cpp
Labels: component: wpimath, type: fix
