Repository wpilibsuite/allwpilib, pull requests merged in 2021-12, with the labels that each got.

#3757 [wpimath] Fix units of RamseteController's b and zeta
  wpilibcExamples/src/main/cpp/examples/RamseteCommand/include/Constants.h
  wpilibcExamples/src/main/cpp/examples/StateSpaceDifferentialDriveSimulation/include/Constants.h
  wpimath/src/main/java/edu/wpi/first/math/controller/RamseteController.java
  wpimath/src/main/native/cpp/controller/RamseteController.cpp
  wpimath/src/main/native/include/frc/controller/RamseteController.h
  wpimath/src/test/native/cpp/controller/RamseteControllerTest.cpp
Labels: component: wpimath

#3828 Invert Right Motor in Romi Java examples
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/romicommandbased/subsystems/RomiDrivetrain.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/romitimed/RomiDrivetrain.java
Labels: component: wpilibj

#3833 change tachometer units to RPS from RPM
  wpilibc/src/main/native/cpp/counter/Tachometer.cpp
  wpilibc/src/main/native/include/frc/counter/Tachometer.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/counter/Tachometer.java
  wpimath/src/main/java/edu/wpi/first/math/util/Units.java
  wpimath/src/main/native/include/units/angular_velocity.h
Labels: state: pending

#3791 rename NormalizeWheelSpeeds to DesaturateWheelSpeeds
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/MecanumControllerCommand.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/MecanumControllerCommand.cpp
  wpilibc/src/main/native/cpp/drive/KilloughDrive.cpp
  wpilibc/src/main/native/cpp/drive/MecanumDrive.cpp
  wpilibc/src/main/native/cpp/drive/RobotDriveBase.cpp
  wpilibc/src/main/native/cpp/simulation/DifferentialDrivetrainSim.cpp
  wpilibc/src/main/native/include/frc/drive/RobotDriveBase.h
  wpilibc/src/main/native/include/frc/simulation/LinearSystemSim.h
  wpilibcExamples/src/main/cpp/examples/MecanumBot/cpp/Drivetrain.cpp
  wpilibcExamples/src/main/cpp/examples/MecanumDrivePoseEstimator/cpp/Drivetrain.cpp
  wpilibcExamples/src/main/cpp/examples/SwerveBot/cpp/Drivetrain.cpp
  wpilibcExamples/src/main/cpp/examples/SwerveControllerCommand/cpp/subsystems/DriveSubsystem.cpp
  wpilibcExamples/src/main/cpp/examples/SwerveDrivePoseEstimator/cpp/Drivetrain.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/DifferentialDrivetrainSim.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/LinearSystemSim.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/mecanumbot/Drivetrain.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/mecanumdriveposeestimator/Drivetrain.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervebot/Drivetrain.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervecontrollercommand/subsystems/DriveSubsystem.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervedriveposeestimator/Drivetrain.java
  wpimath/src/main/java/edu/wpi/first/math/StateSpaceUtil.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/DifferentialDriveWheelSpeeds.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/MecanumDriveKinematics.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/MecanumDriveWheelSpeeds.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/SwerveDriveKinematics.java
  wpimath/src/main/java/edu/wpi/first/math/system/LinearSystemLoop.java
  wpimath/src/main/java/edu/wpi/first/math/trajectory/constraint/DifferentialDriveKinematicsConstraint.java
  wpimath/src/main/java/edu/wpi/first/math/trajectory/constraint/MecanumDriveKinematicsConstraint.java
  wpimath/src/main/java/edu/wpi/first/math/trajectory/constraint/SwerveDriveKinematicsConstraint.java
  wpimath/src/main/native/cpp/kinematics/DifferentialDriveWheelSpeeds.cpp
  wpimath/src/main/native/cpp/kinematics/MecanumDriveWheelSpeeds.cpp
  wpimath/src/main/native/cpp/trajectory/constraint/DifferentialDriveKinematicsConstraint.cpp
  wpimath/src/main/native/cpp/trajectory/constraint/MecanumDriveKinematicsConstraint.cpp
  wpimath/src/main/native/include/frc/StateSpaceUtil.h
  wpimath/src/main/native/include/frc/kinematics/DifferentialDriveWheelSpeeds.h
  wpimath/src/main/native/include/frc/kinematics/MecanumDriveWheelSpeeds.h
  wpimath/src/main/native/include/frc/kinematics/SwerveDriveKinematics.h
  wpimath/src/main/native/include/frc/kinematics/SwerveDriveKinematics.inc
  wpimath/src/main/native/include/frc/system/LinearSystemLoop.h
  wpimath/src/main/native/include/frc/trajectory/constraint/SwerveDriveKinematicsConstraint.inc
  wpimath/src/test/java/edu/wpi/first/math/kinematics/MecanumDriveKinematicsTest.java
  wpimath/src/test/java/edu/wpi/first/math/kinematics/SwerveDriveKinematicsTest.java
  wpimath/src/test/native/cpp/kinematics/MecanumDriveKinematicsTest.cpp
  wpimath/src/test/native/cpp/kinematics/SwerveDriveKinematicsTest.cpp
Labels: component: wpilibj, component: wpilibc, breaking, component: command-based, component: wpimath

#2695 [wpimath] Add TimeInterpolatableBuffer classes in C++ and Java
  wpimath/src/main/java/edu/wpi/first/math/MathUtil.java
  wpimath/src/main/java/edu/wpi/first/math/geometry/Pose2d.java
  wpimath/src/main/java/edu/wpi/first/math/geometry/Rotation2d.java
  wpimath/src/main/java/edu/wpi/first/math/geometry/Translation2d.java
  wpimath/src/main/java/edu/wpi/first/math/interpolation/Interpolatable.java
  wpimath/src/main/java/edu/wpi/first/math/interpolation/TimeInterpolatableBuffer.java
  wpimath/src/main/native/cpp/interpolation/TimeInterpolatableBuffer.cpp
  wpimath/src/main/native/cpp/trajectory/Trajectory.cpp
  wpimath/src/main/native/include/frc/geometry/Twist2d.h
  wpimath/src/main/native/include/frc/interpolation/TimeInterpolatableBuffer.h
  wpimath/src/main/native/include/frc/trajectory/Trajectory.h
  wpimath/src/test/java/edu/wpi/first/math/interpolation/TimeInterpolatableBufferTest.java
  wpimath/src/test/native/cpp/interpolation/TimeInterpolatableBufferTest.cpp
  wpiutil/src/main/native/include/wpi/MathExtras.h
Labels: component: wpimath

#3297 [hal] Use fixed size enums in clang C
  hal/src/main/native/include/hal/Types.h
Labels: component: hal
