Repository wpilibsuite/allwpilib, pull requests merged in 2021-05, with the labels that each got.

#3325 [wpiutil] uv Handle: Use malloc/free instead of new/delete
  wpiutil/src/main/native/cpp/uv/Handle.cpp
  wpiutil/src/main/native/include/wpi/uv/Handle.h
  wpiutil/src/main/native/include/wpi/uv/NetworkStream.h
  wpiutil/src/main/native/include/wpi/uv/Stream.h
Labels: component: wpiutil

#3324 [wpilibc] Fix "control reaches end of non-void function" warning
  wpilibc/src/main/native/cpp/Relay.cpp
Labels: component: wpilibc

#3328 [hal] Switch all instances of PARAMETER_OUT_OF_RANGE to last error reporting
  hal/src/main/native/athena/AddressableLED.cpp
  hal/src/main/native/athena/AnalogTrigger.cpp
  hal/src/main/native/athena/Counter.cpp
  hal/src/main/native/athena/DMA.cpp
  hal/src/main/native/athena/Encoder.cpp
  hal/src/main/native/athena/FPGAEncoder.cpp
  hal/src/main/native/athena/PDP.cpp
  hal/src/main/native/athena/SPI.cpp
  hal/src/main/native/athena/SerialPort.cpp
  hal/src/main/native/cpp/jni/CounterJNI.cpp
  hal/src/main/native/cpp/jni/EncoderJNI.cpp
  hal/src/main/native/sim/AddressableLED.cpp
  hal/src/main/native/sim/Encoder.cpp
  hal/src/main/native/sim/PDP.cpp
  wpilibc/src/main/native/cpp/AnalogGyro.cpp
Labels: component: hal

#3337 [wpilib] Deprecate Put* in favor of Set* in Preferences
  wpilibc/src/main/native/cpp/Preferences.cpp
  wpilibc/src/main/native/include/frc/Preferences.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Preferences.java
Labels: component: wpilibc, component: wpilibj

#3342 [wpilibc] Revert "Return reference from GetInstance"
  cameraserver/multiCameraServer/src/main/native/cpp/main.cpp
  cameraserver/src/main/native/cpp/cameraserver/CameraServer.cpp
  cameraserver/src/main/native/include/cameraserver/CameraServer.h
  wpilibNewCommands/src/main/native/cpp/frc2/command/CommandScheduler.cpp
  wpilibOldCommands/src/main/native/cpp/commands/Scheduler.cpp
  wpilibc/src/main/native/cpp/IterativeRobotBase.cpp
  wpilibc/src/main/native/cpp/Preferences.cpp
  wpilibc/src/main/native/cpp/livewindow/LiveWindow.cpp
  wpilibc/src/main/native/cppcs/RobotBase.cpp
  wpilibc/src/main/native/include/frc/Preferences.h
  wpilibc/src/main/native/include/frc/livewindow/LiveWindow.h
  wpilibcExamples/src/main/cpp/examples/AxisCameraSample/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/GettingStarted/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/IntermediateVision/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/QuickVision/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/templates/robotbaseskeleton/cpp/Robot.cpp
  wpilibcIntegrationTests/src/main/native/cpp/PreferencesTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/TestEnvironment.cpp
Labels: component: wpilibc

#3343 [wpilibj] Preferences: Add missing Deprecated annotation
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Preferences.java
Labels: component: wpilibj

#3347 [wpilibj] Add MotorController.setVoltage default
  wpilibj/src/main/java/edu/wpi/first/wpilibj/motorcontrol/MotorController.java
Labels: component: wpilibj

#3348 [build] Gradle: Make C++ examples runnable
  wpilibcExamples/build.gradle
Labels: type: feature

#3353 [outlineviewer] Change default size to 600x400
  outlineviewer/src/main/native/cpp/main.cpp
Labels: component: outlineviewer

#3356 [wpilibjExamples] Fix pose estimator examples
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/differentialdriveposeestimator/Drivetrain.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/differentialdriveposeestimator/ExampleGlobalMeasurementSensor.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/mecanumdriveposeestimator/Drivetrain.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervebot/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervesdriveposeestimator/Robot.java
Labels: component: wpilibj

#3360 [wpilibj] Fix SpeedController deprecated warnings
  wpilibj/src/main/java/edu/wpi/first/wpilibj/motorcontrol/MotorController.java
Labels: component: wpilibj

#3371 Add Field2D to RamseteController example
  wpilibcExamples/src/main/cpp/examples/RamseteController/cpp/Robot.cpp
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/ramsetecontroller/Robot.java
Labels: component: wpilibc, component: wpilibj

#3340 [wpilib] Refactor drive inverse kinematics into separate functions
  wpilibc/src/main/native/cpp/drive/DifferentialDrive.cpp
  wpilibc/src/main/native/cpp/drive/KilloughDrive.cpp
  wpilibc/src/main/native/cpp/drive/MecanumDrive.cpp
  wpilibc/src/main/native/include/frc/drive/DifferentialDrive.h
  wpilibc/src/main/native/include/frc/drive/KilloughDrive.h
  wpilibc/src/main/native/include/frc/drive/MecanumDrive.h
  wpilibc/src/main/native/include/frc/drive/RobotDriveBase.h
  wpilibc/src/test/native/cpp/drive/DifferentialDriveTest.cpp
  wpilibc/src/test/native/cpp/drive/KilloughDriveTest.cpp
  wpilibc/src/test/native/cpp/drive/MecanumDriveTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/drive/DifferentialDrive.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/drive/KilloughDrive.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/drive/MecanumDrive.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/drive/RobotDriveBase.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/drive/DifferentialDriveTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/drive/KilloughDriveTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/drive/MecanumDriveTest.java
Labels: breaking, component: wpilibc, component: wpilibj

#3376 [wpilibc] Remove Utility.h
  wpilibc/src/main/native/cpp/DigitalGlitchFilter.cpp
  wpilibc/src/main/native/cpp/InterruptableSensorBase.cpp
  wpilibc/src/main/native/cpp/Notifier.cpp
  wpilibc/src/main/native/cpp/PWM.cpp
  wpilibc/src/main/native/cpp/TimedRobot.cpp
  wpilibc/src/main/native/cpp/Ultrasonic.cpp
  wpilibc/src/main/native/cpp/Utility.cpp
  wpilibc/src/main/native/cppcs/RobotBase.cpp
  wpilibc/src/main/native/include/frc/Utility.h
Labels: component: wpilibc

#3373 [wpiutil] StringRef, Twine, raw_ostream: Add std::string_view support
  wpiutil/src/main/native/cpp/llvm/Twine.cpp
  wpiutil/src/main/native/include/wpi/StringRef.h
  wpiutil/src/main/native/include/wpi/Twine.h
  wpiutil/src/main/native/include/wpi/raw_ostream.h
Labels: component: wpiutil

#3375 [wpiutil] Import fmtlib
  .styleguide
  CMakeLists.txt
  ThirdPartyNotices.txt
  wpiutil/.styleguide
  wpiutil/CMakeLists.txt
  wpiutil/build.gradle
  wpiutil/src/main/native/fmtlib/include/fmt/args.h
  wpiutil/src/main/native/fmtlib/include/fmt/chrono.h
  wpiutil/src/main/native/fmtlib/include/fmt/color.h
  wpiutil/src/main/native/fmtlib/include/fmt/compile.h
  wpiutil/src/main/native/fmtlib/include/fmt/core.h
  wpiutil/src/main/native/fmtlib/include/fmt/format-inl.h
  wpiutil/src/main/native/fmtlib/include/fmt/format.h
  wpiutil/src/main/native/fmtlib/include/fmt/locale.h
  wpiutil/src/main/native/fmtlib/include/fmt/os.h
  wpiutil/src/main/native/fmtlib/include/fmt/ostream.h
  wpiutil/src/main/native/fmtlib/include/fmt/printf.h
  wpiutil/src/main/native/fmtlib/include/fmt/ranges.h
  wpiutil/src/main/native/fmtlib/include/fmt/wchar.h
  wpiutil/src/main/native/fmtlib/src/format.cpp
  wpiutil/src/main/native/fmtlib/src/os.cpp
Labels: component: wpiutil

#3378 Suppress the -Wmaybe-uninitialized warning in Eigen
  wpimath/.styleguide
  wpimath/eigen-maybe-uninitialized.patch
  wpimath/src/main/native/eigeninclude/Eigen/src/Core/util/DisableStupidWarnings.h
  wpimath/update_eigen.py
Labels: component: wpimath

#3389 [wpilibc] SimDeviceSim: use fmtlib
  wpilibc/src/main/native/cpp/simulation/ADXRS450_GyroSim.cpp
  wpilibc/src/main/native/cpp/simulation/AnalogEncoderSim.cpp
  wpilibc/src/main/native/cpp/simulation/DutyCycleEncoderSim.cpp
  wpilibc/src/main/native/cpp/simulation/SimDeviceSim.cpp
Labels: component: wpilibc

#3390 [wpilibc] MotorSafety::GetDescription(): Return std::string
  wpilibc/src/main/native/cpp/MotorSafety.cpp
  wpilibc/src/main/native/cpp/Relay.cpp
  wpilibc/src/main/native/cpp/drive/DifferentialDrive.cpp
  wpilibc/src/main/native/cpp/drive/KilloughDrive.cpp
  wpilibc/src/main/native/cpp/drive/MecanumDrive.cpp
  wpilibc/src/main/native/cpp/motorcontrol/NidecBrushless.cpp
  wpilibc/src/main/native/cpp/motorcontrol/PWMMotorController.cpp
  wpilibc/src/main/native/include/frc/MotorSafety.h
  wpilibc/src/main/native/include/frc/Relay.h
  wpilibc/src/main/native/include/frc/drive/DifferentialDrive.h
  wpilibc/src/main/native/include/frc/drive/KilloughDrive.h
  wpilibc/src/main/native/include/frc/drive/MecanumDrive.h
  wpilibc/src/main/native/include/frc/drive/RobotDriveBase.h
  wpilibc/src/main/native/include/frc/motorcontrol/NidecBrushless.h
  wpilibc/src/main/native/include/frc/motorcontrol/PWMMotorController.h
Labels: breaking, component: wpilibc

#3393 [wpiutil] Avoid MSVC warning on span include
  wpiutil/src/main/native/include/wpi/ArrayRef.h
  wpiutil/src/main/native/include/wpi/span.h
Labels: component: wpiutil

#3397 [build] Create run tasks for Glass and OutlineViewer
  glass/publish.gradle
  outlineviewer/publish.gradle
Labels: component: glass, component: outlineviewer

#3394 [wpiutil] Rewrite StringExtras for std::string_view
  wpiutil/.styleguide
  wpiutil/src/main/native/cpp/StringExtras.cpp
  wpiutil/src/main/native/cpp/llvm/StringExtras.cpp
  wpiutil/src/main/native/cpp/llvm/StringMap.cpp
  wpiutil/src/main/native/include/wpi/Error.h
  wpiutil/src/main/native/include/wpi/StringExtras.h
Labels: component: wpiutil

#3400 [wpilibc] Clean up integration tests
  wpilibc/src/test/native/cpp/shuffleboard/MockActuatorSendable.cpp
  wpilibc/src/test/native/cpp/shuffleboard/ShuffleboardInstanceTest.cpp
  wpilibc/src/test/native/cpp/shuffleboard/ShuffleboardTest.cpp
  wpilibc/src/test/native/cpp/shuffleboard/SuppliedValueWidgetTest.cpp
  wpilibc/src/test/native/include/shuffleboard/MockActuatorSendable.h
  wpilibcIntegrationTests/src/main/native/cpp/AnalogLoopTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/AnalogPotentiometerTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/BuiltInAccelerometerTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/CounterTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/DIOLoopTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/DigitalGlitchFilterTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/DriverStationTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/FakeEncoderTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/Main.cpp
  wpilibcIntegrationTests/src/main/native/cpp/MotorEncoderTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/MotorInvertingTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/NotifierTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/PCMTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/PowerDistributionPanelTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/PreferencesTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/RelayTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/TestEnvironment.cpp
  wpilibcIntegrationTests/src/main/native/cpp/TiltPanCameraTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/command/CommandTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/command/ConditionalCommandTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/command/MockCommand.cpp
  wpilibcIntegrationTests/src/main/native/cpp/command/MockConditionalCommand.cpp
  wpilibcIntegrationTests/src/main/native/cpp/mockds/MockDS.cpp
  wpilibcIntegrationTests/src/main/native/cpp/mockds/MockDS.h
  wpilibcIntegrationTests/src/main/native/cpp/shuffleboard/MockActuatorSendable.cpp
  wpilibcIntegrationTests/src/main/native/cpp/shuffleboard/ShuffleboardInstanceTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/shuffleboard/ShuffleboardTabTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/shuffleboard/ShuffleboardTest.cpp
  wpilibcIntegrationTests/src/main/native/dt/Main.cpp
  wpilibcIntegrationTests/src/main/native/include/TestBench.h
  wpilibcIntegrationTests/src/main/native/include/command/MockCommand.h
  wpilibcIntegrationTests/src/main/native/include/command/MockConditionalCommand.h
  wpilibcIntegrationTests/src/main/native/include/shuffleboard/MockActuatorSendable.h
Labels: component: wpilibc

#3399 Move SlewRateLimiter from wpilib to wpimath
  shared/jni/setupBuild.gradle
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/differentialdrivebot/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/differentialdriveposeestimator/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/mecanumbot/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/mecanumdriveposeestimator/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/ramsetecontroller/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/simpledifferentialdrivesimulation/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervebot/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervedriveposeestimator/Robot.java
  wpimath/src/main/java/edu/wpi/first/math/filter/SlewRateLimiter.java
  wpimath/src/main/native/include/frc/SlewRateLimiter.h
  wpimath/src/test/java/edu/wpi/first/math/filter/SlewRateLimiterTest.java
  wpimath/src/test/native/cpp/SlewRateLimiterTest.cpp
  wpiutil/src/main/java/edu/wpi/first/wpiutil/WPIUtilJNI.java
  wpiutil/src/main/native/cpp/jni/WPIUtilJNI.cpp
  wpiutil/src/test/java/edu/wpi/first/wpiutil/WPIUtilJNITest.java
Labels: breaking, component: wpilibj, component: wpimath
