Repository wpilibsuite/allwpilib, pull requests merged in 2021-01, with the labels that each got.

#3024 [command] Fix use-after-free in CommandScheduler
  wpilibNewCommands/src/main/native/cpp/frc2/command/CommandScheduler.cpp
Labels: component: command-based

#3031 [glass] Add "About" popup with version number
  glass/CMakeLists.txt
  glass/build.gradle
  glass/src/app/generate/WPILibVersion.cpp.in
  glass/src/app/native/cpp/main.cpp
Labels: component: glass, enhancement

#2998 Deduplicate angle modulus functions
  wpilibc/src/main/native/cpp/controller/PIDController.cpp
  wpilibc/src/main/native/include/frc/controller/ControllerUtil.h
  wpilibc/src/main/native/include/frc/controller/ProfiledPIDController.h
  wpilibc/src/test/native/cpp/controller/ControllerUtilTest.cpp
  wpilibc/src/test/native/cpp/controller/HolonomicDriveControllerTest.cpp
  wpilibc/src/test/native/cpp/controller/RamseteControllerTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/controller/PIDController.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/controller/ProfiledPIDController.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/controller/ControllerUtilTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/controller/HolonomicDriveControllerTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/controller/RamseteControllerTest.java
  wpimath/src/dev/java/edu/wpi/first/wpiutil/math/DevMain.java
  wpimath/src/main/java/edu/wpi/first/wpilibj/controller/ControllerUtil.java
  wpimath/src/main/java/edu/wpi/first/wpilibj/estimator/AngleStatistics.java
  wpimath/src/main/java/edu/wpi/first/wpiutil/math/MathUtil.java
  wpimath/src/main/native/include/frc/MathUtil.h
  wpimath/src/main/native/include/frc/estimator/AngleStatistics.h
  wpimath/src/main/native/include/units/math.h
  wpimath/src/test/java/edu/wpi/first/wpilibj/estimator/AngleStatisticsTest.java
  wpimath/src/test/java/edu/wpi/first/wpiutil/math/MathUtilTest.java
  wpimath/src/test/native/cpp/MathUtilTest.cpp
  wpimath/src/test/native/cpp/UnitsTest.cpp
  wpimath/src/test/native/cpp/estimator/AngleStatisticsTest.cpp
Labels: cleanup, component: wpilibc, component: wpilibj, component: wpimath

#3046 [wpimath] Make Java DCMotor API consistent with C++ and fix motor calcs
  wpimath/src/main/java/edu/wpi/first/wpilibj/system/plant/DCMotor.java
  wpimath/src/main/java/edu/wpi/first/wpilibj/system/plant/LinearSystemId.java
  wpimath/src/main/native/include/frc/system/plant/DCMotor.h
  wpimath/src/test/java/edu/wpi/first/wpilibj/estimator/ExtendedKalmanFilterTest.java
  wpimath/src/test/java/edu/wpi/first/wpilibj/estimator/UnscentedKalmanFilterTest.java
Labels: component: wpimath

#3035 [glass] Use .controllable to set widgets' read-only state
  glass/src/lib/native/cpp/hardware/SpeedController.cpp
  glass/src/lib/native/cpp/other/Drive.cpp
  glass/src/lib/native/cpp/other/PIDController.cpp
  glass/src/libnt/native/cpp/NTDifferentialDrive.cpp
  glass/src/libnt/native/cpp/NTMecanumDrive.cpp
  glass/src/libnt/native/cpp/NTPIDController.cpp
  glass/src/libnt/native/cpp/NTSpeedController.cpp
  glass/src/libnt/native/include/glass/networktables/NTDifferentialDrive.h
  glass/src/libnt/native/include/glass/networktables/NTMecanumDrive.h
  glass/src/libnt/native/include/glass/networktables/NTPIDController.h
  glass/src/libnt/native/include/glass/networktables/NTSpeedController.h
Labels: component: glass

#3047 Add RKF45 integration
  wpilibc/src/main/native/cpp/simulation/DifferentialDrivetrainSim.cpp
  wpilibc/src/main/native/cpp/simulation/ElevatorSim.cpp
  wpilibc/src/main/native/cpp/simulation/SingleJointedArmSim.cpp
  wpilibc/src/test/native/cpp/simulation/DifferentialDriveSimTest.cpp
  wpilibc/src/test/native/cpp/simulation/ElevatorSimTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/DifferentialDrivetrainSim.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/ElevatorSim.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/SingleJointedArmSim.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/DifferentialDrivetrainSimTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/ElevatorSimTest.java
  wpimath/src/main/java/edu/wpi/first/wpilibj/estimator/ExtendedKalmanFilter.java
  wpimath/src/main/java/edu/wpi/first/wpilibj/estimator/UnscentedKalmanFilter.java
  wpimath/src/main/java/edu/wpi/first/wpilibj/system/NumericalIntegration.java
  wpimath/src/main/java/edu/wpi/first/wpilibj/system/RungeKutta.java
  wpimath/src/main/native/include/frc/estimator/ExtendedKalmanFilter.h
  wpimath/src/main/native/include/frc/estimator/UnscentedKalmanFilter.h
  wpimath/src/main/native/include/frc/system/NumericalIntegration.h
  wpimath/src/main/native/include/frc/system/RungeKutta.h
  wpimath/src/test/java/edu/wpi/first/wpilibj/estimator/ExtendedKalmanFilterTest.java
  wpimath/src/test/java/edu/wpi/first/wpilibj/estimator/UnscentedKalmanFilterTest.java
  wpimath/src/test/java/edu/wpi/first/wpilibj/system/NumericalIntegrationTest.java
  wpimath/src/test/native/cpp/StateSpaceUtilTest.cpp
  wpimath/src/test/native/cpp/estimator/UnscentedKalmanFilterTest.cpp
  wpimath/src/test/native/cpp/system/DiscretizationTest.cpp
  wpimath/src/test/native/cpp/system/NumericalIntegrationTest.cpp
Labels: component: wpimath

#3066 [hal] Add SimInt and SimLong wrappers for int/long SimValue
  hal/src/main/java/edu/wpi/first/hal/SimDeviceJNI.java
  hal/src/main/java/edu/wpi/first/hal/SimInt.java
  hal/src/main/java/edu/wpi/first/hal/SimLong.java
  hal/src/main/native/cpp/jni/SimDeviceJNI.cpp
  hal/src/main/native/include/hal/SimDevice.h
Labels: component: hal

#3065 [wpimath] Add optimize() to SwerveModuleState
  wpilibcExamples/src/main/cpp/examples/SwerveBot/cpp/SwerveModule.cpp
  wpilibcExamples/src/main/cpp/examples/SwerveControllerCommand/cpp/subsystems/SwerveModule.cpp
  wpilibcExamples/src/main/cpp/examples/SwerveControllerCommand/include/subsystems/SwerveModule.h
  wpilibcExamples/src/main/cpp/examples/SwerveDrivePoseEstimator/cpp/SwerveModule.cpp
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervebot/SwerveModule.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervecontrollercommand/subsystems/SwerveModule.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervesdriveposeestimator/SwerveModule.java
  wpimath/src/main/java/edu/wpi/first/wpilibj/kinematics/SwerveModuleState.java
  wpimath/src/main/native/include/frc/kinematics/SwerveModuleState.h
Labels: component: wpimath

#3080 [wpimath] Add model description to LinearSystemId Javadocs
  wpimath/src/main/java/edu/wpi/first/wpilibj/system/plant/LinearSystemId.java
Labels: component: wpimath, documentation

#3064 [hal] Add SimValue reset() function
  hal/src/main/java/edu/wpi/first/hal/SimDeviceJNI.java
  hal/src/main/java/edu/wpi/first/hal/SimDouble.java
  hal/src/main/java/edu/wpi/first/hal/SimInt.java
  hal/src/main/java/edu/wpi/first/hal/SimLong.java
  hal/src/main/java/edu/wpi/first/hal/simulation/SimDeviceDataJNI.java
  hal/src/main/native/athena/SimDevice.cpp
  hal/src/main/native/athena/mockdata/SimDeviceData.cpp
  hal/src/main/native/cpp/jni/SimDeviceJNI.cpp
  hal/src/main/native/cpp/jni/simulation/SimDeviceDataJNI.cpp
  hal/src/main/native/include/hal/SimDevice.h
  hal/src/main/native/include/hal/simulation/SimDeviceData.h
  hal/src/main/native/sim/SimDevice.cpp
  hal/src/main/native/sim/mockdata/SimDeviceData.cpp
  hal/src/main/native/sim/mockdata/SimDeviceDataInternal.h
  simulation/halsim_ws_core/src/main/native/cpp/WSProvider_SimDevice.cpp
  simulation/halsim_ws_core/src/main/native/include/WSProvider_SimDevice.h
  wpilibc/src/main/native/cpp/ADXRS450_Gyro.cpp
  wpilibc/src/main/native/include/frc/simulation/SimDeviceSim.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/ADXRS450_Gyro.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/SimDeviceSim.java
Labels: component: hal

#3083 [sim] Add max value setting for keyboard joysticks
  simulation/halsim_gui/src/main/native/cpp/DriverStationGui.cpp
Labels: enhancement, os: simulation

#3100 [wpimath] Add tests for swerve module optimization
  wpimath/src/test/java/edu/wpi/first/wpilibj/kinematics/SwerveModuleStateTest.java
  wpimath/src/test/native/cpp/kinematics/SwerveModuleStateTest.cpp
Labels: component: wpimath, enhancement

#3127 [build] Publish libglass and libglassnt to Maven
  glass/publish.gradle
Labels: component: glass, enhancement
