Repository wpilibsuite/allwpilib, pull requests merged in 2021-06, with the labels that each got.

#3401 [wpiutil] Replace llvm filesystem with C++17 filesystem
  ThirdPartyNotices.txt
  cscore/src/main/native/cpp/Instance.cpp
  cscore/src/main/native/linux/UsbCameraImpl.cpp
  glass/src/lib/native/cpp/other/Field2D.cpp
  hal/src/main/native/athena/cpp/SerialHelper.cpp
  hal/src/main/native/sim/Extensions.cpp
  ntcore/src/main/native/cpp/LoggerImpl.cpp
  ntcore/src/main/native/cpp/Storage_save.cpp
  simulation/halsim_ws_server/src/main/native/cpp/HALSimHttpConnection.cpp
  simulation/halsim_ws_server/src/main/native/cpp/HALSimWeb.cpp
  wpilibc/src/main/native/cpp/Errors.cpp
  wpilibc/src/main/native/cpp/Filesystem.cpp
  wpilibc/src/main/native/include/frc/Filesystem.h
  wpiutil/.styleguide
  wpiutil/src/main/native/cpp/fs.cpp
  wpiutil/src/main/native/cpp/llvm/ConvertUTF.cpp
  wpiutil/src/main/native/cpp/llvm/Path.cpp
  wpiutil/src/main/native/cpp/llvm/Unix/Path.inc
  wpiutil/src/main/native/cpp/llvm/Windows/Path.inc
  wpiutil/src/main/native/cpp/llvm/raw_ostream.cpp
  wpiutil/src/main/native/cpp/raw_istream.cpp
  wpiutil/src/main/native/include/wpi/FileSystem.h
  wpiutil/src/main/native/include/wpi/fs.h
  wpiutil/src/main/native/include/wpi/ghc/filesystem.hpp
  wpiutil/src/main/native/include/wpi/raw_ostream.h
Labels: breaking, component: wpiutil

#3403 [wpilibc] Add units to Ultrasonic class API
  wpilibc/src/main/native/cpp/Ultrasonic.cpp
  wpilibc/src/main/native/include/frc/Ultrasonic.h
Labels: breaking, component: wpilibc

#3406 [wpimath] Fix drivetrain system identification
  wpilibcExamples/src/main/cpp/examples/SimpleDifferentialDriveSimulation/include/Drivetrain.h
  wpilibcExamples/src/main/cpp/examples/StateSpaceDifferentialDriveSimulation/include/Constants.h
  wpimath/src/main/java/edu/wpi/first/math/system/plant/LinearSystemId.java
  wpimath/src/main/native/include/frc/system/plant/LinearSystemId.h
Labels: breaking, component: wpimath

#2410 Remove InterruptableSensorBase and replace with interrupt classes
  hal/src/main/java/edu/wpi/first/hal/InterruptJNI.java
  hal/src/main/native/athena/Interrupts.cpp
  hal/src/main/native/cpp/jni/InterruptJNI.cpp
  hal/src/main/native/include/hal/Interrupts.h
  hal/src/main/native/sim/Interrupts.cpp
  wpilibOldCommands/src/main/java/edu/wpi/first/wpilibj/command/CommandGroup.java
  wpilibOldCommands/src/main/java/edu/wpi/first/wpilibj/command/Scheduler.java
  wpilibc/src/main/native/cpp/AnalogTrigger.cpp
  wpilibc/src/main/native/cpp/AnalogTriggerOutput.cpp
  wpilibc/src/main/native/cpp/AsynchronousInterrupt.cpp
  wpilibc/src/main/native/cpp/InterruptableSensorBase.cpp
  wpilibc/src/main/native/cpp/SynchronousInterrupt.cpp
  wpilibc/src/main/native/include/frc/AsynchronousInterrupt.h
  wpilibc/src/main/native/include/frc/DigitalSource.h
  wpilibc/src/main/native/include/frc/InterruptableSensorBase.h
  wpilibc/src/main/native/include/frc/SynchronousInterrupt.h
  wpilibcIntegrationTests/src/main/native/cpp/AnalogLoopTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/DIOLoopTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/AsynchronousInterrupt.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DigitalInput.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DigitalSource.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/InterruptHandlerFunction.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/InterruptableSensorBase.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/SynchronousInterrupt.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/AbstractInterruptTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/AnalogCrossConnectTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/DIOCrossConnectTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/fixtures/DIOCrossConnectFixture.java
Labels: component: hal, component: wpilibc, component: wpilibj

#3413 [wpiutil] Remove Path.h
  wpiutil/src/main/native/include/wpi/Path.h
Labels: component: wpiutil

#3418 [wpimath] Reset error covariance in pose estimator ResetPosition()
  wpimath/src/main/java/edu/wpi/first/math/estimator/DifferentialDrivePoseEstimator.java
  wpimath/src/main/java/edu/wpi/first/math/estimator/KalmanFilterLatencyCompensator.java
  wpimath/src/main/java/edu/wpi/first/math/estimator/MecanumDrivePoseEstimator.java
  wpimath/src/main/java/edu/wpi/first/math/estimator/SwerveDrivePoseEstimator.java
  wpimath/src/main/native/cpp/estimator/DifferentialDrivePoseEstimator.cpp
  wpimath/src/main/native/cpp/estimator/MecanumDrivePoseEstimator.cpp
  wpimath/src/main/native/include/frc/estimator/KalmanFilterLatencyCompensator.h
  wpimath/src/main/native/include/frc/estimator/SwerveDrivePoseEstimator.h
Labels: breaking, component: wpimath

#3417 [wpimath] Move C++ filters into filter folder to match Java
  wpilibOldCommands/src/main/native/include/frc/PIDBase.h
  wpilibcExamples/src/main/cpp/examples/DifferentialDriveBot/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/DifferentialDrivePoseEstimator/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/MecanumBot/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/MecanumDrivePoseEstimator/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/RamseteController/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/SimpleDifferentialDriveSimulation/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/SwerveBot/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/SwerveDrivePoseEstimator/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/Ultrasonic/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/UltrasonicPID/cpp/Robot.cpp
  wpilibcIntegrationTests/src/main/native/cpp/MotorEncoderTest.cpp
  wpimath/src/main/native/include/frc/filter/LinearFilter.h
  wpimath/src/main/native/include/frc/filter/MedianFilter.h
  wpimath/src/main/native/include/frc/filter/SlewRateLimiter.h
  wpimath/src/test/native/cpp/filter/LinearFilterNoiseTest.cpp
  wpimath/src/test/native/cpp/filter/LinearFilterOutputTest.cpp
  wpimath/src/test/native/cpp/filter/MedianFilterTest.cpp
  wpimath/src/test/native/cpp/filter/SlewRateLimiterTest.cpp
Labels: breaking, component: wpimath

#3430 [wpilibc] Make ShuffleboardValue non-copyable
  wpilibc/src/main/native/cpp/shuffleboard/ShuffleboardInstance.cpp
  wpilibc/src/main/native/include/frc/shuffleboard/ShuffleboardValue.h
Labels: component: wpilibc

#3431 [wpiutil] Rename Java package to edu.wpi.first.util
  cscore/src/dev/java/edu/wpi/first/cscore/DevMain.java
  cscore/src/main/java/edu/wpi/first/cscore/CameraServerCvJNI.java
  cscore/src/main/java/edu/wpi/first/cscore/CameraServerJNI.java
  hal/src/main/java/edu/wpi/first/hal/JNIWrapper.java
  ntcore/src/dev/java/edu/wpi/first/ntcore/DevMain.java
  ntcore/src/main/java/edu/wpi/first/networktables/NetworkTablesJNI.java
  wpilibNewCommands/src/dev/java/edu/wpi/first/wpilibj2/commands/DevMain.java
  wpilibOldCommands/src/dev/java/edu/wpi/first/wpilibj/commands/DevMain.java
  wpilibj/src/dev/java/edu/wpi/first/wpilibj/DevMain.java
  wpimath/src/main/java/edu/wpi/first/math/WPIMathJNI.java
  wpimath/src/main/java/edu/wpi/first/math/estimator/DifferentialDrivePoseEstimator.java
  wpimath/src/main/java/edu/wpi/first/math/estimator/MecanumDrivePoseEstimator.java
  wpimath/src/main/java/edu/wpi/first/math/estimator/SwerveDrivePoseEstimator.java
  wpimath/src/main/java/edu/wpi/first/math/filter/LinearFilter.java
  wpimath/src/main/java/edu/wpi/first/math/filter/MedianFilter.java
  wpimath/src/main/java/edu/wpi/first/math/filter/SlewRateLimiter.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/MecanumDriveOdometry.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/SwerveDriveOdometry.java
  wpimath/src/main/java/edu/wpi/first/math/trajectory/constraint/DifferentialDriveVoltageConstraint.java
  wpimath/src/test/java/edu/wpi/first/math/filter/SlewRateLimiterTest.java
  wpiutil/src/dev/java/edu/wpi/first/util/DevMain.java
  wpiutil/src/main/java/edu/wpi/first/util/CircularBuffer.java
  wpiutil/src/main/java/edu/wpi/first/util/CombinedRuntimeLoader.java
  wpiutil/src/main/java/edu/wpi/first/util/ErrorMessages.java
  wpiutil/src/main/java/edu/wpi/first/util/RuntimeDetector.java
  wpiutil/src/main/java/edu/wpi/first/util/RuntimeLoader.java
  wpiutil/src/main/java/edu/wpi/first/util/WPIUtilJNI.java
  wpiutil/src/main/java/edu/wpi/first/util/net/PortForwarder.java
  wpiutil/src/main/native/cpp/jni/WPIUtilJNI.cpp
  wpiutil/src/test/java/edu/wpi/first/util/CircularBufferTest.java
  wpiutil/src/test/java/edu/wpi/first/util/WPIUtilJNITest.java
Labels: breaking, component: wpiutil

#3436 [hal] Error if attempting to set dio output on an input port
  hal/src/main/native/athena/DIO.cpp
  hal/src/main/native/include/hal/DIO.h
  hal/src/main/native/sim/DIO.cpp
Labels: component: hal

#3335 [commands] Change grouping decorator impl to flatten nested group structures
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/Command.java
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/ParallelCommandGroup.java
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/ParallelDeadlineGroup.java
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/ParallelRaceGroup.java
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/PerpetualCommand.java
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/SequentialCommandGroup.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/PerpetualCommand.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/SequentialCommandGroup.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/Command.h
  wpilibNewCommands/src/main/native/include/frc2/command/PerpetualCommand.h
  wpilibNewCommands/src/main/native/include/frc2/command/SequentialCommandGroup.h
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/WaitCommandTest.java
Labels: component: command-based

#3446 [wpilibc] Timer: Fix deprecated warning
  wpilibc/src/main/native/cpp/Timer.cpp
Labels: component: wpilibc

#3455 [wpilibjexamples] Add wpimathjni, wpiutiljni to library path
  wpilibjExamples/build.gradle
Labels: state: blocked

#3460 [wpimath] Remove incorrect discretization in pose estimators
  wpimath/src/main/java/edu/wpi/first/math/estimator/DifferentialDrivePoseEstimator.java
  wpimath/src/main/java/edu/wpi/first/math/estimator/MecanumDrivePoseEstimator.java
  wpimath/src/main/java/edu/wpi/first/math/estimator/SwerveDrivePoseEstimator.java
  wpimath/src/main/java/edu/wpi/first/math/estimator/UnscentedKalmanFilter.java
  wpimath/src/main/native/cpp/estimator/DifferentialDrivePoseEstimator.cpp
  wpimath/src/main/native/cpp/estimator/MecanumDrivePoseEstimator.cpp
  wpimath/src/main/native/include/frc/estimator/DifferentialDrivePoseEstimator.h
  wpimath/src/main/native/include/frc/estimator/MecanumDrivePoseEstimator.h
  wpimath/src/main/native/include/frc/estimator/SwerveDrivePoseEstimator.h
  wpimath/src/main/native/include/frc/estimator/UnscentedKalmanFilter.h
Labels: component: wpimath, type: fix

#3465 [ntcore] Fix dangling pointer in logger
  ntcore/src/main/native/cpp/LoggerImpl.cpp
  ntcore/src/main/native/cpp/ntcore_c.cpp
  ntcore/src/main/native/include/ntcore_c.h
  ntcore/src/main/native/include/ntcore_cpp.h
Labels: breaking, component: ntcore

#3463 [wpigui] Add option to reset UI on exit
  wpigui/.styleguide
  wpigui/CMakeLists.txt
  wpigui/build.gradle
  wpigui/src/main/native/cpp/wpigui.cpp
  wpigui/src/main/native/include/wpigui_internal.h
Labels: component: glass
