Repository wpilibsuite/allwpilib, pull requests merged in 2021-03, with the labels that each got.

#3209 Change CommandBase::withName to return CommandBase
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/CommandBase.java
Labels: component: command-based, enhancement

#3200 [wpimath] Add pose estimator overload for vision + std dev measurement
  wpimath/src/main/java/edu/wpi/first/wpilibj/estimator/DifferentialDrivePoseEstimator.java
  wpimath/src/main/java/edu/wpi/first/wpilibj/estimator/MecanumDrivePoseEstimator.java
  wpimath/src/main/java/edu/wpi/first/wpilibj/estimator/SwerveDrivePoseEstimator.java
  wpimath/src/main/native/include/frc/estimator/DifferentialDrivePoseEstimator.h
  wpimath/src/main/native/include/frc/estimator/MecanumDrivePoseEstimator.h
  wpimath/src/main/native/include/frc/estimator/SwerveDrivePoseEstimator.h
Labels: component: wpimath, enhancement

#3199 [examples] Make DriveDistanceOffboard example work in sim
  wpilibcExamples/src/main/cpp/examples/DriveDistanceOffboard/include/ExampleSmartMotorController.h
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/drivedistanceoffboard/ExampleSmartMotorController.java
Labels: documentation, enhancement

#3224 [glass] Move NetworkTablesSettings to libglassnt
  glass/src/app/native/cpp/main.cpp
  glass/src/libnt/native/cpp/NetworkTablesSettings.cpp
  glass/src/libnt/native/include/glass/networktables/NetworkTablesSettings.h
Labels: component: glass

#3226 [glass] NetworkTablesSettings: Don't block GUI
  glass/src/libnt/native/cpp/NetworkTablesSettings.cpp
  glass/src/libnt/native/include/glass/networktables/NetworkTablesSettings.h
Labels: component: glass

#3198 [examples] Use more logical elevator setpoints in GearsBot
  wpilibcExamples/src/main/cpp/examples/GearsBot/cpp/RobotContainer.cpp
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/gearsbot/RobotContainer.java
Labels: cleanup, documentation

#3227 [glass] NetworkTablesSetting: Allow disable of server option
  glass/src/libnt/native/cpp/NetworkTablesSettings.cpp
  glass/src/libnt/native/include/glass/networktables/NetworkTablesSettings.h
Labels: component: glass

#3235 [wpilibc] Remove WPILib.h
  wpilibc/src/main/native/include/frc/WPILib.h
Labels: breaking, component: wpilibc

#3233 [glass] NTField2D: Fix name lookup
  glass/src/libnt/native/cpp/NTField2D.cpp
Labels: component: glass

#3242 [wpiutil] Unbreak wpi::Format on Windows
  wpiutil/src/main/native/include/wpi/Format.h
Labels: component: wpiutil

#3249 [wpimath] Make C++ geometry classes immutable
  wpimath/src/main/native/cpp/geometry/Pose2d.cpp
  wpimath/src/main/native/cpp/geometry/Rotation2d.cpp
  wpimath/src/main/native/cpp/geometry/Translation2d.cpp
  wpimath/src/main/native/cpp/trajectory/TrajectoryGenerator.cpp
  wpimath/src/main/native/include/frc/geometry/Pose2d.h
  wpimath/src/main/native/include/frc/geometry/Rotation2d.h
  wpimath/src/main/native/include/frc/geometry/Translation2d.h
  wpimath/src/test/native/cpp/geometry/Rotation2dTest.cpp
Labels: breaking, component: wpimath

#3210 [wpilib] Remove deprecated Sendable functions and SendableBase
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/CommandBase.java
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/SubsystemBase.java
  wpilibOldCommands/src/main/java/edu/wpi/first/wpilibj/command/Command.java
  wpilibOldCommands/src/main/java/edu/wpi/first/wpilibj/command/Subsystem.java
  wpilibc/src/main/native/cpp/smartdashboard/SendableBase.cpp
  wpilibc/src/main/native/include/frc/smartdashboard/SendableBase.h
  wpilibcIntegrationTests/src/main/native/include/shuffleboard/MockActuatorSendable.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Sendable.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/SendableBase.java
Labels: component: wpilibc, component: wpilibj

#3213 [wpilibj] Remove wpilibj package CameraServer
  wpilibj/src/main/java/edu/wpi/first/wpilibj/CameraServer.java
Labels: breaking, component: wpilibj

#3012 [hal] Use std::lround() instead of adding 0.5 and truncating
  hal/src/main/native/athena/DIO.cpp
  hal/src/main/native/athena/DigitalInternal.cpp
  hal/src/main/native/athena/PWM.cpp
Labels: component: hal

#3255 [glass] Plot: Show full source name as tooltip and in popup
  glass/src/lib/native/cpp/other/Plot.cpp
Labels: component: glass

#3261 [glass] Plot: Set reasonable default window size
  glass/src/lib/native/cpp/other/Plot.cpp
Labels: component: glass

#3248 [wpilib] PWMSpeedController: Use PWM by composition
  wpilibc/src/main/native/cpp/DMC60.cpp
  wpilibc/src/main/native/cpp/Jaguar.cpp
  wpilibc/src/main/native/cpp/NidecBrushless.cpp
  wpilibc/src/main/native/cpp/PWM.cpp
  wpilibc/src/main/native/cpp/PWMSparkMax.cpp
  wpilibc/src/main/native/cpp/PWMSpeedController.cpp
  wpilibc/src/main/native/cpp/PWMTalonFX.cpp
  wpilibc/src/main/native/cpp/PWMTalonSRX.cpp
  wpilibc/src/main/native/cpp/PWMVenom.cpp
  wpilibc/src/main/native/cpp/PWMVictorSPX.cpp
  wpilibc/src/main/native/cpp/SD540.cpp
  wpilibc/src/main/native/cpp/Spark.cpp
  wpilibc/src/main/native/cpp/Talon.cpp
  wpilibc/src/main/native/cpp/Victor.cpp
  wpilibc/src/main/native/cpp/VictorSP.cpp
  wpilibc/src/main/native/include/frc/MotorSafety.h
  wpilibc/src/main/native/include/frc/PWM.h
  wpilibc/src/main/native/include/frc/PWMSpeedController.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DMC60.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Jaguar.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PWM.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PWMSparkMax.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PWMSpeedController.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PWMTalonFX.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PWMTalonSRX.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PWMVenom.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PWMVictorSPX.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/SD540.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Spark.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Talon.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Victor.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/VictorSP.java
Labels: breaking, component: wpilibc, component: wpilibj

#3247 [wpilibc] Return reference from GetInstance (breaking change)
  cameraserver/multiCameraServer/src/main/native/cpp/main.cpp
  cameraserver/src/main/native/cpp/cameraserver/CameraServer.cpp
  cameraserver/src/main/native/include/cameraserver/CameraServer.h
  wpilibNewCommands/src/main/native/cpp/frc2/command/CommandScheduler.cpp
  wpilibOldCommands/src/main/native/cpp/commands/Scheduler.cpp
  wpilibc/src/main/native/cpp/IterativeRobotBase.cpp
  wpilibc/src/main/native/cpp/Preferences.cpp
  wpilibc/src/main/native/cpp/livewindow/LiveWindow.cpp
  wpilibc/src/main/native/cppcs/RobotBase.cpp
  wpilibc/src/main/native/include/frc/Preferences.h
  wpilibc/src/main/native/include/frc/livewindow/LiveWindow.h
  wpilibcExamples/src/main/cpp/examples/AxisCameraSample/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/GettingStarted/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/IntermediateVision/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/QuickVision/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/templates/robotbaseskeleton/cpp/Robot.cpp
  wpilibcIntegrationTests/src/main/native/cpp/PreferencesTest.cpp
  wpilibcIntegrationTests/src/main/native/cpp/TestEnvironment.cpp
Labels: breaking, component: wpilibc

#3260 [glass] Plot: Don't overwrite series ID
  glass/src/lib/native/cpp/other/Plot.cpp
Labels: component: glass

#3262 [wpimath] TrajectoryUtil.h: Comment formatting (NFC)
  wpimath/src/main/native/include/frc/trajectory/TrajectoryUtil.h
Labels: component: wpimath, type: chore

#3257 [wpimath] Use JNI for trajectory serialization
  wpimath/src/main/java/edu/wpi/first/math/WPIMathJNI.java
  wpimath/src/main/java/edu/wpi/first/wpilibj/trajectory/TrajectoryUtil.java
  wpimath/src/main/native/cpp/jni/WPIMathJNI.cpp
Labels: component: wpimath, type: fix

#3256 [wpigui] Ensure window will be initially visible
  wpigui/src/main/native/cpp/wpigui.cpp
Labels: component: glass

#3264 [glass] Plot: Fix window creation after removal
  glass/src/lib/native/cpp/other/Plot.cpp
Labels: component: glass

#3211 [hal] Move registerSimPeriodic functions to HAL package
  hal/src/main/java/edu/wpi/first/hal/HAL.java
  hal/src/main/java/edu/wpi/first/hal/simulation/SimulatorJNI.java
Labels: breaking, component: hal

#3212 [hal] Rename SimValueCallback2 to SimValueCallback
  hal/src/main/java/edu/wpi/first/hal/simulation/SimDeviceDataJNI.java
  hal/src/main/java/edu/wpi/first/hal/simulation/SimValueCallback.java
  hal/src/main/java/edu/wpi/first/hal/simulation/SimValueCallback2.java
  hal/src/main/native/cpp/jni/simulation/SimDeviceDataJNI.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/SimDeviceSim.java
Labels: breaking, component: hal

#3269 [wpilib] Fix Compressor sendable properties
  wpilibc/src/main/native/cpp/Compressor.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Compressor.java
Labels: component: wpilibc, component: wpilibj, type: fix

#3234 [wpilib] Field2d enhancements
  glass/.styleguide
  glass/src/lib/native/cpp/other/Field2D.cpp
  glass/src/lib/native/include/glass/other/Field2D.h
  glass/src/libnt/native/cpp/NTField2D.cpp
  glass/src/libnt/native/include/glass/networktables/NTField2D.h
  wpilibc/src/main/native/cpp/smartdashboard/FieldObject2d.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/smartdashboard/FieldObject2d.java
Labels: component: glass, component: wpilibc, component: wpilibj
