Repository wpilibsuite/allwpilib, pull requests merged in 2021-07, with the labels that each got.

#3469 Switch JNI setDIO to use a boolean and not a short
  hal/src/main/java/edu/wpi/first/hal/DIOJNI.java
  hal/src/main/native/cpp/jni/DIOJNI.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DigitalOutput.java
Labels: component: hal, component: wpilibj

#3008 [build] Update to Doxygen 1.9.1
  .github/workflows/documentation.yml
  .github/workflows/gradle.yml
  docs/build.gradle
Labels: type: docs

#3488 [wpilibj] Rename DriverStation In[Mode] functions to follow style guide
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DriverStation.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/educational/EducationalRobot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/robotbaseskeleton/Robot.java
Labels: breaking, component: wpilibj
