Repository wpilibsuite/allwpilib, pull requests merged in 2021-08, with the labels that each got.

#3500 [wpilib] Remove IterativeRobotBase prints
  wpilibc/src/main/native/cpp/IterativeRobotBase.cpp
  wpilibc/src/main/native/cpp/TimedRobot.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/IterativeRobotBase.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/TimedRobot.java
Labels: component: wpilibj, component: wpilibc

#3504 [wpilib] Only read DS control word once in IterativeRobotBase
  wpilibc/src/main/native/cpp/DSControlWord.cpp
  wpilibc/src/main/native/cpp/IterativeRobotBase.cpp
  wpilibc/src/main/native/include/frc/DSControlWord.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DSControlWord.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/IterativeRobotBase.java
Labels: component: wpilibj, component: wpilibc

#3505 [wpilib] Rename DriverStation::IsOperatorControl() to IsTeleop()
  wpilibc/src/main/native/cpp/DriverStation.cpp
  wpilibc/src/main/native/cpp/RobotState.cpp
  wpilibc/src/main/native/cppcs/RobotBase.cpp
  wpilibc/src/main/native/include/frc/DriverStation.h
  wpilibc/src/main/native/include/frc/RobotBase.h
  wpilibc/src/main/native/include/frc/RobotState.h
  wpilibcExamples/src/main/cpp/templates/robotbaseskeleton/cpp/Robot.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DriverStation.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/RobotBase.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/RobotState.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/educational/EducationalRobot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/robotbaseskeleton/Robot.java
Labels: component: wpilibj, component: wpilibc

#3482 Set HAL Notifier thread as RT by default
  hal/src/main/native/athena/Threads.cpp
  hal/src/main/native/cpp/jni/ThreadsJNI.cpp
  hal/src/main/native/include/hal/Errors.h
  wpilibc/src/main/native/cppcs/RobotBase.cpp
  wpilibc/src/main/native/include/frc/Threads.h
  wpilibcIntegrationTests/src/main/native/cpp/PriorityTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/RobotBase.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/PriorityTest.java
Labels: component: wpilibj, component: wpilibc, component: hal

#3517 [sim] Adding sim wrappers for sensors that use SimDevice
  wpilibc/src/main/native/cpp/ADXL345_I2C.cpp
  wpilibc/src/main/native/cpp/ADXL345_SPI.cpp
  wpilibc/src/main/native/cpp/ADXL362.cpp
  wpilibc/src/main/native/cpp/I2C.cpp
  wpilibc/src/main/native/cpp/SPI.cpp
  wpilibc/src/main/native/cpp/Ultrasonic.cpp
  wpilibc/src/main/native/cpp/simulation/ADXL345Sim.cpp
  wpilibc/src/main/native/cpp/simulation/ADXL362Sim.cpp
  wpilibc/src/main/native/cpp/simulation/UltrasonicSim.cpp
  wpilibc/src/main/native/include/frc/ADXL345_I2C.h
  wpilibc/src/main/native/include/frc/ADXL345_SPI.h
  wpilibc/src/main/native/include/frc/ADXL362.h
  wpilibc/src/main/native/include/frc/I2C.h
  wpilibc/src/main/native/include/frc/SPI.h
  wpilibc/src/main/native/include/frc/Ultrasonic.h
  wpilibc/src/main/native/include/frc/simulation/ADXL345Sim.h
  wpilibc/src/main/native/include/frc/simulation/ADXL362Sim.h
  wpilibc/src/main/native/include/frc/simulation/UltrasonicSim.h
  wpilibc/src/test/native/cpp/UltrasonicTest.cpp
  wpilibc/src/test/native/cpp/simulation/ADXL345SimTest.cpp
  wpilibc/src/test/native/cpp/simulation/ADXL362SimTest.cpp
  wpilibc/src/test/native/cpp/simulation/ADXRS450_GyroSimTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/ADXL345_I2C.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/ADXL345_SPI.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/ADXL362.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/ADXRS450_Gyro.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/I2C.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/SPI.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Ultrasonic.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/ADXL345Sim.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/ADXL362Sim.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/UltrasonicSim.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/UltrasonicTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/ADXL345SimTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/ADXL362SimTest.java
Labels: type: feature, os: simulation
