Repository wpilibsuite/allwpilib, pull requests merged in 2021-09, with the labels that each got.

#3569 [wpiutil] jni_util: Add size, operator[] to JArrayRef
  wpiutil/src/main/native/include/wpi/jni_util.h
Labels: component: wpiutil

#3571 [wpiutil] UidVector: Return old object from erase()
  wpiutil/src/main/native/include/wpi/CallbackManager.h
  wpiutil/src/main/native/include/wpi/UidVector.h
Labels: component: wpiutil

#3570 [wpiutil] Add Java function package
  wpilibj/src/main/java/edu/wpi/first/wpilibj/smartdashboard/SendableBuilderImpl.java
  wpiutil/src/main/java/edu/wpi/first/util/function/BooleanConsumer.java
  wpiutil/src/main/java/edu/wpi/first/util/function/FloatConsumer.java
  wpiutil/src/main/java/edu/wpi/first/util/function/FloatSupplier.java
  wpiutil/src/main/java/edu/wpi/first/util/sendable/SendableBuilder.java
Labels: component: wpiutil

#3574 [wpimath] Use jinja for codegen
  .github/workflows/cmake.yml
  .github/workflows/lint-format.yml
  .github/workflows/sanitizers.yml
  build.gradle
  wpimath/build.gradle
  wpimath/generate_numbers.py
  wpimath/src/generate/GenericNumber.java.in
  wpimath/src/generate/GenericNumber.java.jinja
  wpimath/src/generate/Nat.java.in
  wpimath/src/generate/Nat.java.jinja
  wpimath/src/generate/NatGetter.java.in
Labels: component: wpimath

#3577 [ntcore] Match standard handle layout, only allow 16 instances
  ntcore/src/main/native/cpp/Handle.h
  ntcore/src/main/native/cpp/InstanceImpl.cpp
  ntcore/src/main/native/cpp/InstanceImpl.h
  ntcore/src/test/java/edu/wpi/first/networktables/ConnectionListenerTest.java
  ntcore/src/test/java/edu/wpi/first/networktables/EntryListenerTest.java
  ntcore/src/test/native/cpp/ConnectionListenerTest.cpp
  ntcore/src/test/native/cpp/EntryListenerTest.cpp
Labels: component: ntcore

#3598 [wpilib] Deprecate Timer::HasPeriodPassed()
  wpilibc/src/main/native/include/frc/Timer.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Timer.java
Labels: component: wpilibj, component: wpilibc

#3595 [wpilib] Add Timer tests
  wpilibc/src/main/native/cpp/Timer.cpp
  wpilibc/src/test/native/cpp/TimerTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Timer.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/TimerTest.java
Labels: component: wpilibj, component: wpilibc, breaking

#3603 [hal] Set error status for I2C port out of range
  hal/src/main/native/athena/I2C.cpp
Labels: component: hal

#3502 [wpilib] Add TimesliceRobot
  wpilibc/src/main/native/cpp/TimesliceRobot.cpp
  wpilibc/src/main/native/include/frc/TimesliceRobot.h
  wpilibc/src/test/native/cpp/TimesliceRobotTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/TimesliceRobot.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/TimesliceRobotTest.java
Labels: component: wpilibj, component: wpilibc
