Repository wpilibsuite/allwpilib, pull requests merged in 2021-02, with the labels that each got.

#3142 [examples] Instantiate m_ramseteController in example
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/ramsetecontroller/Robot.java
Labels: cleanup

#3123 [cscore] Add USB camera change event
  cscore/src/main/java/edu/wpi/cscore/VideoEvent.java
  cscore/src/main/native/cpp/Instance.cpp
  cscore/src/main/native/cpp/Instance.h
  cscore/src/main/native/cpp/Notifier.cpp
  cscore/src/main/native/cpp/Notifier.h
  cscore/src/main/native/cpp/UsbCameraListener.h
  cscore/src/main/native/cpp/cscore_cpp.cpp
  cscore/src/main/native/include/cscore_c.h
  cscore/src/main/native/include/cscore_cpp.h
  cscore/src/main/native/linux/UsbCameraListener.cpp
  cscore/src/main/native/osx/UsbCameraListener.cpp
  cscore/src/main/native/windows/UsbCameraListener.cpp
Labels: component: cscore

#3148 [wpimath] Add custom residual support to EKF
  wpimath/src/main/java/edu/wpi/first/wpilibj/estimator/ExtendedKalmanFilter.java
  wpimath/src/main/native/include/frc/estimator/ExtendedKalmanFilter.h
Labels: component: wpimath

#3179 Add RobotController::GetBatteryVoltage() to C++
  wpilibc/src/main/native/cpp/RobotController.cpp
  wpilibc/src/main/native/include/frc/RobotController.h
Labels: component: wpilibc

#3176 [wpimath] Fix order of setting gyro offset in pose estimators.
  wpimath/src/main/java/edu/wpi/first/wpilibj/estimator/DifferentialDrivePoseEstimator.java
  wpimath/src/main/java/edu/wpi/first/wpilibj/estimator/MecanumDrivePoseEstimator.java
  wpimath/src/main/java/edu/wpi/first/wpilibj/estimator/SwerveDrivePoseEstimator.java
  wpimath/src/main/native/cpp/estimator/DifferentialDrivePoseEstimator.cpp
Labels: cleanup, component: wpimath

#3162 Revert formatting for Rotation2d.rotateBy method comment. Fix typo inRotation2d.rotateBy comments.
  wpimath/src/main/java/edu/wpi/first/wpilibj/geometry/Rotation2d.java
  wpimath/src/main/native/include/frc/geometry/Rotation2d.h
Labels: documentation

#3139 [wpimath] Add methods to concatenate trajectories
  wpimath/src/main/java/edu/wpi/first/wpilibj/trajectory/Trajectory.java
  wpimath/src/main/native/cpp/trajectory/Trajectory.cpp
  wpimath/src/main/native/include/frc/trajectory/Trajectory.h
  wpimath/src/test/java/edu/wpi/first/wpilibj/trajectory/TrajectoryConcatenateTest.java
  wpimath/src/test/native/cpp/trajectory/TrajectoryConcatenateTest.cpp
Labels: component: wpimath, enhancement

#3175 Require non-zero positive value for `PIDController.period`
  wpilibc/src/main/native/cpp/controller/PIDController.cpp
  wpilibc/src/main/native/include/frc/controller/PIDController.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/controller/PIDController.java
Labels: component: wpilibc, component: wpilibj, enhancement

#3193 [glass] Auto-size plots to fit window
  glass/src/lib/native/cpp/other/Plot.cpp
Labels: component: glass

#3208 [glass] NT: Fix return value in StringToDoubleArray
  glass/src/libnt/native/cpp/NetworkTables.cpp
Labels: component: glass

#3203 [wpimath] Units.java: Add kg-lb conversions
  wpimath/src/main/java/edu/wpi/first/wpilibj/util/Units.java
  wpimath/src/test/java/edu/wpi/first/wpilibj/util/UnitsTest.java
Labels: component: wpimath, enhancement
