Repository wpilibsuite/allwpilib, pull requests merged in 2022-10, with the labels that each got.

#4453 [wpimath] Enable continuous angle input for HolonomicDriveController
  wpimath/src/main/java/edu/wpi/first/math/controller/HolonomicDriveController.java
  wpimath/src/main/native/cpp/controller/HolonomicDriveController.cpp
Labels: hacktoberfest-accepted

#4461 Fix ambiguous documentation for TrajectoryUtil.fromPathWeaverJson()
  wpimath/src/main/java/edu/wpi/first/math/trajectory/TrajectoryUtil.java
  wpimath/src/main/native/include/frc/trajectory/TrajectoryUtil.h
Labels: hacktoberfest-accepted

#4422 [wpimath] Add minLinearAccel parameter to DifferentialDriveAccelerationLimiter
  wpimath/src/main/java/edu/wpi/first/math/controller/DifferentialDriveAccelerationLimiter.java
  wpimath/src/main/native/cpp/controller/DifferentialDriveAccelerationLimiter.cpp
  wpimath/src/main/native/include/frc/controller/DifferentialDriveAccelerationLimiter.h
  wpimath/src/test/java/edu/wpi/first/math/controller/DifferentialDriveAccelerationLimiterTest.java
  wpimath/src/test/native/cpp/controller/DifferentialDriveAccelerationLimiterTest.cpp
Labels: component: wpimath, hacktoberfest-accepted

#4465 Add IsConnected function to all gyros
  wpilibc/src/main/native/cpp/ADIS16448_IMU.cpp
  wpilibc/src/main/native/cpp/ADIS16470_IMU.cpp
  wpilibc/src/main/native/cpp/ADXRS450_Gyro.cpp
  wpilibc/src/main/native/include/frc/ADIS16448_IMU.h
  wpilibc/src/main/native/include/frc/ADIS16470_IMU.h
  wpilibc/src/main/native/include/frc/ADXRS450_Gyro.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/ADIS16448_IMU.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/ADIS16470_IMU.java
Labels: type: discussion
