Repository wpilibsuite/allwpilib, pull requests merged in 2023-11, with the labels that each got.

#5823 [wpimath] Add feedforward constant constructor to ElevatorSim
  wpilibc/src/main/native/cpp/simulation/ElevatorSim.cpp
  wpilibc/src/main/native/include/frc/simulation/ElevatorSim.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/ElevatorSim.java
Labels: breaking

#5869 [apriltag] AprilTagFieldLayout: Add accessors for origin and field dimensions
  apriltag/src/main/java/edu/wpi/first/apriltag/AprilTagFieldLayout.java
  apriltag/src/main/native/cpp/AprilTagFieldLayout.cpp
  apriltag/src/main/native/include/frc/apriltag/AprilTagFieldLayout.h
Labels: component: apriltag

#5821 [wpimath] Add basic wpiunits support to wpimath
  CMakeLists.txt
  README-CMAKE.md
  apriltag/CMakeLists.txt
  romiVendordep/CMakeLists.txt
  wpilibNewCommands/CMakeLists.txt
  wpilibj/CMakeLists.txt
  wpimath/CMakeLists.txt
  wpimath/build.gradle
  wpimath/src/main/java/edu/wpi/first/math/geometry/Pose2d.java
  wpimath/src/main/java/edu/wpi/first/math/geometry/Rotation2d.java
  wpimath/src/main/java/edu/wpi/first/math/geometry/Transform2d.java
  wpimath/src/main/java/edu/wpi/first/math/geometry/Translation2d.java
  wpimath/src/main/java/edu/wpi/first/math/geometry/Translation3d.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/ChassisSpeeds.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/DifferentialDriveKinematics.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/DifferentialDriveOdometry.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/DifferentialDriveWheelPositions.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/DifferentialDriveWheelSpeeds.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/MecanumDriveWheelPositions.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/MecanumDriveWheelSpeeds.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/SwerveDriveKinematics.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/SwerveModulePosition.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/SwerveModuleState.java
  wpimath/src/main/java/edu/wpi/first/math/trajectory/TrajectoryConfig.java
  wpimath/src/main/java/edu/wpi/first/math/trajectory/TrapezoidProfile.java
  wpimath/src/test/java/edu/wpi/first/math/geometry/Pose2dTest.java
  wpimath/src/test/java/edu/wpi/first/math/geometry/Rotation2dTest.java
  wpimath/src/test/java/edu/wpi/first/math/geometry/Transform2dTest.java
  wpimath/src/test/java/edu/wpi/first/math/geometry/Translation3dTest.java
  wpimath/src/test/java/edu/wpi/first/math/kinematics/ChassisSpeedsTest.java
  wpimath/wpimath-config.cmake.in
  wpiunits/CMakeLists.txt
  wpiunits/src/main/java/edu/wpi/first/units/BaseUnits.java
  wpiunits/src/main/java/edu/wpi/first/units/Units.java
  wpiunits/src/test/java/edu/wpi/first/units/UnitsTest.java
  wpiunits/wpiunits-config.cmake
  xrpVendordep/CMakeLists.txt
Labels: component: wpimath
