Repository wpilibsuite/allwpilib, pull requests merged in 2023-08, with the labels that each got.

#5484 [ntcore] Value: More efficiently store arrays
  ntcore/src/main/native/cpp/Value.cpp
Labels: component: ntcore

#5232 Update GetMatchTime docs and units
  hal/src/main/native/include/hal/DriverStation.h
  wpilibc/src/main/native/cpp/DriverStation.cpp
  wpilibc/src/main/native/cpp/Timer.cpp
  wpilibc/src/main/native/include/frc/DriverStation.h
  wpilibc/src/test/native/cpp/simulation/DriverStationSimTest.cpp
  wpilibcExamples/src/main/cpp/examples/DigitalCommunication/cpp/Robot.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DriverStation.java
Labels: type: docs

#5506 [glass,simgui] Add background color selector to glass plots
  glass/src/lib/native/cpp/other/Plot.cpp
Labels: type: feature, component: glass

#5535 [glass] Fix array crash when clearing existing workspace
  glass/src/lib/native/cpp/Storage.cpp
Labels: component: glass

#5485 [ntcore] Limit buffer pool size to 64KB per connection
  ntcore/src/main/native/cpp/net/WebSocketConnection.cpp
  ntcore/src/main/native/cpp/net3/UvStreamConnection3.cpp
Labels: component: ntcore

#5326 Upgrade to fmt 10.1.0
  cscore/src/main/native/cpp/HttpCameraImpl.cpp
  cscore/src/main/native/cpp/MjpegServerImpl.cpp
  cscore/src/main/native/linux/UsbCameraImpl.cpp
  hal/src/main/native/sim/AddressableLED.cpp
  ntcore/src/main/native/cpp/LocalStorage.cpp
  roborioteamnumbersetter/src/main/native/cpp/DeploySession.cpp
  upstream_utils/fmt_patches/0001-Don-t-throw-on-write-failure.patch
  upstream_utils/fmt_patches/0002-Suppress-C-20-clang-tidy-warning-false-positive.patch
  upstream_utils/fmt_patches/0002-Suppress-warnings-we-can-t-fix.patch
  upstream_utils/fmt_patches/0003-Suppress-warnings-we-can-t-fix.patch
  upstream_utils/update_fmt.py
  wpiutil/src/main/native/cpp/jni/WPIUtilJNI.cpp
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/args.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/chrono.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/color.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/compile.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/core.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/format-inl.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/format.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/os.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/ostream.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/printf.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/ranges.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/std.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/xchar.h
  wpiutil/src/main/native/thirdparty/fmtlib/src/format.cpp
  wpiutil/src/main/native/thirdparty/fmtlib/src/os.cpp
Labels: breaking

#5568 [cpp cmd] Refactor ScheduleCommand to use SmallSet
  wpilibNewCommands/src/main/native/cpp/frc2/command/ScheduleCommand.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/ProxyCommand.h
  wpilibNewCommands/src/main/native/include/frc2/command/ScheduleCommand.h
  wpilibNewCommands/src/main/native/include/frc2/command/SetUtilities.h
  wpilibNewCommands/src/test/native/cpp/frc2/command/CommandTestBase.h
Labels: component: command-based

#5572 [cpp cmd] Add CommandPtr supplier constructor to ProxyCommand
  wpilibNewCommands/src/main/native/cpp/frc2/command/ProxyCommand.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/ProxyCommand.h
Labels: component: command-based

#5571 [cpp cmd] Fix leakage and multiple composition bug in SelectCommand
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/SelectCommand.java
  wpilibNewCommands/src/main/native/include/frc2/command/SelectCommand.h
Labels: component: command-based

#5570 [cpp cmd] Use inner command name in ProxyCommand unique_ptr constructor
  wpilibNewCommands/src/main/native/cpp/frc2/command/ProxyCommand.cpp
Labels: component: command-based
