Repository wpilibsuite/allwpilib, pull requests merged in 2023-09, with the labels that each got.

#5596 [wpilib][hal] Add GetTeamNumber
  hal/src/main/java/edu/wpi/first/hal/HALUtil.java
  hal/src/main/java/edu/wpi/first/hal/simulation/RoboRioDataJNI.java
  hal/src/main/native/athena/HAL.cpp
  hal/src/main/native/athena/mockdata/RoboRioData.cpp
  hal/src/main/native/cpp/jni/HALUtil.cpp
  hal/src/main/native/cpp/jni/simulation/RoboRioDataJNI.cpp
  hal/src/main/native/include/hal/HALBase.h
  hal/src/main/native/include/hal/simulation/RoboRioData.h
  hal/src/main/native/sim/HAL.cpp
  hal/src/main/native/sim/mockdata/RoboRioData.cpp
  hal/src/main/native/sim/mockdata/RoboRioDataInternal.h
  wpilibc/src/main/native/cpp/RobotController.cpp
  wpilibc/src/main/native/cpp/simulation/RoboRioSim.cpp
  wpilibc/src/main/native/include/frc/RobotController.h
  wpilibc/src/main/native/include/frc/simulation/RoboRioSim.h
  wpilibc/src/test/native/cpp/simulation/RoboRioSimTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/RobotController.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/RoboRioSim.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/RoboRioSimTest.java
Labels: component: wpilibj, component: wpilibc, component: hal

#3534 Use IsSimulation() consistently
  wpilibc/src/main/native/cpp/Filesystem.cpp
  wpilibc/src/main/native/cppcs/RobotBase.cpp
  wpilibc/src/main/native/include/frc/RobotBase.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Filesystem.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/RobotBase.java
Labels: os: simulation, type: discussion

#5651 [wpiutil] SpanExtras: Add take_back and take_front
  wpiutil/src/main/native/include/wpi/SpanExtras.h
Labels: component: wpiutil

#5652 [wpinet] uv::Error: Change default error to 0
  wpinet/src/main/native/include/wpinet/uv/Error.h
Labels: component: wpinet

#5653 [wpinet] uv::Buffer: Add bytes() accessor
  wpinet/src/main/native/include/wpinet/uv/Buffer.h
Labels: component: wpinet

#5654 [wpinet] uv::RequestImpl: Avoid infinite loop in shared_from_this()
  wpinet/src/main/native/include/wpinet/uv/Request.h
Labels: component: wpinet

#5655 [wpinet] uv::Stream: Return error from TryWrite()
  wpinet/src/main/native/cpp/uv/Stream.cpp
  wpinet/src/main/native/include/wpinet/uv/Stream.h
Labels: component: wpinet

#5656 [wpinet] uv::Request: Return shared_ptr from Release()
  wpinet/src/main/native/cpp/uv/Stream.cpp
  wpinet/src/main/native/include/wpinet/uv/Request.h
Labels: component: wpinet

#5657 [ntcore] Compute Value memory size when creating value
  ntcore/src/main/native/cpp/Value.cpp
  ntcore/src/main/native/cpp/net/NetworkLoopQueue.cpp
  ntcore/src/main/native/include/networktables/NetworkTableValue.h
Labels: component: ntcore

#5504 [cpp cmd] Add Requirements struct
  wpilibNewCommands/src/main/native/cpp/frc2/command/Command.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/CommandPtr.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/Commands.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/FunctionalCommand.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/InstantCommand.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/MecanumControllerCommand.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/NotifierCommand.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/PIDCommand.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/RamseteCommand.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/RunCommand.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/StartEndCommand.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/Command.h
  wpilibNewCommands/src/main/native/include/frc2/command/CommandPtr.h
  wpilibNewCommands/src/main/native/include/frc2/command/Commands.h
  wpilibNewCommands/src/main/native/include/frc2/command/FunctionalCommand.h
  wpilibNewCommands/src/main/native/include/frc2/command/InstantCommand.h
  wpilibNewCommands/src/main/native/include/frc2/command/MecanumControllerCommand.h
  wpilibNewCommands/src/main/native/include/frc2/command/NotifierCommand.h
  wpilibNewCommands/src/main/native/include/frc2/command/PIDCommand.h
  wpilibNewCommands/src/main/native/include/frc2/command/ProfiledPIDCommand.h
  wpilibNewCommands/src/main/native/include/frc2/command/RamseteCommand.h
  wpilibNewCommands/src/main/native/include/frc2/command/Requirements.h
  wpilibNewCommands/src/main/native/include/frc2/command/RunCommand.h
  wpilibNewCommands/src/main/native/include/frc2/command/StartEndCommand.h
  wpilibNewCommands/src/main/native/include/frc2/command/SwerveControllerCommand.h
  wpilibNewCommands/src/main/native/include/frc2/command/SwerveControllerCommand.inc
  wpilibNewCommands/src/main/native/include/frc2/command/TrapezoidProfileCommand.h
  wpilibNewCommands/src/test/native/cpp/frc2/command/AddRequirementsTest.cpp
  wpilibcExamples/src/main/cpp/examples/GearsBot/cpp/commands/CloseClaw.cpp
  wpilibcExamples/src/main/cpp/examples/GearsBot/cpp/commands/OpenClaw.cpp
  wpilibcExamples/src/main/cpp/examples/GearsBot/cpp/commands/SetElevatorSetpoint.cpp
  wpilibcExamples/src/main/cpp/examples/GearsBot/cpp/commands/SetWristSetpoint.cpp
  wpilibcExamples/src/main/cpp/examples/GearsBot/cpp/commands/TankDrive.cpp
  wpilibcExamples/src/main/cpp/examples/GyroDriveCommands/cpp/commands/TurnToAngle.cpp
  wpilibcExamples/src/main/cpp/examples/GyroDriveCommands/cpp/commands/TurnToAngleProfiled.cpp
  wpilibcExamples/src/main/cpp/examples/HatchbotTraditional/cpp/commands/DefaultDrive.cpp
  wpilibcExamples/src/main/cpp/examples/HatchbotTraditional/cpp/commands/DriveDistance.cpp
  wpilibcExamples/src/main/cpp/examples/HatchbotTraditional/cpp/commands/ReleaseHatch.cpp
  wpilibcExamples/src/main/cpp/examples/RomiReference/cpp/commands/TeleopArcadeDrive.cpp
  wpilibcExamples/src/main/cpp/examples/RomiReference/include/commands/DriveDistance.h
  wpilibcExamples/src/main/cpp/examples/RomiReference/include/commands/DriveTime.h
  wpilibcExamples/src/main/cpp/examples/RomiReference/include/commands/TurnDegrees.h
  wpilibcExamples/src/main/cpp/examples/RomiReference/include/commands/TurnTime.h
Labels: component: command-based

#5603 [cmd] Add proxy factory to Commands
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/Commands.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/Commands.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/Commands.h
Labels: component: command-based

#5658 [wpiutil] Refactor SpanMatcher and TestPrinters from ntcore
  ntcore/CMakeLists.txt
  ntcore/src/test/native/cpp/LocalStorageTest.cpp
  ntcore/src/test/native/cpp/TestPrinters.cpp
  ntcore/src/test/native/cpp/TestPrinters.h
  ntcore/src/test/native/cpp/net/ServerImplTest.cpp
  ntcore/src/test/native/cpp/net/WireEncoderTest.cpp
  ntcore/src/test/native/cpp/net3/WireDecoder3Test.cpp
  ntcore/src/test/native/cpp/net3/WireEncoder3Test.cpp
  shared/javacpp/setupBuild.gradle
  shared/jni/setupBuild.gradle
  wpiutil/.styleguide
  wpiutil/CMakeLists.txt
  wpiutil/src/test/native/include/wpi/SpanMatcher.h
  wpiutil/src/test/native/include/wpi/TestPrinters.h
Labels: component: wpiutil
