Repository wpilibsuite/allwpilib, pull requests merged in 2023-12, with the labels that each got.

#3292 [wpimath] Optimize 2nd derivative of quintic splines
  wpimath/src/main/java/edu/wpi/first/math/spline/CubicHermiteSpline.java
  wpimath/src/main/java/edu/wpi/first/math/spline/QuinticHermiteSpline.java
  wpimath/src/main/java/edu/wpi/first/math/spline/Spline.java
  wpimath/src/main/java/edu/wpi/first/math/spline/SplineHelper.java
  wpimath/src/main/java/edu/wpi/first/math/trajectory/TrajectoryGenerator.java
  wpimath/src/main/native/cpp/spline/CubicHermiteSpline.cpp
  wpimath/src/main/native/cpp/spline/QuinticHermiteSpline.cpp
  wpimath/src/main/native/cpp/spline/SplineHelper.cpp
  wpimath/src/main/native/cpp/trajectory/TrajectoryGenerator.cpp
  wpimath/src/main/native/include/frc/spline/CubicHermiteSpline.h
  wpimath/src/main/native/include/frc/spline/QuinticHermiteSpline.h
  wpimath/src/main/native/include/frc/spline/Spline.h
  wpimath/src/main/native/include/frc/spline/SplineHelper.h
  wpimath/src/test/java/edu/wpi/first/math/kinematics/MecanumDriveOdometryTest.java
  wpimath/src/test/java/edu/wpi/first/math/trajectory/TrajectoryGeneratorTest.java
  wpimath/src/test/native/cpp/trajectory/TrajectoryGeneratorTest.cpp
Labels: component: wpimath, type: fix

#2654 [build] Report failed status to Azure on failed tests
  test-scripts/run-tests-on-robot.sh
Labels: build

#5989 [build] Bump native-utils to fix compile_commands.json
  buildSrc/build.gradle
Labels: build

#5988 [wpilibcExamples] Update examples to CommandPtr
  wpilibcExamples/src/main/cpp/examples/ArmBot/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/ArmBot/cpp/RobotContainer.cpp
  wpilibcExamples/src/main/cpp/examples/ArmBot/include/Robot.h
  wpilibcExamples/src/main/cpp/examples/ArmBot/include/RobotContainer.h
  wpilibcExamples/src/main/cpp/examples/ArmBotOffboard/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/ArmBotOffboard/cpp/RobotContainer.cpp
  wpilibcExamples/src/main/cpp/examples/ArmBotOffboard/include/Robot.h
  wpilibcExamples/src/main/cpp/examples/ArmBotOffboard/include/RobotContainer.h
  wpilibcExamples/src/main/cpp/examples/DriveDistanceOffboard/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/DriveDistanceOffboard/cpp/RobotContainer.cpp
  wpilibcExamples/src/main/cpp/examples/DriveDistanceOffboard/include/Robot.h
  wpilibcExamples/src/main/cpp/examples/DriveDistanceOffboard/include/RobotContainer.h
  wpilibcExamples/src/main/cpp/examples/GyroDriveCommands/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/GyroDriveCommands/cpp/RobotContainer.cpp
  wpilibcExamples/src/main/cpp/examples/GyroDriveCommands/include/Robot.h
  wpilibcExamples/src/main/cpp/examples/GyroDriveCommands/include/RobotContainer.h
  wpilibcExamples/src/main/cpp/examples/MecanumControllerCommand/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/MecanumControllerCommand/cpp/RobotContainer.cpp
  wpilibcExamples/src/main/cpp/examples/MecanumControllerCommand/include/Robot.h
  wpilibcExamples/src/main/cpp/examples/MecanumControllerCommand/include/RobotContainer.h
  wpilibcExamples/src/main/cpp/examples/SelectCommand/cpp/RobotContainer.cpp
  wpilibcExamples/src/main/cpp/examples/SelectCommand/include/RobotContainer.h
  wpilibcExamples/src/main/cpp/examples/SwerveControllerCommand/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/SwerveControllerCommand/cpp/RobotContainer.cpp
  wpilibcExamples/src/main/cpp/examples/SwerveControllerCommand/include/Robot.h
  wpilibcExamples/src/main/cpp/examples/SwerveControllerCommand/include/RobotContainer.h
Labels: component: examples

#5985 [wpilib] Make Color::HexString() constexpr
  wpilibc/src/main/native/cpp/util/Color.cpp
  wpilibc/src/main/native/cpp/util/Color8Bit.cpp
  wpilibc/src/main/native/include/frc/util/Color.h
  wpilibc/src/main/native/include/frc/util/Color8Bit.h
  wpilibc/src/test/native/cpp/util/Color8BitTest.cpp
  wpilibc/src/test/native/cpp/util/ColorTest.cpp
  wpiutil/src/main/native/include/wpi/ct_string.h
Labels: component: wpilibc

#5984 [cmd] CommandCompositionError: Include stacktrace of original composition
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/CommandScheduler.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/Command.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/CommandPtr.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/CommandScheduler.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/Command.h
  wpilibNewCommands/src/main/native/include/frc2/command/CommandPtr.h
Labels: component: command-based

#5494 [ntcore] Add cached topic property
  ntcore/doc/networktables4.adoc
  ntcore/src/generate/main/java/NetworkTablesJNI.java.jinja
  ntcore/src/generated/main/java/edu/wpi/first/networktables/NetworkTablesJNI.java
  ntcore/src/main/java/edu/wpi/first/networktables/Topic.java
  ntcore/src/main/native/cpp/LocalStorage.cpp
  ntcore/src/main/native/cpp/LocalStorage.h
  ntcore/src/main/native/cpp/jni/NetworkTablesJNI.cpp
  ntcore/src/main/native/cpp/net/ServerImpl.cpp
  ntcore/src/main/native/cpp/net/ServerImpl.h
  ntcore/src/main/native/cpp/ntcore_c.cpp
  ntcore/src/main/native/cpp/ntcore_cpp.cpp
  ntcore/src/main/native/include/networktables/Topic.h
  ntcore/src/main/native/include/networktables/Topic.inc
  ntcore/src/main/native/include/ntcore_c.h
  ntcore/src/main/native/include/ntcore_cpp.h
  ntcore/src/test/native/cpp/LocalStorageTest.cpp
Labels: component: ntcore

#6054 [wpimath] Add more docs to SimulatedAnnealing (NFC)
  wpimath/src/main/java/edu/wpi/first/math/optimization/SimulatedAnnealing.java
  wpimath/src/main/native/include/frc/optimization/SimulatedAnnealing.h
Labels: type: docs, component: wpimath

#5581 Fix compose-while-scheduled issue and test all compositions
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/CommandScheduler.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/CommandScheduler.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/ConditionalCommand.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/ParallelCommandGroup.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/ParallelDeadlineGroup.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/ParallelRaceGroup.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/RepeatCommand.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/SequentialCommandGroup.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/WrapperCommand.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/CommandScheduler.h
  wpilibNewCommands/src/main/native/include/frc2/command/SelectCommand.h
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/CommandGroupErrorTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/MultiCompositionTestBase.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/ParallelCommandGroupTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/ParallelDeadlineGroupTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/ParallelRaceGroupTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/RepeatCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/SelectCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/SequentialCommandGroupTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/SingleCompositionTestBase.java
Labels: component: command-based, type: fix

#5521 Method to get breaker fault at a specific channel in PowerDistribution[Sticky]Faults
  hal/src/main/java/edu/wpi/first/hal/PowerDistributionFaults.java
  hal/src/main/java/edu/wpi/first/hal/PowerDistributionStickyFaults.java
  hal/src/main/java/edu/wpi/first/hal/REVPHFaults.java
  wpilibc/src/main/native/cpp/PneumaticHub.cpp
  wpilibc/src/main/native/cpp/PowerDistribution.cpp
  wpilibc/src/main/native/include/frc/PneumaticHub.h
  wpilibc/src/main/native/include/frc/PowerDistribution.h
Labels: component: wpilibc, component: hal

#6055 [wpimath] Report error on negative PID gains
  wpilibcExamples/src/main/cpp/examples/UltrasonicPID/include/Robot.h
  wpilibcExamples/src/test/cpp/examples/UltrasonicPID/cpp/UltrasonicPIDTest.cpp
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/ultrasonicpid/Robot.java
  wpilibjExamples/src/test/java/edu/wpi/first/wpilibj/examples/ultrasonicpid/UltrasonicPIDTest.java
  wpimath/src/main/java/edu/wpi/first/math/controller/PIDController.java
  wpimath/src/main/java/edu/wpi/first/math/controller/ProfiledPIDController.java
  wpimath/src/main/native/cpp/controller/PIDController.cpp
  wpimath/src/main/native/include/frc/controller/PIDController.h
  wpimath/src/main/native/include/frc/controller/ProfiledPIDController.h
Labels: component: wpimath
