Repository wpilibsuite/allwpilib, pull requests merged in 2023-10, with the labels that each got.

#5659 [ntcore] Networking improvements
  ntcore/doc/networktables4.adoc
  ntcore/src/main/native/cpp/NetworkClient.cpp
  ntcore/src/main/native/cpp/NetworkClient.h
  ntcore/src/main/native/cpp/NetworkServer.cpp
  ntcore/src/main/native/cpp/net/ClientImpl.cpp
  ntcore/src/main/native/cpp/net/ClientImpl.h
  ntcore/src/main/native/cpp/net/Message.h
  ntcore/src/main/native/cpp/net/NetworkOutgoingQueue.h
  ntcore/src/main/native/cpp/net/NetworkPing.cpp
  ntcore/src/main/native/cpp/net/NetworkPing.h
  ntcore/src/main/native/cpp/net/ServerImpl.cpp
  ntcore/src/main/native/cpp/net/ServerImpl.h
  ntcore/src/main/native/cpp/net/WebSocketConnection.cpp
  ntcore/src/main/native/cpp/net/WebSocketConnection.h
  ntcore/src/main/native/cpp/net/WireConnection.h
  ntcore/src/main/native/cpp/net/WireDecoder.cpp
  ntcore/src/main/native/cpp/net/WireDecoder.h
  ntcore/src/test/java/edu/wpi/first/networktables/TimeSyncTest.java
  ntcore/src/test/native/cpp/net/MockWireConnection.cpp
  ntcore/src/test/native/cpp/net/MockWireConnection.h
  ntcore/src/test/native/cpp/net/ServerImplTest.cpp
Labels: component: ntcore

#5470 Make command scheduling order consistent
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/CommandScheduler.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/CommandScheduler.cpp
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/SchedulingRecursionTest.java
  wpilibNewCommands/src/test/native/cpp/frc2/command/SchedulingRecursionTest.cpp
Labels: component: command-based, type: fix

#5566 [cmd] Add DeferredCommand
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/Commands.java
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/DeferredCommand.java
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/Subsystem.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/Commands.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/DeferredCommand.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/Subsystem.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/Commands.h
  wpilibNewCommands/src/main/native/include/frc2/command/DeferredCommand.h
  wpilibNewCommands/src/main/native/include/frc2/command/Subsystem.h
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/DeferredCommandTest.java
  wpilibNewCommands/src/test/native/cpp/frc2/command/DeferredCommandTest.cpp
Labels: component: command-based
