Repository wpilibsuite/allwpilib, pull requests merged in 2024-12, with the labels that each got.

#7475 Remove 32 Bit Windows support (2027)
  .github/workflows/gradle.yml
  .github/workflows/sentinel-build.yml
Labels: 2027

#7487 [hal] Clean up systemcore notifier impl
  hal/src/main/native/systemcore/Notifier.cpp
Labels: 2027

#7490 [wpimath] Remove rotation2d value field
  wpimath/src/main/java/edu/wpi/first/math/geometry/Rotation2d.java
  wpimath/src/main/native/include/frc/geometry/Rotation2d.h
  wpimath/src/test/java/edu/wpi/first/math/geometry/Rotation2dTest.java
  wpimath/src/test/java/edu/wpi/first/math/kinematics/SwerveDriveKinematicsTest.java
  wpimath/src/test/native/cpp/geometry/Rotation2dTest.cpp
  wpimath/src/test/native/cpp/kinematics/SwerveDriveKinematicsTest.cpp
Labels: 2027

#7503 Switch to inital password and host for systemcore
  developerRobot/build.gradle
Labels: 2027

#7504 [wpilib] Add SPARKmini to PWM support
  wpilibc/src/generated/main/native/cpp/motorcontrol/SparkMini.cpp
  wpilibc/src/generated/main/native/include/frc/motorcontrol/SparkMini.h
  wpilibj/src/generate/pwm_motor_controllers.json
  wpilibj/src/generated/main/java/edu/wpi/first/wpilibj/motorcontrol/SparkMini.java
Labels: 2027

#7505 Fix epilogue loading optional types from the newcommands vendordep
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/SendableHandler.java
Labels: component: epilogue

#7488 [hal] Add ErrorInfo support to systemcore DS
  hal/src/generated/main/native/cpp/mrc/protobuf/MrcComm.npb.cpp
  hal/src/generated/main/native/cpp/mrc/protobuf/MrcComm.npb.h
  hal/src/main/native/cpp/proto/ErrorInfoProto.cpp
  hal/src/main/native/include/hal/proto/ErrorInfo.h
  hal/src/main/native/systemcore/FRCDriverStation.cpp
  hal/src/mrc/include/mrc/NetComm.h
  hal/src/mrc/include/mrc/NtNetComm.h
  hal/src/mrc/proto/MrcComm.proto
Labels: 2027

#7511 Skip linux arm64 build on tools build
  .github/workflows/tools.yml
Labels: 2027

#7517 Remove athena completely from the 2027 build
  shared/config.gradle
Labels: 2027

#7516 [wpimath] Fix SimpleFeedforward overload set
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/MecanumControllerCommand.java
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/RamseteCommand.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/drivedistanceoffboard/subsystems/DriveSubsystem.java
  wpimath/src/main/java/edu/wpi/first/math/controller/SimpleMotorFeedforward.java
  wpimath/src/main/native/include/frc/controller/SimpleMotorFeedforward.h
  wpimath/src/test/java/edu/wpi/first/math/controller/SimpleMotorFeedforwardTest.java
  wpimath/src/test/java/edu/wpi/first/math/trajectory/DifferentialDriveVoltageConstraintTest.java
  wpimath/src/test/java/edu/wpi/first/math/trajectory/ExponentialProfileTest.java
Labels: 2027

#7496 [ci] Upgrade to Ubuntu 24.04
  .github/workflows/bazel.yml
  .github/workflows/cmake-android.yml
  .github/workflows/cmake.yml
  .github/workflows/comment-command.yml
  .github/workflows/documentation.yml
  .github/workflows/gradle.yml
  .github/workflows/lint-format.yml
  .github/workflows/pregenerate.yml
  .github/workflows/sanitizers.yml
  .github/workflows/sentinel-build.yml
  .github/workflows/tools.yml
  .github/workflows/upstream-utils.yml
Labels: 2027

#7509 [wpimath] Add affine transformation constructors and getters to geometry API
  wpimath/src/main/java/edu/wpi/first/math/StateSpaceUtil.java
  wpimath/src/main/java/edu/wpi/first/math/geometry/Pose2d.java
  wpimath/src/main/java/edu/wpi/first/math/geometry/Pose3d.java
  wpimath/src/main/java/edu/wpi/first/math/geometry/Rotation2d.java
  wpimath/src/main/java/edu/wpi/first/math/geometry/Rotation3d.java
  wpimath/src/main/java/edu/wpi/first/math/geometry/Transform2d.java
  wpimath/src/main/java/edu/wpi/first/math/geometry/Transform3d.java
  wpimath/src/main/java/edu/wpi/first/math/geometry/Translation2d.java
  wpimath/src/main/java/edu/wpi/first/math/geometry/Translation3d.java
  wpimath/src/main/native/include/frc/StateSpaceUtil.h
  wpimath/src/main/native/include/frc/ct_matrix.h
  wpimath/src/main/native/include/frc/geometry/Pose2d.h
  wpimath/src/main/native/include/frc/geometry/Pose3d.h
  wpimath/src/main/native/include/frc/geometry/Rotation2d.h
  wpimath/src/main/native/include/frc/geometry/Rotation3d.h
  wpimath/src/main/native/include/frc/geometry/Transform2d.h
  wpimath/src/main/native/include/frc/geometry/Transform3d.h
  wpimath/src/main/native/include/frc/geometry/Translation2d.h
  wpimath/src/main/native/include/frc/geometry/Translation3d.h
  wpimath/src/test/java/edu/wpi/first/math/StateSpaceUtilTest.java
  wpimath/src/test/java/edu/wpi/first/math/geometry/Pose2dTest.java
  wpimath/src/test/java/edu/wpi/first/math/geometry/Pose3dTest.java
  wpimath/src/test/java/edu/wpi/first/math/geometry/Rotation2dTest.java
  wpimath/src/test/java/edu/wpi/first/math/geometry/Rotation3dTest.java
  wpimath/src/test/java/edu/wpi/first/math/geometry/Transform2dTest.java
  wpimath/src/test/java/edu/wpi/first/math/geometry/Transform3dTest.java
  wpimath/src/test/native/cpp/geometry/Pose2dTest.cpp
  wpimath/src/test/native/cpp/geometry/Pose3dTest.cpp
  wpimath/src/test/native/cpp/geometry/Rotation2dTest.cpp
  wpimath/src/test/native/cpp/geometry/Rotation3dTest.cpp
  wpimath/src/test/native/cpp/geometry/Transform2dTest.cpp
  wpimath/src/test/native/cpp/geometry/Transform3dTest.cpp
Labels: 2027

#7524 [wpimath] Fix duplicate Rotation2d constructor
  wpimath/src/main/native/include/frc/geometry/Rotation2d.h
Labels: component: wpimath, 2027

#7521 [wpimath] Remove LUTs from LTV controllers
  wpimath/src/main/java/edu/wpi/first/math/controller/LTVDifferentialDriveController.java
  wpimath/src/main/java/edu/wpi/first/math/controller/LTVUnicycleController.java
  wpimath/src/main/native/cpp/controller/LTVDifferentialDriveController.cpp
  wpimath/src/main/native/cpp/controller/LTVUnicycleController.cpp
  wpimath/src/main/native/include/frc/controller/LTVDifferentialDriveController.h
  wpimath/src/main/native/include/frc/controller/LTVUnicycleController.h
Labels: 2027

#7492 Use std::bit_cast
  ntcore/src/main/native/cpp/net3/WireDecoder3.cpp
  ntcore/src/main/native/cpp/net3/WireEncoder3.cpp
  simulation/halsim_xrp/src/main/native/cpp/XRP.cpp
  wpinet/src/netconsoleServer/native/cpp/main.cpp
  wpinet/src/netconsoleTee/native/cpp/main.cpp
  wpiutil/src/main/native/cpp/DataLog.cpp
  wpiutil/src/main/native/cpp/DataLogReader.cpp
Labels: 2027

#7522 [wpimath] Remove RamseteController and RamseteCommand
  shared/examplecheck.gradle
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/RamseteCommand.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/RamseteCommand.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/RamseteCommand.h
  wpilibcExamples/src/main/cpp/examples/examples.json
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/examples.json
  wpimath/src/main/java/edu/wpi/first/math/controller/LTVDifferentialDriveController.java
  wpimath/src/main/java/edu/wpi/first/math/controller/LTVUnicycleController.java
  wpimath/src/main/java/edu/wpi/first/math/controller/RamseteController.java
  wpimath/src/main/native/include/frc/controller/LTVDifferentialDriveController.h
  wpimath/src/main/native/include/frc/controller/LTVUnicycleController.h
  wpimath/src/main/native/include/frc/controller/RamseteController.h
  wpimath/src/test/java/edu/wpi/first/math/controller/RamseteControllerTest.java
  wpimath/src/test/native/cpp/controller/RamseteControllerTest.cpp
Labels: component: command-based, component: wpimath, component: examples, 2027

#7514 [hal] Initial CAN implementation for SystemCore
  hal/src/main/java/edu/wpi/first/hal/can/CANJNI.java
  hal/src/main/native/include/hal/CAN.h
  hal/src/main/native/systemcore/CAN.cpp
  hal/src/main/native/systemcore/CANAPI.cpp
  hal/src/main/native/systemcore/CANInternal.h
  hal/src/main/native/systemcore/HAL.cpp
Labels: component: hal, 2027

#7525 [hal] Add initial PWM support for systemcore
  hal/src/main/native/systemcore/PWM.cpp
  hal/src/main/native/systemcore/PortsInternal.h
  hal/src/main/native/systemcore/SmartIo.cpp
  hal/src/main/native/systemcore/SmartIo.h
Labels: component: hal, 2027

#7528 [hal] Fixes for making PWM drive
  developerRobot/build.gradle
  hal/src/main/native/systemcore/HAL.cpp
  hal/src/main/native/systemcore/HALInitializer.h
  hal/src/main/native/systemcore/SmartIo.cpp
Labels: component: hal, 2027

#7530 [hal] Enable periodic CAN sends
  hal/src/main/native/systemcore/CAN.cpp
Labels: component: hal, 2027

#7541 roborioteamnumbersetter: capture exitCode from ssh_channel_get_exit_status
  roborioteamnumbersetter/src/main/native/cpp/SshSession.cpp
Labels: component: teamnumbersetter

#7539 Remove unnecessary boxing
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PneumaticHub.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PneumaticsControlModule.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/CounterTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/DIOCrossConnectTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/PDPTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/PIDTest.java
  wpilibjIntegrationTests/src/main/java/edu/wpi/first/wpilibj/fixtures/DIOCrossConnectFixture.java
  wpimath/src/main/java/edu/wpi/first/math/system/NumericalIntegration.java
  wpiutil/src/main/java/edu/wpi/first/util/EventVector.java
Labels: component: wpiutil, component: wpilibj, component: wpimath

#7538 Record/Enum struct generation fix
  wpiutil/src/main/java/edu/wpi/first/util/struct/StructFetcher.java
  wpiutil/src/main/java/edu/wpi/first/util/struct/StructGenerator.java
  wpiutil/src/test/java/edu/wpi/first/util/struct/StructGeneratorTest.java
Labels: component: wpiutil

#7549 [wpimath] Revert "ChassisSpeeds fromRelative and discretize methods made instance methods (#7115)"
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/mecanumbot/Drivetrain.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/mecanumdriveposeestimator/Drivetrain.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervebot/Drivetrain.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervecontrollercommand/subsystems/DriveSubsystem.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervedriveposeestimator/Drivetrain.java
  wpimath/src/main/java/edu/wpi/first/math/controller/HolonomicDriveController.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/ChassisSpeeds.java
  wpimath/src/test/java/edu/wpi/first/math/kinematics/ChassisSpeedsTest.java
Labels: component: wpimath, component: examples

#7536 Make runtime loader exception message slightly better
  wpiutil/src/main/java/edu/wpi/first/util/RuntimeLoader.java
Labels: component: wpiutil

#7546 Refactor MomentOfInertiaUnit constructor to use MomentOfInertiaUnit instead of PerUnit
  wpiunits/src/main/java/edu/wpi/first/units/MomentOfInertiaUnit.java
Labels: component: wpiunits

#7527 [wpinet] Add simple web server
  wpinet/src/main/java/edu/wpi/first/net/WPINetJNI.java
  wpinet/src/main/java/edu/wpi/first/net/WebServer.java
  wpinet/src/main/native/cpp/HttpUtil.cpp
  wpinet/src/main/native/cpp/WebServer.cpp
  wpinet/src/main/native/cpp/jni/WPINetJNI.cpp
  wpinet/src/main/native/include/wpinet/HttpUtil.h
  wpinet/src/main/native/include/wpinet/WebServer.h
Labels: component: wpinet

#7551 [wpinet] WebServer: Fix Windows
  wpinet/src/main/native/cpp/WebServer.cpp
Labels: component: wpinet

#7550 [cmd] Extract common trigger binding logic
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/button/Trigger.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/button/Trigger.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/button/Trigger.h
Labels: component: command-based

#7552 [wpinet] WebServer: Unescape URI
  wpinet/src/main/native/cpp/WebServer.cpp
Labels: component: wpinet

#7545 [wpimath] Use immutable member functions in ChassisSpeeds
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/MecanumControllerCommand.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/MecanumControllerCommand.cpp
  wpilibcExamples/src/main/cpp/examples/MecanumBot/cpp/Drivetrain.cpp
  wpilibcExamples/src/main/cpp/examples/MecanumDrivePoseEstimator/cpp/Drivetrain.cpp
  wpilibcExamples/src/main/cpp/examples/SwerveBot/cpp/Drivetrain.cpp
  wpilibcExamples/src/main/cpp/examples/SwerveControllerCommand/cpp/subsystems/DriveSubsystem.cpp
  wpilibcExamples/src/main/cpp/examples/SwerveDrivePoseEstimator/cpp/Drivetrain.cpp
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/mecanumbot/Drivetrain.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/mecanumdriveposeestimator/Drivetrain.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervebot/Drivetrain.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervecontrollercommand/subsystems/DriveSubsystem.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervedriveposeestimator/Drivetrain.java
  wpimath/src/main/java/edu/wpi/first/math/controller/HolonomicDriveController.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/ChassisSpeeds.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/MecanumDriveWheelSpeeds.java
  wpimath/src/main/java/edu/wpi/first/math/trajectory/constraint/MecanumDriveKinematicsConstraint.java
  wpimath/src/main/native/include/frc/controller/HolonomicDriveController.h
  wpimath/src/main/native/include/frc/kinematics/ChassisSpeeds.h
  wpimath/src/main/native/include/frc/kinematics/MecanumDriveWheelSpeeds.h
  wpimath/src/main/native/include/frc/trajectory/constraint/MecanumDriveKinematicsConstraint.h
  wpimath/src/test/java/edu/wpi/first/math/kinematics/ChassisSpeedsTest.java
  wpimath/src/test/java/edu/wpi/first/math/kinematics/MecanumDriveKinematicsTest.java
  wpimath/src/test/native/cpp/kinematics/ChassisSpeedsTest.cpp
  wpimath/src/test/native/cpp/kinematics/MecanumDriveKinematicsTest.cpp
Labels: component: command-based, component: wpimath, component: examples, 2027

#7555 [hal] Add usage reporting for REV Servo Hub
  hal/src/generate/ResourceType.txt
  hal/src/generated/main/java/edu/wpi/first/hal/FRCNetComm.java
  hal/src/generated/main/native/include/hal/FRCUsageReporting.h
  hal/src/generated/main/native/include/hal/UsageReporting.h
Labels: component: hal

#7556 [hal] Add CAN device type for servo controllers
  hal/src/main/java/edu/wpi/first/hal/CANAPITypes.java
  hal/src/main/native/include/hal/CANAPITypes.h
Labels: component: hal

#7231 [bazel] MVP for building wpilibc + commands framework
  WORKSPACE
  apriltag/BUILD.bazel
  cameraserver/BUILD.bazel
  cscore/BUILD.bazel
  epilogue-processor/BUILD.bazel
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/LoggerGenerator.java
  epilogue-runtime/BUILD.bazel
  fieldImages/BUILD.bazel
  romiVendordep/BUILD.bazel
  shared/bazel/compiler_flags/osx_flags.rc
  shared/bazel/compiler_flags/roborio_flags.rc
  wpilibNewCommands/BUILD.bazel
  wpilibc/BUILD.bazel
  wpilibcIntegrationTests/BUILD.bazel
  wpimath/BUILD.bazel
  wpiutil/BUILD.bazel
  xrpVendordep/BUILD.bazel
Labels: component: cscore, component: wpiutil, component: wpilibc, component: command-based, component: wpimath, component: apriltag, component: epilogue

#7554 [commands] Fix C++ iterator invalidation bug
  wpilibNewCommands/src/main/native/cpp/frc2/command/CommandScheduler.cpp
  wpilibNewCommands/src/test/native/cpp/frc2/command/CommandScheduleTest.cpp
  wpilibNewCommands/src/test/native/cpp/frc2/command/SchedulingRecursionTest.cpp
Labels: component: command-based

#7571 Update SmartIO PWM implementation
  hal/src/main/native/systemcore/SmartIo.cpp
  hal/src/main/native/systemcore/SmartIo.h
Labels: component: hal, 2027

#7569 [wpimath] Fix algorithm link (NFC)
  wpimath/algorithms.md
Labels: component: wpimath

#7567 Use std::bit_cast
  ntcore/src/main/native/cpp/net3/WireDecoder3.cpp
  ntcore/src/main/native/cpp/net3/WireEncoder3.cpp
  simulation/halsim_xrp/src/main/native/cpp/XRP.cpp
  wpinet/src/netconsoleServer/native/cpp/main.cpp
  wpinet/src/netconsoleTee/native/cpp/main.cpp
  wpiutil/src/main/native/cpp/DataLog.cpp
  wpiutil/src/main/native/cpp/DataLogReader.cpp
Labels: component: ntcore, component: wpiutil, component: wpinet

#7564 [wpimath] Add Rotation3d rotation vector getter
  wpimath/src/main/java/edu/wpi/first/math/geometry/Rotation3d.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/Odometry3d.java
  wpimath/src/main/native/include/frc/geometry/Pose3d.h
  wpimath/src/main/native/include/frc/geometry/Rotation3d.h
  wpimath/src/main/native/include/frc/kinematics/Odometry3d.h
Labels: component: wpimath

#7535 Add a measure's symbol to its name when logged by Epilogue
  epilogue-runtime/src/main/java/edu/wpi/first/epilogue/logging/EpilogueBackend.java
Labels: component: epilogue

#7579 [wpiutil] DataLogWriter: Don't crash on file open error
  wpiutil/src/main/native/cpp/DataLogWriter.cpp
Labels: component: wpiutil

#7578 [build] cmake: Build wpiutil dev executable
  wpiutil/CMakeLists.txt
Labels: component: wpiutil

#7585 Patch thirdparty protobuf to remove deprecated ATOMIC_VAR_INIT
  upstream_utils/protobuf_patches/0001-Fix-sign-compare-warnings.patch
  upstream_utils/protobuf_patches/0002-Remove-redundant-move.patch
  upstream_utils/protobuf_patches/0003-Fix-maybe-uninitialized-warnings.patch
  upstream_utils/protobuf_patches/0004-Fix-coded_stream-WriteRaw.patch
  upstream_utils/protobuf_patches/0005-Suppress-enum-enum-conversion-warning.patch
  upstream_utils/protobuf_patches/0006-Fix-noreturn-function-returning.patch
  upstream_utils/protobuf_patches/0007-Work-around-GCC-12-restrict-warning-compiler-bug.patch
  upstream_utils/protobuf_patches/0008-Disable-MSVC-switch-warning.patch
  upstream_utils/protobuf_patches/0009-Disable-unused-function-warning.patch
  upstream_utils/protobuf_patches/0010-Disable-pedantic-warning.patch
  upstream_utils/protobuf_patches/0011-Avoid-use-of-sprintf.patch
  upstream_utils/protobuf_patches/0012-Suppress-stringop-overflow-warning-false-positives.patch
  upstream_utils/protobuf_patches/0013-Switch-descriptor-to-not-use-globals-from-header-inl.patch
  upstream_utils/protobuf_patches/0014-Remove-deprecated-ATOMIC_VAR_INIT.patch
  wpiutil/src/main/native/thirdparty/protobuf/src/stubs/common.cpp
Labels: component: wpiutil

#7575 [build] Fix imgui libraries not being published
  cscore/build.gradle
  datalogtool/build.gradle
  glass/build.gradle
  outlineviewer/build.gradle
  roborioteamnumbersetter/build.gradle
  simulation/halsim_gui/build.gradle
  sysid/build.gradle
  thirdparty/imgui_suite/build.gradle
  wpigui/build.gradle
Labels: component: cscore, component: glass, component: outlineviewer, component: datalogtool, component: sysid, component: teamnumbersetter

#7591 [examples] Fix C-style cast warning from cpplint
  wpilibcExamples/src/main/cpp/examples/AprilTagsVision/cpp/Robot.cpp
Labels: component: examples

#7593 [upstream_utils] Upgrade to fmt 11.1.0
  cscore/src/main/native/cpp/Log.h
  cscore/src/main/native/objcpp/UsbCameraImplObjc.mm
  ntcoreffi/src/main/native/cpp/DataLogManager.cpp
  upstream_utils/fmt.py
  upstream_utils/fmt_patches/0001-Suppress-warnings-we-can-t-fix.patch
  wpilibc/src/main/native/include/frc/Errors.h
  wpiutil/src/main/native/include/wpi/Logger.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/args.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/base.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/chrono.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/color.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/compile.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/format-inl.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/format.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/os.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/ostream.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/printf.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/ranges.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/std.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/xchar.h
  wpiutil/src/main/native/thirdparty/fmtlib/src/format.cpp
  wpiutil/src/main/native/thirdparty/fmtlib/src/os.cpp
Labels: component: cscore, component: wpiutil, component: wpilibc

#7570 Remove Units class from Elevator and Arm Feedforwards
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/elevatorexponentialsimulation/subsystems/Elevator.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/elevatorprofiledpid/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/elevatorsimulation/subsystems/Elevator.java
  wpimath/src/main/java/edu/wpi/first/math/controller/ArmFeedforward.java
  wpimath/src/main/java/edu/wpi/first/math/controller/ElevatorFeedforward.java
  wpimath/src/test/java/edu/wpi/first/math/controller/ArmFeedforwardTest.java
  wpimath/src/test/java/edu/wpi/first/math/controller/ElevatorFeedforwardTest.java
Labels: component: wpimath, component: examples

#7595 [wpimath] Clean up arm and elevator feedforward APIs
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/elevatorexponentialsimulation/subsystems/Elevator.java
  wpimath/src/main/java/edu/wpi/first/math/controller/ArmFeedforward.java
  wpimath/src/main/java/edu/wpi/first/math/controller/ElevatorFeedforward.java
  wpimath/src/test/java/edu/wpi/first/math/controller/ArmFeedforwardTest.java
  wpimath/src/test/java/edu/wpi/first/math/controller/ElevatorFeedforwardTest.java
Labels: component: wpimath, component: examples, 2027

#7469 Add Koors40 motor controller
  wpilibc/src/generated/main/native/cpp/motorcontrol/Koors40.cpp
  wpilibc/src/generated/main/native/include/frc/motorcontrol/Koors40.h
  wpilibj/src/generate/pwm_motor_controllers.json
  wpilibj/src/generated/main/java/edu/wpi/first/wpilibj/motorcontrol/Koors40.java
Labels: component: wpilibj, component: wpilibc

#7600 [wpimath] Use ct_matrix instead of <Eigen/LU> for determinant in headers
  wpimath/src/main/native/include/frc/ct_matrix.h
  wpimath/src/main/native/include/frc/geometry/Rotation2d.h
  wpimath/src/main/native/include/frc/geometry/Rotation3d.h
Labels: component: wpimath

#7599 [wpimath] improve LTVUnicycleController docs (NFC)
  wpimath/src/main/java/edu/wpi/first/math/controller/LTVUnicycleController.java
  wpimath/src/main/native/include/frc/controller/LTVUnicycleController.h
Labels: component: wpimath

#7601 [wpilibc] Fully qualify names in error macros
  wpilibc/src/main/native/include/frc/Errors.h
Labels: component: wpilibc

#7572 [cscore] Sink: add ability to get most recent frame instead of waiting
  cscore/src/main/java/edu/wpi/first/cscore/CvSink.java
  cscore/src/main/native/cpp/RawSinkImpl.cpp
  cscore/src/main/native/cpp/RawSinkImpl.h
  cscore/src/main/native/cpp/SourceImpl.cpp
  cscore/src/main/native/cpp/SourceImpl.h
  cscore/src/main/native/include/cscore_cv.h
  cscore/src/main/native/include/cscore_raw.h
Labels: component: cscore, component: examples

#7605 [wpilibj] TimedRobot: Squash ErrorProne warnings
  wpilibj/src/main/java/edu/wpi/first/wpilibj/TimedRobot.java
Labels: component: wpilibj

#7006 [commands] Use factories and decorators in Command tests
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/CommandDecoratorTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/CommandRequirementsTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/ConditionalCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/MultiCompositionTestBase.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/ParallelDeadlineGroupTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/ParallelRaceGroupTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/ProxyCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/ScheduleCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/SchedulerTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/SchedulingRecursionTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/SelectCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/SingleCompositionTestBase.java
  wpilibNewCommands/src/test/native/cpp/frc2/command/CommandDecoratorTest.cpp
  wpilibNewCommands/src/test/native/cpp/frc2/command/CompositionTestBase.h
  wpilibNewCommands/src/test/native/cpp/frc2/command/ConditionalCommandTest.cpp
  wpilibNewCommands/src/test/native/cpp/frc2/command/DefaultCommandTest.cpp
  wpilibNewCommands/src/test/native/cpp/frc2/command/InstantCommandTest.cpp
  wpilibNewCommands/src/test/native/cpp/frc2/command/ParallelCommandGroupTest.cpp
  wpilibNewCommands/src/test/native/cpp/frc2/command/ParallelDeadlineGroupTest.cpp
  wpilibNewCommands/src/test/native/cpp/frc2/command/ParallelRaceGroupTest.cpp
  wpilibNewCommands/src/test/native/cpp/frc2/command/PrintCommandTest.cpp
  wpilibNewCommands/src/test/native/cpp/frc2/command/ProxyCommandTest.cpp
  wpilibNewCommands/src/test/native/cpp/frc2/command/RunCommandTest.cpp
  wpilibNewCommands/src/test/native/cpp/frc2/command/SchedulerTest.cpp
  wpilibNewCommands/src/test/native/cpp/frc2/command/SchedulingRecursionTest.cpp
  wpilibNewCommands/src/test/native/cpp/frc2/command/SelectCommandTest.cpp
  wpilibNewCommands/src/test/native/cpp/frc2/command/SequentialCommandGroupTest.cpp
  wpilibNewCommands/src/test/native/cpp/frc2/command/StartEndCommandTest.cpp
  wpilibNewCommands/src/test/native/cpp/frc2/command/WaitCommandTest.cpp
  wpilibNewCommands/src/test/native/cpp/frc2/command/WaitUntilCommandTest.cpp
Labels: component: command-based

#6490 `SmartDashboard.setDefault*` documentation
  ntcore/src/main/native/include/networktables/GenericEntry.h
  ntcore/src/main/native/include/networktables/NetworkTable.h
  ntcore/src/main/native/include/networktables/NetworkTableEntry.h
  ntcore/src/main/native/include/ntcore_c.h
  ntcore/src/main/native/include/ntcore_cpp.h
  wpilibc/src/main/native/include/frc/smartdashboard/SmartDashboard.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/smartdashboard/SmartDashboard.java
Labels: component: ntcore, component: wpilibj, component: wpilibc

#7608 Add licenses of libraries we pull in to ThirdPartyNotices.txt
  ThirdPartyNotices.txt
Labels: component: wpiutil

#7612 [wpilibc] Clean up Joystick::GetDirection()
  wpilibc/src/main/native/cpp/Joystick.cpp
Labels: component: wpilibc

#7613 [wpilibc] DCMotorSim: Add setAngle/setAngularVelocity (parity with Java)
  wpilibc/src/main/native/cpp/simulation/DCMotorSim.cpp
  wpilibc/src/main/native/include/frc/simulation/DCMotorSim.h
Labels: component: wpilibc
