Repository wpilibsuite/allwpilib, pull requests merged in 2024-05, with the labels that each got.

#6508 [cmd] Fix sysid crashing when passed nullptr or {}
  wpilibNewCommands/src/main/native/include/frc2/command/sysid/SysIdRoutine.h
  wpilibNewCommands/src/test/native/cpp/frc2/command/sysid/SysIdRoutineTest.cpp
  wpilibcExamples/src/main/cpp/examples/SysId/include/subsystems/Drive.h
  wpilibcExamples/src/main/cpp/examples/SysId/include/subsystems/Shooter.h
Labels: breaking, component: command-based

#6342 [units] Change units to track their base unit, instead of their base class
  wpiunits/src/main/java/edu/wpi/first/units/Angle.java
  wpiunits/src/main/java/edu/wpi/first/units/BaseUnits.java
  wpiunits/src/main/java/edu/wpi/first/units/Current.java
  wpiunits/src/main/java/edu/wpi/first/units/Dimensionless.java
  wpiunits/src/main/java/edu/wpi/first/units/Distance.java
  wpiunits/src/main/java/edu/wpi/first/units/Energy.java
  wpiunits/src/main/java/edu/wpi/first/units/Mass.java
  wpiunits/src/main/java/edu/wpi/first/units/Measure.java
  wpiunits/src/main/java/edu/wpi/first/units/Mult.java
  wpiunits/src/main/java/edu/wpi/first/units/Per.java
  wpiunits/src/main/java/edu/wpi/first/units/Power.java
  wpiunits/src/main/java/edu/wpi/first/units/Temperature.java
  wpiunits/src/main/java/edu/wpi/first/units/Time.java
  wpiunits/src/main/java/edu/wpi/first/units/UnaryFunction.java
  wpiunits/src/main/java/edu/wpi/first/units/Unit.java
  wpiunits/src/main/java/edu/wpi/first/units/UnitBuilder.java
  wpiunits/src/main/java/edu/wpi/first/units/Units.java
  wpiunits/src/main/java/edu/wpi/first/units/Velocity.java
  wpiunits/src/main/java/edu/wpi/first/units/Voltage.java
  wpiunits/src/test/java/edu/wpi/first/units/DistanceTest.java
  wpiunits/src/test/java/edu/wpi/first/units/ExampleUnit.java
  wpiunits/src/test/java/edu/wpi/first/units/UnitsTest.java
  wpiunits/src/test/java/edu/wpi/first/units/VelocityTest.java
Labels: breaking, component: wpiunits

#6590 [wpiutil] Split DataLog background writer into different class
  ntcoreffi/src/main/native/cpp/DataLogManager.cpp
  ntcoreffi/src/main/native/symbols.txt
  wpilibc/src/main/native/cpp/DataLogManager.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DataLogManager.java
  wpiutil/examples/writelog/writelog.cpp
  wpiutil/src/main/java/edu/wpi/first/util/datalog/DataLog.java
  wpiutil/src/main/java/edu/wpi/first/util/datalog/DataLogBackgroundWriter.java
  wpiutil/src/main/java/edu/wpi/first/util/datalog/DataLogJNI.java
  wpiutil/src/main/java/edu/wpi/first/util/datalog/DataLogWriter.java
  wpiutil/src/main/native/cpp/DataLog.cpp
  wpiutil/src/main/native/cpp/DataLogBackgroundWriter.cpp
  wpiutil/src/main/native/cpp/DataLogWriter.cpp
  wpiutil/src/main/native/cpp/jni/DataLogJNI.cpp
  wpiutil/src/main/native/cpp/jni/WPIUtilJNI.cpp
  wpiutil/src/main/native/cpp/jni/WPIUtilJNI.h
  wpiutil/src/main/native/include/wpi/DataLog.h
  wpiutil/src/main/native/include/wpi/DataLogBackgroundWriter.h
  wpiutil/src/main/native/include/wpi/DataLogWriter.h
  wpiutil/src/main/native/include/wpi/DataLog_c.h
  wpiutil/src/test/native/cpp/DataLogTest.cpp
Labels: component: wpiutil, breaking

#6611 [wpiunit] Add Measure.divide(Measure<U2>)
  wpiunits/src/main/java/edu/wpi/first/units/Measure.java
  wpiunits/src/main/java/edu/wpi/first/units/Per.java
  wpiunits/src/main/java/edu/wpi/first/units/Velocity.java
  wpiunits/src/test/java/edu/wpi/first/units/EncoderTest.java
  wpiunits/src/test/java/edu/wpi/first/units/MeasureTest.java
Labels: component: wpiunits

#6554 [wpimath] Add full state support to LinearSystemId functions
  wpilibc/src/main/native/cpp/simulation/DCMotorSim.cpp
  wpilibc/src/main/native/cpp/simulation/ElevatorSim.cpp
  wpilibc/src/main/native/cpp/simulation/FlywheelSim.cpp
  wpilibc/src/main/native/cpp/simulation/SingleJointedArmSim.cpp
  wpilibc/src/main/native/include/frc/simulation/ElevatorSim.h
  wpilibc/src/main/native/include/frc/simulation/SingleJointedArmSim.h
  wpilibc/src/test/native/cpp/simulation/ElevatorSimTest.cpp
  wpilibcExamples/src/main/cpp/examples/StateSpaceArm/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/StateSpaceElevator/cpp/Robot.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/DCMotorSim.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/ElevatorSim.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/SingleJointedArmSim.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/ElevatorSimTest.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/armsimulation/subsystems/Arm.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/elevatorexponentialsimulation/subsystems/Elevator.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/elevatorsimulation/subsystems/Elevator.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/statespacearm/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/statespaceelevator/Robot.java
  wpimath/src/main/java/edu/wpi/first/math/system/LinearSystem.java
  wpimath/src/main/java/edu/wpi/first/math/system/plant/LinearSystemId.java
  wpimath/src/main/native/cpp/system/plant/LinearSystemId.cpp
  wpimath/src/main/native/include/frc/system/LinearSystem.h
  wpimath/src/main/native/include/frc/system/plant/LinearSystemId.h
  wpimath/src/test/java/edu/wpi/first/math/controller/LinearSystemLoopTest.java
  wpimath/src/test/java/edu/wpi/first/math/estimator/KalmanFilterTest.java
  wpimath/src/test/java/edu/wpi/first/math/system/LinearSystemIDTest.java
  wpimath/src/test/native/cpp/StateSpaceTest.cpp
  wpimath/src/test/native/cpp/controller/LinearQuadraticRegulatorTest.cpp
  wpimath/src/test/native/cpp/system/LinearSystemIDTest.cpp
Labels: breaking

#6502 LinearSystemSim Constructor and method cleanup
  wpilibc/src/main/native/cpp/simulation/DCMotorSim.cpp
  wpilibc/src/main/native/cpp/simulation/ElevatorSim.cpp
  wpilibc/src/main/native/cpp/simulation/FlywheelSim.cpp
  wpilibc/src/main/native/cpp/simulation/SingleJointedArmSim.cpp
  wpilibc/src/main/native/include/frc/simulation/DCMotorSim.h
  wpilibc/src/main/native/include/frc/simulation/ElevatorSim.h
  wpilibc/src/main/native/include/frc/simulation/FlywheelSim.h
  wpilibc/src/main/native/include/frc/simulation/LinearSystemSim.h
  wpilibc/src/main/native/include/frc/simulation/SingleJointedArmSim.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/DCMotorSim.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/ElevatorSim.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/FlywheelSim.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/LinearSystemSim.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/SingleJointedArmSim.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/ElevatorSimTest.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/armsimulation/subsystems/Arm.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/elevatorexponentialsimulation/subsystems/Elevator.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/elevatorsimulation/subsystems/Elevator.java
  wpilibjExamples/src/test/java/edu/wpi/first/wpilibj/examples/potentiometerpid/PotentiometerPIDTest.java
Labels: breaking

#6025 Add/Fix pdp.GetAllCurrents()
  hal/src/main/native/cpp/jni/PowerDistributionJNI.cpp
  wpilibc/src/main/native/cpp/PowerDistribution.cpp
  wpilibc/src/main/native/include/frc/PowerDistribution.h
  wpilibc/src/test/native/cpp/simulation/PDPSimTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PowerDistribution.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/PowerDistributionTest.java
Labels: component: wpilibj, component: wpilibc, component: hal
