Repository wpilibsuite/allwpilib, pull requests merged in 2024-09, with the labels that each got.

#7047 [epilogue] Add Epilogue.update()
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/EpilogueGenerator.java
  epilogue-processor/src/test/java/edu/wpi/first/epilogue/processor/EpilogueGeneratorTest.java
Labels: component: epilogue

#6044 [wpilib] Add getVoltage to PWMMotorController
  wpilibc/src/main/native/cpp/motorcontrol/PWMMotorController.cpp
  wpilibc/src/main/native/include/frc/motorcontrol/PWMMotorController.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/motorcontrol/PWMMotorController.java
Labels: component: wpilibj, component: wpilibc

#7095 Use project configured groupId in generated output artifact names
  shared/java/javacommon.gradle
Labels: build
