Repository wpilibsuite/allwpilib, pull requests merged in 2024-11, with the labels that each got.

#7167 [epilogue] Autogenerate nicer data names by default, not just raw element names
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/ElementHandler.java
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/LoggerGenerator.java
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/StringUtils.java
  epilogue-processor/src/test/java/edu/wpi/first/epilogue/processor/AnnotationProcessorTest.java
  epilogue-processor/src/test/java/edu/wpi/first/epilogue/processor/StringUtilsTest.java
  epilogue-runtime/src/main/java/edu/wpi/first/epilogue/Logged.java
Labels: component: epilogue

#7317 [epilogue] Check for the most appropriate logger at runtime
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/AnnotationProcessor.java
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/LoggableHandler.java
  epilogue-processor/src/test/java/edu/wpi/first/epilogue/processor/AnnotationProcessorTest.java
Labels: component: epilogue

#7323 [epilogue] Generate unique names for variables used in instanceof chains
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/LoggableHandler.java
  epilogue-processor/src/test/java/edu/wpi/first/epilogue/processor/AnnotationProcessorTest.java
Labels: component: epilogue

#7276 [wpimath] Remove units from trapezoid profile classes
  wpimath/src/main/java/edu/wpi/first/math/trajectory/TrapezoidProfile.java
Labels: component: wpimath

#7331 [hal] Generate NI Style UsageReporting header
  hal/generate_usage_reporting.py
  hal/src/generate/UsageReporting.h.in
  hal/src/generated/main/native/include/hal/UsageReporting.h
Labels: component: usage reporting

#7294 Add usage reporting for dashboards as instances
  hal/src/generate/Instances.txt
  hal/src/generated/main/java/edu/wpi/first/hal/FRCNetComm.java
  hal/src/generated/main/native/include/hal/FRCUsageReporting.h
  hal/src/generated/main/native/include/hal/UsageReporting.h
  wpilibc/src/main/native/cppcs/RobotBase.cpp
  wpilibc/src/main/native/include/frc/RobotBase.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/RobotBase.java
Labels: attn: NI, component: usage reporting

#7409 [hal] Add usage reporting for Rust
  hal/src/generate/Instances.txt
  hal/src/generated/main/java/edu/wpi/first/hal/FRCNetComm.java
  hal/src/generated/main/native/include/hal/FRCUsageReporting.h
  hal/src/generated/main/native/include/hal/UsageReporting.h
Labels: component: usage reporting

#7330 [hal] Add MagicBot framework to usage reporting
  hal/src/generate/Instances.txt
  hal/src/generated/main/java/edu/wpi/first/hal/FRCNetComm.java
  hal/src/generated/main/native/include/hal/FRCUsageReporting.h
  hal/src/generated/main/native/include/hal/UsageReporting.h
Labels: robotpy, component: usage reporting

#7439 [epilogue] Fix epilogue generating incorrect packages for inner classes
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/LoggerGenerator.java
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/StringUtils.java
  epilogue-processor/src/test/java/edu/wpi/first/epilogue/processor/AnnotationProcessorTest.java
Labels: component: epilogue

#6948 [wpilibj, wpilibc] Fix LED patterns not offsetting reads
  wpilibc/src/main/native/cpp/LEDPattern.cpp
  wpilibc/src/main/native/include/frc/LEDPattern.h
  wpilibc/src/test/native/cpp/LEDPatternTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/LEDPattern.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/LEDPatternTest.java
Labels: component: wpilibj, component: wpilibc

#7453 [epilogue] Rename DataLogger to EpilogueBackend
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/ArrayHandler.java
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/CollectionHandler.java
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/ConfiguredLoggerHandler.java
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/ElementHandler.java
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/EnumHandler.java
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/EpilogueGenerator.java
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/LoggableHandler.java
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/LoggerGenerator.java
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/MeasureHandler.java
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/PrimitiveHandler.java
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/SendableHandler.java
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/StructHandler.java
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/SupplierHandler.java
  epilogue-processor/src/test/java/edu/wpi/first/epilogue/processor/AnnotationProcessorTest.java
  epilogue-processor/src/test/java/edu/wpi/first/epilogue/processor/EpilogueGeneratorTest.java
  epilogue-runtime/src/main/java/edu/wpi/first/epilogue/EpilogueConfiguration.java
  epilogue-runtime/src/main/java/edu/wpi/first/epilogue/logging/ClassSpecificLogger.java
  epilogue-runtime/src/main/java/edu/wpi/first/epilogue/logging/EpilogueBackend.java
  epilogue-runtime/src/main/java/edu/wpi/first/epilogue/logging/FileBackend.java
  epilogue-runtime/src/main/java/edu/wpi/first/epilogue/logging/LazyBackend.java
  epilogue-runtime/src/main/java/edu/wpi/first/epilogue/logging/LogBackedSendableBuilder.java
  epilogue-runtime/src/main/java/edu/wpi/first/epilogue/logging/MultiBackend.java
  epilogue-runtime/src/main/java/edu/wpi/first/epilogue/logging/MultiLogger.java
  epilogue-runtime/src/main/java/edu/wpi/first/epilogue/logging/NTEpilogueBackend.java
  epilogue-runtime/src/main/java/edu/wpi/first/epilogue/logging/NestedBackend.java
  epilogue-runtime/src/main/java/edu/wpi/first/epilogue/logging/NullBackend.java
  epilogue-runtime/src/test/java/edu/wpi/first/epilogue/logging/ClassSpecificLoggerTest.java
  epilogue-runtime/src/test/java/edu/wpi/first/epilogue/logging/LazyBackendTest.java
  epilogue-runtime/src/test/java/edu/wpi/first/epilogue/logging/TestBackend.java
Labels: component: epilogue

#7452 [epilogue] Allow custom loggers for generic types
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/AnnotationProcessor.java
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/ConfiguredLoggerHandler.java
  epilogue-processor/src/test/java/edu/wpi/first/epilogue/processor/AnnotationProcessorTest.java
Labels: component: epilogue

#7461 [epilogue] Add usage reporting
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/EpilogueGenerator.java
  epilogue-processor/src/test/java/edu/wpi/first/epilogue/processor/EpilogueGeneratorTest.java
Labels: component: epilogue
