Repository wpilibsuite/allwpilib, pull requests merged in 2025-05, with the labels that each got.

#7950 Correct mil unit
  wpimath/src/main/native/include/units/length.h
Labels: component: wpimath

#7948 [wpimath] Fix warning false positive from GCC 15
  wpimath/src/test/native/cpp/controller/ControlAffinePlantInversionFeedforwardTest.cpp
Labels: component: wpimath

#7949 [examples] Add snippets for Digital Input article
  wpilibcExamples/src/main/cpp/snippets/AnalogTrigger/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/snippets/DigitalInput/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/snippets/snippets.json
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/analogtrigger/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/analogtrigger/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/digitalinput/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/digitalinput/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/snippets.json
Labels: component: examples

#7922 [cscore] Fix memory leak in usbviewer example
  cscore/examples/usbviewer/usbviewer.cpp
Labels: component: cscore

#7803 [commands] Mark CommandPtr class as [[nodiscard]]
  wpilibNewCommands/src/main/native/include/frc2/command/Command.h
  wpilibNewCommands/src/main/native/include/frc2/command/CommandPtr.h
  wpilibNewCommands/src/main/native/include/frc2/command/Commands.h
  wpilibNewCommands/src/main/native/include/frc2/command/Subsystem.h
  wpilibNewCommands/src/test/native/cpp/frc2/command/CommandPtrTest.cpp
  wpilibcExamples/src/main/cpp/examples/DriveDistanceOffboard/include/subsystems/DriveSubsystem.h
  wpilibcExamples/src/main/cpp/examples/RapidReactCommandBot/include/subsystems/Drive.h
  wpilibcExamples/src/main/cpp/examples/RapidReactCommandBot/include/subsystems/Intake.h
  wpilibcExamples/src/main/cpp/examples/RapidReactCommandBot/include/subsystems/Pneumatics.h
  wpilibcExamples/src/main/cpp/examples/RapidReactCommandBot/include/subsystems/Shooter.h
  wpilibcExamples/src/main/cpp/examples/RapidReactCommandBot/include/subsystems/Storage.h
Labels: component: command-based, component: examples

#7951 Add AnalogInput snippets
  wpilibcExamples/src/main/cpp/snippets/AnalogInput/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/snippets/snippets.json
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/analoginput/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/analoginput/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/snippets.json
Labels: component: examples

#7952 Misc fixes for snippets
  wpilibcExamples/src/main/cpp/snippets/AnalogEncoder/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/snippets/DutyCycleEncoder/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/snippets/Encoder/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/snippets/EncoderDrive/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/snippets/EncoderHoming/cpp/Robot.cpp
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/analogtrigger/Robot.java
Labels: component: examples

#7956 [datalog] Finish up a few missed moves from wpiutil split
  datalog/build.gradle
  datalog/doc/wpilog.ksy
  wpiutil/build.gradle
Labels: component: wpiutil, 2027

#7959 Add dynamic size support for numerical jacobian computation
  wpimath/src/main/native/include/frc/system/NumericalJacobian.h
  wpimath/src/test/native/cpp/system/NumericalJacobianTest.cpp
Labels: component: wpimath

#7553 [build] Remove statically linked JNI artifacts
  MavenArtifacts.md
  apriltag/build.gradle
  cscore/build.gradle
  ntcore/build.gradle
  shared/jni/publish.gradle
  shared/jni/setupBuild.gradle
Labels: component: ntcore, component: cscore, component: apriltag

#7960 [cscore] Resolve macOS camera freeze with specific devices
  cscore/src/main/native/objcpp/UsbCameraImplObjc.mm
Labels: component: cscore

#7957 Add Analog Potentiometer Snippets
  wpilibcExamples/src/main/cpp/snippets/AnalogInput/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/snippets/AnalogPotentiometer/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/snippets/snippets.json
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/analogpotentiometer/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/analogpotentiometer/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/snippets.json
Labels: component: examples

#7965 Added parity with C++ units.
  wpiunits/src/main/java/edu/wpi/first/units/Units.java
Labels: component: wpiunits

#7968 Revert "Added parity with C++ units. (#7965)"
  wpiunits/src/main/java/edu/wpi/first/units/Units.java
Labels: component: wpiunits

#7970 [wpilib] Remove unhelpful comments from BooleanEvent
  wpilibc/src/main/native/include/frc/event/BooleanEvent.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/event/BooleanEvent.java
Labels: component: wpilibj, component: wpilibc

#7934 [bazel] MVP for building GUI related things with bazel
  .github/workflows/bazel.yml
  glass/BUILD.bazel
  outlineviewer/BUILD.bazel
  shared/bazel/rules/objectivec_rules.bzl
  simulation/halsim_ds_socket/BUILD.bazel
  simulation/halsim_gui/BUILD.bazel
  simulation/halsim_ws_client/BUILD.bazel
  simulation/halsim_ws_core/BUILD.bazel
  simulation/halsim_ws_server/BUILD.bazel
  simulation/halsim_xrp/BUILD.bazel
  sysid/BUILD.bazel
  thirdparty/imgui_suite/BUILD.bazel
  wpigui/BUILD.bazel
Labels: component: glass, component: outlineviewer, component: sysid, 2027

#7690 [bazel] Add scripts to validate pregeneration tools
  BUILD.bazel
  README-Bazel.md
  WORKSPACE
  hal/BUILD.bazel
  hal/generate.bzl
  ntcore/BUILD.bazel
  ntcore/generate_ntcore.bzl
  requirements.txt
  requirements_lock.txt
  shared/bazel/compiler_flags/linux_flags.rc
  wpilibNewCommands/BUILD.bazel
  wpilibNewCommands/generate.bzl
  wpilibc/BUILD.bazel
  wpilibc/generate.bzl
  wpilibc/generate_wpilibc.py
  wpilibcExamples/BUILD.bazel
  wpilibcExamples/build_cpp_examples.bzl
  wpilibcExamples/example_projects.bzl
  wpilibcExamples/generate_bazel_files.py
  wpilibj/BUILD.bazel
  wpilibj/generate.bzl
  wpilibj/generate_wpilibj.py
  wpilibjExamples/BUILD.bazel
  wpilibjExamples/build_java_examples.bzl
  wpilibjExamples/example_projects.bzl
  wpilibjExamples/generate_bazel_files.py
  wpimath/BUILD.bazel
  wpimath/generate.bzl
  wpimath/generate_wpimath.py
  wpiunits/BUILD.bazel
  wpiunits/generate_wpiunits.bzl
  wpiutil/BUILD.bazel
  wpiutil/generate.bzl
Labels: component: ntcore, component: wpiutil, component: wpilibj, component: wpilibc, component: hal, component: command-based, component: wpimath, component: examples, component: wpiunits, 2027

#7975 [CI] Remove dispatch for tools not supported in 2027
  .github/workflows/gradle.yml
Labels: 2027

#7964 [wpimath] Add dynamic size support for angle statistics
  wpimath/src/test/native/cpp/estimator/AngleStatisticsTest.cpp
Labels: component: wpimath

#7977 Update DS API to new format
  hal/src/generated/main/native/cpp/mrc/protobuf/MrcComm.npb.cpp
  hal/src/generated/main/native/cpp/mrc/protobuf/MrcComm.npb.h
  hal/src/main/java/edu/wpi/first/hal/DriverStationJNI.java
  hal/src/main/java/edu/wpi/first/hal/simulation/DriverStationDataJNI.java
  hal/src/main/native/cpp/jni/DriverStationJNI.cpp
  hal/src/main/native/cpp/jni/simulation/DriverStationDataJNI.cpp
  hal/src/main/native/cpp/proto/ControlDataProto.cpp
  hal/src/main/native/cpp/proto/JoystickDescriptorProto.cpp
  hal/src/main/native/cpp/proto/JoystickOutputDataProto.cpp
  hal/src/main/native/cpp/proto/JoystickRumbleDataProto.cpp
  hal/src/main/native/cpp/proto/OpModeProto.cpp
  hal/src/main/native/cpp/proto/VersionInfoProto.cpp
  hal/src/main/native/include/hal/DriverStation.h
  hal/src/main/native/include/hal/DriverStationTypes.h
  hal/src/main/native/include/hal/proto/JoystickOutputData.h
  hal/src/main/native/include/hal/proto/JoystickRumbleData.h
  hal/src/main/native/include/hal/proto/OpMode.h
  hal/src/main/native/include/hal/simulation/DriverStationData.h
  hal/src/main/native/sim/DriverStation.cpp
  hal/src/main/native/sim/mockdata/DriverStationData.cpp
  hal/src/main/native/sim/mockdata/DriverStationDataInternal.h
  hal/src/main/native/systemcore/FRCDriverStation.cpp
  hal/src/main/native/systemcore/mockdata/DriverStationData.cpp
  hal/src/mrc/include/mrc/NetComm.h
  hal/src/mrc/include/mrc/NtNetComm.h
  hal/src/mrc/proto/MrcComm.proto
  simulation/halsim_ds_socket/src/main/native/cpp/DSCommPacket.cpp
  simulation/halsim_ds_socket/src/test/native/cpp/DSCommPacketTest.cpp
  simulation/halsim_gui/src/main/native/cpp/DriverStationGui.cpp
  wpilibc/src/main/native/cpp/DriverStation.cpp
  wpilibc/src/main/native/cpp/simulation/DriverStationSim.cpp
  wpilibc/src/main/native/include/frc/DriverStation.h
  wpilibc/src/main/native/include/frc/simulation/DriverStationSim.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DriverStation.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/DriverStationSim.java
Labels: component: wpilibj, component: wpilibc, component: hal, 2027

#7980 Fix joystick buttons not working on SC
  hal/src/generated/main/native/cpp/mrc/protobuf/MrcComm.npb.cpp
  hal/src/generated/main/native/cpp/mrc/protobuf/MrcComm.npb.h
  hal/src/main/native/cpp/proto/ControlDataProto.cpp
  hal/src/main/native/systemcore/FRCDriverStation.cpp
  hal/src/mrc/include/mrc/NetComm.h
  hal/src/mrc/proto/MrcComm.proto
Labels: component: hal, 2027

#7985 Fix potential vulnerable cloned function
  wpinet/src/main/native/cpp/http_parser.cpp
Labels: component: wpinet

#7986 Add callback for mDNS service resolver
  wpinet/src/main/native/include/wpinet/MulticastServiceResolver.h
  wpinet/src/main/native/linux/MulticastServiceResolver.cpp
  wpinet/src/main/native/macOS/MulticastServiceResolver.cpp
  wpinet/src/main/native/windows/MulticastServiceResolver.cpp
Labels: component: wpinet, 2027

#7983 [upstream_utils] Use pathlib instead of os.path
  upstream_utils/apriltag.py
  upstream_utils/argparse_lib.py
  upstream_utils/debugging.py
  upstream_utils/eigen.py
  upstream_utils/expected.py
  upstream_utils/fmt.py
  upstream_utils/gcem.py
  upstream_utils/gl3w.py
  upstream_utils/glfw.py
  upstream_utils/googletest.py
  upstream_utils/imgui.py
  upstream_utils/implot.py
  upstream_utils/json.py
  upstream_utils/libdogleg.py
  upstream_utils/libuv.py
  upstream_utils/llvm.py
  upstream_utils/memory.py
  upstream_utils/mpack.py
  upstream_utils/mrcal.py
  upstream_utils/mrcal_java.py
  upstream_utils/nanopb.py
  upstream_utils/protobuf.py
  upstream_utils/sleipnir.py
  upstream_utils/stb.py
  upstream_utils/upstream_utils.py
  wpimath/src/main/native/thirdparty/eigen/include/Eigen/src/ThreadPool/CoreThreadPoolDevice.h
Labels: component: wpimath

#7994 [examples] Fix up merge from main
  wpilibcExamples/example_projects.bzl
  wpilibcExamples/src/main/cpp/snippets/AnalogInput/cpp/Robot.cpp
  wpilibjExamples/example_projects.bzl
Labels: component: examples, 2027
