Repository wpilibsuite/allwpilib, pull requests merged in 2025-06, with the labels that each got.

#7998 Deploy 2027 docs on tag
  .github/workflows/documentation.yml
Labels: 2027

#8004 Remove unnecessary print in can initialization
  hal/src/main/native/systemcore/CAN.cpp
Labels: component: hal, 2027

#8001 Add temp value for HAL_GetUserVoltage3V3
  hal/src/main/native/systemcore/Power.cpp
Labels: component: hal, 2027

#8000 Fix dutyCycle high time units
  hal/src/main/native/systemcore/DutyCycle.cpp
Labels: component: hal, 2027

#8003 Remove version writes
  wpilibc/src/main/native/cpp/PneumaticHub.cpp
  wpilibc/src/main/native/cppcs/RobotBase.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PneumaticHub.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/RobotBase.java
Labels: component: wpilibj, component: wpilibc, 2027

#7997 [ntcore] Minimize latency on localhost connections
  ntcore/src/dev/native/cpp/main.cpp
  ntcore/src/main/native/cpp/NetworkClient.cpp
  ntcore/src/main/native/cpp/NetworkServer.cpp
  ntcore/src/main/native/cpp/net/ClientImpl.cpp
  ntcore/src/main/native/cpp/net/ClientImpl.h
  ntcore/src/main/native/cpp/net/NetworkOutgoingQueue.h
  ntcore/src/main/native/cpp/server/ServerClient.h
  ntcore/src/main/native/cpp/server/ServerImpl.cpp
  ntcore/src/main/native/cpp/server/ServerImpl.h
Labels: component: ntcore, 2027

#8010 [wpimath] Add nearest() method to Pose3d (mirroring Pose2d)
  wpimath/src/main/java/edu/wpi/first/math/geometry/Pose3d.java
  wpimath/src/main/native/include/frc/geometry/Pose2d.h
  wpimath/src/main/native/include/frc/geometry/Pose3d.h
  wpimath/src/test/java/edu/wpi/first/math/geometry/Pose3dTest.java
  wpimath/src/test/native/cpp/geometry/Pose3dTest.cpp
Labels: component: wpimath

#8017 [ntcore] Change 'null' to 'empty string' in NT StartServer docs
  ntcore/src/main/native/include/networktables/NetworkTableInstance.h
  ntcore/src/main/native/include/ntcore_c.h
  ntcore/src/main/native/include/ntcore_cpp.h
Labels: component: ntcore, 2027

#8016 [hal, wpilib] Add systemcore IMU
  hal/src/main/java/edu/wpi/first/hal/IMUJNI.java
  hal/src/main/native/cpp/jni/IMUJNI.cpp
  hal/src/main/native/include/hal/IMU.h
  hal/src/main/native/include/hal/IMUTypes.h
  hal/src/main/native/sim/IMU.cpp
  hal/src/main/native/systemcore/HAL.cpp
  hal/src/main/native/systemcore/HALInitializer.h
  hal/src/main/native/systemcore/IMU.cpp
  wpilibc/src/main/native/cpp/OnboardIMU.cpp
  wpilibc/src/main/native/include/frc/OnboardIMU.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/OnboardIMU.java
Labels: component: wpilibj, component: wpilibc, component: hal, 2027

#8021 [wpimath] Pass Translation2d by const reference instead of by value
  wpimath/src/main/native/include/frc/geometry/Translation2d.h
Labels: component: wpimath

#7984 [bazel] Clean up bazel scripts
  .bazelrc
  BUILD.bazel
  WORKSPACE
  apriltag/BUILD.bazel
  cameraserver/BUILD.bazel
  cscore/BUILD.bazel
  cscore/java-examples/RawCVMatSink.java
  cscore/java-examples/RawCVMatSource.java
  datalog/BUILD.bazel
  datalogtool/BUILD.bazel
  fieldImages/BUILD.bazel
  glass/BUILD.bazel
  hal/BUILD.bazel
  hal/generate.bzl
  maven_install.json
  ntcore/BUILD.bazel
  ntcore/manualTests/java/Client.java
  ntcore/manualTests/java/Server.java
  ntcore/manualTests/native/client.cpp
  ntcore/manualTests/native/server.cpp
  romiVendordep/BUILD.bazel
  shared/bazel/compiler_flags/systemcore_flags.rc
  shared/bazel/rules/cc_rules.bzl
  shared/bazel/rules/gen/BUILD.bazel
  shared/bazel/rules/halsim_library.bzl
  shared/bazel/rules/java_rules.bzl
  shared/bazel/rules/jni_rules.bzl
  simulation/halsim_ds_socket/BUILD.bazel
  simulation/halsim_gui/BUILD.bazel
  simulation/halsim_ws_client/BUILD.bazel
  simulation/halsim_ws_core/BUILD.bazel
  simulation/halsim_ws_server/BUILD.bazel
  simulation/halsim_xrp/BUILD.bazel
  sysid/BUILD.bazel
  thirdparty/googletest/BUILD.bazel
  thirdparty/imgui_suite/BUILD.bazel
  wpigui/BUILD.bazel
  wpilibNewCommands/BUILD.bazel
  wpilibc/BUILD.bazel
  wpilibcExamples/build_cpp_examples.bzl
  wpilibcExamples/example_projects.bzl
  wpilibcExamples/src/main/cpp/examples/examples.json
  wpilibcExamples/src/test/cpp/examples/RamseteCommand/cpp/RamseteCommandTest.cpp
  wpilibcExamples/src/test/cpp/examples/RamseteCommand/cpp/main.cpp
  wpilibj/BUILD.bazel
  wpilibjExamples/BUILD.bazel
  wpilibjExamples/build_java_examples.bzl
  wpilibjExamples/example_projects.bzl
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/examples.json
  wpimath/BUILD.bazel
  wpinet/BUILD.bazel
  wpiunits/BUILD.bazel
  wpiutil/BUILD.bazel
  xrpVendordep/BUILD.bazel
Labels: component: ntcore, component: cscore, component: wpiutil, component: wpilibj, component: wpilibc, component: hal, component: command-based, component: wpimath, component: glass, component: datalogtool, component: wpinet, component: apriltag, component: examples, component: sysid, component: wpiunits, 2027

#8022 Use new canbus names for systemcore
  hal/src/main/native/systemcore/CAN.cpp
Labels: component: hal, 2027

#8020 [wpimath] Update parameter type from list to collection in Java nearest methods
  wpimath/src/main/java/edu/wpi/first/math/geometry/Pose2d.java
  wpimath/src/main/java/edu/wpi/first/math/geometry/Pose3d.java
  wpimath/src/main/java/edu/wpi/first/math/geometry/Translation2d.java
  wpimath/src/main/java/edu/wpi/first/math/geometry/Translation3d.java
Labels: component: wpimath

#8013 [wpimath] Add copySignPow to MathUtil for joystick input shaping
  wpilibc/src/main/native/cpp/drive/DifferentialDrive.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/drive/DifferentialDrive.java
  wpimath/src/main/java/edu/wpi/first/math/MathUtil.java
  wpimath/src/main/native/include/frc/MathUtil.h
  wpimath/src/test/java/edu/wpi/first/math/MathUtilTest.java
  wpimath/src/test/native/cpp/MathUtilTest.cpp
Labels: component: wpilibj, component: wpilibc, component: wpimath

#8023 Upgrade bazel to 8.2.1
  .bazelrc
  .bazelversion
  WORKSPACE
Labels: 2027

#8024 Fix I2C order on systemcore
  hal/src/main/native/systemcore/I2C.cpp
Labels: component: hal, 2027

#8008 [glass] Fix compilation errors from C++23 Clang
  glass/src/libnt/native/cpp/NTMechanism2D.cpp
  glass/src/libnt/native/include/glass/networktables/NTMechanism2D.h
Labels: component: glass

#7962 [wpilibj] Add Preferences.getNetworkTable()
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Preferences.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/PreferencesTest.java
Labels: component: wpilibj

#7726 [ntcore] Check id ranges in control messages
  ntcore/doc/networktables4.adoc
  ntcore/src/main/native/cpp/net/WireDecoder.cpp
  ntcore/src/test/native/cpp/server/ServerImplTest.cpp
Labels: component: ntcore

#8037 [hal] Fix portrait yaw from onboard IMU
  hal/src/main/native/systemcore/IMU.cpp
Labels: component: hal, 2027

#7978 [hal,wpilibc,wpilibj,cmd] Update POV to use enums
  hal/src/main/java/edu/wpi/first/hal/simulation/DriverStationDataJNI.java
  hal/src/main/native/cpp/jni/simulation/DriverStationDataJNI.cpp
  hal/src/main/native/include/hal/DriverStationTypes.h
  hal/src/main/native/include/hal/Types.h
  hal/src/main/native/include/hal/simulation/DriverStationData.h
  hal/src/main/native/sim/mockdata/DriverStationData.cpp
  hal/src/main/native/sim/mockdata/DriverStationDataInternal.h
  hal/src/main/native/systemcore/FRCDriverStation.cpp
  hal/src/main/native/systemcore/mockdata/DriverStationData.cpp
  hal/src/test/native/cpp/mockdata/DriverStationDataTest.cpp
  simulation/halsim_ds_socket/src/main/native/cpp/DSCommPacket.cpp
  simulation/halsim_gui/src/main/native/cpp/DriverStationGui.cpp
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/button/CommandGenericHID.java
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/button/POVButton.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/button/CommandGenericHID.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/button/CommandGenericHID.h
  wpilibNewCommands/src/main/native/include/frc2/command/button/POVButton.h
  wpilibNewCommands/src/test/native/cpp/frc2/command/POVButtonTest.cpp
  wpilibc/src/main/native/cpp/DriverStation.cpp
  wpilibc/src/main/native/cpp/GenericHID.cpp
  wpilibc/src/main/native/cpp/simulation/DriverStationSim.cpp
  wpilibc/src/main/native/cpp/simulation/GenericHIDSim.cpp
  wpilibc/src/main/native/include/frc/DriverStation.h
  wpilibc/src/main/native/include/frc/GenericHID.h
  wpilibc/src/main/native/include/frc/simulation/DriverStationSim.h
  wpilibc/src/main/native/include/frc/simulation/GenericHIDSim.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DriverStation.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/GenericHID.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/DriverStationSim.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/GenericHIDSim.java
Labels: component: wpilibj, component: wpilibc, component: hal, component: command-based, 2027

#7738 Add checkstyle check for deprecation
  styleguide/checkstyle.xml
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/MecanumControllerCommand.java
  wpimath/src/main/java/edu/wpi/first/math/controller/ArmFeedforward.java
  wpimath/src/main/java/edu/wpi/first/math/controller/ElevatorFeedforward.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/MecanumDriveMotorVoltages.java
Labels: component: command-based, component: wpimath

#8047 fix typo for notifier comments
  wpilibc/src/main/native/include/frc/Notifier.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Notifier.java
Labels: component: wpilibj, component: wpilibc
