Repository wpilibsuite/allwpilib, pull requests merged in 2025-04, with the labels that each got.

#7890 [glass] Fix compilation error with protobuf 30.1
  glass/src/libnt/native/cpp/NetworkTables.cpp
Labels: component: glass

#7909 [examples] Add compilable code snippets
  shared/examplecheck.gradle
  wpilibcExamples/CMakeLists.txt
  wpilibcExamples/build.gradle
  wpilibcExamples/src/main/cpp/snippets/Encoder/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/snippets/snippets.json
  wpilibjExamples/build.gradle
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/encoder/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/encoder/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/snippets.json
Labels: component: examples

#7816 [wpimath] Adjust applyDeadband logic
  wpimath/src/main/java/edu/wpi/first/math/MathUtil.java
  wpimath/src/main/native/include/frc/MathUtil.h
Labels: component: wpimath

#7927 [bazel] Avoid globally linking macOS SDK frameworks
  cscore/BUILD.bazel
  shared/bazel/compiler_flags/osx_flags.rc
Labels: component: cscore

#7930 [examples] Add DutyCycleEncoder Snippets
  wpilibcExamples/src/main/cpp/snippets/DutyCycleEncoder/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/snippets/snippets.json
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/dutycycleencoder/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/dutycycleencoder/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/snippets.json
Labels: component: examples

#7895 Fix more emscripten compiler errors
  cmake/modules/CompileWarnings.cmake
  ntcore/src/test/native/cpp/ValueTest.cpp
  upstream_utils/debugging_patches/0001-Guard-gnu-flatten-attribute.patch
  upstream_utils/debugging_patches/0002-Remove-debugger_query-argument-from-Windows-and-macO.patch
  upstream_utils/debugging_patches/0003-Fix-exception-mask-type-typo-on-macOS.patch
  upstream_utils/debugging_patches/0004-Remove-NOMINMAX-macro-from-Windows.patch
  upstream_utils/debugging_patches/0005-Add-emscripten-shim.patch
  upstream_utils/memory_patches/0001-Group-doxygen-into-memory-module.patch
  upstream_utils/memory_patches/0002-Remove-conflicting-doxygen-concept-alias.patch
  upstream_utils/memory_patches/0003-Fix-deprecation-warning-for-UDLs.patch
  wpiutil/src/main/native/thirdparty/debugging/src/emscripten.cpp
  wpiutil/src/main/native/thirdparty/memory/include/wpi/memory/memory_arena.hpp
  wpiutil/src/test/native/include/wpi/SpanMatcher.h
Labels: component: ntcore, component: wpiutil

#7894 [wpimath] fix null pointer when calling timeLeftUntill
  wpimath/src/main/java/edu/wpi/first/math/trajectory/TrapezoidProfile.java
  wpimath/src/main/native/include/frc/trajectory/TrapezoidProfile.h
  wpimath/src/test/java/edu/wpi/first/math/trajectory/TrapezoidProfileTest.java
  wpimath/src/test/native/cpp/trajectory/TrapezoidProfileTest.cpp
Labels: component: wpimath

#7870 [wpimath] Fix Debouncer type-changing behavior
  wpimath/src/main/java/edu/wpi/first/math/filter/Debouncer.java
  wpimath/src/main/native/cpp/filter/Debouncer.cpp
  wpimath/src/main/native/include/frc/filter/Debouncer.h
  wpimath/src/test/java/edu/wpi/first/math/filter/DebouncerTest.java
  wpimath/src/test/native/cpp/filter/DebouncerTest.cpp
Labels: component: wpimath

#7921 [cmd] Remove control commands and subsystems
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/PIDCommand.java
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/PIDSubsystem.java
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/ProfiledPIDCommand.java
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/ProfiledPIDSubsystem.java
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/TrapezoidProfileCommand.java
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/TrapezoidProfileSubsystem.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/PIDCommand.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/PIDSubsystem.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/PIDCommand.h
  wpilibNewCommands/src/main/native/include/frc2/command/PIDSubsystem.h
  wpilibNewCommands/src/main/native/include/frc2/command/ProfiledPIDCommand.h
  wpilibNewCommands/src/main/native/include/frc2/command/ProfiledPIDSubsystem.h
  wpilibNewCommands/src/main/native/include/frc2/command/TrapezoidProfileCommand.h
  wpilibNewCommands/src/main/native/include/frc2/command/TrapezoidProfileSubsystem.h
  wpilibcExamples/src/main/cpp/examples/MecanumControllerCommand/include/RobotContainer.h
  wpilibcExamples/src/main/cpp/examples/SwerveControllerCommand/include/RobotContainer.h
  wpilibcExamples/src/main/cpp/examples/examples.json
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/examples.json
Labels: component: command-based, component: examples, 2027

#7932 Add systemcore to java runtime type
  hal/src/main/java/edu/wpi/first/hal/HALUtil.java
  hal/src/main/native/cpp/jni/HALUtil.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/RuntimeType.java
Labels: component: wpilibj, component: hal, 2027

#7878 Add support for second I2C port
  hal/src/main/native/include/hal/I2CTypes.h
  hal/src/main/native/systemcore/I2C.cpp
  hal/src/main/native/systemcore/PortsInternal.h
  hal/src/test/native/cpp/mockdata/I2CDataTest.cpp
  wpilibc/src/main/native/include/frc/I2C.h
  wpilibcExamples/src/main/cpp/examples/I2CCommunication/include/Robot.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/I2C.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/ADXL345SimTest.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/i2ccommunication/Robot.java
Labels: component: wpilibj, component: wpilibc, component: hal, component: examples, 2027

#7941 [bazel] Hide wpinet implementation headers
  wpinet/BUILD.bazel
Labels: build, component: wpinet

#7936 [examples] Add remaining Encoder snippets
  wpilibcExamples/CMakeLists.txt
  wpilibcExamples/src/main/cpp/snippets/AnalogEncoder/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/snippets/EncoderDrive/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/snippets/EncoderHoming/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/snippets/snippets.json
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/analogencoder/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/analogencoder/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/encoderdrive/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/encoderdrive/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/encoderhoming/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/encoderhoming/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/snippets.json
Labels: component: examples

#7938 [wpimath] Fix coordinate frame docs in HolonomicDriveController
  wpimath/src/main/java/edu/wpi/first/math/controller/HolonomicDriveController.java
  wpimath/src/main/native/include/frc/controller/HolonomicDriveController.h
Labels: component: wpimath

#7946 [examples] Add Limit Switch snippets
  wpilibcExamples/src/main/cpp/snippets/LimitSwitch/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/snippets/snippets.json
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/limitswitch/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/limitswitch/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/snippets.json
Labels: component: examples

#7899 Set IMGUI_DEFINE_MATH_OPERATORS
  cscore/.styleguide
  cscore/examples/usbviewer/usbviewer.cpp
  datalogtool/src/main/native/cpp/App.cpp
  datalogtool/src/main/native/cpp/App.h
  glass/.styleguide
  glass/src/lib/native/cpp/hardware/Gyro.cpp
  glass/src/lib/native/cpp/other/Drive.cpp
  glass/src/lib/native/cpp/other/Field2D.cpp
  glass/src/lib/native/cpp/other/Mechanism2D.cpp
  glass/src/lib/native/cpp/other/Plot.cpp
  glass/src/lib/native/cpp/support/ExtraGuiWidgets.cpp
  glass/src/lib/native/include/glass/MainMenuBar.h
  glass/src/lib/native/include/glass/Window.h
  glass/src/lib/native/include/glass/other/Field2D.h
  glass/src/lib/native/include/glass/other/Mechanism2D.h
  glass/src/lib/native/include/glass/support/ExtraGuiWidgets.h
  thirdparty/imgui_suite/imgui/include/imconfig.h
  upstream_utils/imgui_patches/0001-Set-IMGUI_DEFINE_MATH_OPERATORS.patch
Labels: component: cscore, component: glass, component: datalogtool

#7942 [wpimath] Support dynamic matrix sizes in StateSpaceUtil
  wpimath/src/main/native/cpp/StateSpaceUtil.cpp
  wpimath/src/main/native/include/frc/StateSpaceUtil.h
  wpimath/src/test/native/cpp/StateSpaceUtilTest.cpp
Labels: component: wpimath

#7935 [wpiutil] Add nested struct schemas before parent schema
  wpiutil/src/main/java/edu/wpi/first/util/datalog/DataLog.java
Labels: component: wpiutil

#7926 [cscore] Add UVC Protocol Support for USB Camera Controls on macOS
  cscore/BUILD.bazel
  cscore/CMakeLists.txt
  cscore/src/main/native/objcpp/UsbCameraImpl.h
  cscore/src/main/native/objcpp/UsbCameraImplObjc.h
  cscore/src/main/native/objcpp/UsbCameraImplObjc.mm
  cscore/src/main/native/objcpp/UvcControlImpl.h
  cscore/src/main/native/objcpp/UvcControlImpl.mm
  shared/config.gradle
Labels: component: cscore
