Repository wpilibsuite/allwpilib, pull requests merged in 2025-01, with the labels that each got.

#7614 [wpilibc] Rename DCMotorSim getters
  wpilibc/src/main/native/cpp/simulation/DCMotorSim.cpp
  wpilibc/src/main/native/include/frc/simulation/DCMotorSim.h
Labels: component: wpilibc

#7616 [hal] Update Usage Reporting to match 2025v2 image numbers
  hal/src/generate/ResourceType.txt
  hal/src/generated/main/java/edu/wpi/first/hal/FRCNetComm.java
  hal/src/generated/main/native/include/hal/FRCUsageReporting.h
  hal/src/generated/main/native/include/hal/UsageReporting.h
Labels: component: hal

#7618 [apriltag] Add kDefaultField to C++
  .github/workflows/fix_compile_commands.py
  apriltag/src/main/native/include/frc/apriltag/AprilTagFields.h
Labels: component: apriltag

#7619 [wpical] Add support for new Apriltags (ID 16-22)
  wpical/src/main/native/cpp/WPIcal.cpp
  wpical/src/main/native/cpp/fieldcalibration.cpp
  wpical/src/test/native/cpp/test_calibrate.cpp
Labels: component: wpical

#7417 [cmd] Undeprecate deferredProxy
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/Commands.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/Commands.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/Commands.h
Labels: component: command-based

#7604 [glass, simgui] Fix minimum widths of windows
  glass/src/lib/native/cpp/Window.cpp
  glass/src/lib/native/cpp/hardware/LEDDisplay.cpp
  simulation/halsim_gui/src/main/native/cpp/DriverStationGui.cpp
Labels: component: glass

#7620 [wpical] Disable systemcore target
  wpical/build.gradle
Labels: 2027

#7625 [ntcore] Remove NT3 support
  .github/workflows/tools.yml
  cameraserver/multiCameraServer/src/main/java/edu/wpi/Main.java
  cameraserver/multiCameraServer/src/main/native/cpp/main.cpp
  glass/src/app/native/cpp/main.cpp
  glass/src/libnt/native/cpp/NetworkTables.cpp
  glass/src/libnt/native/cpp/NetworkTablesSettings.cpp
  glass/src/libnt/native/include/glass/networktables/NetworkTablesSettings.h
  hal/src/main/native/systemcore/SystemServer.cpp
  ntcore/src/dev/native/cpp/main.cpp
  ntcore/src/generate/main/java/NetworkTableInstance.java.jinja
  ntcore/src/generate/main/java/NetworkTablesJNI.java.jinja
  ntcore/src/generated/main/java/edu/wpi/first/networktables/NetworkTableInstance.java
  ntcore/src/generated/main/java/edu/wpi/first/networktables/NetworkTablesJNI.java
  ntcore/src/main/java/edu/wpi/first/networktables/ConnectionInfo.java
  ntcore/src/main/native/cpp/InstanceImpl.cpp
  ntcore/src/main/native/cpp/InstanceImpl.h
  ntcore/src/main/native/cpp/NetworkClient.cpp
  ntcore/src/main/native/cpp/NetworkClient.h
  ntcore/src/main/native/cpp/NetworkServer.cpp
  ntcore/src/main/native/cpp/NetworkServer.h
  ntcore/src/main/native/cpp/jni/NetworkTablesJNI.cpp
  ntcore/src/main/native/cpp/net3/ClientImpl3.cpp
  ntcore/src/main/native/cpp/net3/ClientImpl3.h
  ntcore/src/main/native/cpp/net3/Message3.h
  ntcore/src/main/native/cpp/net3/SequenceNumber.h
  ntcore/src/main/native/cpp/net3/UvStreamConnection3.cpp
  ntcore/src/main/native/cpp/net3/UvStreamConnection3.h
  ntcore/src/main/native/cpp/net3/WireConnection3.h
  ntcore/src/main/native/cpp/net3/WireDecoder3.cpp
  ntcore/src/main/native/cpp/net3/WireDecoder3.h
  ntcore/src/main/native/cpp/net3/WireEncoder3.cpp
  ntcore/src/main/native/cpp/net3/WireEncoder3.h
  ntcore/src/main/native/cpp/ntcore_c.cpp
  ntcore/src/main/native/cpp/ntcore_cpp.cpp
  ntcore/src/main/native/cpp/server/ServerClient3.cpp
  ntcore/src/main/native/cpp/server/ServerClient3.h
  ntcore/src/main/native/cpp/server/ServerImpl.cpp
  ntcore/src/main/native/cpp/server/ServerImpl.h
  ntcore/src/main/native/include/networktables/NetworkTableInstance.h
  ntcore/src/main/native/include/ntcore_c.h
  ntcore/src/main/native/include/ntcore_cpp.h
  ntcore/src/test/java/edu/wpi/first/networktables/ConnectionListenerTest.java
  ntcore/src/test/java/edu/wpi/first/networktables/LoggerTest.java
  ntcore/src/test/java/edu/wpi/first/networktables/TimeSyncTest.java
  ntcore/src/test/java/edu/wpi/first/networktables/TopicListenerTest.java
  ntcore/src/test/native/cpp/ConnectionListenerTest.cpp
  ntcore/src/test/native/cpp/LoggerTest.cpp
  ntcore/src/test/native/cpp/TestPrinters.cpp
  ntcore/src/test/native/cpp/TimeSyncTest.cpp
  ntcore/src/test/native/cpp/TopicListenerTest.cpp
  ntcore/src/test/native/cpp/net3/MessageMatcher3.cpp
  ntcore/src/test/native/cpp/net3/MessageMatcher3.h
  ntcore/src/test/native/cpp/net3/MockWireConnection3.h
  ntcore/src/test/native/cpp/net3/WireDecoder3Test.cpp
  ntcore/src/test/native/cpp/net3/WireEncoder3Test.cpp
  ntcoreffi/src/main/native/symbols.txt
  outlineviewer/src/main/native/cpp/main.cpp
  wpilibj/src/test/java/edu/wpi/first/wpilibj/PreferencesTest.java
Labels: component: ntcore, component: wpilibj, component: hal, component: glass, component: outlineviewer, 2027

#7628 [wpiutil] Remove LEB128
  wpiutil/src/main/native/cpp/leb128.cpp
  wpiutil/src/main/native/include/wpi/leb128.h
  wpiutil/src/test/native/cpp/leb128Test.cpp
Labels: component: wpiutil, 2027

#7627 [wpinet] uv::AddrToName: Add StringAssignable constraint
  wpinet/src/main/native/include/wpinet/uv/util.h
Labels: component: wpinet, 2027

#7626 [wpiutil] DataLog: Move schema info to a separate map
  wpiutil/src/main/native/cpp/DataLog.cpp
  wpiutil/src/main/native/include/wpi/DataLog.h
Labels: component: wpiutil, 2027

#7632 [wpimath] Make Rotation2d member initialization order match declaration order
  wpimath/src/main/java/edu/wpi/first/math/geometry/Rotation2d.java
  wpimath/src/main/native/include/frc/geometry/Rotation2d.h
Labels: component: wpimath

#7634 Update field and april tags
  apriltag/convert_apriltag_layouts.py
  apriltag/src/main/java/edu/wpi/first/apriltag/AprilTagFields.java
  apriltag/src/main/native/cpp/AprilTagFieldLayout.cpp
  apriltag/src/main/native/include/frc/apriltag/AprilTagFields.h
  apriltag/src/main/native/resources/edu/wpi/first/apriltag/2024-crescendo.csv
  apriltag/src/main/native/resources/edu/wpi/first/apriltag/2025-reefscape.csv
  apriltag/src/main/native/resources/edu/wpi/first/apriltag/2025-reefscape.json
  fieldImages/src/main/native/cpp/fields.cpp
  fieldImages/src/main/native/include/fields/2025-reefscape.h
  fieldImages/src/main/native/resources/edu/wpi/first/fields/2025-field.png
  fieldImages/src/main/native/resources/edu/wpi/first/fields/2025-reefscape.json
Labels: component: apriltag

#7636 [wpiutil] Change StringExtras split() to template
  datalogtool/src/main/native/cpp/Exporter.cpp
  glass/src/libnt/native/cpp/NetworkTables.cpp
  glass/src/libnt/native/cpp/NetworkTablesProvider.cpp
  glass/src/libnt/native/cpp/NetworkTablesSettings.cpp
  hal/src/main/native/athena/HAL.cpp
  hal/src/main/native/athena/cpp/SerialHelper.cpp
  hal/src/main/native/sim/Extensions.cpp
  hal/src/main/native/systemcore/HAL.cpp
  ntcore/src/main/native/cpp/networktables/NetworkTable.cpp
  simulation/halsim_ws_client/src/main/native/cpp/HALSimWS.cpp
  simulation/halsim_ws_server/src/main/native/cpp/HALSimWeb.cpp
  sysid/src/main/native/cpp/view/LogLoader.cpp
  wpinet/src/main/native/cpp/HttpUtil.cpp
  wpinet/src/main/native/cpp/WebSocketServer.cpp
  wpinet/src/main/native/include/wpinet/WebSocketServer.h
  wpiutil/src/main/native/thirdparty/llvm/cpp/llvm/StringExtras.cpp
  wpiutil/src/main/native/thirdparty/llvm/include/wpi/StringExtras.h
Labels: component: ntcore, component: wpiutil, component: hal, component: glass, component: datalogtool, component: wpinet, component: sysid, 2027

#7643 Make Field2D field picker show JSONs first
  glass/src/lib/native/cpp/other/Field2D.cpp
Labels: component: glass

#7649 [wpiutil] SignalObject: Fix move operator=
  wpiutil/src/main/native/include/wpi/Synchronization.h
Labels: component: wpiutil

#7648 [glass] Fix custom image padding to maintain aspect ratio
  glass/src/lib/native/cpp/other/Field2D.cpp
Labels: component: glass

#7609 [cscore] Use frame time in Linux UsbCameraImpl
  cscore/src/main/java/edu/wpi/first/cscore/CvSink.java
  cscore/src/main/native/cpp/Frame.cpp
  cscore/src/main/native/cpp/Frame.h
  cscore/src/main/native/cpp/RawSinkImpl.cpp
  cscore/src/main/native/cpp/SourceImpl.cpp
  cscore/src/main/native/cpp/SourceImpl.h
  cscore/src/main/native/include/cscore_cv.h
  cscore/src/main/native/linux/UsbCameraImpl.cpp
  wpiutil/src/main/java/edu/wpi/first/util/RawFrame.java
  wpiutil/src/main/java/edu/wpi/first/util/TimestampSource.java
  wpiutil/src/main/java/edu/wpi/first/util/WPIUtilJNI.java
  wpiutil/src/main/native/cpp/jni/WPIUtilJNI.cpp
  wpiutil/src/main/native/include/wpi/RawFrame.h
Labels: component: cscore, component: wpiutil

#7652 Revert "[epilogue] Add a measure's symbol to its name when logged by Epilogue (#7535)"
  epilogue-runtime/src/main/java/edu/wpi/first/epilogue/logging/EpilogueBackend.java
Labels: component: epilogue

#7661 [wpimath] Implement Translation3d.RotateAround
  wpimath/src/main/java/edu/wpi/first/math/geometry/Translation3d.java
  wpimath/src/main/native/include/frc/geometry/Translation3d.h
  wpimath/src/test/java/edu/wpi/first/math/geometry/Translation3dTest.java
  wpimath/src/test/native/cpp/geometry/Translation2dTest.cpp
  wpimath/src/test/native/cpp/geometry/Translation3dTest.cpp
Labels: component: wpimath

#7073 [cmd] Add a warning to `schedule` javadocs
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/CommandScheduler.java
  wpilibNewCommands/src/main/native/include/frc2/command/CommandScheduler.h
Labels: component: command-based

#7621 Digital IO Systemcore implementation
  developerRobot/build.gradle
  hal/src/main/native/systemcore/DIO.cpp
  hal/src/main/native/systemcore/PWM.cpp
  hal/src/main/native/systemcore/PortsInternal.h
  hal/src/main/native/systemcore/SmartIo.cpp
  hal/src/main/native/systemcore/SmartIo.h
Labels: component: hal, 2027

#7675 [wpimath] Fix LinearSystemId return type and docs
  wpimath/src/main/java/edu/wpi/first/math/system/plant/LinearSystemId.java
  wpimath/src/main/native/include/frc/system/plant/LinearSystemId.h
Labels: component: wpimath

#7670 Remove roborio specializations from build system
  cameraserver/multiCameraServer/build.gradle
  crossConnIntegrationTests/build.gradle
  cscore/build.gradle
  datalogtool/build.gradle
  glass/build.gradle
  hal/build.gradle
  ntcoreffi/build.gradle
  outlineviewer/build.gradle
  processstarter/build.gradle
  shared/config.gradle
  shared/javacpp/setupBuild.gradle
  shared/jni/setupBuild.gradle
  shared/plugins/setupBuild.gradle
  simulation/halsim_ds_socket/build.gradle
  simulation/halsim_gui/build.gradle
  simulation/halsim_ws_client/build.gradle
  simulation/halsim_ws_core/build.gradle
  simulation/halsim_ws_server/build.gradle
  simulation/halsim_xrp/build.gradle
  sysid/build.gradle
  thirdparty/imgui_suite/build.gradle
  wpical/build.gradle
  wpigui/build.gradle
  wpilibNewCommands/build.gradle
  wpilibc/build.gradle
  wpilibcExamples/build.gradle
  wpilibcIntegrationTests/build.gradle
  wpilibj/build.gradle
  wpilibjExamples/build.gradle
  wpinet/build.gradle
  wpiutil/build.gradle
Labels: component: cscore, component: wpiutil, component: wpilibj, component: wpilibc, component: hal, component: command-based, component: glass, component: outlineviewer, component: datalogtool, component: wpinet, component: examples, component: sysid, 2027

#7667 Remove roboRIO team number setter
  .github/labeler.yml
  CMakeLists.txt
  README-CMake.md
  roborioteamnumbersetter/.styleguide
  roborioteamnumbersetter/CMakeLists.txt
  roborioteamnumbersetter/Info.plist
  roborioteamnumbersetter/build.gradle
  roborioteamnumbersetter/publish.gradle
  roborioteamnumbersetter/src/main/generate/WPILibVersion.cpp.in
  roborioteamnumbersetter/src/main/native/cpp/App.cpp
  roborioteamnumbersetter/src/main/native/cpp/DeploySession.cpp
  roborioteamnumbersetter/src/main/native/cpp/DeploySession.h
  roborioteamnumbersetter/src/main/native/cpp/SshSession.cpp
  roborioteamnumbersetter/src/main/native/cpp/SshSession.h
  roborioteamnumbersetter/src/main/native/cpp/main.cpp
  roborioteamnumbersetter/src/main/native/mac/rtns.icns
  roborioteamnumbersetter/src/main/native/resources/rtns-128.png
  roborioteamnumbersetter/src/main/native/resources/rtns-16.png
  roborioteamnumbersetter/src/main/native/resources/rtns-256.png
  roborioteamnumbersetter/src/main/native/resources/rtns-32.png
  roborioteamnumbersetter/src/main/native/resources/rtns-48.png
  roborioteamnumbersetter/src/main/native/resources/rtns-512.png
  roborioteamnumbersetter/src/main/native/resources/rtns-64.png
  roborioteamnumbersetter/src/main/native/win/roborioteamnumbersetter.ico
  roborioteamnumbersetter/src/main/native/win/roborioteamnumbersetter.rc
  settings.gradle
Labels: component: teamnumbersetter, 2027

#7664 Add note about support for WS2815
  hal/src/main/java/edu/wpi/first/hal/AddressableLEDJNI.java
  hal/src/main/native/include/hal/AddressableLED.h
  wpilibc/src/main/native/include/frc/AddressableLED.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/AddressableLED.java
Labels: component: wpilibj, component: wpilibc, component: hal

#7659 [wpimath] Implement Pose2d and Pose3d rotateAround()
  wpimath/src/main/java/edu/wpi/first/math/geometry/Pose2d.java
  wpimath/src/main/java/edu/wpi/first/math/geometry/Pose3d.java
  wpimath/src/main/native/include/frc/geometry/Pose2d.h
  wpimath/src/main/native/include/frc/geometry/Pose3d.h
  wpimath/src/test/java/edu/wpi/first/math/geometry/Pose2dTest.java
  wpimath/src/test/java/edu/wpi/first/math/geometry/Pose3dTest.java
  wpimath/src/test/native/cpp/geometry/Pose2dTest.cpp
  wpimath/src/test/native/cpp/geometry/Pose3dTest.cpp
Labels: component: wpimath

#7676 [wpimath] Fix various constexpr support bugs
  upstream_utils/eigen_patches/0001-Disable-warnings.patch
  upstream_utils/eigen_patches/0002-Intellisense-fix.patch
  upstream_utils/eigen_patches/0003-Make-assignment-constexpr.patch
  wpimath/src/main/native/include/frc/ct_matrix.h
  wpimath/src/main/native/thirdparty/eigen/include/Eigen/src/Core/AssignEvaluator.h
  wpimath/src/main/native/thirdparty/eigen/include/Eigen/src/Core/EigenBase.h
  wpimath/src/main/native/thirdparty/eigen/include/Eigen/src/Core/functors/AssignmentFunctors.h
  wpimath/src/test/native/cpp/geometry/Rotation2dTest.cpp
  wpimath/src/test/native/cpp/geometry/Rotation3dTest.cpp
  wpimath/src/test/native/cpp/system/LinearSystemIDTest.cpp
Labels: component: wpimath

#7669 [wpiutil] Remove roboRIO-specific timestamp code
  ntcore/src/dev/native/cpp/main.cpp
  ntcore/src/test/native/cpp/main.cpp
  ntcoreffi/src/main/native/symbols.txt
  wpiutil/src/main/native/cpp/timestamp.cpp
  wpiutil/src/main/native/include/wpi/timestamp.h
Labels: component: ntcore, component: wpiutil, 2027

#7681 Add systemcore analog input
  hal/src/main/native/systemcore/AnalogInput.cpp
  hal/src/main/native/systemcore/SmartIo.cpp
  hal/src/main/native/systemcore/SmartIo.h
Labels: component: hal, 2027

#7677 Remove I2C Warnings
  wpilibc/src/main/native/cpp/I2C.cpp
  wpilibc/src/main/native/include/frc/ADXL345_I2C.h
  wpilibc/src/main/native/include/frc/I2C.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/ADXL345_I2C.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/I2C.java
Labels: component: wpilibj, component: wpilibc, 2027

#7691 [hal] Fix systemcore analog input scaling
  hal/src/main/native/systemcore/AnalogInput.cpp
Labels: component: hal, 2027

#7682 [hal] Add systemcore duty cycle
  hal/src/main/java/edu/wpi/first/hal/DutyCycleJNI.java
  hal/src/main/native/cpp/jni/DutyCycleJNI.cpp
  hal/src/main/native/include/hal/DutyCycle.h
  hal/src/main/native/sim/DutyCycle.cpp
  hal/src/main/native/systemcore/DutyCycle.cpp
  hal/src/main/native/systemcore/SmartIo.cpp
  hal/src/main/native/systemcore/SmartIo.h
  wpilibc/src/main/native/cpp/DutyCycle.cpp
  wpilibc/src/main/native/cpp/DutyCycleEncoder.cpp
  wpilibc/src/main/native/include/frc/DutyCycle.h
  wpilibc/src/main/native/include/frc/DutyCycleEncoder.h
  wpilibc/src/test/native/cpp/simulation/DutyCycleSimTest.cpp
  wpilibcExamples/src/main/cpp/examples/DutyCycleInput/cpp/Robot.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DutyCycle.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DutyCycleEncoder.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/DutyCycleSimTest.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/dutycycleinput/Robot.java
Labels: component: wpilibj, component: wpilibc, component: hal, component: examples, 2027

#7683 Add high level way of getting systemserver nt instance
  hal/BUILD.bazel
  hal/CMakeLists.txt
  hal/src/main/java/edu/wpi/first/hal/SystemServerJNI.java
  hal/src/main/native/cpp/jni/SystemServerJNI.cpp
  hal/src/main/native/include/hal/SystemServer.h
  hal/src/main/native/sim/SystemServer.cpp
  hal/src/main/native/systemcore/FRCDriverStation.cpp
  hal/src/main/native/systemcore/HAL.cpp
  hal/src/main/native/systemcore/SmartIo.cpp
  hal/src/main/native/systemcore/SystemServer.cpp
  hal/src/main/native/systemcore/SystemServerInternal.h
  ntcore/src/generate/main/java/NetworkTableInstance.java.jinja
  ntcore/src/generated/main/java/edu/wpi/first/networktables/NetworkTableInstance.java
  wpilibc/src/main/native/cpp/SystemServer.cpp
  wpilibc/src/main/native/include/frc/SystemServer.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/SystemServer.java
Labels: component: ntcore, component: wpilibj, component: wpilibc, component: hal, 2027

#7695 Remove relay classes
  glass/src/lib/native/cpp/hardware/Relay.cpp
  glass/src/lib/native/include/glass/hardware/Relay.h
  hal/src/main/java/edu/wpi/first/hal/PortsJNI.java
  hal/src/main/java/edu/wpi/first/hal/RelayJNI.java
  hal/src/main/java/edu/wpi/first/hal/simulation/RelayDataJNI.java
  hal/src/main/native/cpp/jni/PortsJNI.cpp
  hal/src/main/native/cpp/jni/RelayJNI.cpp
  hal/src/main/native/cpp/jni/simulation/RelayDataJNI.cpp
  hal/src/main/native/include/hal/HAL.h
  hal/src/main/native/include/hal/Ports.h
  hal/src/main/native/include/hal/Relay.h
  hal/src/main/native/include/hal/simulation/RelayData.h
  hal/src/main/native/sim/HAL.cpp
  hal/src/main/native/sim/HALInitializer.h
  hal/src/main/native/sim/Ports.cpp
  hal/src/main/native/sim/Relay.cpp
  hal/src/main/native/sim/mockdata/RelayData.cpp
  hal/src/main/native/sim/mockdata/RelayDataInternal.h
  hal/src/main/native/sim/mockdata/Reset.cpp
  hal/src/main/native/systemcore/HAL.cpp
  hal/src/main/native/systemcore/HALInitializer.h
  hal/src/main/native/systemcore/Ports.cpp
  hal/src/main/native/systemcore/Relay.cpp
  hal/src/main/native/systemcore/mockdata/RelayData.cpp
  hal/src/test/native/cpp/mockdata/RelayDataTest.cpp
  shared/examplecheck.gradle
  simulation/halsim_gui/src/main/native/cpp/RelaySimGui.cpp
  simulation/halsim_gui/src/main/native/cpp/RelaySimGui.h
  simulation/halsim_gui/src/main/native/cpp/main.cpp
  simulation/halsim_ws_client/src/main/native/cpp/HALSimWSClient.cpp
  simulation/halsim_ws_core/doc/hardware_ws_api.md
  simulation/halsim_ws_core/doc/wpilib-ws.yaml
  simulation/halsim_ws_core/src/main/native/cpp/WSProvider_Relay.cpp
  simulation/halsim_ws_core/src/main/native/include/WSProvider_Relay.h
  simulation/halsim_ws_server/src/main/native/cpp/HALSimWSServer.cpp
  wpilibc/src/main/native/cpp/Relay.cpp
  wpilibc/src/main/native/cpp/SensorUtil.cpp
  wpilibc/src/main/native/cpp/simulation/RelaySim.cpp
  wpilibc/src/main/native/include/frc/Relay.h
  wpilibc/src/main/native/include/frc/SensorUtil.h
  wpilibc/src/main/native/include/frc/simulation/RelaySim.h
  wpilibc/src/test/native/cpp/simulation/RelaySimTest.cpp
  wpilibc/src/test/native/cpp/simulation/SimInitializationTest.cpp
  wpilibcExamples/src/main/cpp/examples/Relay/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/examples.json
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Relay.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/SensorUtil.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/shuffleboard/BuiltInWidgets.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/RelaySim.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/SensorUtilTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/RelaySimTest.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/examples.json
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/relay/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/relay/Robot.java
Labels: component: wpilibj, component: wpilibc, component: hal, component: glass, component: examples, 2027

#7696 Remove analog output
  glass/src/lib/native/cpp/hardware/AnalogOutput.cpp
  glass/src/lib/native/include/glass/hardware/AnalogOutput.h
  hal/src/main/java/edu/wpi/first/hal/AnalogJNI.java
  hal/src/main/java/edu/wpi/first/hal/PortsJNI.java
  hal/src/main/java/edu/wpi/first/hal/simulation/AnalogOutDataJNI.java
  hal/src/main/native/cpp/jni/AnalogJNI.cpp
  hal/src/main/native/cpp/jni/PortsJNI.cpp
  hal/src/main/native/cpp/jni/simulation/AnalogOutDataJNI.cpp
  hal/src/main/native/include/hal/AnalogOutput.h
  hal/src/main/native/include/hal/HAL.h
  hal/src/main/native/include/hal/Ports.h
  hal/src/main/native/include/hal/simulation/AnalogOutData.h
  hal/src/main/native/sim/AnalogOutput.cpp
  hal/src/main/native/sim/HAL.cpp
  hal/src/main/native/sim/HALInitializer.h
  hal/src/main/native/sim/Ports.cpp
  hal/src/main/native/sim/mockdata/AnalogOutData.cpp
  hal/src/main/native/sim/mockdata/AnalogOutDataInternal.h
  hal/src/main/native/sim/mockdata/Reset.cpp
  hal/src/main/native/systemcore/AnalogOutput.cpp
  hal/src/main/native/systemcore/HAL.cpp
  hal/src/main/native/systemcore/HALInitializer.h
  hal/src/main/native/systemcore/Ports.cpp
  hal/src/main/native/systemcore/mockdata/AnalogOutData.cpp
  hal/src/test/native/cpp/mockdata/AnalogOutDataTest.cpp
  simulation/halsim_gui/src/main/native/cpp/AnalogOutputSimGui.cpp
  simulation/halsim_gui/src/main/native/cpp/AnalogOutputSimGui.h
  simulation/halsim_gui/src/main/native/cpp/main.cpp
  simulation/halsim_ws_client/src/main/native/cpp/HALSimWSClient.cpp
  simulation/halsim_ws_core/src/main/native/cpp/WSProvider_Analog.cpp
  simulation/halsim_ws_core/src/main/native/include/WSProvider_Analog.h
  simulation/halsim_ws_server/src/main/native/cpp/HALSimWSServer.cpp
  wpilibc/src/main/native/cpp/AnalogOutput.cpp
  wpilibc/src/main/native/cpp/SensorUtil.cpp
  wpilibc/src/main/native/cpp/simulation/AnalogOutputSim.cpp
  wpilibc/src/main/native/include/frc/AnalogOutput.h
  wpilibc/src/main/native/include/frc/SensorUtil.h
  wpilibc/src/main/native/include/frc/simulation/AnalogOutputSim.h
  wpilibc/src/test/native/cpp/simulation/AnalogOutputSimTest.cpp
  wpilibc/src/test/native/cpp/simulation/SimInitializationTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/AnalogOutput.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/SensorUtil.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/AnalogOutputSim.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/SensorUtilTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/AnalogOutputSimTest.java
Labels: component: wpilibj, component: wpilibc, component: hal, component: glass, 2027

#7698 Remove anything that references chipobject or VISA
  hal/src/main/native/include/hal/ChipObject.h
  hal/src/main/native/include/hal/cpp/SerialHelper.h
  hal/src/main/native/include/hal/cpp/UnsafeDIO.h
  hal/src/main/native/include/hal/roborio/HMB.h
  hal/src/main/native/include/hal/roborio/InterruptManager.h
  hal/src/main/native/systemcore/SerialPort.cpp
Labels: component: hal, 2027

#7699 [wpiunits] Add Measure.per overloads for all known unit types
  wpiunits/src/generate/main/java/Measure-interface.java.jinja
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/Acceleration.java
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/Angle.java
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/AngularAcceleration.java
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/AngularMomentum.java
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/AngularVelocity.java
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/Current.java
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/Dimensionless.java
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/Distance.java
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/Energy.java
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/Force.java
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/Frequency.java
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/LinearAcceleration.java
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/LinearMomentum.java
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/LinearVelocity.java
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/Mass.java
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/MomentOfInertia.java
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/Mult.java
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/Per.java
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/Power.java
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/Resistance.java
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/Temperature.java
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/Time.java
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/Torque.java
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/Velocity.java
  wpiunits/src/generated/main/java/edu/wpi/first/units/measure/Voltage.java
  wpiunits/src/main/java/edu/wpi/first/units/Measure.java
  wpiunits/src/main/java/edu/wpi/first/units/VelocityUnit.java
Labels: component: wpiunits

#7704 [wpilibj] ADIS16470: Allow product ID of 16470
  wpilibj/src/main/java/edu/wpi/first/wpilibj/ADIS16470_IMU.java
Labels: component: wpilibj

#7701 Remove DMA
  hal/src/main/java/edu/wpi/first/hal/DMAJNI.java
  hal/src/main/java/edu/wpi/first/hal/DMAJNISample.java
  hal/src/main/native/cpp/jni/DMAJNI.cpp
  hal/src/main/native/cpp/jni/HALUtil.cpp
  hal/src/main/native/cpp/jni/HALUtil.h
  hal/src/main/native/include/hal/DMA.h
  hal/src/main/native/sim/DMA.cpp
  hal/src/main/native/systemcore/DMA.cpp
  hal/src/main/native/systemcore/HAL.cpp
  hal/src/main/native/systemcore/HALInitializer.h
  shared/examplecheck.gradle
  wpilibc/src/main/native/cpp/DMA.cpp
  wpilibc/src/main/native/include/frc/AnalogInput.h
  wpilibc/src/main/native/include/frc/Counter.h
  wpilibc/src/main/native/include/frc/DMA.h
  wpilibc/src/main/native/include/frc/DMASample.h
  wpilibc/src/main/native/include/frc/DutyCycle.h
  wpilibc/src/main/native/include/frc/Encoder.h
  wpilibc/src/main/native/include/frc/PWM.h
  wpilibc/src/main/native/include/frc/motorcontrol/PWMMotorController.h
  wpilibcExamples/src/main/cpp/examples/DMA/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/examples.json
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DMA.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DMASample.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/dma/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/dma/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/examples.json
Labels: component: wpilibj, component: wpilibc, component: hal, component: examples, 2027

#7702 Remove built in accelerometer
  glass/src/lib/native/cpp/hardware/Accelerometer.cpp
  glass/src/lib/native/include/glass/hardware/Accelerometer.h
  hal/src/main/java/edu/wpi/first/hal/AccelerometerJNI.java
  hal/src/main/java/edu/wpi/first/hal/simulation/AccelerometerDataJNI.java
  hal/src/main/native/cpp/jni/AccelerometerJNI.cpp
  hal/src/main/native/cpp/jni/simulation/AccelerometerDataJNI.cpp
  hal/src/main/native/include/hal/Accelerometer.h
  hal/src/main/native/include/hal/HAL.h
  hal/src/main/native/include/hal/simulation/AccelerometerData.h
  hal/src/main/native/sim/Accelerometer.cpp
  hal/src/main/native/sim/HAL.cpp
  hal/src/main/native/sim/HALInitializer.h
  hal/src/main/native/sim/mockdata/AccelerometerData.cpp
  hal/src/main/native/sim/mockdata/AccelerometerDataInternal.h
  hal/src/main/native/sim/mockdata/Reset.cpp
  hal/src/main/native/systemcore/Accelerometer.cpp
  hal/src/main/native/systemcore/HAL.cpp
  hal/src/main/native/systemcore/HALInitializer.h
  hal/src/main/native/systemcore/mockdata/AccelerometerData.cpp
  simulation/halsim_gui/src/main/native/cpp/AccelerometerSimGui.cpp
  simulation/halsim_gui/src/main/native/cpp/AccelerometerSimGui.h
  simulation/halsim_gui/src/main/native/cpp/main.cpp
  simulation/halsim_ws_client/src/main/native/cpp/HALSimWSClient.cpp
  simulation/halsim_ws_core/doc/hardware_ws_api.md
  simulation/halsim_ws_core/doc/wpilib-ws.yaml
  simulation/halsim_ws_core/src/main/native/cpp/WSProvider_BuiltInAccelerometer.cpp
  simulation/halsim_ws_core/src/main/native/include/WSProvider_BuiltInAccelerometer.h
  simulation/halsim_ws_server/src/main/native/cpp/HALSimWSServer.cpp
  simulation/halsim_xrp/README.md
  simulation/halsim_xrp/src/main/native/cpp/HALSimXRPClient.cpp
  simulation/halsim_xrp/src/main/native/cpp/XRP.cpp
  simulation/halsim_xrp/src/main/native/include/XRP.h
  wpilibc/src/main/native/cpp/BuiltInAccelerometer.cpp
  wpilibc/src/main/native/cpp/simulation/BuiltInAccelerometerSim.cpp
  wpilibc/src/main/native/include/frc/BuiltInAccelerometer.h
  wpilibc/src/main/native/include/frc/simulation/BuiltInAccelerometerSim.h
  wpilibc/src/test/native/cpp/simulation/AccelerometerSimTest.cpp
  wpilibc/src/test/native/cpp/simulation/SimInitializationTest.cpp
  wpilibcExamples/src/main/cpp/examples/RomiReference/cpp/subsystems/Drivetrain.cpp
  wpilibcExamples/src/main/cpp/examples/RomiReference/include/subsystems/Drivetrain.h
  wpilibcExamples/src/main/cpp/examples/XRPReference/cpp/subsystems/Drivetrain.cpp
  wpilibcExamples/src/main/cpp/examples/XRPReference/include/subsystems/Drivetrain.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/BuiltInAccelerometer.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/shuffleboard/BuiltInWidgets.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/BuiltInAccelerometerSim.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/AccelerometerSimTest.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/romireference/subsystems/Drivetrain.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/xrpreference/subsystems/Drivetrain.java
Labels: component: wpilibj, component: wpilibc, component: hal, component: glass, component: examples, 2027

#7706 [wpilib] ADIS164xx: report product ID on mismatch
  wpilibc/src/main/native/cpp/ADIS16448_IMU.cpp
  wpilibc/src/main/native/cpp/ADIS16470_IMU.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/ADIS16448_IMU.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/ADIS16470_IMU.java
Labels: component: wpilibj, component: wpilibc

#7707 [wpimath] Fix macro name typo
  wpimath/src/main/native/include/units/base.h
Labels: component: wpimath

#7709 Add Kitbot framework usage reporting
  hal/src/generate/Instances.txt
  hal/src/generated/main/java/edu/wpi/first/hal/FRCNetComm.java
  hal/src/generated/main/native/include/hal/FRCUsageReporting.h
  hal/src/generated/main/native/include/hal/UsageReporting.h
Labels: component: hal

#7672 [wpilibc, wpilibh, cmd] Improve HID direction documentation (NFC)
  wpilibNewCommands/src/generate/main/java/commandhid.java.jinja
  wpilibNewCommands/src/generate/main/native/include/frc2/command/button/commandhid.h.jinja
  wpilibNewCommands/src/generated/main/java/edu/wpi/first/wpilibj2/command/button/CommandPS4Controller.java
  wpilibNewCommands/src/generated/main/java/edu/wpi/first/wpilibj2/command/button/CommandPS5Controller.java
  wpilibNewCommands/src/generated/main/java/edu/wpi/first/wpilibj2/command/button/CommandStadiaController.java
  wpilibNewCommands/src/generated/main/java/edu/wpi/first/wpilibj2/command/button/CommandXboxController.java
  wpilibNewCommands/src/generated/main/native/include/frc2/command/button/CommandPS4Controller.h
  wpilibNewCommands/src/generated/main/native/include/frc2/command/button/CommandPS5Controller.h
  wpilibNewCommands/src/generated/main/native/include/frc2/command/button/CommandStadiaController.h
  wpilibNewCommands/src/generated/main/native/include/frc2/command/button/CommandXboxController.h
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/button/CommandJoystick.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/button/CommandJoystick.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/button/CommandJoystick.h
  wpilibc/src/generate/main/native/include/frc/hid.h.jinja
  wpilibc/src/generated/main/native/include/frc/PS4Controller.h
  wpilibc/src/generated/main/native/include/frc/PS5Controller.h
  wpilibc/src/generated/main/native/include/frc/StadiaController.h
  wpilibc/src/generated/main/native/include/frc/XboxController.h
  wpilibc/src/main/native/cpp/Joystick.cpp
  wpilibc/src/main/native/include/frc/Joystick.h
  wpilibj/src/generate/hids.json
  wpilibj/src/generate/hids.schema.json
  wpilibj/src/generate/main/java/hid.java.jinja
  wpilibj/src/generated/main/java/edu/wpi/first/wpilibj/PS4Controller.java
  wpilibj/src/generated/main/java/edu/wpi/first/wpilibj/PS5Controller.java
  wpilibj/src/generated/main/java/edu/wpi/first/wpilibj/StadiaController.java
  wpilibj/src/generated/main/java/edu/wpi/first/wpilibj/XboxController.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Joystick.java
Labels: component: wpilibj, component: wpilibc, component: command-based

#7725 [hal, wpilib] Remove DigitalGlitchFilter
  hal/src/main/java/edu/wpi/first/hal/DigitalGlitchFilterJNI.java
  hal/src/main/native/cpp/jni/DigitalGlitchFilterJNI.cpp
  hal/src/main/native/include/hal/DIO.h
  hal/src/main/native/sim/DIO.cpp
  hal/src/main/native/systemcore/DIO.cpp
  wpilibc/src/main/native/cpp/DigitalGlitchFilter.cpp
  wpilibc/src/main/native/include/frc/DigitalGlitchFilter.h
  wpilibc/src/main/native/include/frc/DigitalInput.h
  wpilibc/src/main/native/include/frc/Encoder.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DigitalGlitchFilter.java
Labels: component: wpilibj, component: wpilibc, component: hal, 2027

#7724 [hal, wpilib] Remove interrupt
  hal/src/main/java/edu/wpi/first/hal/InterruptJNI.java
  hal/src/main/native/cpp/jni/InterruptJNI.cpp
  hal/src/main/native/include/hal/HAL.h
  hal/src/main/native/include/hal/Interrupts.h
  hal/src/main/native/sim/HAL.cpp
  hal/src/main/native/sim/HALInitializer.h
  hal/src/main/native/sim/Interrupts.cpp
  hal/src/main/native/systemcore/HAL.cpp
  hal/src/main/native/systemcore/HALInitializer.h
  hal/src/main/native/systemcore/Interrupts.cpp
  wpilibc/src/main/native/cpp/AsynchronousInterrupt.cpp
  wpilibc/src/main/native/cpp/SynchronousInterrupt.cpp
  wpilibc/src/main/native/include/frc/AsynchronousInterrupt.h
  wpilibc/src/main/native/include/frc/SynchronousInterrupt.h
  wpilibc/src/test/native/cpp/InterruptTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/AsynchronousInterrupt.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/SynchronousInterrupt.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/InterruptTest.java
Labels: component: wpilibj, component: wpilibc, component: hal, 2027

#7731 [build] Fix missing nanopb headers in wpimath
  wpimath/CMakeLists.txt
Labels: component: wpimath

#7732 [build] DeveloperRobot: Fix link order
  developerRobot/build.gradle
Labels: 2027

#7693 [bazel] Add macros to build jni code and java tests
  .github/workflows/bazel.yml
  .styleguide
  WORKSPACE
  apriltag/BUILD.bazel
  cscore/BUILD.bazel
  epilogue-processor/BUILD.bazel
  epilogue-runtime/BUILD.bazel
  fieldImages/BUILD.bazel
  hal/BUILD.bazel
  ntcore/BUILD.bazel
  shared/bazel/rules/BUILD.bazel
  shared/bazel/rules/java_rules.bzl
  shared/bazel/rules/jni_rules.bzl
  wpilibNewCommands/BUILD.bazel
  wpilibj/BUILD.bazel
  wpimath/BUILD.bazel
  wpinet/BUILD.bazel
  wpiunits/BUILD.bazel
  wpiutil/BUILD.bazel
Labels: component: ntcore, component: cscore, component: wpiutil, component: wpilibj, component: hal, component: command-based, component: wpimath, component: wpinet, component: apriltag, component: wpiunits, component: epilogue, 2027

#7740 [hal, wpilib] Remove digital source from encoder
  hal/src/main/java/edu/wpi/first/hal/EncoderJNI.java
  hal/src/main/native/cpp/jni/EncoderJNI.cpp
  hal/src/main/native/include/hal/Encoder.h
  hal/src/main/native/sim/Encoder.cpp
  hal/src/main/native/systemcore/Encoder.cpp
  wpilibc/src/main/native/cpp/Encoder.cpp
  wpilibc/src/main/native/include/frc/Encoder.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Encoder.java
Labels: component: wpilibj, component: wpilibc, component: hal, 2027

#7723 [hal, wpilib] Add initial systemcore counter implementation
  hal/src/main/java/edu/wpi/first/hal/CounterJNI.java
  hal/src/main/native/cpp/jni/CounterJNI.cpp
  hal/src/main/native/include/hal/Counter.h
  hal/src/main/native/sim/Counter.cpp
  hal/src/main/native/systemcore/Counter.cpp
  hal/src/main/native/systemcore/SmartIo.cpp
  hal/src/main/native/systemcore/SmartIo.h
  shared/examplecheck.gradle
  styleguide/spotbugs-exclude.xml
  wpilibc/src/main/native/cpp/Counter.cpp
  wpilibc/src/main/native/cpp/Ultrasonic.cpp
  wpilibc/src/main/native/cpp/counter/ExternalDirectionCounter.cpp
  wpilibc/src/main/native/cpp/counter/Tachometer.cpp
  wpilibc/src/main/native/cpp/counter/UpDownCounter.cpp
  wpilibc/src/main/native/cpp/simulation/UltrasonicSim.cpp
  wpilibc/src/main/native/include/frc/Counter.h
  wpilibc/src/main/native/include/frc/Encoder.h
  wpilibc/src/main/native/include/frc/Ultrasonic.h
  wpilibc/src/main/native/include/frc/counter/EdgeConfiguration.h
  wpilibc/src/main/native/include/frc/counter/ExternalDirectionCounter.h
  wpilibc/src/main/native/include/frc/counter/Tachometer.h
  wpilibc/src/main/native/include/frc/counter/UpDownCounter.h
  wpilibc/src/main/native/include/frc/simulation/UltrasonicSim.h
  wpilibc/src/test/native/cpp/UltrasonicTest.cpp
  wpilibcExamples/src/main/cpp/examples/EventLoop/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/Ultrasonic/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/Ultrasonic/include/Robot.h
  wpilibcExamples/src/main/cpp/examples/UltrasonicPID/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/UltrasonicPID/include/Robot.h
  wpilibcExamples/src/main/cpp/examples/examples.json
  wpilibcExamples/src/test/cpp/examples/UltrasonicPID/cpp/UltrasonicPIDTest.cpp
  wpilibcExamples/src/test/cpp/examples/UltrasonicPID/cpp/main.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Counter.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Ultrasonic.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/counter/EdgeConfiguration.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/counter/ExternalDirectionCounter.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/counter/Tachometer.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/counter/UpDownCounter.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/UltrasonicSim.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/UltrasonicTest.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/eventloop/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/examples.json
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/ultrasonic/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/ultrasonic/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/ultrasonicpid/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/ultrasonicpid/Robot.java
  wpilibjExamples/src/test/java/edu/wpi/first/wpilibj/examples/ultrasonicpid/UltrasonicPIDTest.java
Labels: component: wpilibj, component: wpilibc, component: hal, component: examples, 2027

#7745 [wpimath] Fix infinite loop in ArmFeedforward::Calculate(xₖ, vₖ, vₖ₊₁)
  wpimath/src/main/native/cpp/controller/ArmFeedforward.cpp
Labels: component: wpimath

#7749 Fix epilogue breaking when package-info files are present
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/AnnotationProcessor.java
  epilogue-processor/src/test/java/edu/wpi/first/epilogue/processor/AnnotationProcessorTest.java
Labels: component: epilogue

#7629 [upstream_utils] Upgrade to fmt 11.1.3
  upstream_utils/fmt.py
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/base.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/chrono.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/format-inl.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/format.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/ostream.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/ranges.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/std.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/xchar.h
Labels: component: wpiutil, 2027

#7754 Remove HAL_GetPort
  hal/src/main/java/edu/wpi/first/hal/AnalogJNI.java
  hal/src/main/java/edu/wpi/first/hal/DIOJNI.java
  hal/src/main/java/edu/wpi/first/hal/DutyCycleJNI.java
  hal/src/main/java/edu/wpi/first/hal/HAL.java
  hal/src/main/java/edu/wpi/first/hal/PWMJNI.java
  hal/src/main/native/cpp/handles/HandlesInternal.cpp
  hal/src/main/native/cpp/jni/AnalogJNI.cpp
  hal/src/main/native/cpp/jni/DIOJNI.cpp
  hal/src/main/native/cpp/jni/DutyCycleJNI.cpp
  hal/src/main/native/cpp/jni/HAL.cpp
  hal/src/main/native/cpp/jni/PWMJNI.cpp
  hal/src/main/native/include/hal/AnalogInput.h
  hal/src/main/native/include/hal/DIO.h
  hal/src/main/native/include/hal/DutyCycle.h
  hal/src/main/native/include/hal/HALBase.h
  hal/src/main/native/include/hal/PWM.h
  hal/src/main/native/include/hal/Types.h
  hal/src/main/native/include/hal/handles/HandlesInternal.h
  hal/src/main/native/sim/AnalogInput.cpp
  hal/src/main/native/sim/DIO.cpp
  hal/src/main/native/sim/DutyCycle.cpp
  hal/src/main/native/sim/HAL.cpp
  hal/src/main/native/sim/PWM.cpp
  hal/src/main/native/systemcore/AnalogInput.cpp
  hal/src/main/native/systemcore/DIO.cpp
  hal/src/main/native/systemcore/DutyCycle.cpp
  hal/src/main/native/systemcore/HAL.cpp
  hal/src/main/native/systemcore/PWM.cpp
  hal/src/test/native/cpp/mockdata/AnalogInDataTest.cpp
  hal/src/test/native/cpp/mockdata/DIODataTest.cpp
  hal/src/test/native/cpp/mockdata/PWMDataTest.cpp
  wpilibc/src/main/native/cpp/AddressableLED.cpp
  wpilibc/src/main/native/cpp/AnalogInput.cpp
  wpilibc/src/main/native/cpp/DigitalInput.cpp
  wpilibc/src/main/native/cpp/DigitalOutput.cpp
  wpilibc/src/main/native/cpp/DutyCycle.cpp
  wpilibc/src/main/native/cpp/PWM.cpp
  wpilibcExamples/src/main/cpp/examples/HAL/c/Robot.c
  wpilibj/src/main/java/edu/wpi/first/wpilibj/AddressableLED.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/AnalogInput.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DigitalInput.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DigitalOutput.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DutyCycle.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/PWM.java
Labels: component: wpilibj, component: wpilibc, component: hal, component: examples, 2027

#7750 [wpiutil] use reinterpret_cast for kInvalidFile on Win32 via macro
  wpiutil/src/main/native/cpp/DataLogBackgroundWriter.cpp
  wpiutil/src/main/native/cpp/fs.cpp
  wpiutil/src/main/native/include/wpi/fs.h
Labels: component: wpiutil, 2027
