Repository wpilibsuite/allwpilib, pull requests merged in 2025-02, with the labels that each got.

#7741 [wpimath] Document drift from desaturating discretized chassis speeds (NFC)
  wpimath/src/main/java/edu/wpi/first/math/kinematics/ChassisSpeeds.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/SwerveDriveKinematics.java
  wpimath/src/main/native/include/frc/kinematics/ChassisSpeeds.h
  wpimath/src/main/native/include/frc/kinematics/SwerveDriveKinematics.h
Labels: component: wpimath

#7766 [hal] Add ntcore to other libs in styleguide
  hal/.styleguide
  hal/src/main/native/systemcore/FRCDriverStation.cpp
  hal/src/main/native/systemcore/SmartIo.h
Labels: component: hal, 2027

#7767 [cameraserver] Remove Axis camera functions
  cameraserver/src/main/java/edu/wpi/first/cameraserver/CameraServer.java
  cameraserver/src/main/native/cpp/cameraserver/CameraServer.cpp
  cameraserver/src/main/native/include/cameraserver/CameraServer.h
Labels: 2027

#7774 [hal] SPI: Remove byte limit on size
  hal/src/main/java/edu/wpi/first/hal/SPIJNI.java
  hal/src/main/native/cpp/jni/SPIJNI.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/SPI.java
Labels: component: wpilibj, component: hal

#7775 Add missing -ldl when building libuv in bazel
  wpinet/BUILD.bazel
Labels: component: wpinet

#7777 [wpiutil] Remove broken StackWalker library
  .github/workflows/upstream-utils.yml
  ThirdPartyNotices.txt
  upstream_utils/stack_walker.py
  upstream_utils/stack_walker_patches/0001-Add-advapi-pragma.patch
  wpiutil/src/main/native/cpp/RuntimeCheck.cpp
  wpiutil/src/main/native/windows/StackTrace.cpp
  wpiutil/src/main/native/windows/StackWalker.cpp
  wpiutil/src/main/native/windows/StackWalker.h
Labels: component: wpiutil

#7781 Splits 2025 AprilTag Maps
  apriltag/src/main/java/edu/wpi/first/apriltag/AprilTagFields.java
  apriltag/src/main/native/cpp/AprilTagFieldLayout.cpp
  apriltag/src/main/native/include/frc/apriltag/AprilTagFields.h
  apriltag/src/main/native/resources/edu/wpi/first/apriltag/2025-reefscape-andymark.csv
  apriltag/src/main/native/resources/edu/wpi/first/apriltag/2025-reefscape-andymark.json
  apriltag/src/main/native/resources/edu/wpi/first/apriltag/2025-reefscape-welded.csv
  apriltag/src/main/native/resources/edu/wpi/first/apriltag/2025-reefscape-welded.json
Labels: component: apriltag

#7780 [wpinet] Serve index HTML file from WebServer if available
  wpinet/src/main/native/cpp/WebServer.cpp
Labels: component: wpinet

#7784 [wpimath] Add setters for Feedforward gains
  wpimath/src/main/java/edu/wpi/first/math/controller/ArmFeedforward.java
  wpimath/src/main/java/edu/wpi/first/math/controller/ElevatorFeedforward.java
  wpimath/src/main/java/edu/wpi/first/math/controller/SimpleMotorFeedforward.java
  wpimath/src/main/native/include/frc/controller/ArmFeedforward.h
  wpimath/src/main/native/include/frc/controller/ElevatorFeedforward.h
  wpimath/src/main/native/include/frc/controller/SimpleMotorFeedforward.h
Labels: component: wpimath

#7788 [wpimath] Fix up order and docs for Feedforward gain setters
  wpimath/src/main/java/edu/wpi/first/math/controller/ArmFeedforward.java
  wpimath/src/main/java/edu/wpi/first/math/controller/ElevatorFeedforward.java
  wpimath/src/main/java/edu/wpi/first/math/controller/SimpleMotorFeedforward.java
  wpimath/src/main/native/include/frc/controller/ArmFeedforward.h
  wpimath/src/main/native/include/frc/controller/ElevatorFeedforward.h
  wpimath/src/main/native/include/frc/controller/SimpleMotorFeedforward.h
Labels: component: wpimath

#7789 [wpimath] Fix units typo
  wpimath/src/main/java/edu/wpi/first/math/controller/SimpleMotorFeedforward.java
Labels: component: wpimath

#7792 [epilogue] Make nonloggable type warnings configurable
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/AnnotationProcessor.java
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/LoggerGenerator.java
  epilogue-processor/src/test/java/edu/wpi/first/epilogue/processor/AnnotationProcessorTest.java
  epilogue-runtime/src/main/java/edu/wpi/first/epilogue/Logged.java
Labels: component: epilogue

#7799 [wpilib] Make LinearSystemSim setState() update output
  wpilibc/src/main/native/include/frc/simulation/LinearSystemSim.h
  wpilibc/src/test/native/cpp/simulation/ElevatorSimTest.cpp
  wpilibc/src/test/native/cpp/simulation/SingleJointedArmSimTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/LinearSystemSim.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/ElevatorSimTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/SingleJointedArmSimTest.java
Labels: component: wpilibj, component: wpilibc

#7805 [sysid] Remove extra period from exception messages
  sysid/src/main/native/include/sysid/analysis/FilteringUtils.h
Labels: component: sysid

#7811 [wpilib] Remove Nidec Brushless support
  wpilibc/src/main/native/cpp/motorcontrol/NidecBrushless.cpp
  wpilibc/src/main/native/include/frc/motorcontrol/NidecBrushless.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/motorcontrol/NidecBrushless.java
Labels: component: wpilibj, component: wpilibc, 2027

#7813 [wpimath] Remove PathWeaver support
  .github/workflows/gradle.yml
  .github/workflows/tools.yml
  glass/src/lib/native/cpp/other/Field2D.cpp
  wpimath/CMakeLists.txt
  wpimath/src/main/java/edu/wpi/first/math/jni/TrajectoryUtilJNI.java
  wpimath/src/main/java/edu/wpi/first/math/trajectory/TrajectoryUtil.java
  wpimath/src/main/native/cpp/jni/Exceptions.cpp
  wpimath/src/main/native/cpp/jni/TrajectoryUtilJNI.cpp
  wpimath/src/main/native/cpp/trajectory/TrajectoryUtil.cpp
  wpimath/src/main/native/include/frc/trajectory/TrajectoryUtil.h
  wpimath/src/test/java/edu/wpi/first/math/jni/TrajectoryUtilJNITest.java
  wpimath/src/test/java/edu/wpi/first/math/trajectory/TrajectoryJsonTest.java
  wpimath/src/test/native/cpp/trajectory/TrajectoryJsonTest.cpp
Labels: component: wpimath, component: glass, 2027

#7820 [Glass] Update default field to 2025 for Field2D
  glass/src/lib/native/cpp/other/Field2D.cpp
Labels: component: glass

#7823 [wpimath] Fix another infinite loop in ArmFeedforward
  wpimath/src/main/native/cpp/controller/ArmFeedforward.cpp
  wpimath/src/test/java/edu/wpi/first/math/controller/ArmFeedforwardTest.java
  wpimath/src/test/native/cpp/controller/ArmFeedforwardTest.cpp
Labels: component: wpimath

#7827 [sysid] Refactor feedback analysis
  sysid/src/main/native/cpp/analysis/FeedbackAnalysis.cpp
  sysid/src/test/native/cpp/analysis/FeedbackAnalysisTest.cpp
Labels: component: sysid

#7806 [wpimath] Add Translation2d/Translation3d slew rate limiter
  wpimath/src/main/java/edu/wpi/first/math/MathUtil.java
  wpimath/src/main/native/include/frc/MathUtil.h
  wpimath/src/test/java/edu/wpi/first/math/MathUtilTest.java
  wpimath/src/test/native/cpp/MathUtilTest.cpp
Labels: component: wpimath

#7790 [wpimath] Fix feedforward returning NaN when kᵥ = 0
  wpimath/algorithms.md
  wpimath/src/main/java/edu/wpi/first/math/controller/ElevatorFeedforward.java
  wpimath/src/main/java/edu/wpi/first/math/controller/SimpleMotorFeedforward.java
  wpimath/src/main/native/include/frc/controller/ElevatorFeedforward.h
  wpimath/src/main/native/include/frc/controller/SimpleMotorFeedforward.h
Labels: component: wpimath
