Repository wpilibsuite/allwpilib, pull requests merged in 2025-03, with the labels that each got.

#7832 [datalog] Fix sorting of related header
  datalog/.styleguide
  datalog/src/main/native/cpp/DataLog.cpp
  datalog/src/main/native/cpp/DataLogReader.cpp
  datalog/src/main/native/cpp/DataLogReaderThread.cpp
  datalog/src/main/native/cpp/DataLogWriter.cpp
  datalog/src/main/native/cpp/FileLogger.cpp
Labels: 2027

#7839 [wpimath] Add Debouncer type and time setters
  wpimath/src/main/java/edu/wpi/first/math/filter/Debouncer.java
  wpimath/src/main/native/include/frc/filter/Debouncer.h
  wpimath/src/test/java/edu/wpi/first/math/filter/DebouncerTest.java
  wpimath/src/test/native/cpp/filter/DebouncerTest.cpp
Labels: component: wpimath

#7852 [upstream_utils] Upgrade to fmt 11.1.4
  upstream_utils/fmt.py
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/base.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/compile.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/format.h
Labels: component: wpiutil, 2027

#7851 [wpimath] Fix singularities in Ellipse2d::Nearest()
  wpimath/src/main/native/cpp/geometry/Ellipse2d.cpp
Labels: component: wpimath

#7854 [wpiutil] Avoid including execinfo.h for Emscripten target
  wpiutil/src/main/native/unix/StackTrace.cpp
Labels: component: wpiutil

#7850 [wpimath] Fix UnscentedKalmanFilter and improve math docs
  wpimath/src/main/java/edu/wpi/first/math/estimator/MerweScaledSigmaPoints.java
  wpimath/src/main/java/edu/wpi/first/math/estimator/UnscentedKalmanFilter.java
  wpimath/src/main/native/include/frc/estimator/MerweScaledSigmaPoints.h
  wpimath/src/main/native/include/frc/estimator/UnscentedKalmanFilter.h
  wpimath/src/main/native/include/frc/estimator/UnscentedTransform.h
  wpimath/src/test/java/edu/wpi/first/math/estimator/UnscentedKalmanFilterTest.java
  wpimath/src/test/native/cpp/estimator/UnscentedKalmanFilterTest.cpp
Labels: component: wpimath

#7861 [hal, wpilib] Remove power rails that don't exist on systemcore
  glass/src/lib/native/cpp/hardware/RoboRio.cpp
  glass/src/lib/native/include/glass/hardware/RoboRio.h
  hal/src/main/java/edu/wpi/first/hal/HALUtil.java
  hal/src/main/java/edu/wpi/first/hal/LEDJNI.java
  hal/src/main/java/edu/wpi/first/hal/PowerJNI.java
  hal/src/main/java/edu/wpi/first/hal/simulation/RoboRioDataJNI.java
  hal/src/main/native/cpp/jni/HALUtil.cpp
  hal/src/main/native/cpp/jni/LEDJNI.cpp
  hal/src/main/native/cpp/jni/PowerJNI.cpp
  hal/src/main/native/cpp/jni/simulation/RoboRioDataJNI.cpp
  hal/src/main/native/include/hal/HAL.h
  hal/src/main/native/include/hal/HALBase.h
  hal/src/main/native/include/hal/LEDs.h
  hal/src/main/native/include/hal/Power.h
  hal/src/main/native/include/hal/simulation/RoboRioData.h
  hal/src/main/native/sim/HAL.cpp
  hal/src/main/native/sim/LEDs.cpp
  hal/src/main/native/sim/Power.cpp
  hal/src/main/native/sim/mockdata/RoboRioData.cpp
  hal/src/main/native/sim/mockdata/RoboRioDataInternal.h
  hal/src/main/native/systemcore/HAL.cpp
  hal/src/main/native/systemcore/HALInitializer.h
  hal/src/main/native/systemcore/LEDs.cpp
  hal/src/main/native/systemcore/Power.cpp
  hal/src/main/native/systemcore/mockdata/RoboRioData.cpp
  simulation/halsim_gui/src/main/native/cpp/RoboRioSimGui.cpp
  simulation/halsim_ws_core/src/main/native/cpp/WSProvider_RoboRIO.cpp
  simulation/halsim_ws_core/src/main/native/include/WSProvider_RoboRIO.h
  wpilibc/src/main/native/cpp/AnalogEncoder.cpp
  wpilibc/src/main/native/cpp/AnalogPotentiometer.cpp
  wpilibc/src/main/native/cpp/RobotController.cpp
  wpilibc/src/main/native/cpp/simulation/RoboRioSim.cpp
  wpilibc/src/main/native/include/frc/RobotController.h
  wpilibc/src/main/native/include/frc/simulation/RoboRioSim.h
  wpilibc/src/test/native/cpp/AnalogPotentiometerTest.cpp
  wpilibc/src/test/native/cpp/simulation/RoboRioSimTest.cpp
  wpilibcExamples/src/test/cpp/examples/PotentiometerPID/cpp/PotentiometerPIDTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/AnalogEncoder.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/AnalogPotentiometer.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/RobotController.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/RoboRioSim.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/AnalogPotentiometerTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/RoboRioSimTest.java
  wpilibjExamples/src/test/java/edu/wpi/first/wpilibj/examples/potentiometerpid/PotentiometerPIDTest.java
Labels: component: wpilibj, component: wpilibc, component: hal, component: glass, component: examples, 2027

#7871 Set number of smartio and can buses
  hal/src/main/native/sim/PortsInternal.h
  hal/src/main/native/systemcore/PortsInternal.h
Labels: component: hal, 2027

#7882 Add Kaitai Struct definition for data log format
  wpiutil/doc/datalog.adoc
  wpiutil/doc/wpilog.ksy
Labels: component: wpiutil

#7887 [wpimath] Update link to Ramsete controller derivation (NFC)
  wpimath/src/main/java/edu/wpi/first/math/controller/RamseteController.java
  wpimath/src/main/native/include/frc/controller/RamseteController.h
Labels: component: wpimath
