Repository wpilibsuite/allwpilib, pull requests merged in 2025-07, with the labels that each got.

#8044 [bazel] Simple shared library implementation
  apriltag/BUILD.bazel
  datalog/BUILD.bazel
  hal/BUILD.bazel
  ntcore/BUILD.bazel
  romiVendordep/BUILD.bazel
  shared/bazel/rules/cc_rules.bzl
  simulation/halsim_ds_socket/BUILD.bazel
  simulation/halsim_ws_core/BUILD.bazel
  simulation/halsim_ws_server/BUILD.bazel
  simulation/halsim_xrp/BUILD.bazel
  wpilibNewCommands/BUILD.bazel
  wpilibc/BUILD.bazel
  wpimath/BUILD.bazel
  wpinet/BUILD.bazel
  wpiutil/BUILD.bazel
  xrpVendordep/BUILD.bazel
Labels: component: ntcore, component: wpiutil, component: wpilibc, component: hal, component: command-based, component: wpimath, component: wpinet, component: apriltag, 2027

#7072 [cmd] Deprecate Command.schedule()
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/Command.java
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/ProxyCommand.java
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/ScheduleCommand.java
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/button/Trigger.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/Command.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/ProxyCommand.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/ScheduleCommand.cpp
  wpilibNewCommands/src/main/native/cpp/frc2/command/button/Trigger.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/Command.h
  wpilibNewCommands/src/main/native/include/frc2/command/CommandPtr.h
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/CommandSendableButtonTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/ProxyCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/ScheduleCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/button/NetworkButtonTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/button/TriggerTest.java
  wpilibNewCommands/src/test/native/cpp/frc2/command/CommandSendableButtonTest.cpp
  wpilibcExamples/src/main/cpp/examples/DriveDistanceOffboard/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/HatchbotInlined/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/HatchbotTraditional/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/MecanumControllerCommand/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/RapidReactCommandBot/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/RomiReference/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/SelectCommand/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/SwerveControllerCommand/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/SysIdRoutine/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/XRPReference/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/templates/commandbased/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/templates/commandbasedskeleton/cpp/Robot.cpp
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/drivedistanceoffboard/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/hatchbotinlined/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/hatchbottraditional/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/mecanumcontrollercommand/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/rapidreactcommandbot/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/romireference/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/selectcommand/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervecontrollercommand/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/sysidroutine/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/xrpreference/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/commandbased/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/commandbasedskeleton/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/romicommandbased/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/templates/xrpcommandbased/Robot.java
Labels: component: command-based, component: examples

#8052 Fix analog scaling for updated image
  hal/src/main/native/systemcore/AnalogInput.cpp
Labels: component: hal, 2027

#8069 Check results of subprocess.run in wpimath/generate_quickbuf.py
  wpimath/generate_nanopb.py
  wpimath/generate_quickbuf.py
Labels: component: wpimath

#8070 [wpilib] Add unit docs for return type of DCMotorSim getters
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/DCMotorSim.java
Labels: component: wpilibj, 2027

#8075 [bazel] Update bazel toolchain, libssh, opencv
  BUILD.bazel
  WORKSPACE
Labels: 2027

#8071 Update and enable priority_mutex for systemcore
  wpiutil/src/main/native/include/wpi/priority_mutex.h
Labels: component: wpiutil, 2027

#8079 [bazel] Install bazel on docker image builds
  .github/workflows/bazel.yml
Labels: 2027

#8051 [hal] Implement HAL_GetSystemTimeValid on SystemCore
  hal/src/main/native/systemcore/FRCDriverStation.cpp
  hal/src/main/native/systemcore/HAL.cpp
  hal/src/mrc/include/mrc/NtNetComm.h
Labels: component: hal, 2027

#8076 Add frequency support to DutyCycle
  hal/src/main/java/edu/wpi/first/hal/DutyCycleJNI.java
  hal/src/main/java/edu/wpi/first/hal/simulation/DutyCycleDataJNI.java
  hal/src/main/native/cpp/jni/DutyCycleJNI.cpp
  hal/src/main/native/cpp/jni/simulation/DutyCycleDataJNI.cpp
  hal/src/main/native/include/hal/DutyCycle.h
  hal/src/main/native/include/hal/simulation/DutyCycleData.h
  hal/src/main/native/sim/DutyCycle.cpp
  hal/src/main/native/sim/PortsInternal.h
  hal/src/main/native/sim/mockdata/DutyCycleData.cpp
  hal/src/main/native/sim/mockdata/DutyCycleDataInternal.h
  hal/src/main/native/systemcore/DutyCycle.cpp
  hal/src/main/native/systemcore/SmartIo.cpp
  hal/src/main/native/systemcore/SmartIo.h
  hal/src/main/native/systemcore/mockdata/DutyCycleData.cpp
  simulation/halsim_gui/src/main/native/cpp/DIOSimGui.cpp
  wpilibc/src/main/native/cpp/DutyCycle.cpp
  wpilibc/src/main/native/cpp/DutyCycleEncoder.cpp
  wpilibc/src/main/native/cpp/simulation/DutyCycleSim.cpp
  wpilibc/src/main/native/include/frc/DutyCycle.h
  wpilibc/src/main/native/include/frc/DutyCycleEncoder.h
  wpilibc/src/main/native/include/frc/simulation/DutyCycleSim.h
  wpilibc/src/test/native/cpp/simulation/DutyCycleSimTest.cpp
  wpilibc/src/test/native/cpp/simulation/SimInitializationTest.cpp
  wpilibcExamples/src/main/cpp/examples/DutyCycleEncoder/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/DutyCycleInput/cpp/Robot.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DutyCycle.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/DutyCycleEncoder.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/DutyCycleSim.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/DutyCycleSimTest.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/dutycycleencoder/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/dutycycleinput/Robot.java
Labels: component: wpilibj, component: wpilibc, component: hal, component: examples, 2027

#8088 [doc] Clarify mount orientation for SystemCore IMU (NFC)
  wpilibc/src/main/native/include/frc/OnboardIMU.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/OnboardIMU.java
Labels: component: wpilibj, component: wpilibc, 2027

#8083 Remove DS Data timeout
  hal/src/main/native/systemcore/FRCDriverStation.cpp
Labels: component: hal, 2027

#8081 Disambiguate HID Sendable names
  wpilibc/src/generate/main/native/cpp/hid.cpp.jinja
  wpilibc/src/generated/main/native/cpp/PS4Controller.cpp
  wpilibc/src/generated/main/native/cpp/PS5Controller.cpp
  wpilibc/src/generated/main/native/cpp/XboxController.cpp
  wpilibj/src/generate/main/java/hid.java.jinja
  wpilibj/src/generated/main/java/edu/wpi/first/wpilibj/PS4Controller.java
  wpilibj/src/generated/main/java/edu/wpi/first/wpilibj/PS5Controller.java
  wpilibj/src/generated/main/java/edu/wpi/first/wpilibj/XboxController.java
Labels: component: wpilibj, component: wpilibc

#8055 Add missing sources to published zip files
  hal/build.gradle
  ntcore/build.gradle
  shared/javacpp/publish.gradle
  wpilibc/publish.gradle
  wpimath/build.gradle
  wpinet/build.gradle
  wpiutil/build.gradle
Labels: component: ntcore, component: wpiutil, component: wpilibc, component: hal, component: wpimath, component: wpinet, 2027

#8026 [wpimath] Add miles per hour conversation methods to Units.java for use in dashboards
  wpimath/src/main/java/edu/wpi/first/math/util/Units.java
  wpimath/src/test/java/edu/wpi/first/math/util/UnitsTest.java
Labels: component: wpimath

#8105 [wpinet] Disable Uv FailedLookup test
  wpinet/src/test/native/cpp/uv/UvGetAddrInfoTest.cpp
Labels: component: wpinet

#8101 [hal] Clean up HAL ports
  hal/src/main/java/edu/wpi/first/hal/PortsJNI.java
  hal/src/main/native/cpp/jni/PortsJNI.cpp
  hal/src/main/native/include/hal/Ports.h
  hal/src/main/native/systemcore/Ports.cpp
  hal/src/main/native/systemcore/PortsInternal.h
  wpilibc/src/main/native/include/frc/SensorUtil.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/SensorUtil.java
Labels: component: wpilibj, component: wpilibc, component: hal, 2027

#8087 Add Snippets for Accelerometers using OnboardIMU
  shared/examplecheck.gradle
  wpilibcExamples/example_projects.bzl
  wpilibcExamples/src/main/cpp/snippets/ADXLAccelerometers/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/snippets/AccelerometerCollision/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/snippets/AccelerometerFilter/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/snippets/OnboardIMU/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/snippets/snippets.json
  wpilibjExamples/build_java_examples.bzl
  wpilibjExamples/example_projects.bzl
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/accelerometercollision/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/accelerometercollision/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/accelerometerfilter/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/accelerometerfilter/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/adxlaccelerometers/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/adxlaccelerometers/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/onboardimu/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/onboardimu/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/snippets/snippets.json
Labels: component: examples, 2027

#8108 Add systemcore to command vendor dep
  wpilibNewCommands/WPILibNewCommands.json
Labels: component: command-based

#8100 [hal, wpilib] Update Addressable LED support
  glass/src/lib/native/cpp/hardware/LEDDisplay.cpp
  glass/src/lib/native/cpp/hardware/PWM.cpp
  glass/src/lib/native/include/glass/hardware/LEDDisplay.h
  glass/src/lib/native/include/glass/hardware/PWM.h
  hal/src/main/java/edu/wpi/first/hal/AddressableLEDJNI.java
  hal/src/main/java/edu/wpi/first/hal/simulation/AddressableLEDDataJNI.java
  hal/src/main/native/cpp/jni/AddressableLEDJNI.cpp
  hal/src/main/native/cpp/jni/HALUtil.cpp
  hal/src/main/native/cpp/jni/HALUtil.h
  hal/src/main/native/cpp/jni/simulation/AddressableLEDDataJNI.cpp
  hal/src/main/native/include/hal/AddressableLED.h
  hal/src/main/native/include/hal/AddressableLEDTypes.h
  hal/src/main/native/include/hal/simulation/AddressableLEDData.h
  hal/src/main/native/sim/AddressableLED.cpp
  hal/src/main/native/sim/PortsInternal.h
  hal/src/main/native/sim/mockdata/AddressableLEDData.cpp
  hal/src/main/native/sim/mockdata/AddressableLEDDataInternal.h
  hal/src/main/native/systemcore/AddressableLED.cpp
  hal/src/main/native/systemcore/PortsInternal.h
  hal/src/main/native/systemcore/SmartIo.cpp
  hal/src/main/native/systemcore/SmartIo.h
  hal/src/main/native/systemcore/mockdata/AddressableLEDData.cpp
  simulation/halsim_gui/src/main/native/cpp/AddressableLEDGui.cpp
  simulation/halsim_gui/src/main/native/cpp/PWMSimGui.cpp
  simulation/halsim_ws_core/src/main/native/cpp/WSProvider_AddressableLED.cpp
  simulation/halsim_ws_core/src/main/native/include/WSProvider_AddressableLED.h
  wpilibc/src/main/native/cpp/AddressableLED.cpp
  wpilibc/src/main/native/cpp/simulation/AddressableLEDSim.cpp
  wpilibc/src/main/native/include/frc/AddressableLED.h
  wpilibc/src/main/native/include/frc/simulation/AddressableLEDSim.h
  wpilibc/src/test/native/cpp/LEDPatternTest.cpp
  wpilibc/src/test/native/cpp/simulation/AddressableLEDSimTest.cpp
  wpilibc/src/test/native/cpp/simulation/SimInitializationTest.cpp
  wpilibcExamples/src/main/cpp/examples/AddressableLED/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/AddressableLED/include/Robot.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/AddressableLED.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/AddressableLEDBuffer.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/AddressableLEDSim.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/AddressableLEDSimTest.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/addressableled/Robot.java
Labels: component: wpilibj, component: wpilibc, component: hal, component: glass, component: examples, 2027

#8110 Fix LED key and byte order
  hal/src/main/native/include/hal/AddressableLEDTypes.h
  hal/src/main/native/systemcore/AddressableLED.cpp
  wpilibc/src/test/native/cpp/simulation/AddressableLEDSimTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/AddressableLEDBuffer.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/AddressableLEDBufferTest.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/AddressableLEDSimTest.java
Labels: component: wpilibj, component: wpilibc, component: hal, 2027

#7547 Java 21
  .bazelrc
  .github/workflows/bazel.yml
  .github/workflows/cmake-android.yml
  .github/workflows/cmake.yml
  .github/workflows/documentation.yml
  .github/workflows/gradle.yml
  .github/workflows/lint-format.yml
  .github/workflows/sentinel-build.yml
  README-CMake.md
  README.md
  build.gradle
  cameraserver/src/main/java/edu/wpi/first/vision/VisionRunner.java
  docs/build.gradle
  epilogue-processor/src/main/java/edu/wpi/first/epilogue/processor/AnnotationProcessor.java
  shared/java/javacommon.gradle
  shared/java/javastyle.gradle
  styleguide/checkstyle-suppressions.xml
  styleguide/spotbugs-exclude.xml
  wpilibj/src/main/java/edu/wpi/first/wpilibj/RobotBase.java
  wpiutil/src/main/java/edu/wpi/first/util/struct/StructGenerator.java
Labels: component: wpiutil, component: wpilibj, component: epilogue, 2027

#8117 bazel: Use WPILIB_VERSION automatically for version template generation
  shared/bazel/rules/gen/gen-version-file.bzl
Labels: 2027
