Repository wpilibsuite/allwpilib, pull requests merged in 2025-08, with the labels that each got.

#8129 [bazel] Shorten the platform suffix for windows arm
  shared/bazel/compiler_flags/windows_flags.rc
Labels: 2027

#8132 [bazel] Link all third party apriltag symbols
  apriltag/BUILD.bazel
Labels: component: apriltag, 2027

#8089 Cscore shared libraries
  BUILD.bazel
  apriltag/BUILD.bazel
  cameraserver/BUILD.bazel
  cscore/BUILD.bazel
  datalogtool/BUILD.bazel
  fieldImages/BUILD.bazel
  glass/BUILD.bazel
  outlineviewer/BUILD.bazel
  shared/bazel/rules/cc_rules.bzl
  simulation/halsim_gui/BUILD.bazel
  sysid/BUILD.bazel
  thirdparty/googletest/BUILD.bazel
  thirdparty/imgui_suite/BUILD.bazel
  wpigui/BUILD.bazel
  wpilibc/BUILD.bazel
  wpinet/BUILD.bazel
  wpiutil/BUILD.bazel
  xrpVendordep/BUILD.bazel
Labels: component: cscore, component: wpiutil, component: wpilibc, component: glass, component: outlineviewer, component: datalogtool, component: wpinet, component: apriltag, component: sysid, 2027

#8133 [wpimath] Add vector product and squared length operations to Translation2d/3d
  wpimath/src/main/java/edu/wpi/first/math/geometry/Translation2d.java
  wpimath/src/main/java/edu/wpi/first/math/geometry/Translation3d.java
  wpimath/src/main/native/include/frc/geometry/Translation2d.h
  wpimath/src/main/native/include/frc/geometry/Translation3d.h
  wpimath/src/test/java/edu/wpi/first/math/geometry/Translation2dTest.java
  wpimath/src/test/java/edu/wpi/first/math/geometry/Translation3dTest.java
  wpimath/src/test/native/cpp/geometry/Translation2dTest.cpp
  wpimath/src/test/native/cpp/geometry/Translation3dTest.cpp
Labels: component: wpimath

#8134 [bazel] Link cscorestatic correctly
  cscore/BUILD.bazel
Labels: component: cscore, 2027

#8135 [bazel] Rename liblibglass -> libglass
  BUILD.bazel
  datalogtool/BUILD.bazel
  glass/BUILD.bazel
  outlineviewer/BUILD.bazel
  simulation/halsim_gui/BUILD.bazel
  sysid/BUILD.bazel
Labels: component: glass, component: outlineviewer, component: datalogtool, component: sysid, 2027

#8119 [cmd, wpimath] Remove Mecanum/SwerveControllerCommand and HolonomicDriveController
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/MecanumControllerCommand.java
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/SwerveControllerCommand.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/MecanumControllerCommand.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/MecanumControllerCommand.h
  wpilibNewCommands/src/main/native/include/frc2/command/SwerveControllerCommand.h
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/MecanumControllerCommandTest.java
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/SwerveControllerCommandTest.java
  wpilibNewCommands/src/test/native/cpp/frc2/command/MecanumControllerCommandTest.cpp
  wpilibNewCommands/src/test/native/cpp/frc2/command/SwerveControllerCommandTest.cpp
  wpilibcExamples/example_projects.bzl
  wpilibcExamples/src/main/cpp/examples/MecanumControllerCommand/cpp/Constants.cpp
  wpilibcExamples/src/main/cpp/examples/MecanumControllerCommand/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/MecanumControllerCommand/cpp/RobotContainer.cpp
  wpilibcExamples/src/main/cpp/examples/MecanumControllerCommand/cpp/subsystems/DriveSubsystem.cpp
  wpilibcExamples/src/main/cpp/examples/MecanumControllerCommand/include/Constants.h
  wpilibcExamples/src/main/cpp/examples/MecanumControllerCommand/include/Robot.h
  wpilibcExamples/src/main/cpp/examples/MecanumControllerCommand/include/RobotContainer.h
  wpilibcExamples/src/main/cpp/examples/MecanumControllerCommand/include/subsystems/DriveSubsystem.h
  wpilibcExamples/src/main/cpp/examples/SwerveControllerCommand/cpp/Constants.cpp
  wpilibcExamples/src/main/cpp/examples/SwerveControllerCommand/cpp/Robot.cpp
  wpilibcExamples/src/main/cpp/examples/SwerveControllerCommand/cpp/RobotContainer.cpp
  wpilibcExamples/src/main/cpp/examples/SwerveControllerCommand/cpp/subsystems/DriveSubsystem.cpp
  wpilibcExamples/src/main/cpp/examples/SwerveControllerCommand/cpp/subsystems/SwerveModule.cpp
  wpilibcExamples/src/main/cpp/examples/SwerveControllerCommand/include/Constants.h
  wpilibcExamples/src/main/cpp/examples/SwerveControllerCommand/include/Robot.h
  wpilibcExamples/src/main/cpp/examples/SwerveControllerCommand/include/RobotContainer.h
  wpilibcExamples/src/main/cpp/examples/SwerveControllerCommand/include/subsystems/DriveSubsystem.h
  wpilibcExamples/src/main/cpp/examples/SwerveControllerCommand/include/subsystems/SwerveModule.h
  wpilibcExamples/src/main/cpp/examples/examples.json
  wpilibcExamples/src/test/cpp/examples/MecanumControllerCommand/cpp/MecanumControllerCommandTest.cpp
  wpilibcExamples/src/test/cpp/examples/MecanumControllerCommand/cpp/main.cpp
  wpilibcExamples/src/test/cpp/examples/SwerveControllerCommand/cpp/SwerveControllerCommandTest.cpp
  wpilibcExamples/src/test/cpp/examples/SwerveControllerCommand/cpp/main.cpp
  wpilibjExamples/example_projects.bzl
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/examples.json
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/mecanumcontrollercommand/Constants.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/mecanumcontrollercommand/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/mecanumcontrollercommand/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/mecanumcontrollercommand/RobotContainer.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/mecanumcontrollercommand/subsystems/DriveSubsystem.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervecontrollercommand/Constants.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervecontrollercommand/Main.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervecontrollercommand/Robot.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervecontrollercommand/RobotContainer.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervecontrollercommand/subsystems/DriveSubsystem.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/swervecontrollercommand/subsystems/SwerveModule.java
  wpimath/src/main/java/edu/wpi/first/math/controller/HolonomicDriveController.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/MecanumDriveMotorVoltages.java
  wpimath/src/main/native/include/frc/controller/HolonomicDriveController.h
  wpimath/src/test/java/edu/wpi/first/math/controller/HolonomicDriveControllerTest.java
  wpimath/src/test/native/cpp/controller/HolonomicDriveControllerTest.cpp
Labels: component: command-based, component: wpimath, component: examples, 2027

#8137 [bazel] Rename imgui so it deploys correctly
  BUILD.bazel
  thirdparty/imgui_suite/BUILD.bazel
Labels: 2027

#8136 [bazel] Publish wpilib{c,j}examples
  BUILD.bazel
  wpilibcExamples/BUILD.bazel
  wpilibjExamples/BUILD.bazel
Labels: component: examples, 2027

#8142 [bazel] Build and deploy binary tools
  BUILD.bazel
  datalogtool/BUILD.bazel
  glass/BUILD.bazel
  outlineviewer/BUILD.bazel
  sysid/BUILD.bazel
Labels: component: glass, component: outlineviewer, component: datalogtool, component: sysid, 2027

#8143 [bazel] Build processstarter with bazel too
  BUILD.bazel
  processstarter/BUILD.bazel
Labels: 2027

#8144 [bazel] Publish ntcore + wpimath for real
  ntcore/BUILD.bazel
  wpimath/BUILD.bazel
Labels: component: ntcore, component: wpimath, 2027

#8147 [bazel] Build and publish ntcoreffi too
  BUILD.bazel
  ntcoreffi/BUILD.bazel
  ntcoreffi/generate_exported_symbols.py
  shared/bazel/rules/cc_rules.bzl
  shared/bazel/rules/gen/BUILD.bazel
  shared/bazel/rules/gen/defs.bzl
  shared/bazel/rules/gen/gen_versionscript.py
Labels: 2027

#8145 [bazel] Reduce number of windows builds in CI
  .bazelrc
  .github/workflows/bazel.yml
Labels: 2027

#8157 [bazel] Build wpilibc docs with doxygen
  BUILD.bazel
  WORKSPACE
  apriltag/BUILD.bazel
  cameraserver/BUILD.bazel
  cscore/BUILD.bazel
  docs/BUILD.bazel
  docs/Doxyfile
  hal/BUILD.bazel
  ntcore/BUILD.bazel
  romiVendordep/BUILD.bazel
  shared/bazel/rules/publishing.bzl
  wpilibNewCommands/BUILD.bazel
  wpilibc/BUILD.bazel
  wpimath/BUILD.bazel
  wpinet/BUILD.bazel
  wpiutil/BUILD.bazel
  xrpVendordep/BUILD.bazel
Labels: component: ntcore, component: cscore, component: wpiutil, component: wpilibc, component: hal, component: command-based, component: wpimath, component: wpinet, component: apriltag, 2027

#8158 [bazel] Use rules_jvm_external for opencv
  WORKSPACE
  maven_install.json
Labels: 2027

#8155 [bazel] Build and test wpical with bazel
  BUILD.bazel
  WORKSPACE
  shared/bazel/rules/cc_rules.bzl
  shared/bazel/rules/packaging.bzl
  thirdparty/ceres/BUILD.bazel
  thirdparty/ceres/repositories.bzl
  wpical/BUILD.bazel
  wpical/src/test/native/cpp/bazel_path_lookup.cpp
  wpical/src/test/native/cpp/path_lookup.h
  wpical/src/test/native/cpp/test_calibrate.cpp
  wpical/src/test/native/cpp/test_result_is_exact.cpp
  wpimath/BUILD.bazel
Labels: component: wpimath, 2027, component: wpical

#8152 [datalog] Overload DataLogReaderThread::GetEntry to accept an entry id
  datalog/src/main/native/include/wpi/datalog/DataLogReaderThread.h
Labels: 2027

#8163 Added structs for TrapezoidProfile.State and ExponentialProfile.State
  docs/build.gradle
  wpimath/src/main/java/edu/wpi/first/math/trajectory/ExponentialProfile.java
  wpimath/src/main/java/edu/wpi/first/math/trajectory/TrapezoidProfile.java
  wpimath/src/main/java/edu/wpi/first/math/trajectory/struct/ExponentialProfileStateStruct.java
  wpimath/src/main/java/edu/wpi/first/math/trajectory/struct/TrapezoidProfileStateStruct.java
  wpimath/src/test/java/edu/wpi/first/math/trajectory/struct/ExponentialProfileStateStructTest.java
  wpimath/src/test/java/edu/wpi/first/math/trajectory/struct/TrapezoidProfileStateStructTest.java
Labels: component: wpimath

#8193 update location of Simd library in ThirdPartyNotices (NFC)
  ThirdPartyNotices.txt
Labels: 2027

#8201 Add CAN Mfgrs and Adjust Device Types
  hal/src/main/java/edu/wpi/first/hal/CANAPITypes.java
  hal/src/main/native/include/hal/CANAPITypes.h
Labels: component: hal

#8190 [epilogue] Optimize time and memory usage of epilogue backends
  epilogue-runtime/src/main/java/edu/wpi/first/epilogue/logging/ClassSpecificLogger.java
  epilogue-runtime/src/main/java/edu/wpi/first/epilogue/logging/FileBackend.java
  epilogue-runtime/src/main/java/edu/wpi/first/epilogue/logging/LazyBackend.java
  epilogue-runtime/src/main/java/edu/wpi/first/epilogue/logging/MultiBackend.java
  epilogue-runtime/src/main/java/edu/wpi/first/epilogue/logging/NTEpilogueBackend.java
  epilogue-runtime/src/main/java/edu/wpi/first/epilogue/logging/NestedBackend.java
  epilogue-runtime/src/test/java/edu/wpi/first/epilogue/logging/NestedBackendTest.java
Labels: component: epilogue

#7815 [commands] Add Subsystem.idle()
  wpilibNewCommands/src/main/java/edu/wpi/first/wpilibj2/command/Subsystem.java
  wpilibNewCommands/src/main/native/cpp/frc2/command/Subsystem.cpp
  wpilibNewCommands/src/main/native/include/frc2/command/Subsystem.h
Labels: component: command-based
