Repository wpilibsuite/allwpilib, pull requests merged in 2025-09, with the labels that each got.

#8173 Upgrade Maven dependencies
  WORKSPACE
  wpimath/CMakeLists.txt
  wpimath/build.gradle
  wpiutil/CMakeLists.txt
  wpiutil/build.gradle
Labels: component: wpiutil, component: wpimath

#8209 [wpimath] Add readme
  CONTRIBUTING.md
  wpimath/README.md
Labels: component: wpimath

#8199 [wpilib] Remove robotInit()
  epilogue-runtime/src/main/java/edu/wpi/first/epilogue/EpilogueConfiguration.java
  wpilibc/src/main/native/cpp/IterativeRobotBase.cpp
  wpilibc/src/main/native/cpp/TimedRobot.cpp
  wpilibc/src/main/native/include/frc/IterativeRobotBase.h
  wpilibc/src/test/native/cpp/TimedRobotTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/IterativeRobotBase.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/TimedRobot.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/TimedRobotTest.java
Labels: component: wpilibj, component: wpilibc, component: epilogue, 2027

#8184 Remove PMD.RedundantFieldInitializer rule
  epilogue-runtime/src/main/java/edu/wpi/first/epilogue/logging/ClassSpecificLogger.java
  styleguide/pmd-ruleset.xml
  wpilibj/src/main/java/edu/wpi/first/wpilibj/smartdashboard/SmartDashboard.java
  wpilibjExamples/src/main/java/edu/wpi/first/wpilibj/examples/elevatorprofiledpid/Robot.java
  wpiunits/src/main/java/edu/wpi/first/units/collections/ReadOnlyPrimitiveLongSet.java
Labels: component: wpilibj, component: examples, component: wpiunits, component: epilogue, 2027

#8227 [glass] Fix handling for optionals and empty arrays
  glass/src/libnt/native/cpp/NetworkTables.cpp
Labels: component: glass, 2027

#8235 [upstream_utils] Upgrade Sleipnir
  upstream_utils/sleipnir.py
  upstream_utils/sleipnir_patches/0001-Use-fmtlib.patch
  upstream_utils/sleipnir_patches/0002-Use-wpi-SmallVector.patch
  upstream_utils/sleipnir_patches/0004-Replace-std-to_underlying.patch
  upstream_utils/sleipnir_patches/0005-Replace-std-views-zip.patch
  upstream_utils/sleipnir_patches/0006-Suppress-clang-tidy-false-positives.patch
  upstream_utils/sleipnir_patches/0007-Suppress-GCC-12-warning-false-positive.patch
  upstream_utils/sleipnir_patches/0008-Revert-Use-multidimensional-array-subscript-operator.patch
  wpimath/src/main/native/thirdparty/sleipnir/include/sleipnir/autodiff/adjoint_expression_graph.hpp
  wpimath/src/main/native/thirdparty/sleipnir/include/sleipnir/autodiff/expression.hpp
  wpimath/src/main/native/thirdparty/sleipnir/include/sleipnir/autodiff/expression_graph.hpp
  wpimath/src/main/native/thirdparty/sleipnir/include/sleipnir/autodiff/gradient.hpp
  wpimath/src/main/native/thirdparty/sleipnir/include/sleipnir/autodiff/hessian.hpp
  wpimath/src/main/native/thirdparty/sleipnir/include/sleipnir/autodiff/jacobian.hpp
  wpimath/src/main/native/thirdparty/sleipnir/include/sleipnir/autodiff/variable.hpp
  wpimath/src/main/native/thirdparty/sleipnir/include/sleipnir/autodiff/variable_matrix.hpp
  wpimath/src/main/native/thirdparty/sleipnir/include/sleipnir/optimization/ocp.hpp
  wpimath/src/main/native/thirdparty/sleipnir/include/sleipnir/optimization/ocp/dynamics_type.hpp
  wpimath/src/main/native/thirdparty/sleipnir/include/sleipnir/optimization/ocp/timestep_method.hpp
  wpimath/src/main/native/thirdparty/sleipnir/include/sleipnir/optimization/ocp/transcription_method.hpp
  wpimath/src/main/native/thirdparty/sleipnir/include/sleipnir/optimization/problem.hpp
  wpimath/src/main/native/thirdparty/sleipnir/include/sleipnir/util/assert.hpp
  wpimath/src/main/native/thirdparty/sleipnir/src/.styleguide
  wpimath/src/main/native/thirdparty/sleipnir/src/autodiff/variable_matrix.cpp
  wpimath/src/main/native/thirdparty/sleipnir/src/optimization/problem.cpp
  wpimath/src/main/native/thirdparty/sleipnir/src/optimization/solver/interior_point.cpp
  wpimath/src/main/native/thirdparty/sleipnir/src/optimization/solver/newton.cpp
  wpimath/src/main/native/thirdparty/sleipnir/src/optimization/solver/sqp.cpp
Labels: component: wpimath

#8232 [wpimath] Refactor MathUtil.interpolate() and MathUtil.inverseInterpolate() to handle extrapolation
  wpilibj/src/main/java/edu/wpi/first/wpilibj/util/Color.java
  wpimath/src/main/java/edu/wpi/first/math/MathUtil.java
  wpimath/src/main/java/edu/wpi/first/math/geometry/Translation2d.java
  wpimath/src/main/java/edu/wpi/first/math/geometry/Translation3d.java
  wpimath/src/main/java/edu/wpi/first/math/interpolation/Interpolator.java
  wpimath/src/main/java/edu/wpi/first/math/interpolation/InverseInterpolator.java
  wpimath/src/main/java/edu/wpi/first/math/interpolation/TimeInterpolatableBuffer.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/DifferentialDriveWheelPositions.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/MecanumDriveWheelPositions.java
  wpimath/src/main/java/edu/wpi/first/math/kinematics/SwerveModulePosition.java
  wpimath/src/main/java/edu/wpi/first/math/trajectory/Trajectory.java
  wpimath/src/test/java/edu/wpi/first/math/MathUtilTest.java
Labels: component: wpilibj, component: wpimath, 2027

#8238 [wpimath] Synchronize C++ and Java RK4 docs (NFC)
  wpimath/src/main/java/edu/wpi/first/math/system/NumericalIntegration.java
Labels: component: wpimath

#8243 Fix wpical and sysid icons on macOS
  sysid/publish.gradle
  wpical/Info.plist
Labels: component: sysid, component: wpical

#8248 [bazel] Update maven_install.json to match maven artifacts list in WORKSPACE
  maven_install.json
Labels: build, 2027

#8249 [upstream_utils] Recopy Eigen source
  wpimath/src/main/native/thirdparty/eigen/include/Eigen/Version
Labels: component: wpimath

#8251 [upstream_utils] Recopy Eigen source
  upstream_utils/eigen.py
  wpimath/src/main/native/thirdparty/eigen/include/Eigen/src/Core/CwiseNullaryOp.h
  wpimath/src/main/native/thirdparty/eigen/include/Eigen/src/Core/DenseBase.h
  wpimath/src/main/native/thirdparty/eigen/include/Eigen/src/Core/GenericPacketMath.h
  wpimath/src/main/native/thirdparty/eigen/include/Eigen/src/Core/MatrixBase.h
  wpimath/src/main/native/thirdparty/eigen/include/Eigen/src/Core/ProductEvaluators.h
  wpimath/src/main/native/thirdparty/eigen/include/Eigen/src/Core/arch/SSE/PacketMath.h
  wpimath/src/main/native/thirdparty/eigen/include/Eigen/src/Core/products/Parallelizer.h
  wpimath/src/main/native/thirdparty/eigen/include/Eigen/src/Core/util/Macros.h
  wpimath/src/main/native/thirdparty/eigen/include/Eigen/src/Core/util/Serializer.h
  wpimath/src/main/native/thirdparty/eigen/include/Eigen/src/Eigenvalues/RealSchur.h
  wpimath/src/main/native/thirdparty/eigen/include/Eigen/src/Geometry/EulerAngles.h
  wpimath/src/main/native/thirdparty/eigen/include/Eigen/src/Geometry/Homogeneous.h
  wpimath/src/main/native/thirdparty/eigen/include/Eigen/src/SVD/BDCSVD.h
  wpimath/src/main/native/thirdparty/eigen/include/Eigen/src/SVD/JacobiSVD.h
  wpimath/src/main/native/thirdparty/eigen/include/Eigen/src/SparseCore/SparseVector.h
Labels: component: wpimath

#8261 [wpimath] Fix odd header path in BangBangController
  wpimath/src/main/native/cpp/controller/BangBangController.cpp
Labels: component: wpimath

#8258 [bazel] Update Bazel to 8.4.1 to fix Windows builds and fix missing Epilogue deps
  .bazelversion
  .github/workflows/bazel.yml
  epilogue-runtime/BUILD.bazel
  shared/bazel/compiler_flags/linux_flags.rc
Labels: component: epilogue, 2027

#8262 [wpiunits] Remove redundant if statement and inaccurate comment
  wpiunits/src/main/java/edu/wpi/first/units/Measure.java
Labels: component: wpiunits

#8264 [glass] Fix color order for sim GUI LEDs
  glass/src/lib/native/include/glass/hardware/LEDDisplay.h
Labels: component: glass, 2027

#8263 [upstream_utils] Upgrade to fmt 12.0.0
  upstream_utils/fmt.py
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/args.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/base.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/chrono.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/color.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/compile.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/format-inl.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/format.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/os.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/printf.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/std.h
  wpiutil/src/main/native/thirdparty/fmtlib/include/fmt/xchar.h
  wpiutil/src/main/native/thirdparty/fmtlib/src/format.cpp
  wpiutil/src/main/native/thirdparty/fmtlib/src/os.cpp
Labels: component: wpiutil, 2027

#7910 [ci] Consolidate docs jobs
  .github/workflows/documentation.yml
  .github/workflows/gradle.yml
  .github/workflows/lint-format.yml
  docs/build.gradle
  upstream_utils/json_patches/0001-Remove-version-from-namespace.patch
  upstream_utils/json_patches/0002-Make-serializer-public.patch
  upstream_utils/json_patches/0003-Make-dump_escaped-take-std-string_view.patch
  upstream_utils/json_patches/0004-Add-llvm-stream-support.patch
  upstream_utils/json_patches/0005-Fix-Doxygen-warnings.patch
  wpinet/src/main/native/include/wpinet/uv/FsEvent.h
  wpinet/src/main/native/include/wpinet/uv/GetNameInfo.h
  wpinet/src/main/native/include/wpinet/uv/Stream.h
  wpinet/src/main/native/include/wpinet/uv/Udp.h
  wpiutil/src/main/native/thirdparty/json/include/wpi/json.h
Labels: component: wpiutil, component: wpinet
