Repository wpilibsuite/allwpilib, pull requests merged in 2025-10, with the labels that each got.

#8268 [glass] FMS: Fix reading past end of GSM buffer
  glass/src/lib/native/cpp/other/FMS.cpp
Labels: component: glass

#8270 [wpilib] Remove Servo Classes
  wpilibc/src/main/native/cpp/Servo.cpp
  wpilibc/src/main/native/cpp/simulation/ServoSim.cpp
  wpilibc/src/main/native/include/frc/Servo.h
  wpilibc/src/main/native/include/frc/simulation/ServoSim.h
  wpilibc/src/test/native/cpp/simulation/ServoSimTest.cpp
  wpilibj/src/main/java/edu/wpi/first/wpilibj/Servo.java
  wpilibj/src/main/java/edu/wpi/first/wpilibj/simulation/ServoSim.java
  wpilibj/src/test/java/edu/wpi/first/wpilibj/simulation/ServoSimTest.java
Labels: component: wpilibj, component: wpilibc, 2027

#8169 [bazel] Put eigen in an external repo like bzlmod
  WORKSPACE
  shared/bazel/rules/packaging.bzl
  upstream_utils/eigen.py
  upstream_utils/eigen_patches/0001-Disable-warnings.patch
  upstream_utils/eigen_patches/0002-Intellisense-fix.patch
  upstream_utils/eigen_patches/0003-Add-build-files-from-bzlmod-for-eigen.patch
  wpimath/BUILD.bazel
  wpimath/src/main/native/thirdparty/eigen/include/BUILD.bazel
  wpimath/src/main/native/thirdparty/eigen/include/COPYING.APACHE
  wpimath/src/main/native/thirdparty/eigen/include/COPYING.BSD
  wpimath/src/main/native/thirdparty/eigen/include/COPYING.MINPACK
  wpimath/src/main/native/thirdparty/eigen/include/COPYING.MPL2
  wpimath/src/main/native/thirdparty/eigen/include/WORKSPACE
Labels: component: wpimath, 2027

#8275 [wpiutil] Add reverse iterators to wpi::circular_buffer and wpi::static_circular_buffer, make other iterators bidirectional
  wpiutil/src/main/native/include/wpi/circular_buffer.h
  wpiutil/src/main/native/include/wpi/static_circular_buffer.h
  wpiutil/src/test/native/cpp/CircularBufferTest.cpp
  wpiutil/src/test/native/cpp/StaticCircularBufferTest.cpp
Labels: component: wpiutil

#8273 [hal] Remove FPGA functions that won't exist on SC
  hal/src/main/java/edu/wpi/first/hal/HALUtil.java
  hal/src/main/native/cpp/jni/HALUtil.cpp
  hal/src/main/native/include/hal/HALBase.h
  hal/src/main/native/sim/HAL.cpp
  hal/src/main/native/systemcore/HAL.cpp
  wpilibc/src/main/native/cpp/RobotController.cpp
  wpilibc/src/main/native/include/frc/RobotController.h
  wpilibj/src/main/java/edu/wpi/first/wpilibj/RobotController.java
Labels: component: wpilibj, component: wpilibc, component: hal, 2027

#8279 [cmd, build] Fix wpiannotation dependencies on commandsv2
  wpilibNewCommands/BUILD.bazel
  wpilibNewCommands/build.gradle
  wpilibNewCommands/src/test/java/edu/wpi/first/wpilibj2/command/SingleCompositionTestBase.java
Labels: component: command-based, build, 2027
